Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

t.vect.db.select: Add format options (#7530)
  temporal/t.vect.db.select/t.vect.db.select.md
  temporal/t.vect.db.select/t.vect.db.select.py
  temporal/t.vect.db.select/tests/t_vect_db_select_test.py
Due: none

adjust to t.connect JSON output
  temporal/t.list/t.list.py
Due: none

adjust to t.connect JSON output
  temporal/t.list/tests/test_t_list.py
Due: none

Apply suggestions from code review
  docker/ubuntu/Dockerfile
Due: none

lib/gis: Replace non-reentrant strtok with thread-safe strtok_r
  lib/gis/parser_interface.c
  lib/gis/parser_wps.c
Due: lib

fix: Adding maps in standalone mode
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/panels.py
Due: gui

use text for output
  temporal/t.connect/t.connect.md
Due: none

Added translation using Weblate (Chinese (Traditional Han script))
  locale/po/grasslibs_zh_Hant.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_zh.po
  locale/po/grassmods_zh_Hant.po
  locale/po/grasswxpy_zh.po
  locale/po/grasswxpy_zh_Hant.po
  locale/tbx/grassglossary_zh_Hans.tbx
  locale/tbx/grassglossary_zh_Hant.tbx
Due: none

Added translation using Weblate (Chinese (Traditional Han script))
  locale/po/grasslibs_zh_Hant.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_zh.po
  locale/po/grassmods_zh_Hant.po
  locale/po/grasswxpy_zh.po
  locale/po/grasswxpy_zh_Hant.po
Due: none

new region_name parameter to RegionManager allowing users to work with saved regions
  python/grass/script/raster.py
Due: python library

fixes typos
  python/grass/script/raster.py
Due: python library

r.semantic.label: catch ToolError instead of CalledModuleError in test
  scripts/r.semantic.label/tests/r_semantic_label_test.py
Due: scripts

wxGUI: Finding unavailable toolboxes in the search tab (#7403)
  gui/wxpython/xml/module_tree.xml
  gui/wxpython/xml/toolboxes.xml
  utils/find_missing_toolboxes.py
Due: gui, utils

Translations update from OSGeo Weblate (#7602)
  locale/po/grasslibs_zh_Hant.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_zh.po
  locale/po/grassmods_zh_Hant.po
  locale/po/grasswxpy_zh.po
  locale/po/grasswxpy_zh_Hant.po
Due: none

grass.script: Fix typos in raster.py (#7600)
  python/grass/script/raster.py
Due: python library

Translations update from OSGeo Weblate (#7601)
  locale/po/grasslibs_zh_Hant.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_zh.po
  locale/po/grassmods_zh_Hant.po
  locale/po/grasswxpy_zh.po
  locale/po/grasswxpy_zh_Hant.po
  locale/tbx/grassglossary_zh_Hans.tbx
  locale/tbx/grassglossary_zh_Hant.tbx
Due: none

contributing: Improve build instructions for agents
  AGENTS.md
Due: none

docs: Fix crash and simplify git calls in mkdocs generation
  utils/mkdocs.py
Due: utils

exit instead of just writing message
  utils/mkdocs.py
Due: utils

libpython: Speed up grass.lib import by registering /home/akratoc/dev/grass/grass_main/dist.x86_64-pc-linux-gnu/lib
  python/libgrass_interface_generator/libgrass__init__.py
Due: none

contributing: Link AGENTS.md from CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

r.semantic.label: exit with error when print target is missing (#7496)
  scripts/r.semantic.label/r.semantic.label.py
  scripts/r.semantic.label/tests/r_semantic_label_test.py
Due: scripts

t.connect: add a mapset option to list connections across project (#7594)
  temporal/t.connect/main.c
  temporal/t.connect/t.connect.md
  temporal/t.connect/tests/conftest.py
  temporal/t.connect/tests/test_t_connect.py
  temporal/t.list/t.list.py
  temporal/t.list/tests/test_t_list.py
Due: none

fix: Resolve review comment
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/panels.py
Due: gui

contributing: Improve build instructions for agents (#7603)
  AGENTS.md
Due: none

contributing: Link AGENTS.md from CONTRIBUTING.md (#7606)
  CONTRIBUTING.md
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  locale/po/grasslibs_zh.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_zh.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_zh.po
Due: none

check StandaloneGrassInterface ASAP
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/panels.py
Due: gui

check StandaloneGrassInterface before calling GetLayerList()
  gui/wxpython/gmodeler/panels.py
Due: gui

wxGUI/gmodeler: Correct variable replacement in model_convert.py (#7241)
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gmodeler/model_convert.py
  gui/wxpython/gmodeler/model_items.py
  gui/wxpython/gmodeler/panels.py
Due: gui

Translated using Weblate (Chinese (Simplified Han script))
  locale/po/grasslibs_zh.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_zh.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_zh.po
  locale/tbx/grassglossary_zh_Hans.tbx
Due: none

CI: Migrate deprecated test results upload action to codecov-action@v5
  .github/workflows/pytest.yml
Due: none

Draft PR
  gui/wxpython/core/treemodel.py
  gui/wxpython/datacatalog/tree.py
Due: gui

contributing: Add notes on sandbox and addon builds to AGENTS.md
  AGENTS.md
Due: none

r.param.scale: replace testsuite with unskipped pytest and update benchmark
  raster/r.param.scale/benchmark/benchmark_r_param_scale_nprocs.py
  raster/r.param.scale/tests/r_param_scale_test.py
  raster/r.param.scale/testsuite/test_r_param_scale.py
Due: none

Translations update from OSGeo Weblate (#7611)
  locale/po/grasslibs_zh.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_zh.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_zh.po
  locale/tbx/grassglossary_zh_Hans.tbx
Due: none

Translations update from OSGeo Weblate (#7610)
  locale/po/grasslibs_zh.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_zh.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_zh.po
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

docs: Fix crash and simplify git calls in mkdocs generation (#7604)
  utils/mkdocs.py
Due: utils

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
