Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

r.proj: add parallel-correctness pytest tests
  raster/r.proj/tests/conftest.py
  raster/r.proj/tests/r_proj_parallel_test.py
Due: none

r.proj: rename the footprint fields and simplify the block lookup
  raster/r.proj/footprint.c
Due: none

r.proj: match the serial rounding for large integer values
  raster/r.proj/main.c
Due: none

r.proj: remove the grid verification scaffolding
  raster/r.proj/footprint.c
  raster/r.proj/main.c
  raster/r.proj/r.proj.h
Due: none

r.proj: create the fallback cache temp file in the output project
  raster/r.proj/footprint.c
  raster/r.proj/main.c
Due: none

r.proj: size band heights from the footprint grid
  raster/r.proj/footprint.c
  raster/r.proj/main.c
  raster/r.proj/r.proj.h
Due: none

r.proj: apply the footprint review renames and comments
  raster/r.proj/footprint.c
  raster/r.proj/r.proj.h
Due: none

r.proj: shorten and clarify the comments
  lib/proj/do_proj.c
  raster/r.proj/interp_strip.c
  raster/r.proj/main.c
  raster/r.proj/r.proj.h
Due: lib

r.proj: add nprocs option and clean up comments
  raster/r.proj/main.c
  raster/r.proj/tests/r_proj_parallel_test.py
Due: none

r.proj: use the merged test fixtures
  raster/r.proj/tests/conftest.py
Due: none

v.to.rast: Fix crash when rasterizing points with the dense flag
  vector/v.to.rast/dense_line.c
  vector/v.to.rast/do_lines.c
  vector/v.to.rast/local.h
  vector/v.to.rast/tests/conftest.py
  vector/v.to.rast/tests/v_to_rast_dense_test.py
Due: none

lib/vector: Fix null pointer dereference for an empty cat_list
  .cppcheck-suppressions
  lib/vector/Vlib/cats.c
  lib/vector/Vlib/tests/conftest.py
  lib/vector/Vlib/tests/lib_vector_cats_test.py
Due: lib

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

r.stats: Use a 64-bit counter for cell counts
  raster/r.stats/stats.c
Due: none

grass.app.runtime: Do not add the same paths again on repeated setup
  python/grass/app/runtime.py
  python/grass/app/tests/grass_app_runtime_test.py
Due: python library

r.coin: Fail when r.stats returns no data
  raster/r.coin/make_coin.c
  raster/r.coin/tests/test_coin.py
Due: none

r.coin: Fail when r.stats returns no data (#7841)
  raster/r.coin/make_coin.c
  raster/r.coin/tests/test_coin.py
Due: none

r.proj: add the kernel table check and document nprocs and memory
  raster/r.proj/Makefile
  raster/r.proj/main.c
  raster/r.proj/r.proj.html
  raster/r.proj/r.proj.md
Due: none

Confirm before animating a large dataset
  gui/wxpython/datacatalog/tree.py
Due: gui

Init: do not fail if no shell and no GUI is available
  lib/init/grass.py
Due: lib

lib/vector: Reject out of range categories when reading ASCII
  lib/vector/Vlib/ascii.c
  vector/v.in.ascii/tests/conftest.py
  vector/v.in.ascii/tests/v_in_ascii_categories_test.py
Due: lib

Add suggestions
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Due: gui

address review
  raster/r.in.pdal/info.cpp
  raster/r.in.pdal/main.cpp
  raster/r.in.pdal/r.in.pdal.html
  raster/r.in.pdal/r.in.pdal.md
Due: none

citation: Add name to GRASS Dev citation
  CITATION.cff
Due: none

r.sim: fix infiltration implementation (#5623)
  raster/r.sim/r.sim.water/r.sim.water.ipynb
  raster/r.sim/r.sim.water/testsuite/data/depth_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/depth_infil.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_complex.pack
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
Due: notebooks (jupyter)

r.stats: use "grass_int64" instead of "unsigned long long"
  raster/r.stats/stats.c
Due: none

citation: remove stale fields
  CITATION.cff
Due: none

lib/gis: Return the child exit status from G_popen_close
  include/grass/defs/gis.h
  include/grass/gis.h
  lib/gis/popen.c
Due: lib

Reverted GRASS version and changed order
  CITATION.cff
Due: none

r.in.pdal: fix reported data extent when CRS doesn't match (#6465)
  raster/r.in.pdal/info.cpp
  raster/r.in.pdal/info.h
  raster/r.in.pdal/main.cpp
  raster/r.in.pdal/projection.c
  raster/r.in.pdal/r.in.pdal.html
  raster/r.in.pdal/r.in.pdal.md
  raster/r.in.pdal/testsuite/data/points_3358.las
  raster/r.in.pdal/testsuite/data/points_6346.las
  raster/r.in.pdal/testsuite/test_r_in_pdal_extent.py
Due: none

docs: Add name to GRASS citation list (#7845)
  CITATION.cff
Due: none

r.stats: bump up counts storage to unsigned long long (#7790)
  raster/r.stats/stats.c
Due: none

Add tool to the 'Vector Report and Statistics' and 'Point Analysis' toolboxes
  gui/wxpython/xml/toolboxes.xml
Due: gui

removed cases that require further investigation
  general/g.pnmcomp/main.c
  imagery/i.fft/main.c
  imagery/i.ifft/main.c
  imagery/i.ortho.photo/i.ortho.rectify/report.c
  imagery/i.rectify/report.c
  vector/v.extract/main.c
  vector/v.surf.rst/main.c
  vector/v.vol.rst/main.c
Due: none

doc: remove stale fields in CITATION.cff (#7846)
  CITATION.cff
Due: none

v.ppa: Point Pattern Analysis (#3826)
  gui/wxpython/xml/toolboxes.xml
  vector/CMakeLists.txt
  vector/Makefile
  vector/v.ppa/Makefile
  vector/v.ppa/doc_figures.py
  vector/v.ppa/f_function.c
  vector/v.ppa/g_function.c
  vector/v.ppa/k_function.c
  vector/v.ppa/local_proto.h
  vector/v.ppa/main.c
  vector/v.ppa/result.c
  vector/v.ppa/tests/conftest.py
  vector/v.ppa/tests/v_ppa_test.py
  vector/v.ppa/v.ppa.html
  vector/v.ppa/v.ppa.md
  vector/v.ppa/v_ppa_f.png
  vector/v.ppa/v_ppa_g.png
  vector/v.ppa/v_ppa_k.png
  vector/v.ppa/v_ppa_l.png
  vector/v.ppa/v_ppa_patterns.png
Due: gui

address review
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  python/grass/app/runtime.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_setup_load_libs_test.py
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

tools: Fix multiplications converted to a larger type (#7708)
  display/d.graph/do_graph.c
  display/d.legend/draw.c
  imagery/i.segment/flag.c
  raster3d/r3.in.v5d/main.c
  raster3d/r3.out.v5d/main.c
  vector/v.vol.rst/user3.c
  visualization/ximgview/color.c
Due: none

wxGUI/datacatalog: Add Display animation option for space time datasets (#7834)
  gui/wxpython/animation/frame.py
  gui/wxpython/animation/panels.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Due: gui

utils: Record a last-commit entry for every documentation page
  utils/generate_last_commit_file.py
  utils/mkhtml.py
  utils/test_generate_last_commit_file.py
Due: utils
