Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

grass.jupyter: more flexible region handling for rendering (#1871)
  doc/notebooks/grass_jupyter.ipynb
  python/grass/jupyter/Makefile
  python/grass/jupyter/display.py
  python/grass/jupyter/interact_display.py
  python/grass/jupyter/region.py
  python/grass/jupyter/render3d.py
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

OSGeo4W: add recent GDAL dlls (#1874)
  lib/raster/gdal.c
Due: lib

doc: Fix link to startup script manual page (#1875)
  man/build_html.py
Due: man

display/d.mon: fix get list of running monitors (#1902)
  display/d.mon/list.c
Due: none

update how_release based on 7.8.6RC3 experience (#1913)
  doc/howto_release.md
Due: none

wxGUI/lmgr: fix Python Shell 'help()' function and intro text (#1894)
  gui/wxpython/lmgr/pyshell.py
Due: gui

v.perturb: Require either explicit seed or generated seed (#1661)
  vector/v.perturb/main.c
Due: none

r.mask: clarify difference between r.mask and MASK map behavior (#1861)
  scripts/r.mask/r.mask.html
Due: scripts

wxGUI/gui_core: enable/disable toolbar long help if toolbar exists (#1922)
  gui/wxpython/gui_core/mapdisp.py
Due: gui

mswindows: crosscompile under WSL (#1940)
  mswindows/crosscompile.sh
Due: none

update wingrass installer to osgeo4w v2 + drop 32bit (#1904)
  mswindows/GRASS-Installer.nsi.tmpl
  mswindows/GRASS-Packager.bat.tmpl
  mswindows/Makefile
  mswindows/env.bat
  mswindows/osgeo4w/Makefile
  mswindows/osgeo4w/env.bat.tmpl
  mswindows/osgeo4w/setup.hint.tmpl
  mswindows/osgeo4w/setup_x86.hint.tmpl
  mswindows/osgeo4w/setup_x86_64.hint.tmpl
Due: none

CI: Do not run Docker job on forks (#1915)
  .github/workflows/docker.yml
Due: none

Apply patches from OSGeo4W upstreams (#1880)
  mswindows/osgeo4w/mklibs.sh
  mswindows/osgeo4w/package.sh
  mswindows/osgeo4w/postinstall.bat
Due: none

crosscompile enhancements (#1947)
  mswindows/crosscompile.sh
Due: none

crosscompile: Support for BusyBox for Windows (#1946)
  mswindows/crosscompile.sh
Due: none

macOS/install: do not install system level docs (#1909)
  include/Make/Install.make
Due: none

Updates to README.md file (#1951)
  README.md
Due: none

WMS: restore NASA GIBS (#1756)
  gui/wxpython/web_services/dialogs.py
Due: gui

Apply more osgeo4w patches (#1921)
  mswindows/osgeo4w/config.h.vc
  mswindows/osgeo4w/mklibs.sh
  mswindows/osgeo4w/package.sh
Due: none

grass.gunittest: Use node and PID in tmp mapset name (#2014)
  python/grass/gunittest/invoker.py
Due: gunittest, python library

wxGUI: refactoring: Map Display inheriting from wx.Panel (#1675)
  doc/gui/wxpython/example/README
  doc/gui/wxpython/example/frame.py
  doc/gui/wxpython/example/g.gui.example.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/iclass/g.gui.iclass.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/mapswipe/g.gui.mapswipe.py
  gui/wxpython/mapswipe/toolbars.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/vdigit/g.gui.vdigit.py
  gui/wxpython/vdigit/preferences.py
Due: gui

wxGUI/digitizer: don't attempt to draw zero-length lines (#1989)
  gui/wxpython/vdigit/wxdisplay.py
Due: gui

i.vi: fix formatting (#2007)
  imagery/i.vi/ci.c
  imagery/i.vi/i.vi.html
Due: none

g.region: Add more detail into LL error messages (#1988)
  lib/gis/adj_cellhd.c
Due: lib

grass.gunittest: Use collections.abc for Iterable (#2006)
  python/grass/gunittest/reporters.py
Due: gunittest, python library

init/pythonlib: unified use of addonbase for mac (#2004)
  lib/init/Makefile
  lib/init/grass.py
  python/grass/script/Makefile
  python/grass/script/setup.py
Due: lib, python library

scripts/i.spectral: show error message if one of the supported monitor isn't running (#1991)
  scripts/i.spectral/i.spectral.html
  scripts/i.spectral/i.spectral.py
Due: scripts

wxGUI: font size Python 3.10 fix (#2036)
  gui/wxpython/gui_core/goutput.py
Due: gui

init: Output value for sys.path in config (#1835)
  doc/notebooks/basic_example.ipynb
  doc/notebooks/basic_example_grass_jupyter.ipynb
  doc/notebooks/grass_jupyter.ipynb
  doc/notebooks/hydrology.ipynb
  doc/notebooks/solar_potential.ipynb
  doc/notebooks/viewshed_analysis.ipynb
  lib/init/grass.py
  python/grass/script/setup.py
Due: lib, notebooks (jupyter), python library

grass.script.array: remove deprecated read function (#1926)
  python/grass/script/array.py
  python/grass/temporal/space_time_datasets.py
Due: python library

CI: Run Docker for all release branches (#1975)
  .github/workflows/docker.yml
Due: none

r.object.geometry: fix msg typo and test script (#1994)
  raster/r.object.geometry/main.c
  raster/r.object.geometry/testsuite/r_object_geometry_test.py
Due: none

r.random: Add -s flag, remove -i flag, redo interface (#1054)
  raster/r.random/README
  raster/r.random/local_proto.h
  raster/r.random/main.c
  raster/r.random/r.random.html
  raster/r.random/support.c
  raster/r.random/testsuite/test_r_random.py
  raster/r.random/testsuite/testrandom.py
Due: none

i.vi: fix PVI formula (#1985)
  imagery/i.vi/pvi.c
Due: none

wxGUI: Map display object has no attribute iconsize (#2021)
  doc/gui/wxpython/example/frame.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/vdigit/g.gui.vdigit.py
Due: gui

[news] r.out.gdal: add offset/scale options (#1992)
  raster/r.out.gdal/export_band.c
  raster/r.out.gdal/local_proto.h
  raster/r.out.gdal/main.c
  raster/r.out.gdal/r.out.gdal.html
Due: none

howto_release.md: updated for G8 (#1999)
  doc/howto_release.md
Due: none

init: Lazy-initialize translations, fix order dependency (#1838)
  python/grass/__init__.py
Due: python library

r.surf.random: double min max for DCELL and r.mapcalc-style random numbers (#322)
  raster/r.surf.random/Makefile
  raster/r.surf.random/local_proto.h
  raster/r.surf.random/main.c
  raster/r.surf.random/randsurf.c
  raster/r.surf.random/testsuite/test_min_max.py
Due: none
