Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

tests: Output more text and sort files (#1362)
  lib/python/gunittest/loader.py
  lib/python/gunittest/reporters.py
Due: lib

testsuite: fix libgis/parser_json.c and r.fillnull (#1346)
  lib/gis/testsuite/test_parser_json.py
  scripts/r.fillnulls/testsuite/test_r_fillnulls.py
Due: scripts, lib

libgis: add string concatenation function (#1401)
  include/defs/gis.h
  lib/gis/strings.c
Due: lib

utils: Small fixes of Bash util scripts (#1363)
  utils/dep_tree2sql.sh
  utils/fix_typos.sh
  utils/module_synopsis.sh
Due: utils

v.import: Add layer to the projection check (#1328)
  scripts/v.import/v.import.py
Due: scripts

r.stream.extract: Fix typos in the manual (#1352)
  raster/r.stream.extract/r.stream.extract.html
Due: none

Format YAML in GH workflows (#1367)
  .github/workflows/black.yml
  .github/workflows/centos.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/flake8.yml
  .github/workflows/gcc.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/super-linter.yml
Due: none

Apply Black to Python utils (#1365)
  .github/workflows/black.yml
  utils/create_python_init_file.py
  utils/g.html2man/g.html2man.py
  utils/g.html2man/ggroff.py
  utils/g.html2man/ghtml.py
  utils/g.html2man/rest.py
  utils/gitlog2changelog.py
  utils/mkhtml.py
  utils/mkrest.py
  utils/ppmrotate.py
  utils/thumbnails.py
Due: utils

Dockerfile_alpine_wxgui: drop file (#1372)
  docker/alpine/Dockerfile_alpine_wxgui
Due: none

g.extension: fix doctest by not using global variable (#1364)
  scripts/g.extension/g.extension.py
Due: scripts

i.vi: fix the check for the existence of the 'redchan' variable (#1378)
  imagery/i.vi/main.c
Due: none

Allow parsing long GISDBASE paths (#1376)
  lib/gis/env.c
Due: lib

Apply Black to doc utils in man (#1366)
  .github/workflows/black.yml
  man/build_check.py
  man/build_check_rest.py
  man/build_class.py
  man/build_class_graphical.py
  man/build_class_rest.py
  man/build_full_index.py
  man/build_full_index_rest.py
  man/build_graphical_index.py
  man/build_html.py
  man/build_index.py
  man/build_index_rest.py
  man/build_keywords.py
  man/build_manual_gallery.py
  man/build_rest.py
  man/build_topics.py
  man/parser_standard_options.py
  man/sphinx/conf.py
Due: man

Apply Black to helpers, examples, doc, and others (#1386)
  display/d.mon/render_cmd.py
  doc/gui/wxpython/example/dialogs.py
  doc/gui/wxpython/example/frame.py
  doc/gui/wxpython/example/g.gui.example.py
  doc/gui/wxpython/example/toolbars.py
  doc/python/m.distance.py
  doc/python/raster_example_ctypes.py
  doc/python/script/r.example.py
  doc/python/vector_example_ctypes.py
  docker/testdata/test_grass_session.py
  general/g.parser/test.py
  imagery/i.atcorr/create_iwave.py
  imagery/i.segment/testsuite/test_isegment.py
  imagery/i.vi/testsuite/test_vi.py
  pyproject.toml
  scripts/db.in.ogr/db.in.ogr.py
Due: scripts

db.univar: Ignore rows with NULLs with -e (#1341)
  scripts/db.univar/db.univar.py
  scripts/db.univar/testsuite/test_db_univar.py
Due: scripts

CI: Switch Travis to Ubuntu 20.04 (focal) (#1384)
  .travis.yml
  .travis/linux.install.sh
Due: none

Apply Mega-Linter fixes to GH workflow scripts (#1369)
  .github/workflows/.editorconfig
  .github/workflows/build.sh
  .github/workflows/build_centos.sh
  .github/workflows/build_osgeo4w.sh
  .github/workflows/test_thorough.sh
Due: none

libproj: change warning to debug message (#1337)
  lib/proj/convert.c
  lib/proj/projlib.dox
  scripts/v.import/v.import.html
  vector/v.external.out/v.external.out.html
  vector/v.external/v.external.html
  vector/v.out.ogr/v.out.ogr.html
Due: scripts, lib

Flake8 fixes for utils and man (#1379)
  .flake8
  .github/workflows/flake8.yml
  man/build_check.py
  man/build_check_rest.py
  man/build_class.py
  man/build_class_graphical.py
  man/build_class_rest.py
  man/build_full_index.py
  man/build_full_index_rest.py
  man/build_graphical_index.py
  man/build_html.py
  man/build_index.py
  man/build_index_rest.py
  man/build_rest.py
  man/sphinx/conf.py
  utils/create_python_init_file.py
  utils/g.html2man/ggroff.py
  utils/g.html2man/ghtml.py
  utils/gitlog2changelog.py
  utils/mkhtml.py
  utils/thumbnails.py
Due: man, utils

wxGUI/dbmgr: fix calculate column values (#1370)
  gui/wxpython/dbmgr/base.py
Due: gui

wxGUI/dbmgr: fix hit 'Refresh' button if vector map doesn't have any layers (#1371)
  gui/wxpython/dbmgr/base.py
Due: gui

v.colors: raster= with use=attr (#1393)
  vector/v.colors/local_proto.h
  vector/v.colors/main.c
  vector/v.colors/read_rgb.c
  vector/v.colors/scan_attr.c
  vector/v.colors/scan_cats.c
  vector/v.colors/scan_z.c
  vector/v.colors/v.colors.html
  vector/v.colors/write_rgb.c
Due: none

wxGUI/dbmgr: fix insert record for each category into table (#1333)
  gui/wxpython/dbmgr/base.py
Due: gui

v.colors: Implement rules from stdin (#1389)
  vector/v.colors/main.c
  vector/v.colors/make_colors.c
  vector/v.colors/scan_z.c
  vector/v.colors/v.colors.html
Due: none

libpython/script: fix tests (#1381)
  python/grass/script/array.py
  python/grass/script/testsuite/test_names.py
Due: python library

wxGUI: remove Version and copyright from menu as redundant (#1264)
  gui/wxpython/xml/toolboxes.xml
  gui/wxpython/xml/wxgui_items.xml
Due: gui

TGRASS: remove bogus band references error msg (#1435)
  python/grass/temporal/space_time_datasets.py
Due: python library

CI: add proj-bin to have cs2cs for tests (#1410)
  .github/workflows/apt.txt
Due: none

Add parantheses to assignment in condition (#1274)
  lib/dspf/cube_io.c
  raster/r.in.gridatb/file_io.c
Due: lib

r.region: Vect_get_map_box() requires level 2 (#1404)
  lib/vector/Vlib/box.c
  raster/r.region/main.c
Due: lib

howto_release.md: update addon builder
  doc/howto_release.md
Due: none

v.report: Add separator= (#1412)
  scripts/v.report/v.report.py
Due: scripts

wxGUI: fix for cases when validator is called automatically from wx.Dialog upon closing it with OK (#1418)
  gui/wxpython/gui_core/widgets.py
Due: gui

db.describe: Remove unused tdesc (#1426)
  db/db.describe/main.c
Due: none

Add space to string format for blank line (#1405)
  raster/r.in.mat/main.c
  raster/r.out.mat/main.c
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
