Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

Add separator for library path
  CMakeLists.txt
Due: none

add Coverity annotation, suppressing warning on intentional overflow
  lib/gis/lrand48.c
Due: lib

CI: Reject hidden Unicode characters and remove soft hyphens (#8030)
  .pre-commit-config.yaml
  imagery/i.svm.predict/i.svm.predict.html
  imagery/i.svm.predict/i.svm.predict.md
  imagery/i.svm.train/i.svm.train.html
  imagery/i.svm.train/i.svm.train.md
Due: none

cmake: add missing $<CONFIG> to PATH for multi-config generators (#8026)
  CMakeLists.txt
  general/CMakeLists.txt
Due: none

r.mapcalc: Fix modulo by zero hang and speed up threads (#8031)
  include/grass/calc.h
  include/grass/defs/calc.h
  lib/calc/calc.c
  lib/calc/xacos.c
  lib/calc/xasin.c
  lib/calc/xatan.c
  lib/calc/xcos.c
  lib/calc/xdiv.c
  lib/calc/xexp.c
  lib/calc/xlog.c
  lib/calc/xmod.c
  lib/calc/xpow.c
  lib/calc/xsin.c
  lib/calc/xsqrt.c
  lib/calc/xtan.c
  raster/r.mapcalc/main.c
  raster/r.mapcalc/tests/r_mapcalc_math_errors_test.py
Due: lib

r.sim: Rename the option random_seed to seed
  lib/gis/renamed_options
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_random_test.py
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_summary_test.py
  raster/r.sim/r.sim.sediment/testsuite/test_r_sim_sediment.py
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.ipynb
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/tests/r_sim_water_landforms_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_mannings_null_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_nprocs_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_random_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_summary_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_time_series_test.py
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
Due: lib, notebooks (jupyter)

grass.pygrass: Fix Ilist attribute access, indexing, and append issues
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/tests/test_basic.py
Due: pygrass, python library

lib/gis: clarify intentional overflow in 48-bit LCG arithmetic (#8013)
  lib/gis/lrand48.c
Due: lib

grass.pygrass: Fix Ilist.extend and Ilist.remove accessing non-existent attribute (#7977)
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/tests/test_basic.py
Due: pygrass, python library

r.sim.water: Remake the benchmark figures on main
  raster/r.sim/r.sim.water/r_sim_water_benchmark_efficiency.png
  raster/r.sim/r.sim.water/r_sim_water_benchmark_speedup.png
  raster/r.sim/r.sim.water/r_sim_water_benchmark_time.png
Due: none

grass.benchmark: Shade the range of the runs in nprocs plots
  python/grass/benchmark/__init__.py
  python/grass/benchmark/plots.py
  python/grass/benchmark/tests/grass_benchmark_plots_test.py
  raster/r.sim/r.sim.water/benchmark/benchmark_r_sim_water_nprocs.py
  raster/r.sim/r.sim.water/r_sim_water_benchmark_efficiency.png
  raster/r.sim/r.sim.water/r_sim_water_benchmark_speedup.png
  raster/r.sim/r.sim.water/r_sim_water_benchmark_time.png
Due: python library

r.sim: Rename the option random_seed to seed (#8032)
  lib/gis/renamed_options
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_random_test.py
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_summary_test.py
  raster/r.sim/r.sim.sediment/testsuite/test_r_sim_sediment.py
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.ipynb
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/tests/r_sim_water_landforms_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_mannings_null_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_nprocs_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_random_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_summary_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_time_series_test.py
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
Due: lib, notebooks (jupyter)

libgis: Add a function which reads the seed option of a tool
  include/grass/defs/gis.h
  lib/gis/random_options.c
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_random_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_random_test.py
  raster/r.sim/simlib/random.c
Due: lib

r.sim.water: Add a benchmark for the number of threads (#8002)
  python/grass/benchmark/__init__.py
  python/grass/benchmark/plots.py
  python/grass/benchmark/tests/grass_benchmark_plots_test.py
  raster/r.sim/r.sim.water/benchmark/benchmark_r_sim_water_nprocs.py
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/r_sim_water_benchmark_efficiency.png
  raster/r.sim/r.sim.water/r_sim_water_benchmark_speedup.png
  raster/r.sim/r.sim.water/r_sim_water_benchmark_time.png
Due: python library

silence deprecation warning for g-flag
  python/grass/script/imagery.py
Due: python library

add pytest for imagery module
  python/grass/script/tests/grass_script_imagery_test.py
Due: python library

handle \r and unfinished lines in console
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/gconsole.py
Due: gui

grass: Report clear error instead of traceback when -c fails
  lib/init/grass.py
  lib/init/testsuite/test_grass_create_project.py
Due: lib

do not hard-code current mapset for unqualified raster name input
  imagery/i.group/main.c
Due: none

remove remove ambiguos note from manual
  imagery/i.group/i.group.html
  imagery/i.group/i.group.md
Due: none

move unittest to pytest
  imagery/i.group/testsuite/test_i_group.py
Due: none

add pytest
  imagery/i.group/tests/i_group_test.py
Due: none

grass.jupyter: Add profile tool to gj.InteractiveMap
  doc/examples/notebooks/jupyter_tutorial.ipynb
  python/grass/jupyter/Makefile
  python/grass/jupyter/__init__.py
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/profile.py
  python/grass/jupyter/tests/profile_controller_test.py
  python/grass/jupyter/tests/profile_test.py
  python/grass/jupyter/testsuite/interactivemap_test.py
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

grass.jupyter: Format notebook example
  doc/examples/notebooks/jupyter_tutorial.ipynb
Due: notebooks (jupyter)

wxGUI: Fix tracebacks split into many lines in console (#8005)
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/gconsole.py
Due: gui

tests: Convert -c error test to pytest
  lib/init/tests/grass_create_project_test.py
  lib/init/testsuite/test_grass_create_project.py
Due: lib

wxGUI: Fix split stdout lines and hidden console messages
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/render.py
  gui/wxpython/core/settings.py
  gui/wxpython/core/utils.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/iclass/statistics.py
  gui/wxpython/iscatt/core_c.py
  gui/wxpython/nviz/wxnviz.py
  gui/wxpython/vdigit/wxdisplay.py
Due: gui

v.what.strds: make the test data position-dependent (#7930)
  scripts/v.what.strds/tests/v_what_strds_test.py
Due: scripts

libgis: Read a seed from text in one place and refuse what is out of range
  include/grass/defs/gis.h
  lib/gis/lrand48.c
  lib/gis/random_options.c
  lib/gis/random_streams.dox.md
  lib/gis/tests/lib_gis_lrand48_test.py
  lib/init/variables.html
  lib/init/variables.md
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_random_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_random_test.py
Due: lib

grass.gunittest: Preserve exact bytes in MD5 test fixtures
  python/grass/gunittest/testsuite/test_assertions.py
  python/grass/gunittest/testsuite/test_checkers.py
Due: gunittest, python library

grass.gunittest: Preserve exact bytes in MD5 test fixtures (#8039)
  python/grass/gunittest/testsuite/test_assertions.py
  python/grass/gunittest/testsuite/test_checkers.py
Due: gunittest, python library

i.group: Find and read groups and raster maps therein from other mapsets (#8036)
  imagery/i.group/i.group.html
  imagery/i.group/i.group.md
  imagery/i.group/main.c
  imagery/i.group/tests/i_group_test.py
  imagery/i.group/testsuite/test_i_group.py
Due: none

Translated using Weblate (Swedish)
  locale/po/grasslibs_fr.po
  locale/po/grasslibs_sv.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_sv.po
  locale/po/grasswxpy_fr.po
Due: none

Translations update from OSGeo Weblate (#8041)
  locale/po/grasslibs_fr.po
  locale/po/grasslibs_sv.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_sv.po
  locale/po/grasswxpy_fr.po
Due: none

Translations update from OSGeo Weblate (#8042)
  locale/po/grasslibs_fr.po
  locale/po/grasslibs_sv.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_sv.po
  locale/po/grasswxpy_fr.po
Due: none

i18n: Improve some C source strings flagged on Weblate (#8012)
  db/drivers/dbf/dbfexe.c
  db/drivers/sqlite/db.c
  lib/gis/view.c
  raster/r.horizon/main.c
  raster/r.in.pdal/main.cpp
  raster/r.reclass/main.c
  vector/v.class/main.c
  vector/v.in.ogr/main.c
  vector/v.profile/main.c
  vector/v.rectify/main.c
Due: lib

wxGUI: Remove Ctrl+D shortcut for removing history items
  gui/wxpython/history/tree.py
Due: gui

wxGUI: Add keyboard shortcuts to history browser tree
  gui/wxpython/history/tree.py
Due: gui
