Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

Update python/grass/temporal/metadata.py
  python/grass/temporal/metadata.py
Due: python library

Revert "lib/gis: properly guard BLAS and LAPACK dependent code"
  include/grass/defs/la.h
  include/grass/la.h
  lib/gmath/la.c
Due: lib

wxGUI/history: fix the run of a special cmds only once (#4322)
  gui/wxpython/history/tree.py
Due: gui

lib/gis: properly guard BLAS and LAPACK dependent code (original logic)
  lib/gmath/la.c
Due: lib

lib/gmath: rename ATLAS_wrapper to CBLAS_wrapper
  lib/gmath/CBLAS_wrapper_blas_level_1.c
Due: lib

CI(OSGeo4W): Use setup-OSGeo4W action to parametrize install options (#4290)
  .github/workflows/osgeo4w.yml
Due: none

configure: update to latest config.guess and config.sub (#4161)
  config.guess
  config.sub
Due: none

r.horizon: change JSON format (#3888)
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Due: none

lib/gmath: rename ATLAS_wrapper to CBLAS_wrapper (#4351)
  lib/gmath/CBLAS_wrapper_blas_level_1.c
Due: lib

lib/gmath: properly guard BLAS and LAPACK dependent code (#4346)
  lib/gmath/la.c
Due: lib

Add tests to r.his
  raster/r.his/testsuite/test_r_his.py
Due: none

fixed flake8 warning in imagery/
  imagery/i.atcorr/create_iwave.py
Due: none

updated .flake8
  .flake8
Due: none

removed flake8 from first 2 files
  doc/python/raster_example_ctypes.py
  doc/python/vector_example_ctypes.py
Due: none

remove flake8 from distance.py
  .flake8
  doc/python/m.distance.py
Due: none

Update doc/python/m.distance.py
  doc/python/m.distance.py
Due: none

Update doc/python/vector_example_ctypes.py
  doc/python/vector_example_ctypes.py
Due: none

Update doc/python/raster_example_ctypes.py
  doc/python/raster_example_ctypes.py
Due: none

lib/vector: new functions for setting trim of GEOS WKT output (#4123)
  include/grass/defs/vector.h
  lib/vector/Vlib/geos_to_wktb.c
Due: lib

Update m.distance.py
  doc/python/m.distance.py
Due: none

Update .flake8
  .flake8
Due: none

Add assertRasterFitsUnivar
  raster/r.his/testsuite/test_r_his.py
Due: none

doc: Fix most Flake8 issues in example files (#4353)
  .flake8
  doc/python/m.distance.py
  doc/python/raster_example_ctypes.py
  doc/python/vector_example_ctypes.py
Due: none

fix e722 locale
  locale/grass_po_stats.py
Due: none

update .flake8
  .flake8
Due: none

updates
  doc/gui/wxpython/example/dialogs.py
Due: none

removed e501
  gui/scripts/d.wms.py
Due: gui

updates
  .flake8
Due: none

tests: Apply xfail_windows decorator to failing test in test_gcmd.py
  gui/wxpython/core/testsuite/test_gcmd.py
Due: gui

tests: Apply xfail_windows decorator to failing test in lib/init in test_grass_tmp_mapset.py
  lib/init/testsuite/test_grass_tmp_mapset.py
Due: lib

CI(OSGeo4W): Use an OSGeo4W-specific gunittest.cfg config file
  .github/workflows/osgeo4w_gunittest.cfg
  .github/workflows/test_thorough.bat
Due: none

Revert "tests: Temporarily remove all gunittest exclusions"
  .gunittest.cfg
Due: none

v.out.lidar: Apply xfail_windows decorator to one failing test
  vector/v.out.lidar/testsuite/test_v_out_lidar.py
Due: none

t.rast.series: Apply xfail_windows decorator to failing tests
  temporal/t.rast.series/testsuite/test_series.py
Due: none

t.connect: Apply xfail_windows decorator to three failing tests
  temporal/t.connect/testsuite/test_distr_tgis_db_raster.py
  temporal/t.connect/testsuite/test_distr_tgis_db_raster3d.py
  temporal/t.connect/testsuite/test_distr_tgis_db_vector.py
Due: none

g.search.modules: Apply xfail_windows decorator to a failing test
  scripts/g.search.modules/testsuite/test_g_search_modules.py
Due: scripts

grass.temporal: Apply xfail_windows decorator to failing tests in unittests_temporal_raster_algebra_equal_ts
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra_equal_ts.py
Due: python library

grass.gunittest: Apply xfail_windows decorator to failing test test_assertVectorEqualsAscii_by_import
  python/grass/gunittest/testsuite/test_assertions_vect.py
Due: gunittest, python library
