Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

r.sim: Exclude cells with null Manning's n from the simulation
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/simlib/input.c
Due: none

r.sim.water: Test null Manning's n against null elevation
  raster/r.sim/r.sim.water/tests/r_sim_water_mannings_null_test.py
Due: none

r.sim: Refuse to run in latitude-longitude projects
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_latlong_test.py
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/tests/r_sim_water_latlong_test.py
Due: none

libgis: Add an author and license lines for the random number layouts
  lib/gis/lrand48.c
  lib/gis/tests/lib_gis_lrand48_test.py
Due: lib

libgis: State the condition for thread-safe program-owned generators
  lib/gis/lrand48.c
Due: lib

libgis: Share the seed range test between the seed checks
  lib/gis/lrand48.c
Due: lib

libgis: State the overflow check as a precondition of init_layout()
  lib/gis/lrand48.c
Due: lib

libgis: Document random number layouts
  lib/gis/gislib.dox
  lib/gis/random_streams.dox
  lib/gis/random_streams.svg
  lib/gis/random_streams_layouts.svg
  lib/gis/random_streams_twins.svg
Due: lib

r.sim.water: updated example with mannings (#7975)
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.ipynb
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/r_sim_water_depth.png
  raster/r.sim/r.sim.water/r_sim_water_depth_orthophoto.png
  raster/r.sim/r.sim.water/r_sim_water_mannings.png
  raster/r.sim/r.sim.water/r_sim_water_water_depth.png
Due: notebooks (jupyter)

r.sim: Treat null infiltration as no infiltration
  raster/r.sim/r.sim.water/tests/r_sim_water_mannings_null_test.py
  raster/r.sim/simlib/input.c
Due: none

r.sim: Describe null input cells in one place in the manuals
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
Due: none

libgis: Replace the example distance in the relations table by the rule
  lib/gis/random_streams.dox
Due: lib

libgis: Write the random number layouts page in Markdown
  doc/development/style_guide.md
  include/Make/Doxyfile_arch_html.in
  include/Make/Doxyfile_arch_latex.in
  lib/gis/random_streams.dox.md
Due: lib

r.sim: Refuse to run in latitude-longitude projects (#7978)
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_latlong_test.py
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/tests/r_sim_water_latlong_test.py
Due: none

r.sim: Give each walker random numbers of its own
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_random_test.py
  raster/r.sim/r.sim.sediment/testsuite/data/reference_erdep.pack
  raster/r.sim/r.sim.sediment/testsuite/data/reference_sedflux.pack
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/tests/r_sim_water_landforms_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_random_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_test.py
  raster/r.sim/r.sim.water/testsuite/data/depth_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/depth_default.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_default.pack
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
  raster/r.sim/simlib/output.c
  raster/r.sim/simlib/random.c
  raster/r.sim/simlib/simlib.h
Due: none

r.sim: Add copyright lines to the random number tests
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_random_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_random_test.py
Due: none

Bound the buffers G_get_datumparams_from_projinfo writes into
  general/g.setproj/main.c
  include/grass/defs/gis.h
  lib/gis/datum.c
  lib/gis/proj3.c
Due: lib

r.sim: Fix null Manning's n and infiltration handling (#7981)
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/tests/r_sim_water_mannings_null_test.py
  raster/r.sim/simlib/input.c
Due: none

r.sim: Keep each walker's random number state in its record
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
  raster/r.sim/simlib/output.c
  raster/r.sim/simlib/simlib.h
Due: none

r.sim: Distribute walkers to threads with a worksharing loop
  raster/r.sim/simlib/hydro.c
Due: none

libgis: Give the parts of the ring and the rule in the relations table
  lib/gis/random_streams.dox.md
Due: lib

CI: Use self-repository syntax
  .github/workflows/additional_checks.yml
  .github/workflows/pytest.yml
  .github/workflows/python-code-quality.yml
  .github/workflows/ubuntu.yml
  .github/workflows/verify-success.yml
Due: none

libgis: Explain the estimate in the relations table
  lib/gis/random_streams.dox.md
Due: lib

libgis: Keep the shared generator out of the random numbers overview
  lib/gis/random_streams.dox.md
Due: lib

libgis: Show the single state and the rounding in the layouts figure
  lib/gis/random_streams.dox.md
  lib/gis/random_streams_layouts.svg
Due: lib

libgis: Rename the random number seeding, whole-span and batch functions
  include/grass/defs/gis.h
  include/grass/gis.h
  lib/gis/lrand48.c
  lib/gis/tests/lib_gis_lrand48_test.py
Due: lib

r.sim: Follow the renamed random number functions
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/random.c
Due: none

libgis: Follow the renamed functions on the random numbers page
  lib/gis/random_streams.dox.md
  lib/gis/random_streams_layouts.svg
Due: lib

libgis: Say tool on the random numbers page and name the generator plainly
  lib/gis/random_streams.dox.md
Due: lib

libgis: Label the units, a stride, the draws and a state in the ring figure
  lib/gis/random_streams.dox.md
  lib/gis/random_streams.svg
Due: lib

libgis: Put the bars without rounding under their layouts in the figure
  lib/gis/random_streams.dox.md
  lib/gis/random_streams_layouts.svg
Due: lib

libgis: Shorten the headers of the relations table
  lib/gis/random_streams.dox.md
Due: lib

r.sim: Write time series maps at the closest iteration
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/tests/r_sim_water_time_series_test.py
  raster/r.sim/simlib/hydro.c
Due: none

r.sim: Warn about skipped output steps only for a positive output_step
  raster/r.sim/simlib/input.c
Due: none

wxGUI/nviz: fix 'window must be shown' error message during docking undocked 3D view window (#7819)
  gui/wxpython/nviz/mapwindow.py
Due: gui

r.sim: Replace custom chunk computation with OpenMP for loop (#7995)
  raster/r.sim/simlib/hydro.c
Due: none

grass.temporal: Raise ValueError on invalid spatial relation (#7949)
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

libgis: Mark the risk of an even stride in the layouts figure
  lib/gis/random_streams.dox.md
  lib/gis/random_streams_layouts.svg
Due: lib
