Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Update raster/r.fill.dir/main.c
  raster/r.fill.dir/main.c
Due: none

lib/ogsf: Fix Resource Leak Issue in gvld.c (#6069)
  lib/ogsf/gvld.c
Due: lib

lib/vector/Vlib: Fix Resource Leak Issue in dbcolumns.c (#5915)
  lib/vector/Vlib/dbcolumns.c
Due: lib

m.transform: Fix uninitialized variable issue in main.c (#6108)
  misc/m.transform/main.c
Due: none

r.fill.dir: Fix Copy into Buffer Size issues in main.c (#6107)
  raster/r.fill.dir/main.c
Due: none

MSVC: Move msvc/gettimeofday.c to msvc/sys
  msvc/sys/gettimeofday.c
  msvc/sys/time.h
  utils/CMakeLists.txt
  utils/timer/main.c
Due: utils

Rename test/test_v_colors.py to tests/test_v_colors.py
  vector/v.colors/tests/test_v_colors.py
Due: none

MSVC: Move msvc/gettimeofday.c to msvc/sys (#6110)
  msvc/sys/gettimeofday.c
  msvc/sys/time.h
  utils/CMakeLists.txt
  utils/timer/main.c
Due: utils

changes based on reviews
  raster3d/r3.info/main.c
  raster3d/r3.info/r3.info.md
  raster3d/r3.info/testsuite/test_r3_info.py
Due: none

Reduced number of points for large dataset because of performance constraints
  vector/v.class/tests/test_v_class.py
Due: none

g.findfile: Add JSON support (#6091)
  general/CMakeLists.txt
  general/g.findfile/Makefile
  general/g.findfile/g.findfile.md
  general/g.findfile/main.c
  general/g.findfile/tests/test_g_findfile.py
  python/grass/script/core.py
Due: python library

i.cca: fix indexing, buffer size issues and matrix computation (#5948)
  imagery/i.cca/main.c
  imagery/i.cca/stats.c
  imagery/i.cca/testsuite/test_i_cca.py
  imagery/i.cca/transform.c
Due: none

fix qsort ordering by row and then col
  vector/v.what.rast/local_proto.h
  vector/v.what.rast/main.c
  vector/v.what.rast/search.c
Due: none

add test file
  scripts/i.oif/testsuite/test_i_oif.py
Due: scripts

fix the order of imports
  scripts/i.oif/testsuite/test_i_oif.py
Due: scripts

Fix copy-paste
  python/grass/tools/support.py
Due: python library

v.class: Added test cases (#6071)
  vector/v.class/tests/test_v_class.py
Due: none

add test file
  raster3d/r3.cross.rast/testsuite/test_r3_cross_rast.py
Due: none

Make sure return code is passed from the tool subprocess, add tests
  python/grass/app/cli.py
  python/grass/app/tests/grass_app_cli_test.py
  python/grass/tools/support.py
  python/grass/tools/tests/grass_tools_result_test.py
  python/grass/tools/tests/grass_tools_tool_function_wrap_test.py
Due: python library

doc: Replace grass.script by grass.tools
  doc/python_intro.md
  python/grass/docs/conf.py
  python/grass/docs/src/index.rst
Due: python library

update expected values in tests
  vector/v.what.rast/testsuite/test_v_what_rast.py
Due: none

fixes
  utils/markdown2man.py
Due: utils

Change the structure to focus on the use case, not the style of API - split and rename pygrass
  doc/python_intro.md
Due: none

Use grass.tools in the interface intro
  doc/interfaces_overview.md
  doc/python_intro.md
Due: none

Test decoding and stripping of the result
  python/grass/tools/tests/grass_tools_result_test.py
Due: python library

No tool provided needs to be handled explicitly. Add missing smoke test for tool's help.
  python/grass/app/cli.py
  python/grass/app/tests/grass_app_cli_test.py
Due: python library

Update python/grass/app/tests/grass_app_cli_test.py
  python/grass/app/tests/grass_app_cli_test.py
Due: python library

fix test
  raster3d/r3.cross.rast/testsuite/test_r3_cross_rast.py
Due: none

i.oif: add test file (#6106)
  scripts/i.oif/testsuite/test_i_oif.py
Due: scripts

add omp critical block to fprintf that may cause write out conflicts
  lib/gis/percent.c
Due: lib

make the omp critical block not contain return
  lib/gis/percent.c
Due: lib

r3.info: Add JSON support (#6103)
  raster3d/CMakeLists.txt
  raster3d/r3.info/Makefile
  raster3d/r3.info/main.c
  raster3d/r3.info/r3.info.md
  raster3d/r3.info/testsuite/test_r3_info.py
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

remove the testing line to make percentage print out in the same place
  lib/gis/percent.c
Due: lib

lib/parser: Use None as default for overwrite (#6076)
  lib/gis/parser_md_python.c
Due: lib

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
