Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

Add Binder badge/button to readme (#1628)
  README.md
  doc/notebooks/example_notebook.ipynb
Due: notebooks (jupyter)

i18n: Transifex sync (#1676)
  locale/po/grasslibs_es.po
  locale/po/grasslibs_fr.po
  locale/po/grasslibs_it.po
  locale/po/grasslibs_ko.po
  locale/po/grasslibs_pt_BR.po
  locale/po/grassmods_pt_BR.po
  locale/po/grasswxpy_pt_BR.po
Due: none

r.report: add default units, change to full unit names (#1666)
  gui/wxpython/lmgr/layertree.py
  raster/r.report/parse.c
Due: gui

wxGUI: fix MapSwipe's wrong title (#1692)
  gui/wxpython/mapswipe/g.gui.mapswipe.py
Due: gui

gunittest: Exclude broken tests (#1587)
  .github/workflows/test_thorough.sh
  .gunittest.cfg
  python/grass/docs/src/gunittest_running_tests.rst
  python/grass/gunittest/invoker.py
  python/grass/gunittest/loader.py
  python/grass/gunittest/main.py
  python/grass/gunittest/reporters.py
Due: gunittest, python library

CI: Add matplotlib to apt deps (#1703)
  .github/workflows/apt.txt
Due: none

wxGUI: GetMapWindow replaced by more general method GetWindow (#1717)
  gui/wxpython/mapdisp/statusbar.py
Due: gui

wxGUI/gui_core: fix trigger 'wx.EVT_CHOICE' event if you set widget selection programatically (#1580)
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gui_core/widgets.py
Due: gui

gunittest: update module interface doctest (#1699)
  python/grass/pygrass/modules/interface/module.py
Due: pygrass, python library

ctypes: fix Callable for Python 3.10 (#1672)
  python/grass/ctypes/ctypesgencore/parser/lex.py
Due: python library

Dockerfile Debian: versionless link fix
  docker/debian/Dockerfile_debian_pdal
Due: none

gunittest: Fix stdout used instead of stderr (#1707)
  python/grass/gunittest/invoker.py
Due: gunittest, python library

g.parser: Add G_OPT_M_NPROCS (#1652)
  general/g.parser/standard_option.c
Due: none

CI: Make test report available even on failure (#1702)
  .github/workflows/ci.yml
Due: none

Add a standard option for nprocs= (G_OPT_M_NPROCS) (#1644)
  include/grass/gis.h
  lib/gis/parser_standard_options.c
Due: lib

CI: add PDAL support (#1638)
  .github/workflows/apt.txt
  .github/workflows/build.sh
Due: none

Dockerfile Ubuntu/Debian: another link fix (#1626)
  docker/debian/Dockerfile_debian_pdal
  docker/ubuntu/Dockerfile_ubuntu_pdal
Due: none

Dockerfile: only create versionless link when needed
  Dockerfile
Due: none

g.region: do not update WIND file when not needed (#1627)
  general/g.region/g.region.html
  general/g.region/main.c
Due: none

wxGUI/map display: manage wx.StatusBar widget by AUI (#1646)
  gui/wxpython/lmgr/giface.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/statusbar.py
Due: gui

wxGUI/mapdisplay: register context menu items, addresses #1691 (#1704)
  gui/wxpython/lmgr/giface.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapwin/buffered.py
Due: gui

Add session initiations functions for Jupyter Notebooks (#1629)
  .gitignore
  doc/notebooks/jupyter_integration.ipynb
  python/grass/Makefile
  python/grass/jupyter/Makefile
  python/grass/jupyter/__init__.py
  python/grass/jupyter/setup.py
Due: notebooks (jupyter), python library

wxGUI/Single-Window GUI: arrangement of basic widgets (#1621)
  gui/wxpython/main_window/frame.py
Due: gui

wxGUI: fix after changes in statusbar API (#1665)
  gui/wxpython/core/workspace.py
  gui/wxpython/lmgr/workspace.py
  gui/wxpython/mapdisp/main.py
Due: gui

Dockerfile Ubuntu: versionless link fix
  docker/ubuntu/Dockerfile_ubuntu_pdal
Due: none

wxGUI: fix wx flag assertion error in SavedRegion Dialog (#1680)
  gui/wxpython/gui_core/dialogs.py
Due: gui

Dockerfiles: remove workaround for grass-session (#1624)
  docker/alpine/Dockerfile_alpine
  docker/debian/Dockerfile_debian_pdal
  docker/ubuntu/Dockerfile_ubuntu_pdal
Due: none

Add Binder setup files (#1603)
  binder/apt.txt
  binder/postBuild
  binder/requirements.txt
  doc/notebooks/example_notebook.ipynb
Due: notebooks (jupyter)

Reduce usage of bare except (#1608)
  scripts/.flake8
  scripts/g.manual/g.manual.py
  scripts/r.plane/r.plane.py
  scripts/v.in.wfs/v.in.wfs.py
  scripts/v.to.lines/v.to.lines.py
Due: scripts

Fix source code URL when addon path starts with root path (#546) (#1645)
  utils/mkhtml.py
Due: utils

doc: update quick start instructions (#1577)
  lib/init/Makefile
  lib/init/circle_1.png
  lib/init/circle_2.png
  lib/init/circle_3.png
  lib/init/circle_4.png
  lib/init/circle_5.png
  lib/init/circle_6.png
  lib/init/grass_start.png
  lib/init/grassdb.png
  lib/init/helptext.html
  lib/init/location-add.png
  lib/init/location-download.png
  lib/init/location.png
  lib/init/mapset.png
  lib/init/raster-import.png
  lib/init/vector-import.png
Due: lib

Simplify raster band reference management (#1272)
  include/grass/defs/gis.h
  include/grass/defs/raster.h
  lib/gis/band_reference.c
  lib/raster/band_reference.c
  lib/raster/raster_metadata.c
  lib/raster/testsuite/test_raster_metadata.py
  python/grass/pygrass/raster/abstract.py
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/space_time_datasets.py
  raster/r.info/main.c
  raster/r.info/r.info.html
  raster/r.support/main.c
  raster/r.support/r.support.html
  raster/r.support/testsuite/test_r_support.py
  scripts/i.band/i.band.html
  scripts/i.band/i.band.py
  scripts/i.band/testsuite/test_i_band.py
Due: scripts, lib, pygrass, python library

INSTALL: move up the link to the Wiki notes
  INSTALL
Due: none

v.db.select: Handle all formats in option, add CSV, fix JSON (#1121)
  vector/v.db.select/main.c
  vector/v.db.select/testsuite/test_v_db_select.py
  vector/v.db.select/testsuite/test_v_db_select_json_csv.py
  vector/v.db.select/v.db.select.html
Due: none

Jupyter: Add non-interactive display (#1668)
  doc/notebooks/jupyter_integration.ipynb
  python/grass/jupyter/Makefile
  python/grass/jupyter/__init__.py
  python/grass/jupyter/display.py
  python/grass/jupyter/setup.py
Due: notebooks (jupyter), python library

WMS: replace broken URLs with alternative WMS (#1635)
  gui/wxpython/web_services/dialogs.py
Due: gui

t.remove: new implementation of flags (#1695)
  temporal/t.rast.accdetect/testsuite/test_simple.py
  temporal/t.rast.accumulate/testsuite/test_accumulation.py
  temporal/t.rast.aggregate/testsuite/test_aggregation_absolute.py
  temporal/t.rast.aggregate/testsuite/test_aggregation_absolute_parallel.py
  temporal/t.rast.aggregate/testsuite/test_aggregation_relative.py
  temporal/t.rast.algebra/testsuite/test_raster_algebra.py
  temporal/t.rast.algebra/testsuite/test_raster_algebra_granularity.py
  temporal/t.rast.algebra/testsuite/test_raster_algebra_granularity_fails.py
  temporal/t.rast.contour/testsuite/test_convert.py
  temporal/t.rast.export/testsuite/test_rast_export.py
  temporal/t.rast.extract/testsuite/test_t_rast_extract.py
  temporal/t.rast.gapfill/testsuite/test_gapfill.py
  temporal/t.rast.import/testsuite/test_temporal_rast_import.py
  temporal/t.rast.neighbors/testsuite/test_neighbors.py
  temporal/t.rast.series/testsuite/test_series.py
  temporal/t.rast.to.rast3/testsuite/test_strds_to_rast3.py
  temporal/t.rast.to.vect/testsuite/test_to_vect.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
  temporal/t.rast.what/testsuite/test_what.py
  temporal/t.rast3d.extract/testsuite/test_t_rast3d_extract.py
  temporal/t.rast3d.univar/testsuite/test_t_rast3d_univar.py
  temporal/t.remove/t.remove.html
  temporal/t.remove/t.remove.py
  temporal/t.shift/testsuite/test_shift.py
  temporal/t.snap/testsuite/test_snap.py
  temporal/t.support/testsuite/test_support_str3ds.py
  temporal/t.support/testsuite/test_support_strds.py
  temporal/t.support/testsuite/test_support_stvds.py
  temporal/t.vect.algebra/testsuite/test_vector_algebra.py
  temporal/t.vect.extract/testsuite/test_vect_extract.py
Due: none

wxGUI/vdigit: fix close settings dialog (#1394)
  gui/wxpython/mapwin/buffered.py
Due: gui

wxGUI: small refactoring of mapframe (#1669)
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/mapdisp/frame.py
Due: gui
