Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

doc: Add title field to frontmatter and remove duplicate H1 headings
  db/drivers/dbf/grass-dbf.md
  db/drivers/mysql/grass-mesql.md
  db/drivers/mysql/grass-mysql.md
  db/drivers/odbc/grass-odbc.md
  db/drivers/ogr/grass-ogr.md
  db/drivers/postgres/grass-pg.md
  db/drivers/sqlite/grass-sqlite.md
  doc/examples/gui/wxpython/g.gui.example.md
  doc/gui/wxpython/example/g.gui.example.md
  general/g.parser/g.parser.md
  gui/wxpython/animation/g.gui.animation.md
  gui/wxpython/datacatalog/g.gui.datacatalog.md
  gui/wxpython/dbmgr/g.gui.dbmgr.md
  gui/wxpython/gcp/g.gui.gcp.md
  gui/wxpython/gmodeler/g.gui.gmodeler.md
  gui/wxpython/iclass/g.gui.iclass.md
Due: gui

docs: Add title field to frontmatter and remove H1 headings
  gui/wxpython/image2target/g.gui.image2target.md
  gui/wxpython/mapswipe/g.gui.mapswipe.md
  gui/wxpython/photo2image/g.gui.photo2image.md
  gui/wxpython/psmap/g.gui.psmap.md
  gui/wxpython/rdigit/g.gui.rdigit.md
  gui/wxpython/rlisetup/g.gui.rlisetup.md
  gui/wxpython/timeline/g.gui.timeline.md
  gui/wxpython/tplot/g.gui.tplot.md
  gui/wxpython/vdigit/g.gui.vdigit.md
  raster/r.li/r.li.md
Due: gui

g.extension: add CMake support (#6878)
  CMakeLists.txt
  GRASSConfig.cmake.in
  cmake/CMakeLists.txt
  cmake/find_scripts/CMakeLists.txt
  cmake/modules/CMakeLists.txt
  cmake/modules/GRASSInstallDirs.cmake
  cmake/modules/build_addon.cmake
  include/Make/Install.make
  python/grass/app/Makefile
  python/grass/app/resource_paths.py
  python/grass/app/runtime.py
  scripts/g.extension/g.extension.py
Due: scripts, python library

cmake: consolidate docs generation, fix missing/broken parts
  CMakeLists.txt
  cmake/generate_man_pages.cmake
  cmake/modules/GRASSInstallDirs.cmake
  cmake/modules/build_gui_in_subdir.cmake
  cmake/modules/build_module.cmake
  cmake/modules/build_script_in_subdir.cmake
  cmake/modules/generate_docs.cmake
  db/CMakeLists.txt
  db/drivers/CMakeLists.txt
  display/CMakeLists.txt
  doc/CMakeLists.txt
  gui/wxpython/docs/CMakeLists.txt
  imagery/CMakeLists.txt
  lib/db/sqlp/CMakeLists.txt
  lib/init/CMakeLists.txt
  lib/vector/CMakeLists.txt
  man/CMakeLists.txt
  raster/CMakeLists.txt
  raster/r.li/CMakeLists.txt
  raster3d/CMakeLists.txt
  temporal/CMakeLists.txt
  utils/CMakeLists.txt
  vector/CMakeLists.txt
Due: gui, man, utils, lib

cmake: add LibSVM support
  CMakeLists.txt
  cmake/find_scripts/FindLibSVM.cmake
  cmake/modules/CheckDependentLibraries.cmake
  imagery/CMakeLists.txt
  include/config.h.cmake.in
Due: none

address review suggestions
  utils/CMakeLists.txt
Due: utils

Fix GUI attempting to display non-imported raster bands (fixes #6267)
  gui/wxpython/modules/import_export.py
Due: gui

cmake: consolidate docs generation, fix missing/broken parts (#6905)
  CMakeLists.txt
  cmake/generate_man_pages.cmake
  cmake/modules/GRASSInstallDirs.cmake
  cmake/modules/build_gui_in_subdir.cmake
  cmake/modules/build_module.cmake
  cmake/modules/build_script_in_subdir.cmake
  cmake/modules/generate_docs.cmake
  db/CMakeLists.txt
  db/drivers/CMakeLists.txt
  display/CMakeLists.txt
  doc/CMakeLists.txt
  gui/wxpython/docs/CMakeLists.txt
  imagery/CMakeLists.txt
  lib/db/sqlp/CMakeLists.txt
  lib/init/CMakeLists.txt
  lib/vector/CMakeLists.txt
  man/CMakeLists.txt
  raster/CMakeLists.txt
  raster/r.li/CMakeLists.txt
  raster3d/CMakeLists.txt
  temporal/CMakeLists.txt
  utils/CMakeLists.txt
  vector/CMakeLists.txt
Due: gui, man, utils, lib

cmake: add LibSVM support (#6908)
  CMakeLists.txt
  cmake/find_scripts/FindLibSVM.cmake
  cmake/modules/CheckDependentLibraries.cmake
  imagery/CMakeLists.txt
  include/config.h.cmake.in
Due: none

grass.script: Update formatting to use emphasis for parameters
  python/grass/script/raster.py
Due: python library

grass.script: Fix formatting inconsistencies in MaskManager docstring
  python/grass/script/raster.py
Due: python library

grass.script: Keep True and env vars in code formatting
  python/grass/script/raster.py
Due: python library

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

Add output formats
  vector/v.profile/main.c
  vector/v.profile/v.profile.md
Due: none

Update vector/v.profile/main.c
  vector/v.profile/main.c
Due: none

lib/raster: clean up PR-introduce style issues and normalize line endings (#6616)
  lib/raster/close.c
  lib/raster/open.c
Due: lib

r.in.pdal: fix -d flag overriding computational region resolution
  raster/r.in.pdal/main.cpp
Due: none

Fix r.in.pdal: Preserve computational region resolution with -d flag
  raster/r.in.pdal/main.cpp
Due: none

r.geomorphon: fix uninitialized memory access in main loop
  raster/r.geomorphon/main.c
Due: none

cmake: add optional dependency support for Addons
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/build_addon.cmake
  include/Make/Install.make
  python/grass/app/Makefile
  python/grass/app/resource_paths.py
  python/grass/app/runtime.py
  scripts/g.extension/g.extension.py
Due: scripts, python library

grass.script: Fix formatting inconsistencies in MaskManager docstring (#6894)
  python/grass/script/raster.py
Due: python library

Fix titles
  db/drivers/dbf/grass-dbf.md
  db/drivers/mysql/grass-mesql.md
  db/drivers/mysql/grass-mysql.md
  db/drivers/odbc/grass-odbc.md
  db/drivers/ogr/grass-ogr.md
  db/drivers/postgres/grass-pg.md
  db/drivers/sqlite/grass-sqlite.md
  doc/examples/gui/wxpython/g.gui.example.md
  doc/gui/wxpython/example/g.gui.example.md
  general/g.parser/g.parser.md
  gui/wxpython/animation/g.gui.animation.md
  gui/wxpython/datacatalog/g.gui.datacatalog.md
  gui/wxpython/dbmgr/g.gui.dbmgr.md
  gui/wxpython/gcp/g.gui.gcp.md
  gui/wxpython/gmodeler/g.gui.gmodeler.md
  gui/wxpython/iclass/g.gui.iclass.md
  gui/wxpython/image2target/g.gui.image2target.md
  gui/wxpython/mapswipe/g.gui.mapswipe.md
  gui/wxpython/photo2image/g.gui.photo2image.md
  gui/wxpython/psmap/g.gui.psmap.md
  gui/wxpython/rdigit/g.gui.rdigit.md
  gui/wxpython/rlisetup/g.gui.rlisetup.md
  gui/wxpython/timeline/g.gui.timeline.md
  gui/wxpython/tplot/g.gui.tplot.md
  gui/wxpython/vdigit/g.gui.vdigit.md
  raster/r.li/r.li.md
Due: gui

r.in.pdal: Add test for -d flag resolution preservation
  raster/r.in.pdal/testsuite/test_r_in_pdal_base_raster_resolution.py
Due: none

r.in.pdal: Simplify test for -d flag
  raster/r.in.pdal/testsuite/test_r_in_pdal_base_raster_resolution.py
Due: none

minor fixes
  cmake/modules/Configure.cmake
  cmake/modules/build_addon.cmake
  scripts/g.extension/g.extension.py
Due: scripts

fix indent
  cmake/modules/build_addon.cmake
Due: none

v.profile: Add JSON output format (#6875)
  vector/CMakeLists.txt
  vector/v.profile/Makefile
  vector/v.profile/main.c
  vector/v.profile/testsuite/test_v_profile.py
  vector/v.profile/v.profile.md
Due: none

Update grass-mesql.md
  db/drivers/mysql/grass-mesql.md
Due: none

r.in.pdal: Fix test region management
  raster/r.in.pdal/testsuite/test_r_in_pdal_base_raster_resolution.py
Due: none

r.in.pdal: Fix test import for raster_info
  raster/r.in.pdal/testsuite/test_r_in_pdal_base_raster_resolution.py
Due: none

wip: added for json format
  db/db.columns/main.c
Due: none

nitpicks: reordered to avoid code dup
  db/db.columns/main.c
Due: none

nitpicks
  db/db.columns/main.c
  vector/v.profile/main.c
Due: none

r.in.pdal: Fix test type conversion
  raster/r.in.pdal/testsuite/test_r_in_pdal_base_raster_resolution.py
Due: none

support suffix with seconds
  python/grass/temporal/datetime_math.py
Due: python library

support suffix with second
  python/grass/temporal/datetime_math.py
Due: python library

added plain -e support
  db/db.columns/main.c
  vector/v.profile/main.c
Due: none

Fix: UTM hemisphere selection defaults in Location Wizard boolean params
  gui/wxpython/location_wizard/wizard.py
Due: gui

cmake: add optional dependency support for Addons (#6925)
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/Configure.cmake
  cmake/modules/build_addon.cmake
  include/Make/Install.make
  python/grass/app/Makefile
  python/grass/app/resource_paths.py
  python/grass/app/runtime.py
  scripts/g.extension/g.extension.py
Due: scripts, python library

cmake: use proper OpenMP target
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/build_module.cmake
  lib/CMakeLists.txt
  lib/gis/CMakeLists.txt
  lib/rst/CMakeLists.txt
  raster/CMakeLists.txt
  raster/r.mapcalc/CMakeLists.txt
  raster/r.sim/CMakeLists.txt
  raster/r.univar/CMakeLists.txt
  vector/CMakeLists.txt
Due: lib
