Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

gunittest: streamline sample data title and URL
  python/grass/docs/src/gunittest_running_tests.rst
  python/grass/docs/src/gunittest_testing.rst
Due: python library

Use .text()
  temporal/t.rast3d.list/tests/t_rast3d_list_test.py
Due: none

Add gisenv() checks
  python/grass/temporal/stds_import.py
  temporal/t.rast.import/testsuite/test_temporal_rast_import.py
Due: python library

Add checks and some fixes
  temporal/t.rast3d.list/t.rast3d.list.py
Due: none

r.plane: use r.stats JSON output and drop the duplicate gunittest
  scripts/r.plane/tests/r_plane_test.py
  scripts/r.plane/testsuite/test_r_plane.py
Due: scripts

r.plane: add tests for computed plane values (#7497)
  scripts/r.plane/tests/r_plane_test.py
  scripts/r.plane/testsuite/test_r_plane.py
Due: scripts

temporal: Use temporary GISRC env instead of g.mapset for import (#7434)
  python/grass/temporal/stds_import.py
  temporal/t.rast.import/t.rast.import.py
  temporal/t.rast.import/testsuite/test_temporal_rast_import.py
Due: python library

reverted _pickleable and -html_context stuff
  python/grass/docs/conf.py
Due: python library

r.param.scale: run the LU decomposition single-threaded
  raster/r.param.scale/process.c
Due: none

t.rast3d.list: Add pytest files (#7498)
  temporal/t.rast3d.list/tests/conftest.py
  temporal/t.rast3d.list/tests/t_rast3d_list_test.py
Due: none

lib.gis: Quote YAML description in parser --md-description output
  lib/gis/parser_md.c
Due: lib

Add fixes
  python/grass/temporal/univar_statistics.py
  temporal/t.rast.univar/t.rast.univar.md
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
Due: python library

Update tests for t.rast3d.univar
  temporal/t.rast3d.univar/testsuite/test_t_rast3d_univar.py
Due: none

t.rast3d.list: Add checks and some fixes (#7527)
  temporal/t.rast3d.list/t.rast3d.list.py
Due: none

grass.jupyter: use the Tools API in reproject_latlon (#7489)
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

Apply suggested fix to raster/CMakeLists.txt from Copilot Autofix
  raster/CMakeLists.txt
Due: none

Add format options
  temporal/t.vect.db.select/t.vect.db.select.md
  temporal/t.vect.db.select/t.vect.db.select.py
Due: none

Add format option and its tests
  python/grass/temporal/list_stds.py
  temporal/t.rast3d.list/t.rast3d.list.py
  temporal/t.rast3d.list/tests/t_rast3d_list_test.py
Due: python library

man: Decode quoted YAML description in index and topic pages
  man/build_md.py
  man/build_topics.py
Due: man

use local format_
  temporal/t.info/t.info.py
Due: none

add map dataset test
  temporal/t.info/tests/test_t_info_strds.py
Due: none

add str3ds test
  temporal/t.info/tests/test_t_info_str3ds.py
Due: none

add dh-flag and map dataset test
  temporal/t.info/tests/test_t_info_stvds.py
Due: none

add dh-flag test
  temporal/t.info/tests/test_t_info_str3ds.py
Due: none

add str3ds fixure
  temporal/t.info/tests/conftest.py
Due: none

fix docstring
  temporal/t.info/tests/test_t_info_strds.py
Due: none

update GRASS sample data URL and dataset name
  python/grass/docs/src/gunittest_testing.rst
Due: python library

r.param.scale: add parallel correctness testsuite
  raster/r.param.scale/testsuite/test_r_param_scale.py
Due: none

Fix windows CI error
  temporal/t.rast3d.list/tests/t_rast3d_list_test.py
Due: none

r.param.scale: add reference-value pytest
  raster/r.param.scale/tests/conftest.py
  raster/r.param.scale/tests/r_param_scale_test.py
Due: none

Add formats
  temporal/CMakeLists.txt
  temporal/t.connect/Makefile
  temporal/t.connect/main.c
  temporal/t.connect/t.connect.md
  temporal/t.connect/testsuite/test_t_connect_formats.py
Due: none

Potential fix for code scanning alert no. 153: Incomplete URL substring sanitization
  utils/generate_release_notes.py
Due: utils

v.voronoi: fix skeleton creation (#7513)
  vector/v.voronoi/skeleton.c
Due: none

r.param.scale: enable OpenMP in the CMake build
  raster/CMakeLists.txt
Due: none

r.param.scale: use full executable paths in benchmark script
  raster/r.param.scale/benchmark/benchmark_rparamscale.py
Due: none

document JSON format
  temporal/t.info/t.info.md
Due: none

Add suggestions
  temporal/t.rast3d.list/tests/t_rast3d_list_test.py
  temporal/t.rast3d.list/testsuite/test.t.rast3d.list.sh
Due: none

cmake: Remove duplicated depends for r.out.gdal (#7536)
  raster/CMakeLists.txt
Due: none

utils: Improve email parsing when generating release notes (#7537)
  utils/generate_release_notes.py
Due: utils
