Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

sync ubuntu
  Dockerfile
Due: none

add build script
  utils/build_ubuntu_dependencies.sh
Due: utils

tests: Use db.test tool in tests (#6473)
  scripts/db.test/Makefile
  scripts/db.test/db.test.py
  scripts/db.test/tests/db_test_test.py
Due: scripts

no linebreaks
  docker/ubuntu/Dockerfile
Due: none

fullstop
  Dockerfile
Due: none

fullstop
  docker/ubuntu/Dockerfile
Due: none

tests: Add tests for error states in r.mapcalc (#6476)
  raster/r.mapcalc/tests/r_mapcalc_nprocs_test.py
Due: none

grass.app: Do env var setup in RuntimePaths
  lib/init/grass.py
  python/grass/app/runtime.py
  python/grass/app/tests/grass_app_runtime.py
  python/grass/app/tests/grass_app_runtime_test.py
  python/grass/script/setup.py
Due: lib, python library

Avoid alias and use the module name directly
  python/grass/app/runtime.py
Due: python library

Add tests for different types of path
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

Manually sync to version of RuntimePaths from #6482
  lib/init/grass.py
  python/grass/app/runtime.py
  python/grass/script/setup.py
Due: lib, python library

Test that resource paths are substituted during build
  python/grass/app/tests/grass_app_resource_paths_test.py
Due: python library

Test different file types and more paths. Normalize all paths before testing (fails on Windows otherwise)
  python/grass/app/tests/grass_app_runtime_test.py
Due: python library

Add test for GISBASE existence to the test failing in subprocess
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

Test that values are directories (for prefix only)
  python/grass/app/tests/grass_app_resource_paths_test.py
Due: python library

Apply suggestions from code review
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

Use pipe for union of types, not typing.Union
  python/grass/gunittest/reporters.py
Due: gunittest, python library

use Ninja where possible
  utils/build_ubuntu_dependencies.sh
Due: utils

support Ninja and build dependencies in stages
  docker/ubuntu/Dockerfile
Due: none

sync with ubuntu
  Dockerfile
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

build: Replace Python glob1 by glob in doc build code (#6472)
  man/build_topics.py
Due: man

Fix unchecked return value from library
  general/g.mapset/main.c
Due: none

d.grid: Fix Uninitialized Variable issue in plot.c (#6471)
  display/d.grid/plot.c
Due: none

Use -std=gnu17 and c++17 in codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Fix most shellcheck warnings by using double quotes to prevent word splitting
  utils/build_ubuntu_dependencies.sh
Due: utils

Update to newer digest of ubuntu:24.04 base image
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

Ignore additional hadolint warnings
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

CI: Update Ubuntu to 24.04 (#6430)
  .github/workflows/apt.txt
  .github/workflows/build_ubuntu-24.04.sh
  .github/workflows/build_ubuntu-24.04_without_x.sh
  .github/workflows/cmake.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverity.yml
  .github/workflows/documentation.yml
  .github/workflows/gcc.yml
  .github/workflows/pytest.yml
  .github/workflows/python-code-quality.yml
  .github/workflows/ubuntu.yml
Due: none

g.mapset: Fix unchecked return value when removing lock (#6498)
  general/g.mapset/main.c
Due: none

Apply suggestions from code review
  utils/build_ubuntu_dependencies.sh
Due: utils

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
