Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

r.geomorphon: pass search and flatness distances into calc_pattern instead of module globals
  raster/r.geomorphon/local_proto.h
  raster/r.geomorphon/main.c
  raster/r.geomorphon/pattern.c
Due: none

r.geomorphon: add thread scaling benchmark script
  raster/r.geomorphon/benchmark/benchmark_r_geomorphon.py
Due: none

r.geomorphon: address review feedback on comments, warnings, and documentation
  raster/r.geomorphon/main.c
  raster/r.geomorphon/memory.c
  raster/r.geomorphon/r.geomorphon.md
Due: none

r.geomorphon: reword the small region error message to match the fix PR
  raster/r.geomorphon/main.c
Due: none

r.geomorphon: parallelize with OpenMP using memory-bounded banding
  raster/CMakeLists.txt
  raster/r.geomorphon/Makefile
  raster/r.geomorphon/local_proto.h
  raster/r.geomorphon/main.c
  raster/r.geomorphon/memory.c
  raster/r.geomorphon/pattern.c
Due: none

docs: add lastmod to libpython sitemap entries (#7786)
  python/grass/docs/conf.py
Due: python library

r.geomorphon: replace the gunittest testsuite with pytest tests
  raster/r.geomorphon/tests/conftest.py
  raster/r.geomorphon/tests/r_geomorphon_test.py
  raster/r.geomorphon/testsuite/test_r_geom.py
Due: none

r.geomorphon: clarify the test module docstring
  raster/r.geomorphon/tests/r_geomorphon_test.py
Due: none

Add bug fixes and design changes
  python/grass/temporal/list_stds.py
  temporal/t.list/t.list.md
  temporal/t.list/t.list.py
  temporal/t.list/tests/test_t_list.py
Due: python library

Fix plain format
  temporal/t.list/t.list.py
Due: none

docs: add lastmod to libpython sitemap entries (releasebranch_8_5) (#7787)
  python/grass/docs/conf.py
Due: python library

r.proj: shorten the conftest docstring and add output-flag tests
  raster/r.proj/tests/conftest.py
  raster/r.proj/tests/r_proj_output_test.py
Due: none

r.proj: shorten the test docstrings and comments
  raster/r.proj/tests/r_proj_methods_test.py
Due: none

r.geomorphon: move compute_forms below main
  raster/r.geomorphon/main.c
Due: none

r.geomorphon: fix the memory warning and benchmark wording
  raster/r.geomorphon/main.c
  raster/r.geomorphon/r.geomorphon.md
Due: none

r.out.xyz: add bottom-to-top output option
  scripts/r.out.xyz/r.out.xyz.py
  scripts/r.out.xyz/testsuite/test_r_out_xyz.py
Due: scripts

r.stats: bump up counts storage to unsigned long long
  raster/r.stats/stats.c
Due: none

r.resamp.stats: Address review feedback on tests and benchmark
  raster/r.resamp.stats/benchmark/benchmark_r_resamp_stats_nprocs.py
  raster/r.resamp.stats/main.c
  raster/r.resamp.stats/testsuite/test_r_resamp_stats.py
Due: none

r.resamp.stats: Fix quantile option being truncated to an integer
  raster/r.resamp.stats/main.c
Due: none

r.in.pdal: Push region bounds to COPC reader
  raster/r.in.pdal/main.cpp
Due: none

r.in.pdal: Validate point_table_capacity, report edge points, add COPC tests and docs
  raster/r.in.pdal/grassrasterwriter.h
  raster/r.in.pdal/info.cpp
  raster/r.in.pdal/main.cpp
  raster/r.in.pdal/r.in.pdal.html
  raster/r.in.pdal/r.in.pdal.md
  raster/r.in.pdal/tests/conftest.py
  raster/r.in.pdal/tests/r_in_pdal_copc_test.py
Due: none

r.geomorphon: pass compute_forms parameters via structs
  raster/r.geomorphon/local_proto.h
  raster/r.geomorphon/main.c
Due: none

r.geomorphon: remove the dead nprocs check and reuse the elevation descriptor
  raster/r.geomorphon/main.c
Due: none

r.proj: add footprint grid measurement alongside the fit search
  raster/r.proj/footprint.c
  raster/r.proj/main.c
  raster/r.proj/r.proj.h
Due: none

r.proj: size band heights from the footprint grid
  raster/r.proj/footprint.c
  raster/r.proj/main.c
  raster/r.proj/r.proj.h
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

config.guess + config.sub: updated from http://git.savannah.gnu.org/cgit/config.git/plain/
  config.guess
Due: none

r.proj: size tile widths from the footprint grid
  raster/r.proj/footprint.c
  raster/r.proj/main.c
  raster/r.proj/r.proj.h
Due: none

r.proj: match the serial rounding for large integer values
  raster/r.proj/main.c
Due: none

Just reload whole mapset and remove _reloadDatasetNode
  gui/wxpython/datacatalog/tree.py
Due: gui

r.proj: remove the grid verification scaffolding
  raster/r.proj/footprint.c
  raster/r.proj/main.c
  raster/r.proj/r.proj.h
Due: none

r.proj: rename the sizing variables for clarity
  raster/r.proj/footprint.c
  raster/r.proj/main.c
  raster/r.proj/r.proj.h
Due: none

r.proj: shorten and clarify the comments
  lib/proj/do_proj.c
  raster/r.proj/interp_strip.c
  raster/r.proj/main.c
  raster/r.proj/r.proj.h
Due: lib

r.resamp.stats: Fix quantile option being truncated to an integer (#7791)
  raster/r.resamp.stats/main.c
Due: none

Cleanups and add search filter
  gui/wxpython/core/gconsole.py
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/toolbars.py
  gui/wxpython/datacatalog/tree.py
Due: gui

Apply suggestions from code review
  python/grass/temporal/open_stds.py
Due: python library

address code review
  python/grass/temporal/open_stds.py
Due: python library

Use gui_core to launch Module dialog
  gui/wxpython/core/gconsole.py
  gui/wxpython/datacatalog/tree.py
Due: gui

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
