Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

v.cluster: Update cluster_test.py for code quality
  vector/v.cluster/testsuite/cluster_test.py
Due: none

Update cluster_test.py
  vector/v.cluster/testsuite/cluster_test.py
Due: none

Updating cluster_test.py
  vector/v.cluster/testsuite/cluster_test.py
Due: none

v.cluster: vector_info error resolved
  vector/v.cluster/testsuite/cluster_test.py
Due: none

update format option for g.proj
  general/g.proj/g.proj.md
  general/g.proj/local_proto.h
  general/g.proj/main.c
  general/g.proj/output.c
  general/g.proj/testsuite/test_g_proj.py
Due: none

docker: fix various syntax warnings
  docker/alpine/Dockerfile
  docker/debian/Dockerfile
  docker/ubuntu/Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Due: none

sync docker/ubuntu/Dockerfile to Dockerfile
  Dockerfile
Due: none

docker: add package to docker image to be able to run gui (#5476)
  docker/ubuntu_wxgui/Dockerfile
Due: none

docker: fix various syntax warnings (#5481)
  Dockerfile
  docker/alpine/Dockerfile
  docker/debian/Dockerfile
  docker/ubuntu/Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Due: none

CID:1208045
  lib/raster/color_rule.c
Due: lib

init: Use context managers for opening files (#5479)
  lib/init/grass.py
Due: lib

init: Rename often shadowed internal helper function `f()` to `fw()` (#5480)
  lib/init/grass.py
Due: lib

init: Apply isort to imports (#5478)
  lib/init/grass.py
Due: lib

Update gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/photo2image/ip2i_manager.py
Due: gui

Reduce scope
  vector/v.external/proj.c
Due: none

update
  gui/wxpython/photo2image/ip2i_manager.py
Due: gui

reduce scope
  raster/r.external/proj.c
Due: none

updates
  gui/wxpython/image2target/ii2t_manager.py
Due: gui

reduce scope
  vector/v.in.ogr/proj.c
Due: none

updates
  gui/wxpython/photo2image/ip2i_manager.py
Due: gui

add link to documentation
  doc/jupyter_intro.md
Due: none

Add some more missing typing annotations
  lib/init/grass.py
Due: lib

code changes based on review
  general/g.proj/g.proj.md
  general/g.proj/main.c
Due: none

Delete vector/v.cluster/testsuite/cluster_test.py
  vector/v.cluster/testsuite/cluster_test.py
Due: none

refactor assertRasterMinMax for better readability
  python/grass/gunittest/case.py
  python/grass/gunittest/testsuite/test_assertions.py
Due: gunittest, python library

gui: add README.md and LICENSE.TXT for icons (#5387)
  gui/icons/LICENSE.TXT
  gui/icons/README.md
Due: gui

Remove leftover f.close()
  gui/wxpython/photo2image/ip2i_manager.py
Due: gui

add test file
  imagery/i.aster.toar/testsuite/test_i_aster_toar.py
Due: none

Fix import of pathlib.Path
  gui/wxpython/image2target/ii2t_manager.py
Due: gui

Pre-sort package lists to help solving the unavoidable merge conflicts
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
