Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Fix Uninitialized Variable
  vector/v.to.3d/trans3.c
Due: none

doc: Enable Markdown doc compilation
  include/Make/DB.make
  include/Make/GuiScript.make
  include/Make/Html.make
Due: none

Add compilation of multi-program directories like r.colors, r.mapcalc, and r3.flow
  include/Make/Multi.make
Due: none

Generate colortable thumbnails. This makes the script little more general and assumes that HTML will be eventually removed (the thumbnails are generated twice now, once for HTML and once of Markdown).
  raster/r.colors/Makefile
  utils/thumbnails.py
Due: utils

wxGUI: Update 'ScriptError' to be correctly imported from `grass.exceptions` (#5045)
  gui/wxpython/animation/data.py
  gui/wxpython/animation/dialogs.py
  gui/wxpython/dbmgr/vinfo.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/vselect.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/psmap/utils.py
Due: gui

Copy barscale and northarrow files for Markdown doc source
  display/d.barscale/Makefile
  display/d.northarrow/Makefile
Due: none

Presence of spaces vs underscores in key may differ between HTML and Markdown, so always do replacements.
  man/build_topics.py
Due: man

Do not add dash to visible text for keyword. Additionally, remove underscore just like in the HTML version.
  man/build_topics.py
Due: man

Add projectionintro and grass_database pages from doc dir
  doc/Makefile
Due: none

move rgb_to_hsv to color lib
  include/grass/defs/colors.h
  include/grass/defs/raster.h
  lib/gis/color_str.c
  lib/raster/json_color_out.c
  raster/r.category/main.c
Due: lib

manual: multi-tools lack short descriptions (#5041)
  general/g.setproj/g.setproj.html
  raster/r.li/r.li.html
  vector/v.lrs/lrs.html
Due: none

apply suggestions from code review
  vector/v.info/local_proto.h
  vector/v.info/parse.c
  vector/v.info/print.c
  vector/v.info/testsuite/test_vinfo.py
Due: none

d.barscale/Makefile: add EOL
  display/d.barscale/Makefile
Due: none

fixes CI issues
  vector/v.info/local_proto.h
  vector/v.info/print.c
Due: none

fixes input string processing
  vector/v.info/local_proto.h
  vector/v.info/print.c
Due: none

apply changes based on code review
  vector/v.info/print.c
Due: none

update
  pyproject.toml
  utils/generate_release_notes.py
  utils/gitlog2changelog.py
  utils/thumbnails.py
Due: utils

Addressed the review comments
  imagery/i.biomass/testsuite/test_i_biomass.py
Due: none

removed extra lines of code
  imagery/i.biomass/testsuite/test_i_biomass.py
Due: none

r.sim: properly fix turning off parallelization with mask on
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
Due: none

fix wxGUI docs
  gui/wxpython/docs/Makefile
Due: gui

fix typo
  gui/wxpython/docs/Makefile
Due: gui

enable icons
  gui/icons/Makefile
Due: gui

created the test file for v.hull
  raster/r.geomorphon/r.geomorphon.html
  vector/v.hull/testsuite/v_hull_test.py
Due: none

docs: script to convert HTML manual pages to markdown (#4620)
  utils/grass_html2md.sh
  utils/pandoc_codeblock.lua
Due: utils

created test file for v.hull
  vector/v.hull/testsuite/v_hull_test.py
Due: none

utils: Fixed ruff errors in utils/ (#5051)
  pyproject.toml
  utils/generate_release_notes.py
  utils/gitlog2changelog.py
  utils/thumbnails.py
Due: utils

wxGUI: Fixed ruff error `PTH208` in datacatalog/ (#5046)
  gui/wxpython/datacatalog/catalog.py
  pyproject.toml
Due: gui

Apply suggestions from code review
  doc/development/style_guide.md
Due: none

r.sim: properly fix turning off parallelization with mask on (#5052)
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
Due: none

fix modeler file
  gui/wxpython/gmodeler/Makefile
Due: gui

doc: fix various issues in html pages in preparation for markdown
  imagery/i.gensigset/i.gensigset.html
  imagery/i.landsat.toar/i.landsat.toar.html
  imagery/i.ortho.photo/i.ortho.init/i.ortho.init.html
  imagery/i.ortho.photo/i.ortho.rectify/i.ortho.rectify.html
  imagery/i.pca/i.pca.html
  raster/r.clump/r.clump.html
  raster/r.covar/r.covar.html
  raster/r.fill.stats/r.fill.stats.html
  raster/r.in.xyz/r.in.xyz.html
  raster/r.mapcalc/r.mapcalc.html
  scripts/g.download.project/g.download.project.html
  vector/v.decimate/v.decimate.html
  vector/v.lidar.correction/v.lidar.correction.html
  vector/v.lidar.edgedetection/v.lidar.edgedetection.html
  vector/v.lidar.growing/v.lidar.growing.html
  vector/vectorintro.html
  visualization/ximgview/ximgview.html
Due: scripts

lib/vector/Vlib: Fix Resource Leak issue in net_build.c (#5038)
  lib/vector/Vlib/net_build.c
Due: lib

Updated lua to enforce markdownlint
  .markdownlint.yml
  utils/grass_html2md.sh
  utils/pandoc_codeblock.lua
Due: utils

Fixing CFLAG for configuration on Apple ARM M1/2/3
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

fix link to grass_logo.txt
  display/d.graph/Makefile
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
