Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

CQ: Fix Ruff PLR6201: Use a set literal when testing for membership (#6528)
  gui/wxpython/gui_core/ghelp.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/iclass/plots.py
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/wxplot/histogram.py
  gui/wxpython/wxplot/profile.py
  lib/init/grass.py
  man/build.py
  man/build_full_index.py
  man/build_keywords.py
  man/parser_standard_options.py
  pyproject.toml
  python/grass/gunittest/reporters.py
  python/grass/imaging/images2gif.py
  python/grass/imaging/images2ims.py
  python/grass/imaging/images2swf.py
  python/grass/pygrass/modules/interface/parameter.py
  vector/v.colors/tests/test_v_colors.py
  vector/v.what/testsuite/test_v_what_output.py
Due: gui, man, lib, pygrass, gunittest, python library

Update grass.py
  lib/init/grass.py
Due: lib

Update grass_script_create_project_pack_test.py
  python/grass/script/tests/grass_script_create_project_pack_test.py
Due: python library

Update d.polar.py
  scripts/d.polar/d.polar.py
Due: scripts

Update r_pack_test.py
  scripts/r.pack/tests/r_pack_test.py
Due: scripts

Update create_python_init_file.py
  utils/create_python_init_file.py
Due: utils

Update globalvar.py
  gui/wxpython/core/globalvar.py
Due: gui

Update lib/init/grass.py
  lib/init/grass.py
Due: lib

Update gui/wxpython/wxplot/profile.py
  gui/wxpython/wxplot/profile.py
Due: gui

Update profile.py
  gui/wxpython/wxplot/profile.py
Due: gui

Apply suggestions from code review for os.path.join
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  python/grass/gunittest/main.py
  python/grass/script/tests/grass_script_create_project_pack_test.py
  scripts/g.extension/g.extension.py
  scripts/v.unpack/v.unpack.py
Due: gui, scripts, gunittest, python library

r.pack: Revert changes for a test that returns a permission error instead of checking if exists or not
  scripts/r.pack/r.pack.py
  scripts/r.pack/tests/r_pack_test.py
Due: scripts

lib: ensure reproducible stream of random numbers when called from multiple threads
  lib/gis/lrand48.c
  lib/gis/testsuite/test_lrand48.py
Due: lib

grass.gunittest: Exclude test files with tests ran with pytest (#6523)
  .gunittest.cfg
Due: none

new start dialog for working dir and template settings
  gui/wxpython/jupyter_notebook/dialogs.py
  gui/wxpython/jupyter_notebook/panel.py
  gui/wxpython/main_window/frame.py
  python/grass/workflows/directory.py
Due: gui, python library

configure: update to and require use of autoconf 2.72
  configure.ac
  install-sh
Due: none

i.ortho.rectify: Fix Copy into fixed size buffer issues (#6466)
  imagery/i.ortho.photo/i.ortho.rectify/main.c
  imagery/i.ortho.photo/i.ortho.rectify/target.c
Due: none

address test failures and old DB layout
  python/grass/temporal/extract.py
Due: python library

reorder ubuntu build layers for cache
  docker/ubuntu/Dockerfile
Due: none

sync with ubuntu
  Dockerfile
Due: none

generate locals only for NLS support (GUI)
  docker/ubuntu/Dockerfile
Due: none

Add typing to python/grass/tools/tests/conftest.py for tmp_path_factory
  python/grass/tools/tests/conftest.py
Due: python library

Remove wrapping pathlib.Path objects when they are already given in argument as a pathlib.Path in python/grass/tools/tests/grass_tools_session_tools_pack_test.py
  python/grass/tools/tests/grass_tools_session_tools_pack_test.py
Due: python library

switch stages instead of if
  docker/ubuntu/Dockerfile
Due: none

include GDAL-GRASS-plugin
  docker/ubuntu/Dockerfile
Due: none

Fix calling GetDbNode() method with correct grassdb param arg string type
  gui/wxpython/datacatalog/tree.py
Due: gui

Revert back removed code lines
  gui/wxpython/datacatalog/tree.py
Due: gui

[WIP] Support $BROWSER environment variable (#890)
  lib/init/grass.py
Due: lib

fix semantic label check and cleanup
  python/grass/temporal/extract.py
Due: python library

build: correctly report detected LFS state at the end of configure run
  configure
  configure.ac
Due: none

build: correctly report detected LFS state at the end of configure run (#6537)
  configure
  configure.ac
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
