Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

grass.temporal: Fix swapped rows and cols in map metadata
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/space_time_datasets.py
  python/grass/temporal/tests/grass_temporal_map_metadata_test.py
Due: python library

t.info: Add tests
  temporal/t.info/tests/conftest.py
  temporal/t.info/tests/test_t_info_backend.py
  temporal/t.info/tests/test_t_info_str3ds.py
  temporal/t.info/tests/test_t_info_strds.py
  temporal/t.info/tests/test_t_info_stvds.py
  temporal/t.info/testsuite/test.t.info.sh
Due: none

Improve STDS menu actions and reload performance
  gui/wxpython/datacatalog/tree.py
Due: gui

CI: Change codecov test result upload action on macOS & windows
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
Due: none

init: Windows does not have HOME environment variable; restrict old_mac_dir to MACOS (#7376)
  lib/init/grass.py
Due: lib

build: Skip PROJ version check on cross-compilation (#7397)
  configure
  configure.ac
Due: none

build: Skip GDAL version check on cross-compilation (#7398)
  configure
  configure.ac
Due: none

cmake: check presence of FFTW for i.zc and r.surf.fractal (#7464)
  imagery/CMakeLists.txt
  raster/CMakeLists.txt
Due: none

cmake: build MySQL driver with standard server variant (#7465)
  db/drivers/CMakeLists.txt
Due: none

packaging: Update min Python version to 3.11
  .github/workflows/pytest.yml
  .github/workflows/python-code-quality.yml
  REQUIREMENTS.md
  lib/init/grass.py
  pyproject.toml
  python/grass/script/setup.py
  utils/mkdocs.py
Due: utils, lib, python library

Apply suggested fix to raster3d/r3.out.vtk/writeVTKData.c from Copilot Autofix
  raster3d/r3.out.vtk/writeVTKData.c
Due: none

Format cmake with gersemi
  cmake/find_scripts/FindCBLAS.cmake
  cmake/find_scripts/FindLAPACKE.cmake
  cmake/modules/CheckDependentLibraries.cmake
Due: none

Define indentation for cmake files in .editorconfig to match gersemi's defaults
  .editorconfig
Due: none

Run gersemi pre-commit check before editorconfig-checker
  .pre-commit-config.yaml
Due: none

grass.utils: Fix the HTTP error message when a download fails
  python/grass/utils/download.py
Due: python library

docs: Fix reStructuredText markup in Python docstrings
  python/grass/gunittest/runner.py
  python/grass/imaging/images2avi.py
  python/grass/pydispatch/dispatcher.py
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/vector/geometry.py
  python/grass/temporal/core.py
  python/grass/tools/session_tools.py
Due: pygrass, gunittest, python library

docs: Generate libpython API docs only under the grass namespace
  .gitignore
  doc/examples/notebooks/parallelization_tutorial.ipynb
  doc/grass_projects.md
  doc/python_intro.md
  python/grass/docs/Makefile
  python/grass/docs/conf.py
  python/grass/docs/src/gunittest_testing.rst
  python/grass/docs/src/index.rst
  python/grass/docs/src/pygrass_gis.rst
  python/grass/docs/src/pygrass_index.rst
  python/grass/docs/src/pygrass_messages.rst
  python/grass/docs/src/pygrass_modules.rst
  python/grass/docs/src/pygrass_raster.rst
  python/grass/docs/src/pygrass_vector.rst
  python/grass/docs/src/script_intro.rst
  python/grass/docs/src/temporal_framework.rst
Due: notebooks (jupyter), python library

grass.utils: Limit a download to the supported URL schemes
  python/grass/utils/download.py
  scripts/g.download.project/g.download.project.html
  scripts/g.download.project/g.download.project.md
Due: scripts, python library

grass.utils: Add tests for download_and_extract
  python/grass/utils/tests/grass_utils_download_test.py
Due: python library

grass.temporal: add SQLDatabaseInterfaceConnection.add_mapset
  python/grass/temporal/core.py
  python/grass/temporal/tests/grass_temporal_fully_qualified_names_test.py
Due: python library

grass.temporal: resolve fully qualified STDS names via open_old_stds
  python/grass/temporal/open_stds.py
  python/grass/temporal/tests/grass_temporal_fully_qualified_names_test.py
Due: python library

wxGUI: Add the matplotlib hint as an exception note
  gui/wxpython/iscatt/plots.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
Due: gui

grass.gunittest: Add the module name as an exception note
  python/grass/gunittest/loader.py
Due: gunittest, python library

grass.pygrass: Add the psycopg2 hint as an exception note
  python/grass/pygrass/vector/table.py
Due: pygrass, python library

contributing: Add AGENTS.md with guidelines for AI agents (#7110)
  .claude/CLAUDE.md
  AGENTS.md
Due: none

contributing: Add AI agent instructions for writing tests (#7121)
  AGENTS.md
Due: none

contributing: Add StringIO pattern and comment banner to AI agent instructions (#7179)
  AGENTS.md
Due: none

contributing: Add more human responsibility in AI use (#7120)
  AGENTS.md
  CONTRIBUTING.md
Due: none

contributing: Point AI agents to --md-description for Python type info (#7195)
  AGENTS.md
Due: none

contributing: Improve build instructions for agents (#7603)
  AGENTS.md
Due: none

contributing: Add notes on sandbox and addon builds to AGENTS.md (#7609)
  AGENTS.md
Due: none

Checks: Configure gersemi args in precommit, and remove files filter as alrready defined by the hook supporting more cases
  .pre-commit-config.yaml
Due: none

fix path
  .claude/CLAUDE.md
Due: none

t.info: Make command history assertions platform independent
  temporal/t.info/tests/test_t_info_strds.py
Due: none
