Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

style: Format cmake files with Gersemi
  raster/CMakeLists.txt
Due: none

style: Format cmake files with Gersemi
  lib/gis/CMakeLists.txt
Due: lib

doc: cmake compilation guide
  CONTRIBUTING.md
  doc/development/building_with_cmake.md
  man/mkdocs/docs/development_intro.md
Due: man

CI: Replace softprops/action-gh-release with `gh release create`
  .github/workflows/create_release_draft.yml
Due: none

g.extension: Skip official repo query when installing from other sources
  scripts/g.extension/g.extension.py
Due: scripts

Update gui/wxpython/core/menutree.py
  gui/wxpython/core/menutree.py
Due: gui

docs: Ship the MkDocs documentation site with the installation
  CMakeLists.txt
  REQUIREMENTS.md
  include/Make/Install.make
  man/CMakeLists.txt
  man/Makefile
Due: man

style: Address issues in python/grass/temporal/stds_import.py
  python/grass/temporal/stds_import.py
Due: python library

style: Add extra typing to the new pytest tests
  temporal/t.rast.import/tests/t_rast_import_test.py
  temporal/t.vect.import/tests/t_vect_import_test.py
Due: none

man: Use build_manpages.py for the man page sweep in both builds
  man/Makefile
  man/build_manpages.py
Due: man

Add changes and improvements
  python/grass/temporal/list_stds.py
  temporal/t.list/t.list.md
  temporal/t.list/t.list.py
  temporal/t.list/tests/test_t_list.py
Due: python library

style: Quote shell variables
  .github/workflows/create_release_draft.yml
Due: none

r.cross: migrate tests from gunittest to pytest (#7635)
  raster/r.cross/tests/test_r_cross.py
  raster/r.cross/testsuite/test_cross.py
Due: none

wxGUI: fix orphaned drag image windows when dragging layers in layer tree on macOS (#7725)
  gui/wxpython/lmgr/layertree.py
Due: gui

wxGUI: Read combobox thumbnails from gui/images instead of docs
  CMakeLists.txt
  display/CMakeLists.txt
  display/d.barscale/Makefile
  display/d.northarrow/Makefile
  gui/wxpython/gui_core/widgets.py
  raster/r.colors/Makefile
Due: gui

docs: Fix reStructuredText markup in Python docstrings (#7741)
  python/grass/gunittest/runner.py
  python/grass/imaging/images2avi.py
  python/grass/pydispatch/dispatcher.py
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/vector/geometry.py
  python/grass/temporal/core.py
  python/grass/tools/session_tools.py
Due: pygrass, gunittest, python library

v.proj: fix reprojection with smax=0 from latlon (#7730)
  lib/proj/do_proj.c
  vector/v.proj/tests/conftest.py
  vector/v.proj/tests/v_proj_test.py
Due: lib

g.parser: Add test for --script output header
  general/g.parser/tests/g_parser_script_test.py
Due: none

contributing: Define "Other GRASS authors" in COPYING
  COPYING
Due: none

utils: Remove unused copywrite.pl
  utils/copywrite.pl
Due: utils

doc: Use SPDX copyright tags in style guide header templates
  doc/development/style_guide.md
Due: none

g.parser: Emit SPDX copyright header from --script
  general/g.parser/g.parser.html
  general/g.parser/g.parser.md
  lib/gis/parser_script.c
Due: lib

contributing: Use SPDX copyright tags in more complicated file headers
  imagery/i.albedo/main.c
  imagery/i.aster.toar/main.c
  imagery/i.evapo.time/main.c
  lib/gis/open_misc.c
  macos/build_grass_app.bash
  raster/r.geomorphon/main.c
  raster/r.stats.zonal/main.c
  raster/r.texture/main.c
  scripts/i.band.library/i.band.library.py
  scripts/r.out.xyz/r.out.xyz.py
  scripts/r.semantic.label/r.semantic.label.py
  scripts/r.tileset/r.tileset.py
  scripts/r3.in.xyz/r3.in.xyz.py
  scripts/v.in.e00/v.in.e00.py
  vector/v.delaunay/data_types.h
  vector/v.delaunay/edge.c
  vector/v.delaunay/edge.h
  vector/v.delaunay/geom_primitives.h
  vector/v.delaunay/geometry.c
  vector/v.delaunay/in_out.c
  vector/v.delaunay/main.c
  vector/v.delaunay/memory.c
  vector/v.perturb/main.c
  vector/v.vol.rst/dataoct.c
  vector/v.vol.rst/main.c
  vector/v.vol.rst/oct.c
  vector/v.vol.rst/user1.c
  vector/v.vol.rst/user2.c
  vector/v.vol.rst/user3.c
  vector/v.vol.rst/user4.c
  vector/v.vol.rst/vector.c
Due: scripts, lib

docs: Generate libpython API docs only under the grass namespace (#7740)
  .gitignore
  doc/examples/notebooks/parallelization_tutorial.ipynb
  doc/grass_projects.md
  doc/python_intro.md
  python/grass/docs/Makefile
  python/grass/docs/conf.py
  python/grass/docs/src/gunittest_testing.rst
  python/grass/docs/src/index.rst
  python/grass/docs/src/pygrass_gis.rst
  python/grass/docs/src/pygrass_index.rst
  python/grass/docs/src/pygrass_messages.rst
  python/grass/docs/src/pygrass_modules.rst
  python/grass/docs/src/pygrass_raster.rst
  python/grass/docs/src/pygrass_vector.rst
  python/grass/docs/src/script_intro.rst
  python/grass/docs/src/temporal_framework.rst
Due: notebooks (jupyter), python library

style: Fix raise-without-from-inside-except (B904) (#4032)
  gui/wxpython/animation/data.py
  gui/wxpython/animation/nviztask.py
  gui/wxpython/core/settings.py
  gui/wxpython/core/utils.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/toolbars.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/rdigit/controller.py
  gui/wxpython/wxgui.py
  pyproject.toml
  python/grass/gunittest/case.py
  python/grass/imaging/images2avi.py
  python/grass/pydispatch/dispatcher.py
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/rpc/base.py
  python/grass/pygrass/vector/table.py
  python/grass/script/core.py
  python/grass/script/task.py
  python/grass/script/utils.py
  python/grass/script/vector.py
  python/grass/semantic_label/reader.py
  python/grass/utils/download.py
  scripts/r.in.wms/wms_cap_parsers.py
Due: gui, scripts, pygrass, gunittest, python library

g.extension: Skip official repo query when installing from other sources (#7746)
  scripts/g.extension/g.extension.py
Due: scripts

CI: Compile segment library example modules
  .github/workflows/python-code-quality.yml
Due: none

lib/segment: Clarify Segment_open and Segment_get_row docs
  lib/segment/get_row.c
  lib/segment/open.c
Due: lib

doc: Update segment library examples to current layout and Markdown
  doc/examples/raster/r.example.segment/Makefile
  doc/examples/raster/r.example.segment/README.md
  doc/examples/raster/r.example.segment/main.c
  doc/examples/raster/r.example.segment/r.example.segment.html
  doc/examples/raster/r.example.segment/r.example.segment.md
  doc/examples/raster/r.example.segmulti/Makefile
  doc/examples/raster/r.example.segmulti/README.md
  doc/examples/raster/r.example.segmulti/main.c
  doc/examples/raster/r.example.segmulti/r.example.segmulti.html
  doc/examples/raster/r.example.segmulti/r.example.segmulti.md
  include/Make/Doxyfile_arch_html.in
  include/Make/Doxyfile_arch_latex.in
  lib/segment/segmentlib.dox
Due: lib

Skip when this instance's watches are already in place
  gui/wxpython/core/watchdog.py
Due: gui

Support both str and list
  python/grass/temporal/list_stds.py
Due: python library

grass.temporal: Address review of eval replacements
  gui/wxpython/gui_core/menu.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/tests/temporal_algebra_compare_values_test.py
Due: gui, python library

Apply suggestions from code review
  gui/wxpython/lmgr/layertree.py
Due: gui

Update gui/wxpython/lmgr/layertree.py
  gui/wxpython/lmgr/layertree.py
Due: gui

CI: Replace softprops/action-gh-release with `gh release create` (#7745)
  .github/workflows/create_release_draft.yml
Due: none

r.param.scale: Compute window size with integer math
  raster/r.param.scale/process.c
Due: none

r.geomorphon: Run reference tests in CI and deduplicate runs
  raster/r.geomorphon/testsuite/test_r_geom.py
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
