Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

updated vars
  gui/wxpython/vnet/vnet_data.py
Due: gui

Fix clang-format issues
  imagery/i.atcorr/computations.cpp
Due: none

docs: add intro text to imageryintro.html (#4536)
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  imagery/imageryintro.html
Due: gui

GUI: EPSG code source: replace epsg.io with spatialreference.org (#4535)
  gui/wxpython/location_wizard/wizard.py
  lib/init/helptext.html
Due: gui, lib

i.smap: fix possible pole error with log in extract function
  imagery/i.smap/model.c
Due: none

style: Fix FURB156: Use of hardcoded string charset
  gui/wxpython/core/utils.py
  gui/wxpython/gui_core/goutput.py
  python/grass/imaging/images2ims.py
  scripts/d.rast.edit/d.rast.edit.py
Due: gui, scripts, python library

Update t.rast.aggregate.py
  temporal/t.rast.aggregate/t.rast.aggregate.py
Due: none

r3.in.v5d,r3.out.v5d: Deprecate CRAY HW specific code
  raster3d/r3.in.v5d/binio.c
  raster3d/r3.in.v5d/binio.h
  raster3d/r3.in.v5d/v5d.c
  raster3d/r3.in.v5d/v5d.h
  raster3d/r3.out.v5d/binio.c
  raster3d/r3.out.v5d/binio.h
  raster3d/r3.out.v5d/v5d.c
  raster3d/r3.out.v5d/v5d.h
Due: none

Add event.Veto check and call
  gui/wxpython/modules/import_export.py
Due: gui

Add author note
  gui/wxpython/modules/import_export.py
Due: gui

i.atcorr: fix out of bound access in trunca, os and iso (#4493)
  imagery/i.atcorr/computations.cpp
Due: none

git commit -m "Remove empty line as suggested by ruff"
  python/grass/jupyter/map3d.py
Due: notebooks (jupyter), python library

wxGUI: Fixed F841 in vnet/ (#4543)
  .flake8
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/toolbars.py
  gui/wxpython/vnet/vnet_core.py
  gui/wxpython/vnet/vnet_data.py
  gui/wxpython/vnet/vnet_utils.py
  gui/wxpython/vnet/widgets.py
Due: gui

tests: Call t.remove and g.remove once with multiple inputs as list (#4523)
  imagery/i.gensig/testsuite/test_i_gensig.py
  imagery/i.maxlik/testsuite/test_i_maxlik.py
  imagery/i.vi/testsuite/test_vi.py
  lib/imagery/testsuite/test_imagery_sigfile.py
  lib/imagery/testsuite/test_imagery_sigsetfile.py
  raster/r.contour/testsuite/test_r_contour.py
  raster/r.in.pdal/testsuite/test_r_in_pdal_binning.py
  raster/r.in.pdal/testsuite/test_r_in_pdal_selection.py
  raster/r.kappa/testsuite/test_r_kappa.py
  raster/r.mfilter/benchmark/benchmark_r_mfilter_nprocs.py
  raster/r.neighbors/benchmark/benchmark_r_neighbors_nprocs.py
  raster/r.random/testsuite/test_r_random.py
  raster/r.resamp.filter/benchmark/benchmark_r_resamp_filter.py
  raster/r.resamp.interp/benchmark/benchmark_r_resamp_interp.py
  raster/r.series/benchmark/benchmark_r_series.py
  raster/r.slope.aspect/benchmark/benchmark_r_slope_aspect.py
  raster/r.slope.aspect/benchmark/benchmark_r_slope_aspect_memory.py
  raster/r.tile/testsuite/test_r_tile.py
  raster/r.univar/benchmark/benchmark_r_univar.py
  raster/r.univar/testsuite/test_r_univar.py
  raster3d/r3.null/testsuite/test.r3.null.sh
  scripts/r.mapcalc.simple/testsuite/test_rmapcalcsimple.py
  scripts/r.reclass.area/testsuite/test_r_reclass_area.py
  scripts/v.rast.stats/testsuite/test_v_rast_stats.py
  temporal/t.rast.accdetect/testsuite/test_simple.py
  temporal/t.rast.accumulate/testsuite/test_accumulation.py
  temporal/t.rast.series/testsuite/test_series.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
  temporal/t.topology/test.t.topology.reltime.sh
  temporal/t.vect.extract/test.t.vect.extract.sh
  utils/thumbnails.py
  vector/v.random/testsuite/test_v_random.py
  vector/v.surf.rst/benchmark/benchmark_v_surf_rst.py
  vector/v.surf.rst/benchmark/benchmark_v_surf_rst_cv.py
Due: utils, scripts, lib

gui: Add fix for wxGUI Data import Python error (#4504)
  gui/wxpython/modules/import_export.py
Due: gui

fixed 722
  .flake8
  gui/wxpython/modules/colorrules.py
  gui/wxpython/modules/histogram.py
  gui/wxpython/modules/import_export.py
  gui/wxpython/modules/mcalc_builder.py
Due: gui

solve multi-line-implicit-string-concatenation (ISC002)
  man/parser_standard_options.py
Due: man

fixed e266
  .flake8
  gui/wxpython/nviz/tools.py
Due: gui

fixed e266
  .flake8
  temporal/t.rast.what/t.rast.what.py
Due: none

fixed 721
  .flake8
  python/grass/gunittest/invoker.py
Due: gunittest, python library

apply black
  man/build_keywords.py
Due: man

fixed 721
  .flake8
Due: none

removed code
  gui/wxpython/nviz/tools.py
Due: gui

added attribute error
  gui/wxpython/modules/import_export.py
Due: gui

fixed e265
  .flake8
  temporal/t.rast.what/t.rast.what.py
Due: none

docs: Fixed E721 in gunittest/ (#4549)
  .flake8
  python/grass/gunittest/invoker.py
Due: gunittest, python library

fix and skip large test
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
Due: none

wxGUI: Fixed E266 in nviz/ (#4547)
  .flake8
  gui/wxpython/nviz/tools.py
Due: gui

updated
  gui/wxpython/modules/histogram.py
  gui/wxpython/modules/import_export.py
Due: gui

update flake8
  .flake8
Due: none

refactor: remove return from show() and use display() for inline rendering
  python/grass/jupyter/map.py
  python/grass/jupyter/map3d.py
Due: notebooks (jupyter), python library

Removed empty line as suggested by ruff
  python/grass/jupyter/map3d.py
Due: notebooks (jupyter), python library

style: reformat import statements as suggested by black
  python/grass/jupyter/map3d.py
Due: notebooks (jupyter), python library

Fix formatting of imports and remove duplicate display line
  python/grass/jupyter/map3d.py
Due: notebooks (jupyter), python library

Update .pylintrc: fix overgeneral-exceptions and remove no-self-use option.
  .pylintrc
  python/grass/jupyter/map.py
  python/grass/jupyter/map3d.py
Due: notebooks (jupyter), python library

git commit -m "Fix formatting issues in parsetab.py"
  .pylintrc
  python/grass/jupyter/map.py
  python/grass/jupyter/map3d.py
Due: notebooks (jupyter), python library

Fix import organization based on review suggestion
  python/grass/jupyter/map.py
Due: notebooks (jupyter), python library

Fix import organization based on review suggestion
  python/grass/jupyter/map3d.py
Due: notebooks (jupyter), python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
