Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

Reduced stdout and stderr outputs
  vector/v.decimate/tests/test_v_decimate.py
Due: none

Update sql.html
  lib/db/sqlp/sql.html
Due: lib

CI(pytest): Upload test results to Codecov for test analytics (#6126)
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/pytest_args_ci.txt
  .gitignore
Due: none

Fix Ruff RET505 [*] Unnecessary after statement error
  gui/wxpython/startup/locdownload.py
Due: gui

Fix showing info bar message Abort button widget
  gui/wxpython/datacatalog/infomanager.py
  gui/wxpython/gui_core/infobar.py
  gui/wxpython/startup/locdownload.py
Due: gui

Refactor tests
  gui/wxpython/startup/locdownload.py
Due: gui

Fix tests
  gui/wxpython/startup/locdownload.py
Due: gui

Incorporate suggestion
  gui/wxpython/startup/locdownload.py
Due: gui

wxGUI/locdownload: show progress of downloading new location as Data Catalog info bar message
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/infomanager.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/startup/guiutils.py
  gui/wxpython/startup/locdownload.py
Due: gui

Revert "Fix tests"
  gui/wxpython/startup/locdownload.py
Due: gui

Removed problematic test cases.
  vector/v.decimate/tests/test_v_decimate.py
Due: none

mention skipping of checks in manual
  raster/r.out.gdal/r.out.gdal.html
Due: none

Used v_info instead of g_list
  vector/v.decimate/tests/test_v_decimate.py
Due: none

Removed helper function for better readability.
  vector/v.decimate/tests/test_v_decimate.py
Due: none

Added match for pytest.raise
  vector/v.decimate/tests/test_v_decimate.py
Due: none

Removed a test for future implementation
  vector/v.decimate/tests/test_v_decimate.py
Due: none

Used SimpleNamespace
  vector/v.decimate/tests/test_v_decimate.py
Due: none

r.distance: add JSON and CSV support
  raster/CMakeLists.txt
  raster/r.distance/Makefile
  raster/r.distance/defs.h
  raster/r.distance/parse.c
  raster/r.distance/r.distance.md
  raster/r.distance/report.c
  raster/r.distance/testsuite/test_distance.py
Due: none

add json output in documentation
  vector/v.what.rast/v.what.rast.md
Due: none

add quotes for colors in csv format
  raster/r.profile/read_rast.c
  raster/r.profile/testsuite/test_profile_ncspm.py
Due: none

Translated using Weblate (Swedish)
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_sv.po
Due: none

Translations update from OSGeo Weblate (#6189)
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_sv.po
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

lib/imagery: Fix Resource Leak Issue in iscatt_core.c (#6102)
  lib/imagery/iscatt_core.c
Due: lib

d.vect: Fix Copy into fixed buffer size issues (#6138)
  display/d.vect/legend.c
  display/d.vect/main.c
Due: none

remove EOL whitespace
  raster/r.out.gdal/r.out.gdal.html
Due: none

i.smap: fix possible pole error with log in extract function (#4499)
  imagery/i.smap/model.c
Due: none

Apply ruff fixes
  scripts/r.reclass.area/r.reclass.area.py
Due: scripts

Apply PR review suggestions to avoid translating a string created by parts
  scripts/r.reclass.area/r.reclass.area.py
Due: scripts
