Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

wxGUI/mapdisp: Replace CRLF by LF in properties.py (#2148)
  gui/wxpython/mapdisp/properties.py
Due: gui

wxGUI: statusbar does have to have the region property (#2106)
  gui/wxpython/mapdisp/statusbar.py
Due: gui

r.quantile, r.stats.quantile, lib/stats: fix quantile algorithm (#2108)
  lib/stats/c_percentile.c
  raster/r.neighbors/testsuite/test_r_neighbors.py
  raster/r.quantile/main.c
  raster/r.quantile/r.quantile.html
  raster/r.stats.quantile/main.c
  raster/r.stats.quantile/r.stats.quantile.html
Due: lib

Replace CRLF by LF in color table, test, license (#2147)
  lib/external/ccmath/lgpl.license
  lib/gis/colors/nlcd
  vector/v.random/testsuite/test_v_random.py
Due: lib

g.extension: remove build_platform (only 64bit provided on MS Windows) (#2102)
  scripts/g.extension/g.extension.py
Due: scripts

.github/workflows/osgeo4w.yml: bump GRASS GIS executable version to 8.1 (#2083)
  .github/workflows/osgeo4w.yml
Due: none

utils/mkhtml.py: get and set git commit and commit date in addon manual page (#2100)
  lib/init/variables.html
  scripts/g.extension/g.extension.py
  utils/mkhtml.py
Due: utils, scripts, lib

v.rast.stats: note about vector overlap limitation (#1730)
  scripts/v.rast.stats/v.rast.stats.html
Due: scripts

ctypesgen: remove unnamed zero bit sized structure members (#2079)
  python/libgrass_interface_generator/README.md
  python/libgrass_interface_generator/ctypesgen/printer_python/printer.py
Due: none

wxGUI/gui_core: fix right mouse click on the root tree node to invoke menu (#2119)
  gui/wxpython/gui_core/query.py
Due: gui

i.atcorr: Replace CRLF by LF in sensor CSVs (#2149)
  imagery/i.atcorr/sensors_csv/geoeye1.csv
  imagery/i.atcorr/sensors_csv/sentinel_2A_msi.csv
Due: none

scripts/g.extension: disable checking multi-addon addons metadata (#2090)
  scripts/g.extension/g.extension.py
Due: scripts

CONTRIBUTING.md: describe the fork process more in detail
  CONTRIBUTING.md
Due: none

CI: Add check for CRLF line endings (#2144)
  .github/workflows/additional_checks.yml
Due: none

grass.spec: update to GRASS GIS 8.0.0 (#2098)
  rpm/grass.spec
Due: none

wxGUI: Use Map Display settings in other Map Display applications (#2155)
  doc/gui/wxpython/example/frame.py
  gui/wxpython/core/workspace.py
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gcp/toolbars.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/gui_core/toolbars.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/iclass/toolbars.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/image2target/ii2t_toolbars.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/properties.py
  gui/wxpython/mapdisp/statusbar.py
  gui/wxpython/mapdisp/toolbars.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/mapswipe/toolbars.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
  gui/wxpython/photo2image/ip2i_toolbars.py
Due: gui

CI: Add Flake8 check for selected tests (#2199)
  .github/workflows/flake8.yml
  python/grass/jupyter/testsuite/grassrenderer_test.py
  python/grass/jupyter/testsuite/interactivemap_test.py
  python/grass/script/testsuite/test_start_command_functions.py
  python/grass/script/testsuite/test_start_command_functions_nc.py
Due: notebooks (jupyter), python library

fix -Wself-assign compiler warnings (#2162)
  lib/arraystats/class.c
Due: lib

odbc driver: fix pointer-sign compiler warrnings (#2086)
  db/drivers/odbc/create_table.c
  db/drivers/odbc/cursor.c
  db/drivers/odbc/db.c
  db/drivers/odbc/describe.c
  db/drivers/odbc/execute.c
  db/drivers/odbc/listdb.c
  db/drivers/odbc/listtab.c
  db/drivers/odbc/select.c
  db/drivers/odbc/table.c
  visualization/ximgview/main.c
Due: none

fix -Wunused-const-variable compiler warnings (#2159)
  raster/r.terraflow/sweep.cpp
Due: none

wxGUI: fix statusbar mode index for GetMode method (#2190)
  gui/wxpython/gcp/manager.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/photo2image/ip2i_manager.py
Due: gui

pytest: Add very basic config to run pytest (#2183)
  .github/workflows/pytest.yml
  .github/workflows/python_apt.txt
  .github/workflows/python_requirements.txt
  pyproject.toml
  python/grass/script/tests/utils_test.py
Due: python library

r.watershed: Keep 0 accumulation with -a as 0 as opposed to null (#2169)
  raster/r.watershed/ram/close_maps.c
  raster/r.watershed/seg/close_maps.c
Due: none

Fix -Wunused-variable compiler warnings (#2158)
  display/d.grid/plot.c
  display/d.histogram/main.c
  display/d.where/main.c
  general/g.parser/translate.c
  general/g.region/printwindow.c
  imagery/i.aster.toar/main.c
  imagery/i.eb.hsebal01/main.c
  imagery/i.eb.netrad/main.c
  imagery/i.eb.netrad/r_net.c
  imagery/i.emissivity/main.c
  imagery/i.evapo.time/main.c
  imagery/i.ortho.photo/i.ortho.elev/main.c
  imagery/i.ortho.photo/i.ortho.photo/menu.c
  lib/gis/locale.c
  lib/gis/make_loc.c
  lib/gis/parser_json.c
  lib/imagery/manage_signatures.c
  lib/proj/do_proj.c
  lib/raster/init.c
  lib/vector/Vlib/intersect2.c
  lib/vector/Vlib/overlay.c
  lib/vector/diglib/update.c
  raster/r.fill.stats/main.c
  raster/r.geomorphon/main.c
  raster/r.kappa/prt2csv_mat.c
  raster/r.random.surface/init.c
  raster/r.sim/r.sim.water/main.c
  raster/r.support/check.c
  raster/r.viewshed/grass.cpp
  raster/r.watershed/seg/slope_len.c
  raster3d/r3.null/main.c
  raster3d/r3.to.rast/main.c
  vector/v.extract/main.c
  vector/v.info/parse.c
  vector/v.out.ogr/export_areas.c
  vector/v.overlay/area_area.c
  vector/v.to.rast/support.c
  vector/v.vol.rst/user1.c
Due: lib

grass.benchmark: Use UTF-8 for text files (#2201)
  python/grass/benchmark/results.py
Due: python library

Fix some code scanning CodeQL overflow warnings (#2168)
  lib/ogsf/gs3.c
  raster3d/r3.in.v5d/v5d.c
  raster3d/r3.out.v5d/v5d.c
Due: lib

t.rast.neighbors: transfer semantic label (#2218)
  temporal/t.rast.neighbors/t.rast.neighbors.html
  temporal/t.rast.neighbors/t.rast.neighbors.py
Due: none

grass.benchmark: shuffle runs for benchmarking by number of cores (#2152)
  python/grass/benchmark/runners.py
Due: python library

wxGUI: update statusbar when projection settings checkbox has been toggled (#2178)
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/mapwin/base.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
Due: gui

contributors.csv: added new ORCID column (#2177)
  contributors.csv
  gui/wxpython/gui_core/ghelp.py
Due: gui

grass.gunittest: Use more Python 3 style code (#2181)
  python/grass/gunittest/main.py
Due: gunittest, python library

howto_release.md: forwardport notes from relbranch (#2237)
  doc/howto_release.md
Due: none

grass.gunittest: Set max time (timeout) per test (#2172)
  .gunittest.cfg
  python/grass/gunittest/invoker.py
  python/grass/gunittest/main.py
  python/grass/gunittest/reporters.py
Due: gunittest, python library

howto_release.md: sync to release_branch_8_0 (#2195)
  doc/howto_release.md
Due: none

t.rast.mapcalc: transfer semantic label (#2219)
  python/grass/temporal/mapcalc.py
  temporal/t.rast.mapcalc/t.rast.mapcalc.html
Due: python library

r.colors: fix order of rules (#2167)
  raster/r.colors/rules.c
Due: none

singularity: Minor fixes of definition file (#2179)
  singularity/debian/singularityfile_debian
Due: none

grass.jupyter: Add docstrings, f-strings, fix var names, imports (#2200)
  python/grass/benchmark/runners.py
  python/grass/jupyter/display.py
  python/grass/jupyter/interact_display.py
  python/grass/jupyter/region.py
  python/grass/jupyter/render3d.py
  python/grass/jupyter/setup.py
  python/grass/jupyter/testsuite/grassrenderer_test.py
  python/grass/jupyter/testsuite/interactivemap_test.py
  python/grass/jupyter/testsuite/test_render3d.py
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

grass.gunittest: Add --config parameter (#2182)
  python/grass/gunittest/main.py
Due: gunittest, python library
