Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

Add tests for numpy and pack workflows
  python/grass/experimental/tests/grass_standalone_tools_test.py
Due: python library

i.ortho.elev: add test file (#5833)
  imagery/i.ortho.photo/i.ortho.elev/testsuite/test_i_ortho_elev.py
Due: none

docs: Use double backticks for inline code style in grass.script.core.read_command()
  python/grass/script/core.py
Due: python library

docs: Configure intersphinx to reference Python's and NumPy's docs (#5861)
  python/grass/app/data.py
  python/grass/docs/conf.py
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/setup.py
Due: python library

address review comments
  general/g.version/g.version.md
  general/g.version/main.c
  general/g.version/tests/g_version_test.py
Due: none

add test file
  imagery/i.eb.netrad/testsuite/test_i_eb_netrad.py
Due: none

i.group: add json support
  imagery/CMakeLists.txt
  imagery/i.group/Makefile
  imagery/i.group/i.group.md
  imagery/i.group/main.c
  imagery/i.group/testsuite/test_i_group.py
Due: none

fix key error
  imagery/i.eb.netrad/testsuite/test_i_eb_netrad.py
Due: none

docs: Various docstring fixes related to parameter markup (#5869)
  gui/wxpython/iscatt/dialogs.py
  python/grass/grassdb/history.py
  python/grass/jupyter/interactivemap.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/geometry.py
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
  python/grass/script/utils.py
  python/grass/temporal/base.py
  python/grass/temporal/core.py
  python/grass/temporal/stds_export.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_raster_base_algebra.py
Due: gui, pygrass, notebooks (jupyter), python library

add test file
  imagery/i.ortho.photo/i.ortho.init/testsuite/test_i_ortho_init.py
Due: none

disable buggy test
  imagery/i.ortho.photo/i.ortho.init/testsuite/test_i_ortho_init.py
Due: none

disable md046 linter in docs
  general/g.version/g.version.md
Due: none

build: Add missing LIBM links for cmake (#5832)
  imagery/i.ortho.photo/CMakeLists.txt
  lib/CMakeLists.txt
Due: lib

address review comments
  raster/r.info/main.c
  raster/r.info/r.info.md
  raster/r.info/testsuite/test_r_info.py
Due: none

update verbose message
  raster/r.info/main.c
Due: none

update json schema
  imagery/i.group/i.group.md
  imagery/i.group/main.c
  imagery/i.group/testsuite/test_i_group.py
Due: none

docs: Use more crossrefs in grass.script.core (#5868)
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/find.py
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
Due: pygrass, python library

r.univar: Fix uninitialized zone_value (#5821)
  raster/r.univar/stats.c
Due: none
