Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Update pylint to 4.1.2
  .github/workflows/python-code-quality.yml
Due: none

r.sim: Lock the infiltration capacity of a cell (#8001)
  raster/r.sim/r.sim.water/tests/r_sim_water_nprocs_test.py
  raster/r.sim/simlib/hydro.c
Due: none

r.sim: Write time series maps at their output step times (#8003)
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/tests/r_sim_water_summary_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_time_series_test.py
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
  raster/r.sim/simlib/output.c
  raster/r.sim/simlib/simlib.h
Due: none

libgis: Take and return int64_t in the random number layout functions
  include/grass/defs/gis.h
  lib/gis/lrand48.c
Due: lib

libgis: Use int64_t in the examples of the random numbers page
  lib/gis/random_streams.dox.md
Due: lib

r.sim: Hold the seed as int64_t
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/simlib/random.c
  raster/r.sim/simlib/simlib.h
Due: none

wxGUI: Store history region in g.region JSON format (#7973)
  gui/wxpython/history/browser.py
  python/grass/grassdb/history.py
Due: gui, python library

wxGUI: Fix tracebacks split into many lines in console
  gui/wxpython/core/gconsole.py
Due: gui

grass.pygrass: Raise GrassError and TypeError in RasterAbstractBase
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/raster/testsuite/test_pygrass_raster.py
Due: pygrass, python library

CI: Reject hidden Unicode characters and remove soft hyphens
  .pre-commit-config.yaml
  imagery/i.svm.predict/i.svm.predict.html
  imagery/i.svm.predict/i.svm.predict.md
  imagery/i.svm.train/i.svm.train.html
  imagery/i.svm.train/i.svm.train.md
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

grass.pygrass: Raise OpenError in RasterSegment.open when map exists
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/raster/testsuite/test_pygrass_raster.py
Due: pygrass, python library

libvector: Use the same plural string for vertices registered in build_sfa.c
  lib/vector/Vlib/build_sfa.c
Due: lib

locale: Sort the input file lists for xgettext
  locale/Makefile
Due: none

build: Create output directory before generating resource_paths.py
  python/grass/app/Makefile
Due: python library

build: Create output directory before generating resource_paths.py (#8009)
  python/grass/app/Makefile
Due: python library

lib/gis: Fix "implicit conversion loses integer precision" warnings (#7947)
  lib/gis/aprintf.c
  lib/gis/cmprzlib.c
  lib/gis/cmprzstd.c
  lib/gis/color_rules.c
  lib/gis/compress.c
  lib/gis/error.c
  lib/gis/file_name.c
  lib/gis/getl.c
  lib/gis/ls.c
  lib/gis/make_loc.c
  lib/gis/parser.c
  lib/gis/parser_dependencies.c
  lib/gis/parser_help.c
  lib/gis/progrm_nme.c
  lib/gis/strings.c
Due: lib

lib/raster: Fix "Implicit conversion loses integer precision" warnings (#7950)
  lib/raster/cats.c
  lib/raster/get_row.c
  lib/raster/get_row_colr.c
  lib/raster/history.c
  lib/raster/null_val.c
  lib/raster/open.c
  lib/raster/put_row.c
  lib/raster/reclass.c
Due: lib

libgis: Add reproducible random numbers for parallel tools (#7979)
  include/grass/defs/gis.h
  include/grass/gis.h
  lib/gis/lrand48.c
  lib/gis/tests/lib_gis_lrand48_test.py
  lib/init/variables.html
  lib/init/variables.md
Due: lib

r.sim.water: Describe the locked infiltration in the nprocs note
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
Due: none

Bound the buffers G_get_datumparams_from_projinfo writes into
  general/g.setproj/main.c
  include/grass/defs/gis.h
  lib/gis/datum.c
  lib/gis/proj3.c
Due: lib

Translation: Use complete source strings in more Python code
  gui/wxpython/core/settings.py
  gui/wxpython/gcp/toolbars.py
  gui/wxpython/gmodeler/model_items.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/iclass/toolbars.py
  gui/wxpython/image2target/ii2t_toolbars.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/mapwin/analysis.py
  gui/wxpython/photo2image/ip2i_toolbars.py
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/frame.py
  python/grass/temporal/core.py
  python/grass/temporal/temporal_algebra.py
  scripts/m.proj/m.proj.py
  scripts/r.in.srtm/r.in.srtm.py
  scripts/r.in.wms/wms_drv.py
  scripts/v.rast.stats/v.rast.stats.py
  scripts/v.what.strds/v.what.strds.py
Due: gui, scripts, python library

r.reclass.area: Translate complete messages instead of fragments
  scripts/r.reclass.area/r.reclass.area.py
Due: scripts

r.in.wms: Translate capabilities error as one message
  scripts/r.in.wms/wms_base.py
Due: scripts

wxGUI: Use complete translatable strings instead of fragments
  gui/wxpython/core/render.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/rlisetup/wizard.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/wxplot/scatter.py
Due: gui

i18n: Use descriptive placeholder names and share the t.vect.what.strds column message
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/gselect.py
  scripts/r.in.srtm/r.in.srtm.py
  scripts/r.in.wms/wms_drv.py
  temporal/t.vect.what.strds/t.vect.what.strds.py
Due: gui, scripts

lib/gis: avoid overflow in lrand48 jump arithmetic
  lib/gis/lrand48.c
Due: lib

i.oif: Sort NaN results last and fix pygrass doctest for numpy 2
  python/grass/pygrass/utils.py
  scripts/i.oif/i.oif.py
  scripts/i.oif/testsuite/test_i_oif.py
Due: scripts, pygrass, python library

grass/raster: guard compressed row memcpy size
  lib/raster/get_row.c
Due: lib

doc: Fix typos in code, comments and templates
  gui/xml/grass-interface.dtd
  include/grass/iostream/pqheap.h
  lib/cdhc/doc/goodness.tex
  ps/ps.map/README
  python/grass/docs/_templates/header.html
  python/grass/tools/session_tools.py
Due: gui, ps, lib, python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
