Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

g.extension: support alternative addon servers on MS-Windows
  scripts/g.extension/g.extension.html
  scripts/g.extension/g.extension.md
  scripts/g.extension/g.extension.py
Due: scripts

some tweaks
  scripts/g.extension/g.extension.html
  scripts/g.extension/g.extension.md
  scripts/g.extension/g.extension.py
Due: scripts

Apply suggestions from code review
  scripts/g.extension/g.extension.html
  scripts/g.extension/g.extension.md
  scripts/g.extension/g.extension.py
Due: scripts

CI: use parallel make whenever possible
  .github/workflows/build_ubuntu-22.04.sh
  .github/workflows/build_ubuntu-22.04_without_x.sh
  .github/workflows/build_ubuntu-24.04.sh
  .github/workflows/build_ubuntu-24.04_without_x.sh
  .github/workflows/documentation.yml
  .github/workflows/gcc.yml
Due: none

temporal: add explicit return True in shift() (#7231)
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

t.rast.mapcalc: migrate additional shell test to pytest (#6967)
  temporal/t.rast.mapcalc/test.t.rast.mapcalc.operators.sh
  temporal/t.rast.mapcalc/test.t.rast.mapcalc.sh
  temporal/t.rast.mapcalc/tests/conftest.py
  temporal/t.rast.mapcalc/tests/test_t_rast_mapcalc_basic.py
  temporal/t.rast.mapcalc/tests/test_t_rast_mapcalc_operators.py
Due: none

doc: change documentation site name to include only major and minor version
  .github/workflows/documentation.yml
Due: none

Fix for Imprecise assert
  python/grass/pygrass/vector/testsuite/test_geometry.py
Due: pygrass, python library

Fix for Imprecise assert
  temporal/t.rename/testsuite/test_t_rename.py
Due: none

Fix for Imprecise assert
  imagery/i.gensig/testsuite/test_i_gensig.py
Due: none

Fix for Imprecise assert
  lib/init/testsuite/test_grass_tmp_mapset.py
Due: lib

Fix for Imprecise assert
  lib/imagery/testsuite/test_imagery_signature_management.py
Due: lib

Fix for Imprecise assert
  raster/r.smooth.edgepreserve/testsuite/test_r_smooth_edgepreserve.py
Due: none

Fix for Imprecise assert
  imagery/i.svm.train/testsuite/test_i_svm_train.py
Due: none

add pure pytest
  vector/v.overlay/tests/test_v_overlay.py
Due: none

lib/raster: read vrt tile only if needed (#7334)
  lib/raster/vrt.c
Due: lib

Add changes
  raster/r.geomorphon/profile.c
  raster/r.geomorphon/testsuite/test_r_geom.py
Due: none

Apply suggested fix to raster/r.smooth.edgepreserve/testsuite/test_r_smooth_edgepreserve.py from Copilot Autofix
  raster/r.smooth.edgepreserve/testsuite/test_r_smooth_edgepreserve.py
Due: none

Fix for Imprecise assert
  imagery/i.svm.predict/testsuite/test_i_svm_predict.py
Due: none

Apply suggested fix to imagery/i.gensig/testsuite/test_i_gensig.py from Copilot Autofix
  imagery/i.gensig/testsuite/test_i_gensig.py
Due: none

Potential fixes for 5 code quality findings
  lib/imagery/testsuite/test_imagery_signature_management.py
Due: lib

Fix for Imprecise assert
  python/grass/pygrass/vector/testsuite/test_geometry_attrs.py
Due: pygrass, python library

tests: Fix imprecise assert (#7391)
  imagery/i.gensig/testsuite/test_i_gensig.py
  imagery/i.svm.predict/testsuite/test_i_svm_predict.py
  imagery/i.svm.train/testsuite/test_i_svm_train.py
  lib/imagery/testsuite/test_imagery_signature_management.py
  lib/init/testsuite/test_grass_tmp_mapset.py
  python/grass/pygrass/vector/testsuite/test_geometry.py
  python/grass/pygrass/vector/testsuite/test_geometry_attrs.py
  raster/r.smooth.edgepreserve/testsuite/test_r_smooth_edgepreserve.py
  temporal/t.rename/testsuite/test_t_rename.py
Due: lib, pygrass, python library

doc: change documentation site name to include only major and minor version (#7390)
  .github/workflows/documentation.yml
Due: none

doc: Fix bugs in Python introduction and interfaces overview examples (#7359)
  doc/interfaces_overview.md
  doc/python_intro.md
Due: none

Fix for Wrong name for an argument in a call
  gui/wxpython/vnet/vnet_core.py
Due: gui

Fix for Wrong number of arguments in a call
  gui/wxpython/vdigit/main.py
Due: gui

Fix for Wrong number of arguments in a call
  python/grass/pygrass/vector/table.py
Due: pygrass, python library
