Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

ignore "-Wpedantic" with use of __int128
  lib/gis/lrand48.c
Due: lib

check 'n > fcb->nbytes', according to review suggestion
  lib/raster/get_row.c
Due: lib

Translated using Weblate (French)
  locale/po/grasslibs_fr.po
  locale/po/grasslibs_sv.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_sv.po
  locale/po/grasswxpy_fr.po
Due: none

lib/imagery: Fix "Implicit conversion loses integer precision" warnings
  lib/imagery/iscatt_core.c
  lib/imagery/list_gp.c
  lib/imagery/list_subgp.c
  lib/imagery/loc_info.c
  lib/imagery/manage_signatures.c
  lib/imagery/sig.c
  lib/imagery/sigset.c
Due: lib

lib/display: Fix "Implicit conversion loses integer precision" warnings
  lib/display/raster.c
Due: lib

lib/dbmibase: Fix "Implicit conversion loses integer precision" warnings
  lib/db/dbmi_base/alloc.c
  lib/db/dbmi_base/dirent.c
  lib/db/dbmi_base/string.c
  lib/db/dbmi_base/xdrstring.c
Due: lib

lib/dspf: Fix "Implicit conversion loses integer precision" warnings
  lib/dspf/cube_io.c
Due: lib

lib/htmldriver: Fix "Implicit conversion loses integer precision" warnings
  lib/htmldriver/text.c
Due: lib

grass.pygrass: Support coordinate tuples in Bbox.contains and Area.contains_point
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/testsuite/test_geometry.py
Due: pygrass, python library

Apply batched suggestions from code review
  lib/vector/Vlib/build_sfa.c
Due: lib

libgis: Name the headers behind int64_t and PRId64 on the random numbers page
  lib/gis/random_streams.dox.md
Due: lib

r.sim: Drop comments which restate the code
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/simlib.h
Due: none

r.sim: Generate the seed when none is given and record it
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_random_test.py
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_summary_test.py
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/tests/r_sim_water_random_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_summary_test.py
  raster/r.sim/simlib/output.c
  raster/r.sim/simlib/random.c
  raster/r.sim/simlib/summary.c
Due: none

r.sim: Include stdint.h where the seed is held as int64_t
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
Due: none

libgis: Include stdint.h in the example which holds an int64_t
  lib/gis/random_streams.dox.md
Due: lib

cmake: add missing $<CONFIG> to PATH for multi-config generators
  CMakeLists.txt
  general/CMakeLists.txt
Due: none

r.sim: Give a walker's stream room for one step's run of bad luck
  raster/r.sim/r.sim.sediment/testsuite/data/reference_erdep.pack
  raster/r.sim/r.sim.sediment/testsuite/data/reference_sedflux.pack
  raster/r.sim/r.sim.water/tests/r_sim_water_landforms_test.py
  raster/r.sim/r.sim.water/testsuite/data/depth_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/depth_default.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_default.pack
  raster/r.sim/simlib/hydro.c
Due: none

r.sim.water: Run the flow control test with a thousand walkers
  raster/r.sim/r.sim.water/tests/r_sim_water_test.py
Due: none

locale: Make pot file generation stable (#8010)
  lib/vector/Vlib/build_sfa.c
  locale/Makefile
Due: lib

r.sim: Record the seed under the key seed
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_summary_test.py
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/tests/r_sim_water_random_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_summary_test.py
  raster/r.sim/simlib/output.c
  raster/r.sim/simlib/summary.c
Due: none

r.sim.water: Name the cases the flow control test separates
  raster/r.sim/r.sim.water/tests/r_sim_water_test.py
Due: none

r.sim: Drop two forward declarations hydro.c does not need
  raster/r.sim/simlib/hydro.c
Due: none

r.sim: Say what the random numbers mean for the user in the tool docs
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_random_test.py
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/tests/r_sim_water_random_test.py
Due: none

r.sim: Document results with more than one thread as not reproducible
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
Due: none

lib/display: Fix "Implicit conversion loses integer precision" warnings (#8020)
  lib/display/raster.c
Due: lib

Revert "ignore "-Wpedantic" with use of __int128"
  lib/gis/lrand48.c
Due: lib

Revert "lib/gis: avoid overflow in lrand48 jump arithmetic"
  lib/gis/lrand48.c
Due: lib

lib/gis: clarify intentional overflow in 48-bit LCG arithmetic
  lib/gis/lrand48.c
Due: lib

lib/htmldriver: Fix "Implicit conversion loses integer precision" warnings (#8023)
  lib/htmldriver/text.c
Due: lib

CI: Enable editorconfig-checker --fix
  .github/workflows/additional_checks.yml
  .pre-commit-config.yaml
Due: none

CI: Enable editorconfig-checker --fix (#8028)
  .github/workflows/additional_checks.yml
  .pre-commit-config.yaml
Due: none

r.mapcalc: Fix modulus by zero hang and speed up threads
  include/grass/calc.h
  include/grass/defs/calc.h
  lib/calc/calc.c
  lib/calc/xacos.c
  lib/calc/xasin.c
  lib/calc/xatan.c
  lib/calc/xcos.c
  lib/calc/xdiv.c
  lib/calc/xexp.c
  lib/calc/xlog.c
  lib/calc/xmod.c
  lib/calc/xpow.c
  lib/calc/xsin.c
  lib/calc/xsqrt.c
  lib/calc/xtan.c
  raster/r.mapcalc/main.c
  raster/r.mapcalc/tests/r_mapcalc_math_errors_test.py
Due: lib

r.mapcalc: Document and test NULL for infinite input to sin, cos, tan
  lib/calc/xcos.c
  lib/calc/xsin.c
  lib/calc/xtan.c
  raster/r.mapcalc/tests/r_mapcalc_math_errors_test.py
Due: lib

r.sim: Give each walker random numbers of its own (#7980)
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_random_test.py
  raster/r.sim/r.sim.sediment/tests/r_sim_sediment_summary_test.py
  raster/r.sim/r.sim.sediment/testsuite/data/reference_erdep.pack
  raster/r.sim/r.sim.sediment/testsuite/data/reference_sedflux.pack
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/tests/r_sim_water_landforms_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_random_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_summary_test.py
  raster/r.sim/r.sim.water/tests/r_sim_water_test.py
  raster/r.sim/r.sim.water/testsuite/data/depth_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/depth_default.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_default.pack
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
  raster/r.sim/simlib/output.c
  raster/r.sim/simlib/random.c
  raster/r.sim/simlib/simlib.h
  raster/r.sim/simlib/summary.c
Due: none

libgis: Document reproducible random numbers for parallel tools (#8004)
  doc/development/style_guide.md
  include/Make/Doxyfile_arch_html.in
  include/Make/Doxyfile_arch_latex.in
  lib/gis/README.md
  lib/gis/gislib.dox
  lib/gis/random_streams.dox.md
  lib/gis/random_streams.svg
  lib/gis/random_streams_figures.py
  lib/gis/random_streams_layouts.svg
  lib/gis/random_streams_parts.svg
  lib/gis/random_streams_seeds.svg
  lib/gis/random_streams_strides.svg
  lib/gis/random_streams_twins.svg
Due: lib
