Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

r.geomorphon: add parallel identity tests
  raster/r.geomorphon/tests/r_geomorphon_test.py
Due: none

wxGUI/nviz: fix 'window must be shown' error message during docking undocked 3D view window
  gui/wxpython/main_window/notebook.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/nviz/mapwindow.py
Due: gui

Add resize
  gui/wxpython/tplot/frame.py
Due: gui

r.in.ascii: keep migrated test data faithful to the original
  raster/r.in.ascii/tests/r_in_ascii_test.py
Due: none

r.support: migrate tests from gunittest to pytest
  raster/r.support/tests/r_support_test.py
  raster/r.support/testsuite/test_r_support.py
Due: none

v.random: migrate tests from gunittest to pytest
  vector/v.random/tests/v_random_test.py
  vector/v.random/testsuite/test_v_random.py
Due: none

Potential fix for pull request finding
  raster/r.support/tests/r_support_test.py
Due: none

Potential fix for pull request finding
  vector/v.random/tests/v_random_test.py
Due: none

Fix indentation of the 3D assertions in v_random_test
  vector/v.random/tests/v_random_test.py
Due: none

Create the Tools instance in the exclusive-flags test
  raster/r.support/tests/r_support_test.py
Due: none

r.support: drop unneeded overwrite=True in the test fixture
  raster/r.support/tests/r_support_test.py
Due: none

v.random: drop unneeded overwrite=True in the test fixture
  vector/v.random/tests/v_random_test.py
Due: none

add improvements
  gui/wxpython/animation/provider.py
Due: gui

r.geomorphon: address the parallel test review feedback
  raster/r.geomorphon/tests/r_geomorphon_test.py
Due: none

Add fixes and improvements
  gui/wxpython/core/gconsole.py
  gui/wxpython/datacatalog/tree.py
  python/grass/grassdb/data.py
Due: gui, python library

Add-animation-tab
  gui/wxpython/animation/frame.py
  gui/wxpython/animation/panels.py
  gui/wxpython/main_window/frame.py
Due: gui

Add db path tooltip
  gui/wxpython/datacatalog/g.gui.datacatalog.md
  gui/wxpython/datacatalog/tree.py
Due: gui

revert 3723
  lib/temporal/SQL/update_stds_spatial_temporal_extent_template_old.sql
  lib/temporal/SQL/update_str3ds_metadata_template_old.sql
  lib/temporal/SQL/update_strds_metadata_template.sql
  lib/temporal/SQL/update_strds_metadata_template_old.sql
  lib/temporal/SQL/update_strds_metadata_template_v3.sql
  lib/temporal/SQL/update_stvds_metadata_template_old.sql
  python/grass/temporal/abstract_space_time_dataset.py
Due: lib, python library

Translations update from OSGeo Weblate (#7817)
  locale/po/grasslibs_fr.po
  locale/po/grasswxpy_zh.po
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

config.guess + config.sub: updated from http://git.savannah.gnu.org/cgit/config.git/plain/
  config.guess
Due: none

temporal: Remove SQLite < 3.33 workaround (#7825)
  lib/temporal/SQL/update_stds_spatial_temporal_extent_template_old.sql
  lib/temporal/SQL/update_str3ds_metadata_template_old.sql
  lib/temporal/SQL/update_strds_metadata_template.sql
  lib/temporal/SQL/update_strds_metadata_template_old.sql
  lib/temporal/SQL/update_strds_metadata_template_v3.sql
  lib/temporal/SQL/update_stvds_metadata_template_old.sql
  python/grass/temporal/abstract_space_time_dataset.py
Due: lib, python library

r.geomorphon: parallelize with OpenMP using memory-bounded banding (#7783)
  raster/CMakeLists.txt
  raster/r.geomorphon/Makefile
  raster/r.geomorphon/benchmark/benchmark_r_geomorphon.py
  raster/r.geomorphon/local_proto.h
  raster/r.geomorphon/main.c
  raster/r.geomorphon/memory.c
  raster/r.geomorphon/pattern.c
  raster/r.geomorphon/r.geomorphon.md
  raster/r.geomorphon/tests/r_geomorphon_test.py
Due: none

Improve comments
  gui/wxpython/core/gconsole.py
  gui/wxpython/datacatalog/tree.py
  python/grass/grassdb/data.py
Due: gui, python library

Add padding
  gui/wxpython/tplot/frame.py
Due: gui

doc: building_with_cmake.md was not built
  doc/development/Makefile
Due: none

cmake build too
  doc/development/CMakeLists.txt
Due: none

libgis: Make random number generation thread safe with C11 atomics
  lib/gis/CMakeLists.txt
  lib/gis/Makefile
  lib/gis/lrand48.c
  lib/gis/testsuite/test_lrand48.py
Due: lib

wxGUI/tplot: Make the window resizable and add padding for nicer look (#7820)
  gui/wxpython/tplot/frame.py
Due: gui

CMake: Rebuild g.gui.* modules when their sources change
  cmake/modules/build_gui_in_subdir.cmake
Due: none

Handle tgis import error
  gui/wxpython/datacatalog/tree.py
Due: gui

doc: building_with_cmake.md was not built (#7829)
  doc/development/CMakeLists.txt
  doc/development/Makefile
Due: none

CMake: Rebuild g.gui.* modules when their sources change (#7830)
  cmake/modules/build_gui_in_subdir.cmake
Due: none

CMake: Copy proj tables to build output tree
  lib/proj/CMakeLists.txt
Due: lib

Apply suggestion from @petrasovaa
  gui/wxpython/datacatalog/g.gui.datacatalog.md
Due: gui

Cleanup
  gui/wxpython/animation/controller.py
  gui/wxpython/animation/provider.py
Due: gui

Add undocking
  gui/wxpython/animation/panels.py
  gui/wxpython/animation/toolbars.py
Due: gui

wxGUI/datacatalog : Add STDS in datacatalog (#7608)
  gui/icons/grass/str3ds.png
  gui/icons/grass/str3ds.svg
  gui/icons/grass/strds.png
  gui/icons/grass/strds.svg
  gui/icons/grass/stvds.png
  gui/icons/grass/stvds.svg
  gui/wxpython/core/gconsole.py
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/g.gui.datacatalog.md
  gui/wxpython/datacatalog/toolbars.py
  gui/wxpython/datacatalog/tree.py
  python/grass/grassdb/data.py
  python/grass/temporal/gui_support.py
Due: gui, python library

Fix merge conflict
  gui/wxpython/datacatalog/tree.py
Due: gui
