Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Fix vars, dir, name
  .github/workflows/mkdocs.yml
Due: none

CI(docker): Update job name to use event name in Docker workflow
  .github/workflows/docker.yml
Due: none

CI(Docker): Remove unnecessary job name in Docker workflow
  .github/workflows/docker.yml
Due: none

CI(Docker): Use only matrix os name as job name
  .github/workflows/docker.yml
Due: none

docs: fix no-inline-html (span tag only) (#5148)
  general/g.region/g.region.md
  imagery/i.gensig/i.gensig.md
  imagery/i.gensigset/i.gensigset.md
  ps/ps.map/ps.map.md
  raster/r.li/r.li.dominance/r.li.dominance.md
  raster/r.li/r.li.edgedensity/r.li.edgedensity.md
  raster/r.li/r.li.mpa/r.li.mpa.md
  raster/r.li/r.li.padcv/r.li.padcv.md
  raster/r.li/r.li.padrange/r.li.padrange.md
  raster/r.li/r.li.padsd/r.li.padsd.md
  raster/r.li/r.li.renyi/r.li.renyi.md
  raster/r.li/r.li.shannon/r.li.shannon.md
  raster/r.li/r.li.simpson/r.li.simpson.md
Due: ps

Get the right repo, fix artifact name
  .github/workflows/mkdocs.yml
Due: none

build: Reduce need for getting addons version
  utils/mkdocs.py
  utils/mkhtml.py
  utils/mkmarkdown.py
Due: utils

Rename SET_GISBASE to GISBASE
  include/Make/Install.make
  lib/init/CMakeLists.txt
  lib/init/Makefile
  lib/init/grass.py
Due: lib

Get addons according to the version (breaks for major version transitions when addons branch may not exist), rebuild keywords, rename file
  .github/workflows/documentation.yml
Due: none

ARCH needs to be defined (any value should do), make addon build logs available
  .github/workflows/documentation.yml
Due: none

add cache in macos workflow
  .github/workflows/macos.yml
  .github/workflows/test_thorough.sh
  .github/workflows/ubuntu.yml
Due: none

Revert "Rename SET_GISBASE to GISBASE"
  include/Make/Install.make
  lib/init/CMakeLists.txt
  lib/init/Makefile
  lib/init/grass.py
Due: lib

CI(Docker): Simplify job names with only the OS (#5156)
  .github/workflows/docker.yml
Due: none

lib/ogsf: remove unchecked, unused OPENGL_GLU_FOUND and OpenGL_GLX_FOUND
  include/config.h.cmake.in
  lib/CMakeLists.txt
Due: lib

HAVE_PQCMDTUPLES is not used in code
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/Configure.cmake
  cmake/tests/have_pqcmdtuples.c
  include/config.h.cmake.in
Due: none

add INTERFACE_LINK_DIRECTORIES to CBLAS and LAPACKE targets [skip ci]
  cmake/modules/CheckDependentLibraries.cmake
Due: none

lib/gis: add support for PCRE
  configure
  configure.ac
  include/grass/config.h.in
  lib/gis/ls_filter.c
Due: lib

rename SET_GISBASE to GISBASE_INSTALL_PATH [skip ci]
  include/Make/Install.make
  lib/init/CMakeLists.txt
  lib/init/Makefile
  lib/init/grass.py
Due: lib

Fix formatting
  utils/mkdocs.py
  utils/mkmarkdown.py
Due: utils

Improve doc
  utils/mkdocs.py
Due: utils

build: Continue build when a keyword is empty
  man/build_keywords.py
Due: man

fix unit
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
Due: none

Removed unused icons
  man/new_icon.svg
  man/new_logo.svg
Due: man

Set HTML icon to png
  man/Makefile
Due: man

Added grass-icon to md source to fix issue building index for macos
  man/Makefile
Due: man

lib/iostream: clean up includes in rtimer.cpp [skip ci]
  lib/iostream/rtimer.cpp
Due: lib

back with HAVE_PNG_H [skip ci]
  lib/pngdriver/pngdriver.h
Due: lib

Added back keywords to md headers
  lib/gis/parser_rest_md.c
Due: lib

docs: fix remaining no-inline-html (#5149)
  .markdownlint.yml
  display/d.rast.arrow/d.rast.arrow.md
  imagery/i.atcorr/i.atcorr.md
  imagery/i.rectify/i.rectify.md
  raster/r.in.lidar/r.in.lidar.md
  raster/r.in.pdal/r.in.pdal.md
  raster/r.in.xyz/r.in.xyz.md
  raster/r.series.accumulate/r.series.accumulate.md
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.stream.extract/r.stream.extract.md
  raster/r.terraflow/r.terraflow.md
  raster/r.viewshed/r.viewshed.md
  raster/r.watershed/front/r.watershed.md
  vector/v.rectify/v.rectify.md
  vector/v.to.db/v.to.db.md
Due: none

lib/init: remove unused file env.sh and out-commented code [skip ci]
  lib/init/CMakeLists.txt
  lib/init/env.sh
Due: lib

docs: fix no-alt-text
  .markdownlint.yml
  display/d.rast.arrow/d.rast.arrow.md
  doc/examples/gui/wxpython/g.gui.example.md
  doc/gui/wxpython/example/g.gui.example.md
  general/g.mapsets/g.mapsets.md
  imagery/i.maxlik/i.maxlik.md
  imagery/i.segment/i.segment.md
  ps/ps.map/ps.map.md
  raster/r.horizon/r.horizon.md
  raster/r.in.lidar/r.in.lidar.md
  raster/r.in.pdal/r.in.pdal.md
  raster/r.li/r.li.padcv/r.li.padcv.md
  raster3d/r3.flow/r3.flow.md
  raster3d/r3.in.lidar/r3.in.lidar.md
  scripts/d.to.rast/d.to.rast.md
  scripts/r.rgb/r.rgb.md
  scripts/v.dissolve/v.dissolve.md
  vector/v.buffer/v.buffer.md
  vector/v.cluster/v.cluster.md
  vector/v.decimate/v.decimate.md
  vector/v.lidar.edgedetection/v.lidar.edgedetection.md
  vector/v.mkgrid/v.mkgrid.md
  vector/v.net.visibility/v.net.visibility.md
  vector/v.qcount/v.qcount.md
  vector/v.segment/v.segment.md
  vector/v.vect.stats/v.vect.stats.md
Due: ps, scripts

revert code changes to lib/gis/ls_filter.c
  lib/gis/ls_filter.c
Due: lib

use SPDX-License-Identifier [skip ci]
  CMakeLists.txt
  cmake/ctypesgen.cmake
  cmake/locale_strings.cmake
  cmake/modules/build_gui_in_subdir.cmake
  cmake/modules/build_library_in_subdir.cmake
  cmake/modules/build_module.cmake
  cmake/modules/build_program.cmake
  cmake/modules/build_program_in_subdir.cmake
  cmake/modules/build_script_in_subdir.cmake
  cmake/modules/copy_python_files_in_subdir.cmake
  cmake/modules/get_host_arch.cmake
  cmake/modules/get_versions.cmake
  cmake/modules/repo_status.cmake
  msvc/creat.c
  msvc/io.h
  msvc/open.c
Due: none

docs: fix no-alt-text (#5154)
  .markdownlint.yml
  display/d.rast.arrow/d.rast.arrow.md
  doc/examples/gui/wxpython/g.gui.example.md
  doc/gui/wxpython/example/g.gui.example.md
  general/g.mapsets/g.mapsets.md
  imagery/i.maxlik/i.maxlik.md
  imagery/i.segment/i.segment.md
  ps/ps.map/ps.map.md
  raster/r.horizon/r.horizon.md
  raster/r.in.lidar/r.in.lidar.md
  raster/r.in.pdal/r.in.pdal.md
  raster/r.li/r.li.padcv/r.li.padcv.md
  raster3d/r3.flow/r3.flow.md
  raster3d/r3.in.lidar/r3.in.lidar.md
  scripts/d.to.rast/d.to.rast.md
  scripts/r.rgb/r.rgb.md
  scripts/v.dissolve/v.dissolve.md
  vector/v.buffer/v.buffer.md
  vector/v.cluster/v.cluster.md
  vector/v.decimate/v.decimate.md
  vector/v.lidar.edgedetection/v.lidar.edgedetection.md
  vector/v.mkgrid/v.mkgrid.md
  vector/v.net.visibility/v.net.visibility.md
  vector/v.qcount/v.qcount.md
  vector/v.segment/v.segment.md
  vector/v.vect.stats/v.vect.stats.md
Due: ps, scripts

Remove extra quotes
  utils/mkdocs.py
Due: utils

update authors [skip ci]
  CMakeLists.txt
Due: none

Fixed file format
  man/Makefile
Due: man

Added fixes and suggestions
  vector/v.build/testsuite/test_v_build.py
  vector/v.build/testsuite/vbuild_output.txt
Due: none

Patch for failing test due to temp map name
  vector/v.build/testsuite/test_v_build.py
Due: none

Fixed build fails due to temp meta data
  vector/v.build/testsuite/test_v_build.py
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
