Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

CI: prevent cache poisoning on pull_request events (#7238)
  .github/workflows/ubuntu.yml
Due: none

gui: Happy new year 2026
  Makefile
  REQUIREMENTS.md
  configure.ac
  grasslib.dox
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/model_convert.py
  gui/wxpython/gmodeler/model_items.py
  include/grass/gis.h
  lib/gis/env.c
  lib/gis/gislib_cmdline_parsing.dox
  lib/gis/parser_html.c
  lib/init/grass.py
  lib/init/grass.sh
  man/build.py
  man/build_graphical_index.py
  man/build_rest.py
  man/build_topics.py
  man/sphinx/conf.py
  python/grass/docs/conf.py
  python/grass/script/core.py
  python/grass/script/setup.py
  utils/mkhtml.py
Due: gui, man, utils, lib, python library

gui: Happy new year 2026 (#7254)
  Makefile
  REQUIREMENTS.md
  configure.ac
  grasslib.dox
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/model_convert.py
  gui/wxpython/gmodeler/model_items.py
  include/grass/gis.h
  lib/gis/env.c
  lib/gis/gislib_cmdline_parsing.dox
  lib/gis/parser_html.c
  lib/init/grass.py
  lib/init/grass.sh
  man/build.py
  man/build_graphical_index.py
  man/build_rest.py
  man/build_topics.py
  man/sphinx/conf.py
  python/grass/docs/conf.py
  python/grass/script/core.py
  python/grass/script/setup.py
  utils/mkhtml.py
Due: gui, man, utils, lib, python library

gui: Happy new year 2026 (#7254) (backport G84)
  Makefile
  REQUIREMENTS.md
  configure.ac
  grasslib.dox
  gui/wxpython/gmodeler/dialogs.py
  include/grass/gis.h
  lib/gis/env.c
  lib/gis/gislib_cmdline_parsing.dox
  lib/gis/parser_html.c
  lib/init/grass.py
  lib/init/grass.sh
  man/build_graphical_index.py
  man/build_rest.py
  man/build_topics.py
  man/sphinx/conf.py
  python/grass/docs/conf.py
  python/grass/script/core.py
  python/grass/script/setup.py
  utils/mkhtml.py
Due: gui, man, utils, lib, python library

docs: fix broken mkdocs rendering
  man/mkdocs/requirements.txt
Due: man

lib/gis: add concurrency support for G_percent()
  include/grass/defs/gis.h
  include/grass/gis.h
  lib/gis/percent.c
Due: lib

docs: fix broken mkdocs rendering (#7258)
  man/mkdocs/requirements.txt
Due: man

temporal: add check_open_output_stds and open_output_stds library functions for extend support
  python/grass/temporal/__init__.py
  python/grass/temporal/open_stds.py
  temporal/t.rast.aggregate/t.rast.aggregate.py
Due: python library

don't remove trapezoidal rule to depth to not change results
  raster/r.sim/r.sim.water/testsuite/data/depth_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_complex.pack
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
  raster/r.sim/simlib/hydro.c
Due: none

add condition to filter infil > 0
  raster/r.sim/simlib/hydro.c
Due: none

grass.script.raster: auto-seed rand() when no seed provided
  python/grass/script/raster.py
Due: python library

make: generate pyc file of resource_paths.py for install dest
  include/Make/Install.make
Due: none

make: generate pyc file of resource_paths.py for install dest (#7275)
  include/Make/Install.make
Due: none

macOS: update default dependencies, add libgdal-jp2openjpeg package
  macos/files/conda-requirements-dev-arm64.txt
  macos/files/conda-requirements-dev-x86_64.txt
  macos/files/conda-requirements-stable-arm64.txt
  macos/files/conda-requirements-stable-x86_64.txt
Due: none

cmake: add relevant files to IDE, consolidate Tools FOLDERS (#7083)
  cmake/modules/build_addon.cmake
  cmake/modules/build_gui_in_subdir.cmake
  cmake/modules/build_module.cmake
  cmake/modules/build_script_in_subdir.cmake
  include/CMakeLists.txt
  lib/CMakeLists.txt
  scripts/CMakeLists.txt
Due: scripts, lib

grass.script.utils: fix Addons build dir etc path for CMake (#7098)
  python/grass/script/utils.py
Due: python library

g.extension: improve CMake module name regex (#7102)
  scripts/g.extension/g.extension.py
Due: scripts

lib/shapelib: sync upstream with shapelib 1.6.2 and GDAL 3.12.3
  lib/external/shapelib/README.md
  lib/external/shapelib/dbfopen.c
  lib/external/shapelib/safileio.c
  lib/external/shapelib/shapefil.h
  lib/external/shapelib/shpopen.c
Due: lib

macOS: update default dependencies, add libgdal-jp2openjpeg package (#7278)
  macos/files/conda-requirements-dev-arm64.txt
  macos/files/conda-requirements-dev-x86_64.txt
  macos/files/conda-requirements-stable-arm64.txt
  macos/files/conda-requirements-stable-x86_64.txt
Due: none

temporal: refactor extend logic using helper functions and modern Python style
  python/grass/temporal/open_stds.py
  temporal/t.rast.aggregate/t.rast.aggregate.py
Due: python library

temporal: add return type annotation to _get_stds using AbstractSpaceTimeDataset
  python/grass/temporal/open_stds.py
Due: python library

temporal: fix docstring to use AbstractSpaceTimeDataset in _get_stds
  python/grass/temporal/open_stds.py
Due: python library

temporal: add type annotations for dbif parameter in new functions
  python/grass/temporal/open_stds.py
Due: python library

lib/shapelib: sync upstream with shapelib 1.6.2 and GDAL 3.12.3 (#7279)
  lib/external/shapelib/README.md
  lib/external/shapelib/dbfopen.c
  lib/external/shapelib/safileio.c
  lib/external/shapelib/shapefil.h
  lib/external/shapelib/shpopen.c
Due: lib

temporal: remove start option from t.rast.univar, infer from first map
  python/grass/temporal/univar_statistics.py
  temporal/t.rast.univar/t.rast.univar.py
Due: python library

ran first pytest --- passed
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/timestamp_tests/test_abstract_map_dataset.py
Due: python library

Add show projection and show region options
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/lmgr/statusbar.py
Due: gui

temporal: address review comments - collapsible-if, remove redundant check, simplify test assertions
  python/grass/temporal/open_stds.py
  temporal/t.rast.aggregate/testsuite/test_aggregation_absolute.py
Due: python library

grass.mapcalc: remove legacy mapcalc wrapper random seeding (#6717)
  python/grass/script/raster.py
  python/grass/script/tests/grass_script_raster_mapcalc_test.py
Due: python library

lib: fix reading GRASS vrts with multiple threads (#7201)
  lib/raster/vrt.c
Due: lib
