Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Improve the popup appearance
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

i.segment: Fix uninitialized struct member error in region_growing.c (#3974)
  imagery/i.segment/region_growing.c
Due: none

Add resolution and improve display
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

lib: Fixed uninitialized variable warning in dmax.c by initializing dp, dp_max, dm, and dm_max to 0.0 (#3995)
  lib/cdhc/dmax.c
Due: lib

Allow Users to draw simple geometries
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

style: Fix pylint pointless-statement (W0104) (#3996)
  imagery/i.atcorr/create_iwave.py
  pyproject.toml
  python/grass/imaging/images2gif.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/temporal_granularity.py
  scripts/g.extension/g.extension.py
Due: scripts, python library

style: Fix replace-stdout-stderr (UP022) (#4000)
  pyproject.toml
  python/grass/gunittest/invoker.py
  utils/generate_last_commit_file.py
  utils/mkhtml.py
  utils/test_generate_last_commit_file.py
Due: utils, gunittest, python library

ps.map: Fix uninitialized variable issues in r_colortable.c
  ps/ps.map/r_colortable.c
Due: ps

Fix uninitialized variable issue in o_var.c
  raster/r.statistics/o_var.c
Due: none

ps.map: Fix uninitialized variable issues in r_colortable.c (#4004)
  ps/ps.map/r_colortable.c
Due: ps

raster3d: Fix uninitialized variable issue in main.c
  raster3d/r3.info/main.c
Due: none

style: Fix if-expr-with-true-false (SIM210) and if-expr-with-false-true (SIM211) (#3999)
  gui/wxpython/core/globalvar.py
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/lmgr/layertree.py
  pyproject.toml
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/interface/flag.py
  python/grass/pygrass/modules/interface/parameter.py
  python/grass/pygrass/modules/interface/testsuite/test_flag.py
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/utils.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/abstract.py
  python/grass/pygrass/vector/geometry.py
  utils/mkhtml.py
Due: gui, utils, pygrass, python library

pytest: Mark tests using space_time_raster_dataset as needs_solo_run (#3939)
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  temporal/t.rast.list/tests/t_rast_list_test.py
Due: notebooks (jupyter), python library

style: Fix python logging-related pylint and ruff warnings (#3998)
  pyproject.toml
  python/grass/pygrass/rpc/base.py
  python/grass/temporal/c_libraries_interface.py
Due: pygrass, python library

style: Fix pylint try-except-raise (W0706) (#3997)
  gui/wxpython/core/utils.py
  pyproject.toml
  python/grass/imaging/images2swf.py
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/datetime_math.py
Due: gui, python library

style: Fix unnecessary-map (C417)
  gui/wxpython/core/render.py
  gui/wxpython/core/utils.py
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  pyproject.toml
  python/grass/script/core.py
  python/grass/semantic_label/reader.py
Due: gui, python library

Apply suggestions from code review
  gui/wxpython/gmodeler/model.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
Due: gui

style: Fix incorrect-dict-iterator (PERF102) (#4007)
  gui/wxpython/dbmgr/sqlbuilder.py
  gui/wxpython/iscatt/controllers.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/mapwin/base.py
  pyproject.toml
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  python/grass/pygrass/tests/benchmark.py
  python/grass/script/testsuite/test_utils.py
  scripts/v.pack/v.pack.py
Due: gui, scripts, pygrass, notebooks (jupyter), python library

style: Ignore multiple-with-statements (SIM117) for test files (#4008)
  pyproject.toml
Due: none

style: Fix loop-variable-overrides-iterator (B020) (#4010)
  gui/wxpython/core/toolboxes.py
  pyproject.toml
  scripts/r.in.wms/wms_cap_parsers.py
Due: gui, scripts

style: Fix not-in-test (E713) and not-is-test (E714) (#4011)
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/vnet/vnet_data.py
  pyproject.toml
Due: gui

raster: Fix uninitialized variable issue in o_var.c (#4005)
  raster/r.statistics/o_var.c
Due: none

raster3d: Fix uninitialized variable issue in main.c (#4006)
  raster3d/r3.info/main.c
Due: none

style: Change outer quotes to avoid escaping inner quotes for Q003
  gui/wxpython/gmodeler/model.py
Due: gui

Revert merge conflicts
  python/grass/pygrass/vector/basic.py
  utils/mkhtml.py
Due: utils, pygrass, python library

Apply black
  python/grass/pygrass/vector/basic.py
  utils/mkhtml.py
Due: utils, pygrass, python library

Update test_v_out_ogr.py
  vector/v.out.ogr/testsuite/test_v_out_ogr.py
Due: none

Allow user to save the drawn vectors
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

Added base setup for JSON support
  vector/Makefile
  vector/v.ppa/Makefile
  vector/v.ppa/main.c
Due: none

nix: pin python version to 3.11
  flake.nix
  package.nix
Due: none

nix: update flake.lock file
  flake.lock
Due: none

nix: use default wxpython version for package
  package.nix
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
