Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

config.guess + config.sub: updated from http://git.savannah.gnu.org/cgit/config.git/plain/
  config.guess
  config.sub
Due: none

Use Sphinx docstring format
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

CI(macOS): Run pytest tests on macOS
  .github/workflows/macos.yml
Due: none

pytest: Use pytest.importorskip for optional imports
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  temporal/t.rast.list/tests/t_rast_list_test.py
Due: notebooks (jupyter), python library

Mark unpickable tests with xfail when using spawn start method
  lib/gis/tests/lib_gis_env_test.py
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
  python/grass/script/tests/grass_script_core_location_test.py
  python/grass/script/tests/grass_script_setup_test.py
Due: lib, pygrass, python library

grass.script: Example test using functools.partial that works with spawn start method
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

grass.jupyter: Modify jupyter.tutorial.ipynb
  doc/notebooks/jupyter_tutorial.ipynb
Due: notebooks (jupyter)

g.region: Add JSON support (#3941)
  general/g.region/Makefile
  general/g.region/g.region.html
  general/g.region/local_proto.h
  general/g.region/main.c
  general/g.region/printwindow.c
  general/g.region/testsuite/test_g_region.py
  python/grass/pygrass/modules/interface/module.py
Due: pygrass, python library

rebase
  gui/wxpython/history/tree.py
Due: gui

Update gui/wxpython/history/tree.py
  gui/wxpython/history/tree.py
Due: gui

minor beautifications
  gui/wxpython/history/tree.py
Due: gui

SetModel removed and replaced by RefreshItems()
  gui/wxpython/history/tree.py
Due: gui

variable rename
  gui/wxpython/history/tree.py
Due: gui

g.region: fix ruff lint error
  general/g.region/testsuite/test_g_region.py
Due: none

r.stats: add json output
  raster/r.stats/Makefile
  raster/r.stats/cell_stats.c
  raster/r.stats/global.h
  raster/r.stats/main.c
  raster/r.stats/raw_stats.c
  raster/r.stats/stats.c
Due: none

update key names
  raster/r.stats/stats.c
Due: none

g.region: fix ruff lint error in tests (#4167)
  general/g.region/testsuite/test_g_region.py
Due: none

Document the new function. Get install path (GISBASE) automatically (needs caller change).
  python/grass/app/data.py
Due: python library

update r.stats to match r.report
  raster/r.stats/stats.c
  raster/r.stats/test_suite/test_json2.json
  raster/r.stats/test_suite/test_r_stats.py
Due: none

Remove old parameters
  lib/init/grass.py
Due: lib

Simplify formatting
  python/grass/app/data.py
Due: python library

Report owner, then delete the file. Clean up paths.
  lib/init/grass.py
  python/grass/app/data.py
Due: lib, python library

update r.stats to match r.report
  raster/r.stats/cell_stats.c
  raster/r.stats/global.h
  raster/r.stats/main.c
  raster/r.stats/raw_stats.c
  raster/r.stats/stats.c
Due: none

grass.app: Move ISIS integration to the library
  lib/init/grass.py
  python/grass/app/runtime.py
Due: lib, python library

Fix new RUF031 rule violations (incorrectly-parenthesized-tuple-in-subscript)
  gui/wxpython/timeline/frame.py
  python/grass/imaging/images2gif.py
  python/grass/pygrass/raster/category.py
Due: gui, pygrass, python library

Fix new ruff errors for C409: Unnecessary list comprehension passed to `tuple()` (rewrite as a generator)
  python/grass/pygrass/raster/buffer.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/testsuite/test_vector.py
  scripts/d.rast.leg/d.rast.leg.py
  scripts/v.in.wfs/v.in.wfs.py
Due: scripts, pygrass, python library

style: Fix unnecessary-dunder-call (PLC2801)
  gui/wxpython/mapdisp/main.py
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/table.py
Due: gui, pygrass, python library

Update pyproject.toml to remove PLC2801 exclusion
  pyproject.toml
Due: none

style: Fix unnecessary-dunder-call (PLC2801) for repr 1 instance fixed
  python/grass/gunittest/utils.py
Due: gunittest, python library

Ignore PLC2801 in test suite file for preserving meaning of test during the change
  python/grass/pygrass/vector/testsuite/test_geometry_attrs.py
Due: pygrass, python library

style: Fix unnecessary-dunder-call (PLC2801) for __init__ 4 instances fixed
  gui/wxpython/gcp/manager.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/photo2image/ip2i_manager.py
Due: gui

style: Fix unnecessary-dunder-call (PLC2801) for get and set item 3 instances fixed
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/vector/geometry.py
Due: pygrass, python library

Ignore PLC2801 for __del__, as there seems to be some differences between both
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/tplot/frame.py
Due: gui

style: Fix unnecessary-dunder-call (PLC2801) using getattr 6 instances fixed
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/modules/interface/typedict.py
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/vector/basic.py
Due: pygrass, python library

style: Fix Pylint bad-chained-comparison / W3601
  python/grass/temporal/datetime_math.py
Due: python library

Fix copy paste type in comment about Time zones are not supported
  python/grass/temporal/datetime_math.py
Due: python library

Modify docs
  doc/notebooks/jupyter_tutorial.ipynb
Due: notebooks (jupyter)

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
