Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

source changes (address separately)
  include/Make/Install.make
  lib/init/Makefile
  lib/init/grass.py
Due: lib

CI: restore original state
  .github/workflows/cmake.yml
Due: none

libgrass_interface_generator depends on grass_ogsf; build libs first
  CMakeLists.txt
Due: none

Fixed Python variable typo
  python/libgrass_interface_generator/CMakeLists.txt
Due: none

Updated grep with findstr for windows compatibility
  cmake/modules/build_script_in_subdir.cmake
Due: none

Resolved external variable link issue in windows for v.surf.rst using export
  lib/rst/interp_float/interpf.h
Due: lib

Windows equivalent of strtok_r is strtok_s. So, replaced it
  display/d.vect/legend.c
Due: none

msvc/gettimeofday.c: Add the original URL
  msvc/gettimeofday.c
Due: none

Use the SDRangel version of gettimeofday.c because c.h is postgres-only
  msvc/gettimeofday.c
Due: none

gettimeofday.c: comment
  msvc/gettimeofday.c
Due: none

Added Grass GIS dependency to wxpython docs
  gui/wxpython/docs/CMakeLists.txt
Due: gui

Removed message statement
  cmake/modules/build_module.cmake
Due: none

Added parson to r.info, r.profile, v.info
  raster/CMakeLists.txt
  vector/CMakeLists.txt
Due: none

Multiple instructions in single line created access violation, so separated instructions into multiple lines. Added stdlib for malloc
  msvc/dirent.c
Due: none

Fixed db link issue
  db/drivers/CMakeLists.txt
Due: none

ctypegen: Do not link against versioned libs because lib names are now libgrass_*.so.VERSION not libgrass_*.VERSION.so and run.py cannot find libgrass_*.VERSION anymore
  python/libgrass_interface_generator/CMakeLists.txt
Due: none

Removed extra build mode directory for windows due to multiple issues
  CMakeLists.txt
  cmake/modules/build_module.cmake
Due: none

Replace LIBM with ${LIBM} for MSVC where math library is not needed
  cmake/modules/CheckDependentLibraries.cmake
  display/CMakeLists.txt
  general/CMakeLists.txt
  imagery/CMakeLists.txt
  imagery/i.ortho.photo/CMakeLists.txt
  lib/CMakeLists.txt
  lib/gis/CMakeLists.txt
  lib/rst/CMakeLists.txt
  lib/vector/diglib/CMakeLists.txt
  misc/CMakeLists.txt
  ps/CMakeLists.txt
  raster/CMakeLists.txt
  raster/r.coin/format.c
  raster/r.colors/CMakeLists.txt
  raster/r.li/CMakeLists.txt
  raster/r.sim/CMakeLists.txt
  raster/r.spread/CMakeLists.txt
  raster/r.sun/main.c
  raster/r.univar/CMakeLists.txt
  raster/r.watershed/CMakeLists.txt
  raster3d/CMakeLists.txt
  raster3d/r3.flow/CMakeLists.txt
  vector/CMakeLists.txt
  vector/v.lrs/CMakeLists.txt
Due: ps, lib

Fixed export issue of global variables in driver module. These variables are used in cairodriver
  lib/driver/driver.h
  lib/driver/init.c
Due: lib

Add more parson dependency
  db/CMakeLists.txt
  general/CMakeLists.txt
  raster/CMakeLists.txt
Due: none

isolated chmod only for UNIX and replaced /dev/null, grep with nul, findstr for windows
  cmake/modules/build_gui_in_subdir.cmake
Due: none

Fixed Building grass with Ubuntu System Libraries and cmake
  display/CMakeLists.txt
  general/CMakeLists.txt
  general/manage/lister/CMakeLists.txt
  lib/CMakeLists.txt
  lib/rst/CMakeLists.txt
  lib/vector/CMakeLists.txt
  misc/CMakeLists.txt
  ps/CMakeLists.txt
  python/libgrass_interface_generator/CMakeLists.txt
  raster/CMakeLists.txt
  raster/r.sim/CMakeLists.txt
  raster3d/r3.flow/CMakeLists.txt
  vector/CMakeLists.txt
  vector/v.lrs/CMakeLists.txt
Due: ps, lib

Fixed Environment Path Separator issue in windows by replacing ; with \;
  CMakeLists.txt
Due: none

msvc/gettimeofday.c: clang-formatted
  msvc/gettimeofday.c
Due: none

changes mixed case python variables in cmake to uppercase to maintain consistency
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/GRASSInstallDirs.cmake
Due: none

Added --openmp:llvm flag to utilize latest version for min/max reductions
  cmake/modules/CheckDependentLibraries.cmake
Due: none

Fixed LIBM target issue and added the missing file gettimeoftheday c file
  cmake/modules/CheckDependentLibraries.cmake
  utils/timer/msvc/gettimeofday.c
Due: utils

Fixed Unresolved external symbol G__ due to export issue in windows
  lib/gis/G.h
  lib/gis/gisinit.c
Due: lib

Added Default Build Type as DEBUG for Windows and Removed find_library_suffix for windows, as conda libraries donot have build type suffix
  CMakeLists.txt
Due: none

ctime is used for Windows. So replaced mingw32 with win32
  raster/r.terraflow/flow.cpp
Due: none

Include all C files for lib/gis
  lib/gis/CMakeLists.txt
Due: lib

Use bracket arguments for REGEX
  lib/CMakeLists.txt
Due: lib

Included LD Library PATH for windows in PATH
  CMakeLists.txt
Due: none

Fixed Error: Unresolved External Symbol opendir, closedir, readdir in gis module
  lib/gis/CMakeLists.txt
Due: lib

Removed TODO comments as it is required to add all dependencies while building program
  db/drivers/CMakeLists.txt
Due: none

Fixed Windows Environment Path Issue and Relocated all msvc files from modules to common directory and Fixed __attribute__ issue in glocale.h(MSVC)
  CMakeLists.txt
  include/grass/defs/glocale.h
  lib/db/CMakeLists.txt
  msvc/dirent.c
  msvc/dirent.h
  msvc/gettimeofday.c
  utils/CMakeLists.txt
Due: utils, lib
