Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

style: fix missing whitespace between operators
  raster/r.texture/benchmark/benchmark_rtexture.py
Due: none

Fix uninitialized variable 'flowpq' in raster/r.terraflow/sweep.cpp
  raster/r.terraflow/sweep.cpp
Due: none

raster: Handle realloc errors in unionFind.h
  raster/r.terraflow/unionFind.h
Due: none

Update raster/r.terraflow/unionFind.h
  raster/r.terraflow/unionFind.h
Due: none

style: fix missing whitespace between operators (#3967)
  raster/r.texture/benchmark/benchmark_rtexture.py
Due: none

raster: Handled realloc errors in unionFind.h
  raster/r.terraflow/unionFind.h
Due: none

modify codes based on review comments
  include/grass/defs/gis.h
  lib/gis/omp_threads.c
Due: lib

style: Fixes some unnecessary-lambda (PLW0108) (#3956)
  gui/wxpython/animation/frame.py
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/history/tree.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/vdigit/g.gui.vdigit.py
Due: gui

checks(ruff): Configure ruff linter in pyproject.toml
  pyproject.toml
Due: none

CI(ruff): Add ruff linting and fixes with suggestions
  .github/workflows/post-pr-reviews.yml
  .github/workflows/python-code-quality.yml
Due: none

Display coordinates in CRS, update output widget and computational region
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

raster: Fix uninitialized variable 'flowpq' in raster/r.terraflow/sweep.cpp (#3966)
  raster/r.terraflow/sweep.cpp
Due: none

r.profile: add JSON support (#3872)
  raster/r.profile/Makefile
  raster/r.profile/local_proto.h
  raster/r.profile/main.c
  raster/r.profile/r.profile.html
  raster/r.profile/read_rast.c
  raster/r.profile/testsuite/test_profile_ncspm.py
Due: none

rename test file
  vector/v.univar/testsuite/test_v_univar.py
Due: none

address pr feedback
  raster/r.univar/r.univar.html
  raster/r.univar/stats.c
  raster/r.univar/testsuite/test_r_univar.py
Due: none

Apply suggestions from code review
  raster/r.univar/stats.c
Due: none

imagery: Fix uninitialized struct member 'ngbr_rc.next' in mean_shift.c
  imagery/i.segment/mean_shift.c
Due: none

Fix uninitialized struct member error in region_growing.c
  imagery/i.segment/region_growing.c
Due: none

Checks: fix flake8 E741 remainder (#3928)
  .flake8
  locale/grass_po_stats.py
  python/grass/pygrass/raster/rowio.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_raster3d_algebra.py
  python/grass/temporal/temporal_raster_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
  scripts/d.rast.leg/d.rast.leg.py
  scripts/db.univar/db.univar.py
  scripts/r.in.wms/wms_cap_parsers.py
Due: scripts, pygrass, python library

Fix uninitialized variable 'encoding' in parser_interface.c
  lib/gis/parser_interface.c
Due: lib

checks(ruff): Configure ruff linter (#3972)
  .github/workflows/post-pr-reviews.yml
  .github/workflows/python-code-quality.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Add test for draw computational region
  python/grass/jupyter/testsuite/interactivemap_test.py
Due: notebooks (jupyter), python library

r.univar: add JSON support (#3783)
  raster/r.univar/Makefile
  raster/r.univar/globals.h
  raster/r.univar/r.univar.html
  raster/r.univar/r.univar_main.c
  raster/r.univar/r3.univar_main.c
  raster/r.univar/stats.c
  raster/r.univar/testsuite/test_r_univar.py
Due: none

v.univar: add JSON support (#3784)
  vector/v.univar/Makefile
  vector/v.univar/main.c
  vector/v.univar/testsuite/test_v_univar.py
  vector/v.univar/v.univar.html
Due: none

CI(ruff): Fix typo in ruff suggestions
  .github/workflows/post-pr-reviews.yml
Due: none

CI(ruff): Upload suggestions even if not all linting errors were fixed
  .github/workflows/python-code-quality.yml
Due: none

CI(ruff): Try suggesting more changes
  .github/workflows/python-code-quality.yml
Due: none

Reduce scope of minreg and maxreg variables in d.labels/main.c
  display/d.labels/main.c
Due: none

d.labels: Reduce scope of minreg and maxreg variables in main.c (#3979)
  display/d.labels/main.c
Due: none

Reduce scope of 'bg_w' variable in d.legend.vect/draw.c
  display/d.legend.vect/draw.c
Due: none

style: Use convention `import numpy as np`
  gui/wxpython/wxplot/profile.py
  python/grass/script/array.py
  scripts/r.in.wms/wms_drv.py
  scripts/wxpyimgview/wxpyimgview_gui.py
Due: gui, scripts, python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
