Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

Add Python context manager for mask env variable and start tests
  python/grass/script/raster.py
  python/grass/script/tests/conftest.py
  python/grass/script/tests/raster_mask_test.py
Due: python library

Break lines
  testsuite/README.md
Due: none

fixed 841 in modules
  .flake8
  gui/wxpython/modules/histogram.py
  gui/wxpython/modules/import_export.py
  gui/wxpython/modules/mapsets_picker.py
Due: gui

fixed 841 in modules
  gui/wxpython/modules/import_export.py
Due: gui

fixed e722 in v.what.shrds
  .flake8
  scripts/v.what.strds/v.what.strds.py
Due: scripts

doc: Use lowercase mask
  imagery/i.segment/i.segment.html
  imagery/i.segment/iseg.h
  ps/ps.map/r_instructions.c
  raster/r.resamp.interp/r.resamp.interp.html
  raster/r.topidx/r.topidx.html
Due: ps

r3.in.v5d: Prevent integer overflow by changing literal constant type on Cray (#4363)
  raster3d/r3.in.v5d/binio.c
Due: none

CI: Assign milestone on merged PRs (#4414)
  .github/workflows/milestones.yml
Due: none

r.mask.status: Always output name of the mask
  include/grass/defs/raster.h
  lib/raster/mask_info.c
  raster/r.mask.status/main.c
  raster/r.mask.status/r.mask.status.html
  raster/r.mask.status/tests/r_mask_status_test.py
Due: lib

requested changes
  vector/v.hull/chull.c
Due: none

null check
  raster/r.in.gridatb/file_io.c
Due: none

Fix Resource Leak
  lib/vector/Vlib/copy.c
Due: lib

r.sim.water: add tests
  raster/r.sim/r.sim.water/testsuite/data/depth_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/depth_default.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_default.pack
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
Due: none

fixed e722 in v.what.shrds
  scripts/v.what.strds/v.what.strds.py
Due: scripts

fixed _ error
  gui/wxpython/modules/import_export.py
Due: gui

tests: Revise content of the root testsuite dir (#4516)
  python/grass/gunittest/loader.py
  testsuite/Makefile
  testsuite/README.md
  testsuite/examples/test_framework_GRASS_GIS_with_NC.conf
  testsuite/examples/test_framework_GRASS_GIS_with_NC.sh
  testsuite/raster/Makefile
  testsuite/raster/README
  testsuite/raster/rhemisphere.sh
  testsuite/raster_md5test.sh
  testsuite/vector/v.in.gps_test.sh
Due: gunittest, python library

doc: Use lowercase for mask (#4529)
  imagery/i.segment/i.segment.html
  imagery/i.segment/iseg.h
  ps/ps.map/r_instructions.c
  raster/r.resamp.interp/r.resamp.interp.html
  raster/r.topidx/r.topidx.html
Due: ps

i.atcorr: fix out of bound access in trunca, os and iso
  imagery/i.atcorr/computations.cpp
Due: none

r.in.gridatb: check if opening of file succeeds (#4532)
  raster/r.in.gridatb/file_io.c
Due: none

proj: EPSG code source: replace epsg.io with spatialreference.org
  gui/wxpython/location_wizard/wizard.py
  lib/init/helptext.html
Due: gui, lib

docs: add intro text to imageryintro.html
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  imagery/imageryintro.html
Due: gui

grass.script: Fixed E722 in v.what.shrds/ (#4530)
  .flake8
  scripts/v.what.strds/v.what.strds.py
Due: scripts

fine-tune wording
  imagery/imageryintro.html
Due: none

Update auto_mask.c
  lib/raster/auto_mask.c
Due: lib

Format with black
  gui/wxpython/projpicker_gui/gui.py
  gui/wxpython/projpicker_gui/gui_common.py
  python/grass/getosm/__init__.py
  python/grass/projpicker/__init__.py
  python/grass/projpicker/coor_latlon.py
Due: gui, python library

style: Fix sys-version-info-minor-cmp-int (YTT204)
  python/grass/projpicker/projpicker.py
Due: python library

style: Fix FURB103 and FURB101
  gui/wxpython/projpicker_gui/gui.py
  python/grass/projpicker/projpicker.py
Due: gui, python library

style: Fix implicit string concatenations
  python/grass/projpicker/coor_latlon.py
  python/grass/projpicker/projpicker.py
Due: python library

style: Fix PIE808 - Unnecessary `start` argument in `range`
  python/grass/getosm/getosm.py
Due: python library

style: Fix PLR5501
  gui/wxpython/projpicker_gui/panel.py
  python/grass/projpicker/projpicker.py
Due: gui, python library

style: Fix if-stmt-min-max (PLR1730)
  gui/wxpython/projpicker_gui/gui_common.py
Due: gui

style: Fix if-with-same-arms (SIM114)
  python/grass/projpicker/projpicker.py
Due: python library

style: Fix superfluous-else-return (RET505)
  gui/wxpython/location_wizard/wizard.py
Due: gui

style: Fix parenthesize-chained-operators (RUF021)
  python/grass/projpicker/coor_latlon.py
Due: python library

style: Fix unnecessary-assign (RET504)
  python/grass/projpicker/projpicker.py
Due: python library

style: Apply isort to new files and changed imports
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/projpicker_gui/gui.py
  gui/wxpython/projpicker_gui/panel.py
  python/grass/getosm/getosm.py
  python/grass/projpicker/common.py
  python/grass/projpicker/coor_xy.py
  python/grass/projpicker/projpicker.py
Due: gui, python library

updated
  gui/wxpython/modules/import_export.py
Due: gui

Use tuple for supplying multiple input maps
  imagery/i.gensig/testsuite/test_i_gensig.py
  imagery/i.maxlik/testsuite/test_i_maxlik.py
  lib/imagery/testsuite/test_imagery_sigfile.py
  lib/imagery/testsuite/test_imagery_sigsetfile.py
  raster/r.contour/testsuite/test_r_contour.py
  raster/r.in.pdal/testsuite/test_r_in_pdal_binning.py
  raster/r.in.pdal/testsuite/test_r_in_pdal_selection.py
  raster/r.kappa/testsuite/test_r_kappa.py
  raster/r.mfilter/benchmark/benchmark_r_mfilter_nprocs.py
  raster/r.neighbors/benchmark/benchmark_r_neighbors_nprocs.py
  raster/r.random/testsuite/test_r_random.py
  raster/r.resamp.filter/benchmark/benchmark_r_resamp_filter.py
  raster/r.resamp.interp/benchmark/benchmark_r_resamp_interp.py
  raster/r.series/benchmark/benchmark_r_series.py
  raster/r.slope.aspect/benchmark/benchmark_r_slope_aspect.py
  raster/r.slope.aspect/benchmark/benchmark_r_slope_aspect_memory.py
  raster/r.tile/testsuite/test_r_tile.py
  raster/r.univar/benchmark/benchmark_r_univar.py
  scripts/r.mapcalc.simple/testsuite/test_rmapcalcsimple.py
  scripts/r.reclass.area/testsuite/test_r_reclass_area.py
  vector/v.random/testsuite/test_v_random.py
  vector/v.surf.rst/benchmark/benchmark_v_surf_rst.py
  vector/v.surf.rst/benchmark/benchmark_v_surf_rst_cv.py
Due: scripts, lib

added type error
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
Due: gui

added type error
  gui/wxpython/lmgr/layertree.py
Due: gui
