Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

wxGUI/datacatalog: Allow delete on multiple locations in data catalog (#875)
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/startup/guiutils.py
Due: gui

v.import: Do not reproject if projections match (#845)
  scripts/v.import/v.import.py
Due: scripts

r.cost (#846)
  raster/r.cost/r.cost.html
Due: none

wxGUI/nviz: fix relative import from 'wxnviz' module (#887)
  gui/wxpython/nviz/tools.py
Due: gui

singularityfile: fix GRASS lib path detection
  singularity/debian/singularityfile_debian
Due: none

wxGUI/animation: fix 'RuntimeError: dictionary changed size during iteration' (#908)
  gui/wxpython/animation/provider.py
Due: gui

wxGUI/datacatalog: Store list of databases in settings (#858)
  gui/wxpython/core/settings.py
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/frame.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/startup/guiutils.py
  lib/python/grassdb/manage.py
Due: gui, lib

lib/init: fix run py script with CRLF line terminators ('grass --exec file_with_CRLF.py') (#860)
  lib/init/grass.py
Due: lib

wxGUI/animation: fix wxPyDeprecationWarning (#854)
  gui/wxpython/animation/dialogs.py
Due: gui

fix manual page typo from #846
  raster/r.cost/r.cost.html
Due: none

wxGUI/datacatalog: Check for gislock and other issues when deleting/renaming mapset and location (#904)
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/startup/guiutils.py
  lib/python/grassdb/checks.py
Due: gui, lib

Contributing: clarifiy feature branch
  CONTRIBUTING.md
Due: none

r.region: add geometry keyword
  raster/r.region/main.c
Due: none

wxGUI datacatalog: improve new db tooltip (#936)
  gui/wxpython/datacatalog/toolbars.py
Due: gui

wxGUI/mapdisp: fix double click on the overlays in the 3D view (#872)
  gui/wxpython/mapdisp/frame.py
Due: gui

wxGUI: update wx4.1.0 support for FlatNotebook (#856)
  gui/wxpython/core/globalvar.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/modules/import_export.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/web_services/widgets.py
Due: gui

pythonlib: add env variables to all relevant functions (#677)
  lib/python/script/array.py
  lib/python/script/core.py
  lib/python/script/db.py
  lib/python/script/raster.py
  lib/python/script/raster3d.py
  lib/python/script/vector.py
Due: lib

wxGUI datacatalog: add direct editing of mapset and location name (#920)
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/startup/guiutils.py
  lib/python/grassdb/checks.py
Due: gui, lib

wxGUI/animation: show error and proceed with temporal database mismatch (#950)
  gui/wxpython/animation/frame.py
  gui/wxpython/animation/g.gui.animation.py
Due: gui

manual: improved HTML page headers (#946)
  lib/gis/parser.c
  lib/gis/parser_html.c
  man/build_html.py
  tools/mkhtml.py
Due: man, lib

docker matrix: add Python version column
  docker/README.md
Due: none

images2gif: PILLOW_VERSION is obsolete (#899)
  lib/python/imaging/images2gif.py
Due: lib

wxGUI/datacatalog: avoid ValueError when map name corrupted with multiple @ chars (#966)
  gui/wxpython/datacatalog/tree.py
Due: gui

init: Update mapset and simplify shell prompts (#923)
  lib/init/grass.py
Due: lib

wxGUI/gcp: fix launch add vector map to group dialog (#924)
  gui/wxpython/gcp/manager.py
Due: gui

raster module memory: set new value globally (#922)
  general/g.parser/standard_option.c
  imagery/i.ortho.photo/i.ortho.rectify/main.c
  imagery/i.rectify/main.c
  imagery/i.segment/parse_args.c
  include/gis.h
  lib/gis/parser_standard_options.c
  lib/init/variables.html
  man/parser_standard_options.py
  raster/r.cost/main.c
  raster/r.in.gdal/main.c
  raster/r.proj/main.c
  raster/r.resamp.bspline/main.c
  raster/r.stream.extract/main.c
  raster/r.terraflow/main.cpp
  raster/r.walk/main.c
  raster/r.watershed/front/main.c
  scripts/r.fillnulls/r.fillnulls.py
  scripts/r.import/r.import.py
  temporal/t.rast.import/t.rast.import.py
  vector/v.surf.bspline/main.c
  vector/v.to.rast/main.c
Due: man, scripts, lib

pythonlib/grassdb: on Windows we can't simply get file owner (#945)
  lib/python/grassdb/checks.py
Due: lib

libproj
  lib/proj/do_proj.c
Due: lib

i18N: sync from Transifex (https://www.transifex.com/grass-gis/grass7/dashboard/)
  locale/po/grasslibs_de.po
  locale/po/grasslibs_pt_BR.po
  locale/po/grassmods_de.po
  locale/po/grassmods_es.po
  locale/po/grassmods_it.po
  locale/po/grassmods_pt_BR.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_it.po
  locale/po/grasswxpy_pt_BR.po
Due: none

wxGUI/datacatalog: fix error handling and add busy cursor when loading, refresh as loading dbs (#957)
  gui/wxpython/datacatalog/tree.py
Due: gui

r.colors: add offset and scale (#954)
  raster/r.colors/edit_colors.c
  raster/r.colors/local_proto.h
  raster/r.colors/r.colors.html
  raster/r.colors/rules.c
  raster/r.colors/stats.c
Due: none

gunittest docs: fix broken links (#934)
  lib/python/docs/conf.py
  lib/python/docs/src/gunittest_testing.rst
Due: lib

r.import: fix calling r.import when use_temp_region is used (#676)
  scripts/r.import/r.import.py
  scripts/r.import/testsuite/test_r_import.py
Due: scripts

wxGUI/nviz: fix reopening 3D by reloading layers (#953)
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/nviz/mapwindow.py
Due: gui

r.plane manual: example improved (#900)
  scripts/r.plane/r.plane.html
  scripts/r.plane/r_plane_3d.png
Due: scripts

keyword 'geometry' added (#940)
  gui/wxpython/gcp/g.gui.gcp.py
  gui/wxpython/image2target/g.gui.image2target.py
  gui/wxpython/photo2image/g.gui.photo2image.py
  imagery/i.ortho.photo/i.ortho.photo/menu.c
  imagery/i.rectify/main.c
  vector/v.rectify/main.c
Due: gui

t.rast.out.vtk manual: fix example
  temporal/t.rast.out.vtk/t.rast.out.vtk.html
Due: none

wxGUI: refactor changing mapset through file menu and catalog with signals (#919)
  gui/wxpython/core/giface.py
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/frame.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/giface.py
  gui/wxpython/startup/guiutils.py
Due: gui

wxGUI/gcp: adding the option/show overwrite confirm dialog to overwrite the result map (#912)
  gui/wxpython/core/settings.py
  gui/wxpython/gcp/manager.py
Due: gui

wxGUI/datacatalog: fix switching mapset between different dbs (#931)
  gui/wxpython/startup/guiutils.py
Due: gui

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
