Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

v.db.select: use compact JSON serialization to match legacy output
  lib/external/parson/gjson.c
  lib/external/parson/gjson.h
  vector/v.db.select/main.c
Due: lib

lib/external/parson: Add wrapper for json_serialize_to_string (#6979)
  lib/external/parson/gjson.c
  lib/external/parson/gjson.h
Due: lib

added tests
  db/db.columns/testsuite/test_dbcolumns.py
Due: none

Use G_json_serialize_to_string
  raster/r.kappa/print_json.c
Due: none

added docs md
  db/db.columns/db.columns.md
Due: none

core: clarify that basin delineation is not supported
  raster/r.watershed/front/main.c
Due: none

tests: add tests for r.watershed for testing reusing maps feat.
  raster/r.watershed/testsuite/test_r_watershed_reuse.py
Due: none

benchmarks: add performance benchmark for r.watershed map reuse
  raster/r.watershed/testsuite/benchmark_reuse.sh
Due: none

lib: add G_OPT_T_SUFFIX as standard parser option (#6966)
  general/g.parser/standard_option.c
  include/grass/gis.h
  lib/gis/parser_standard_options.c
  temporal/t.rast.accdetect/t.rast.accdetect.py
  temporal/t.rast.accumulate/t.rast.accumulate.py
  temporal/t.rast.aggregate.ds/t.rast.aggregate.ds.py
  temporal/t.rast.aggregate/t.rast.aggregate.py
  temporal/t.rast.algebra/t.rast.algebra.py
  temporal/t.rast.contour/t.rast.contour.py
  temporal/t.rast.extract/t.rast.extract.py
  temporal/t.rast.gapfill/t.rast.gapfill.py
  temporal/t.rast.neighbors/t.rast.neighbors.py
  temporal/t.rast.to.vect/t.rast.to.vect.py
  temporal/t.rast3d.extract/t.rast3d.extract.py
  temporal/t.vect.extract/t.vect.extract.py
Due: lib

cmake: general clean up and fixes of OpenGL detection (#6976)
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/Configure.cmake
  cmake/tests/have_pbuffer.c
  cmake/tests/have_pixmaps.c
  include/config.h.cmake.in
  include/grass/nviz.h
  lib/ogsf/gsd_prim.c
Due: lib

refactor code for reducing scope of some variables
  raster/r.geomorphon/main.c
Due: none

Applyied changes according to the Anna's feedback
  raster/r.mapcalc/testsuite/test_r_mapcalc_functions.py
Due: none

tests: add more tests for r.geomorphon
  raster/r.geomorphon/testsuite/test_r_geom.py
Due: none

r.geomorphon: Expand test suite coverage
  raster/r.geomorphon/testsuite/test_r_geom.py
Due: none

t.rast.mapcalc: migrate remaining shell tests to pytest
  temporal/t.rast.mapcalc/test.t.rast.mapcalc.operators.sh
  temporal/t.rast.mapcalc/test.t.rast.mapcalc.sh
  temporal/t.rast.mapcalc/testsuite/test_t_rast_mapcalc_basic.py
  temporal/t.rast.mapcalc/testsuite/test_t_rast_mapcalc_operators.py
Due: none

i.smap: disable test_with_goodness_map test
  imagery/i.smap/testsuite/test_i_smap.py
Due: none

style: fix trailing whitespace in r.fillnulls tests
  scripts/r.fillnulls/testsuite/test_r_fillnulls.py
Due: scripts

Apply suggestion from @nilason
  imagery/i.smap/testsuite/test_i_smap.py
Due: none

MkDocs: Add title field to frontmatter and remove H1 headings (#6906)
  db/drivers/dbf/grass-dbf.md
  db/drivers/mysql/grass-mesql.md
  db/drivers/mysql/grass-mysql.md
  db/drivers/odbc/grass-odbc.md
  db/drivers/ogr/grass-ogr.md
  db/drivers/postgres/grass-pg.md
  db/drivers/sqlite/grass-sqlite.md
  doc/examples/gui/wxpython/g.gui.example.md
  doc/gui/wxpython/example/g.gui.example.md
  general/g.parser/g.parser.md
  gui/wxpython/animation/g.gui.animation.md
  gui/wxpython/datacatalog/g.gui.datacatalog.md
  gui/wxpython/dbmgr/g.gui.dbmgr.md
  gui/wxpython/gcp/g.gui.gcp.md
  gui/wxpython/gmodeler/g.gui.gmodeler.md
  gui/wxpython/iclass/g.gui.iclass.md
  gui/wxpython/image2target/g.gui.image2target.md
  gui/wxpython/mapswipe/g.gui.mapswipe.md
  gui/wxpython/photo2image/g.gui.photo2image.md
  gui/wxpython/psmap/g.gui.psmap.md
  gui/wxpython/rdigit/g.gui.rdigit.md
  gui/wxpython/rlisetup/g.gui.rlisetup.md
  gui/wxpython/timeline/g.gui.timeline.md
  gui/wxpython/tplot/g.gui.tplot.md
  gui/wxpython/vdigit/g.gui.vdigit.md
  raster/r.li/r.li.md
Due: gui

r.kappa: rewrite JSON output using Parson library
  raster/r.kappa/print_json.c
Due: none

r.kappa: clean rewrite of JSON output using Parson library
  raster/r.kappa/print_json.c
Due: none

Verify actual values in r.colors tests
  raster/r.colors/testsuite/test_r_colors.py
Due: none

i.smap: disable test_with_goodness_map test (#6983)
  imagery/i.smap/testsuite/test_i_smap.py
Due: none

CI: add wxPython and enable GUI and docs in CMake runner
  .github/workflows/cmake.yml
  gui/wxpython/core/testsuite/test_gcmd.py
  python/grass/CMakeLists.txt
  python/grass/gunittest/utils.py
  scripts/g.extension/testsuite/data/sample_modules/r.plus.example.tar.gz
  scripts/g.extension/testsuite/data/sample_modules/r.plus.example.zip
  scripts/g.extension/testsuite/data/sample_modules/r.plus.example/CMakeLists.txt
  scripts/g.extension/testsuite/data/sample_modules/r.plus.example_sep.tar.gz
  scripts/g.extension/testsuite/test_addons_download.py
Due: gui, scripts, gunittest, python library

Remove unreliable offset and scale tests
  raster/r.colors/testsuite/test_r_colors.py
Due: none

add tests
  raster/r.kappa/testsuite/test_r_kappa.py
Due: none

CI: add wxPython and enable GUI and docs in CMake runner (#6980)
  .github/workflows/cmake.yml
  gui/wxpython/core/testsuite/test_gcmd.py
  python/grass/CMakeLists.txt
  python/grass/gunittest/utils.py
  scripts/g.extension/testsuite/data/sample_modules/r.plus.example.tar.gz
  scripts/g.extension/testsuite/data/sample_modules/r.plus.example.zip
  scripts/g.extension/testsuite/data/sample_modules/r.plus.example/CMakeLists.txt
  scripts/g.extension/testsuite/data/sample_modules/r.plus.example_sep.tar.gz
  scripts/g.extension/testsuite/test_addons_download.py
Due: gui, scripts, gunittest, python library

tests(t.rast.mapcalc): explicitly remove temporal datasets in tearDownClass
  temporal/t.rast.mapcalc/testsuite/test_t_rast_mapcalc_basic.py
  temporal/t.rast.mapcalc/testsuite/test_t_rast_mapcalc_operators.py
Due: none

tests(t.rast.mapcalc): replace pytest with grass.gunittest in temporal tests
  temporal/t.rast.mapcalc/tests/test_t_rast_mapcalc_basic_pytest.py
  temporal/t.rast.mapcalc/testsuite/test_t_rast_mapcalc_basic.py
  temporal/t.rast.mapcalc/testsuite/test_t_rast_mapcalc_operators.py
Due: none

Fix Python example generation for required options with multiple values
  lib/gis/parser_md_python.c
Due: lib

doc: fix autogenerated Python examples for required options without defaults
  lib/gis/parser_md_python.c
Due: lib

Just fputs fputc
  raster/r.kappa/print_json.c
Due: none

CI: set monthly schedule for Renovate
  renovate.json5
Due: none

Adds alias
  gui/wxpython/datacatalog/g.gui.datacatalog.md
  gui/wxpython/datacatalog/tree.py
Due: gui

set prConcurrentLimitNone
  renovate.json5
Due: none

d.vect.chart: make legend symbol size configurable and support themechart in wxGUI
  display/d.vect.chart/main.c
  gui/wxpython/core/render.py
Due: gui

docs: mention d.vect.chart usage in d.legend.vect
  display/d.legend.vect/d.legend.vect.md
Due: none

t.rast.mapcalc: fix pytest failures and temporal cleanup
  temporal/t.rast.mapcalc/testsuite/test_t_rast_mapcalc_basic.py
  temporal/t.rast.mapcalc/testsuite/test_t_rast_mapcalc_operators.py
Due: none

r.category: add tests for JSON rules file input
  raster/r.category/tests/r_category_test.py
Due: none

r.category: support JSON input along for r.category
  raster/r.category/main.c
Due: none
