Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

used numpy for flip and minor adjustments
  imagery/i.ifft/testsuite/test_i_ifft.py
Due: none

Update map_test.py
  python/grass/jupyter/testsuite/map_test.py
Due: notebooks (jupyter), python library

made necessary changes
  imagery/i.landsat.acca/testsuite/test_i_landsat_acca.py
Due: none

addressed the review comments
  imagery/i.zc/testsuite/test_i_zc.py
Due: none

wxGUI: Fix SIM115 by using context managers for file operations in mapdisp (#5366)
  gui/wxpython/mapdisp/main.py
  pyproject.toml
Due: gui

i.pansharpen: Fix SIM115 warning by using context manager for file operations (#5367)
  pyproject.toml
  scripts/i.pansharpen/i.pansharpen.py
Due: scripts

python: `gs.message` doesn't support an empty string (#5370)
  scripts/db.dropcolumn/db.dropcolumn.py
  scripts/db.droptable/db.droptable.py
  scripts/i.in.spotvgt/i.in.spotvgt.py
Due: scripts

Translated using Weblate (Arabic)
  locale/po/grasslibs_ar.po
  locale/po/grassmods_ar.po
Due: none

added Pathlib and context manager
  pyproject.toml
  scripts/i.in.spotvgt/i.in.spotvgt.py
Due: scripts

cmake: add custom FindCBLAS FindLAPACKE
  cmake/find_scripts/FindBLAS.cmake
  cmake/find_scripts/FindCBLAS.cmake
  cmake/find_scripts/FindLAPACK.cmake
  cmake/find_scripts/FindLAPACKE.cmake
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/Configure.cmake
  include/config.h.cmake.in
  lib/CMakeLists.txt
Due: lib

Translations update from OSGeo Weblate (#5368)
  locale/po/grasslibs_ar.po
  locale/po/grassmods_ar.po
Due: none

cmake: use of imported TIFF target
  cmake/modules/CheckDependentLibraries.cmake
  lib/CMakeLists.txt
Due: lib

doc: fix missing images in md files (#5374)
  gui/wxpython/tplot/g.gui.tplot.md
  raster/r.in.lidar/r.in.lidar.md
Due: gui

i.in.spotvgt: Fix SIM115: Use context managers for file operations (#5375)
  pyproject.toml
  scripts/i.in.spotvgt/i.in.spotvgt.py
Due: scripts

comma
  cmake/find_scripts/FindCBLAS.cmake
Due: none

cmake: use of imported Cairo target (#5352)
  CMakeLists.txt
  cmake/find_scripts/FindCairo.cmake
  cmake/find_scripts/FindFontConfig.cmake
  cmake/modules/CheckDependentLibraries.cmake
  general/CMakeLists.txt
  lib/CMakeLists.txt
Due: lib

cmake: use of imported X11 target
  CMakeLists.txt
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/Configure.cmake
  general/CMakeLists.txt
  lib/CMakeLists.txt
Due: lib

cmake: use of imported OpenGL target
  CMakeLists.txt
  cmake/modules/CheckDependentLibraries.cmake
  lib/CMakeLists.txt
Due: lib

cmake: use of imported TIFF target (#5377)
  cmake/modules/CheckDependentLibraries.cmake
  lib/CMakeLists.txt
Due: lib

gui: fix typos Found via codespell
  gui/wxpython/core/render.py
  gui/wxpython/docs/wxgui_sphinx/conf.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/vnet_core.py
  gui/xml/grass-interface.dtd
Due: gui

i.landsat.acca: add test cases (#5270)
  imagery/i.landsat.acca/testsuite/test_i_landsat_acca.py
Due: none

free proj_info
  raster/r.in.gdal/proj.c
Due: none

gui: fix typos (#5369)
  gui/wxpython/core/render.py
  gui/wxpython/docs/wxgui_sphinx/conf.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/vnet_core.py
  gui/xml/grass-interface.dtd
Due: gui

docs: Point to the repo in MkDocs GitHub stats (#5326)
  man/Makefile
  man/mkdocs/mkdocs.yml
  man/mkdocs/overrides/partials/source.html
Due: man

added summary for functions
  python/grass/gunittest/checkers.py
Due: gunittest, python library

fix resource leak issue
  vector/v.voronoi/skeleton.c
Due: none

docs: Tell MkDocs about pages linked from other pages (#5332)
  man/mkdocs/mkdocs.yml
Due: man

solve windows test
  python/grass/gunittest/loader.py
Due: gunittest, python library

passed list to name parameter
  imagery/i.zc/testsuite/test_i_zc.py
Due: none

renamed the test file
  imagery/i.cluster/testsuite/test_i_cluster.py
Due: none

Fix Resource Leak issue
  lib/gis/datum.c
Due: lib

pythonlib: Add missing docstring summary lines to fix D402 errors (#5378)
  python/grass/gunittest/checkers.py
Due: gunittest, python library

docker: Fixing CFLAG for configuration on Apple ARM M1/2/3 (#5055)
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

cmake: use of imported X11 and OpenGL targets (#5356)
  CMakeLists.txt
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/Configure.cmake
  general/CMakeLists.txt
  lib/CMakeLists.txt
Due: lib

d.vect.thematic: Fix Resource Leak issue in plot1.c (#5273)
  display/d.vect.thematic/plot1.c
Due: none

r.in.gdal: Fix Resource Leak Issue (#5301)
  raster/r.in.gdal/main.c
  raster/r.in.gdal/proj.c
Due: none

lib/vector/Vlib: Fix Resource Leak Issue in array.c (#5372)
  lib/vector/Vlib/array.c
Due: lib

cmake: add custom FindCBLAS FindLAPACKE (#5376)
  cmake/find_scripts/FindBLAS.cmake
  cmake/find_scripts/FindCBLAS.cmake
  cmake/find_scripts/FindLAPACK.cmake
  cmake/find_scripts/FindLAPACKE.cmake
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/Configure.cmake
  include/config.h.cmake.in
  lib/CMakeLists.txt
Due: lib

Fixed file name
  vector/v.build/testsuite/vbuild_test.py
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
