Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

grass.app: Move ISIS integration to the library (#4169)
  lib/init/grass.py
  python/grass/app/runtime.py
Due: lib, python library

r.out.png: reset file pointer to NULL after fclose (#4220)
  raster/r.out.png/main.c
Due: none

removed ruff warnings
  python/libgrass_interface_generator/ctypesgen/version.py
Due: none

fixed flake8 errors in lib/init/grass.py
  lib/init/grass.py
Due: lib

fixed flake8 details .flake8
  .flake8
Due: none

Update python/libgrass_interface_generator/ctypesgen/version.py
  python/libgrass_interface_generator/ctypesgen/version.py
Due: none

CI(OSGeo4W): Use setup-OSGeo4W action to parametrize instal options
  .github/workflows/osgeo4w.yml
Due: none

Remon extra double quote
  .github/workflows/osgeo4w.yml
Due: none

Remove unnecessary space in OSGeo4W workflow file
  .github/workflows/osgeo4w.yml
Due: none

CI: Multiline sorted OSGeo4W package list
  .github/workflows/osgeo4w.yml
Due: none

man/build_index: Use a context manager for opening file
  man/build_index.py
Due: man

man/build_index_rest: Use a context manager for opening file
  man/build_index_rest.py
Due: man

man/build_keywords: Use a context manager for opening files
  man/build_keywords.py
Due: man

man/build_class_graphical: Use a context manager for opening files
  man/build_class_graphical.py
Due: man

man/build_full_index_rest: Use a context manager for opening files
  man/build_full_index_rest.py
Due: man

man/build_full_index: Use a context manager for opening files
  man/build_full_index.py
Due: man

man/build_class_rest: Use a context manager for opening files
  man/build_class_rest.py
Due: man

man/build_class: Use a context manager for opening files
  man/build_class.py
Due: man

style: Enable checking for SIM115 adding exclusions for existing issues
  pyproject.toml
Due: none

resolved some more flake8 warnings
  man/build_check_rest.py
  man/build_class.py
  man/build_full_index_rest.py
Due: man

updates in gitlog flake8
  .flake8
  utils/gitlog2changelog.py
Due: utils

version number and all var updates
  python/libgrass_interface_generator/ctypesgen/version.py
Due: none

style: Fix List index lookup in `enumerate()` loop (PLR1736) in __writeNvizState
  gui/wxpython/core/workspace.py
Due: gui

style: Fix Unnecessary lookup of dictionary value by key (PLR1733) in iscatt_core.py
  gui/wxpython/iscatt/iscatt_core.py
Due: gui

style: Fix `enumerate` index is unused, use `for plane in constants` instead (FURB148) in __writeNvizState
  gui/wxpython/core/workspace.py
Due: gui

Update utils/gitlog2changelog.py
  utils/gitlog2changelog.py
Due: utils

docs: update and cleanup of infrastructure.md
  doc/infrastructure.md
Due: none

Revert "add imagery module"
  python/grass/script/__init__.py
Due: python library

grass.temporal.stds_export: Use pathlib Path.read_text and Path.write_text (#4293)
  python/grass/temporal/stds_export.py
Due: python library

fix wording
  doc/infrastructure.md
Due: none

checks: flake8 F841 (local variable assigned to but never used) fixes in scripts directory part 1 (#4238)
  .flake8
  scripts/d.polar/d.polar.py
  scripts/r.in.wms/wms_cap_parsers.py
  scripts/r.in.wms/wms_gdal_drv.py
Due: scripts

v.external: Check for valid list before passing to qsort (#4280)
  vector/v.external/list.c
Due: none

r.univar: fix MASK check with nprocs > 1
  raster/r.univar/r.univar_main.c
Due: none

wxGUI/gmodeler: dialogs code refactoring (#3816)
  gui/wxpython/gmodeler/dialogs.py
Due: gui

without variable
  db/drivers/sqlite/db.c
Due: none

Update db/drivers/sqlite/db.c
  db/drivers/sqlite/db.c
Due: none

r.univar: fix MASK check with nprocs > 1 (#4297)
  raster/r.univar/r.univar_main.c
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
