Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

libproj: fix area bbox for PROJ (#2467)
  lib/proj/do_proj.c
  vector/v.proj/main.c
Due: lib

lib/gis: allow creation of temporary files outside the current mapset (#1786)
  include/grass/defs/gis.h
  lib/gis/file_name.c
  lib/gis/mapset_msc.c
  lib/gis/tempfile.c
Due: lib

init: Decrease verbosity of --exec (#2457)
  lib/init/grass.py
Due: lib

libproj: fix lontitude estimation for PJ_AREA (#2476)
  lib/proj/do_proj.c
Due: lib

docs: Indent examples with current style (#2500)
  doc/raster/r.example/main.c
  doc/vector/v.example/main.c
Due: none

wxGUI/vselect: fix output fully qualified vector name (#2483)
  gui/wxpython/gui_core/vselect.py
Due: gui

Translations update from OSGeo Weblate (#2427)
  locale/po/grasslibs_de.po
  locale/po/grassmods_de.po
  locale/po/grasswxpy_it.po
Due: none

grass.jupyter: fix bbox reprojection for InteractiveMap (#2501)
  python/grass/jupyter/tests/reprojection_renderer_test.py
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

wxGUI: fix error when starting profile tool (#2450)
  gui/wxpython/wxplot/base.py
Due: gui

wxGUI: remove unnecessary key press event handlers (#2528)
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Due: gui

init: Remove duplicate mapset cleaning code, use verbose (#2455)
  lib/init/grass.py
  python/grass/script/setup.py
Due: lib, python library

grass.script: Remove shutil.which replacement and Python 2/3 unicode (#2366)
  python/grass/gunittest/case.py
  python/grass/script/core.py
  raster/r.in.pdal/testsuite/test_r_in_pdal_binning.py
  raster/r.in.pdal/testsuite/test_r_in_pdal_selection.py
  vector/v.in.pdal/testsuite/test_v_in_pdal_basic.py
  vector/v.in.pdal/testsuite/test_v_in_pdal_filter.py
Due: gunittest, python library

g.extension: Add details to URL error message (#2479)
  scripts/g.extension/g.extension.py
Due: scripts

wxGUI: do not crash on localized GUIs (#2488)
  gui/wxpython/lmgr/workspace.py
Due: gui

wxGUI/dbmgr: show warning message dialog if new layer table link exists (#2428)
  gui/wxpython/dbmgr/base.py
Due: gui

GUI: looping over GetSelections() results in removal of all list items (#2511)
  gui/wxpython/gui_core/dialogs.py
Due: gui

v.what: new option to select columns (#2458)
  vector/v.what/main.c
  vector/v.what/what.c
  vector/v.what/what.h
Due: none

wxGUI/psmap: Ghostscript HyperlinkDialog is needed (#2441)
  gui/wxpython/psmap/frame.py
Due: gui

tests: Add timeout to pytest (#2499)
  .github/workflows/pytest.yml
  pyproject.toml
Due: none

t.rast.series: pass n_procs and memory parameters to r.series (#2470)
  temporal/t.rast.series/t.rast.series.html
  temporal/t.rast.series/t.rast.series.py
Due: none

wxGUI/lmgr: fix launch GCP Manager if not map display is activated (#2464)
  gui/wxpython/lmgr/giface.py
Due: gui

wxGUI: fix setting display size from workspace in multi-window mode (#2518)
  gui/wxpython/gui_core/mapdisp.py
Due: gui

contributing: Add step for update to next version number (#2551)
  doc/howto_release.md
Due: none

version: Reduce usage of the current version number (#2340)
  INSTALL
  mswindows/crosscompile.sh
  python/grass/gunittest/multirunner.py
  python/grass/script/setup.py
Due: gunittest, python library

wxGUI/vdigit: extend tools keyboard shortcuts (#2526)
  gui/wxpython/vdigit/g.gui.vdigit.html
  gui/wxpython/vdigit/mapwindow.py
  gui/wxpython/vdigit/toolbars.py
Due: gui

lib/db: Fix formatting of MySQL error message (#2549)
  db/drivers/mysql/create_table.c
Due: none

Add a Gitter chat badge to README.md (#2540)
  README.md
Due: none

Add 'file_limit' option to t.rast.series (#2429)
  temporal/t.rast.series/t.rast.series.html
  temporal/t.rast.series/t.rast.series.py
Due: none

utils: fix date and time format retrieved from the module source dir (#2595)
  utils/mkhtml.py
Due: utils

g.gui.gmodeler: add PyWPS export option
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  gui/wxpython/gmodeler/g_gui_gmodeler_python.png
  gui/wxpython/gmodeler/g_gui_gmodeler_python_code.png
  gui/wxpython/gmodeler/g_gui_gmodeler_python_code_result.png
  gui/wxpython/gmodeler/g_gui_gmodeler_pywps_code.png
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/pystc.py
Due: gui

man: allow register all addons keywords in main Keywords Index (#2529)
  man/build_keywords.py
Due: man

wxGUI/psmap: don't set StatusBar widget text when frame is closed (#2487)
  gui/wxpython/psmap/frame.py
Due: gui

contributing: Use Markdown for install file (#2543)
  INSTALL
  INSTALL.md
  Makefile
  README.md
  REQUIREMENTS.html
  doc/debugging.txt
  doc/howto_release.md
  macosx/ReadMe.md
Due: none

general/g.mapsets: fix write MAPSETS without additional empty new line (#2586)
  general/g.mapsets/main.c
Due: none

d.text: Use standard options for colors (#2439)
  display/d.text/main.c
Due: none

v.random: do not transfer cat from area if attributes are coppied too (#2537)
  vector/v.random/main.c
Due: none

v.out.vtk: Output double data type instead of float (#2562)
  vector/v.out.vtk/main.c
  vector/v.out.vtk/writeVTK.c
Due: none

MacOS/BSD Use gnu indent (#2267)
  utils/grass_indent.sh
Due: utils

RFC: move adopted RFCs from trac wiki (#2403)
  doc/development/rfc/PSC_guidelines.md
  doc/development/rfc/PSC_voting_procedures.md
  doc/development/rfc/language_standards_support.md
  doc/development/rfc/legal_aspects_of_code_contributions.md
  doc/development/rfc/migration_github.md
  utils/release.yml
Due: utils
