Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

format r.import with black
  scripts/r.import/r.import.py
  scripts/r.import/testsuite/test_r_import.py
Due: scripts

style: Fix ruff unnecessary-collection-call (C408)
  scripts/r.import/testsuite/test_r_import.py
Due: scripts

removed duplicates
  python/grass/script/__init__.py
Due: python library

updates
  .flake8
  python/grass/temporal/temporal_raster_base_algebra.py
Due: python library

fixed 841
  .flake8
  gui/wxpython/rdigit/g.gui.rdigit.py
Due: gui

updated cmp
  .flake8
  python/grass/pydispatch/saferef.py
Due: python library

updated gt
  python/grass/pydispatch/saferef.py
Due: python library

added Popen
  python/grass/script/__init__.py
Due: python library

temporal: Fix bare 'except' in temporal_raster_base_algebra (#4682)
  .flake8
  python/grass/temporal/temporal_raster_base_algebra.py
Due: python library

wxGUI: Removed unused variable from rdigit/ (#4683)
  .flake8
  gui/wxpython/rdigit/g.gui.rdigit.py
Due: gui

Fix Copy into fix size buffer issue
  imagery/i.topo.corr/main.c
Due: none

Fix Resource Leak issue
  raster/r.watershed/ram/do_cum.c
Due: none

Stripped Carriage Returns for windows-2019 build and tests
  raster/r.distance/testsuite/test_distance.py
Due: none

Added test file for r.grow module
  scripts/r.grow/testsuite/test_grow.py
Due: scripts

i.topo.corr: Fix Copy into fix Buffer size issue (#4685)
  imagery/i.topo.corr/main.c
Due: none

r.mfilter: Fix resource leak issue in getfilt.c (#4677)
  raster/r.mfilter/getfilt.c
Due: none

lib/vector/Vlib: Fix resource leak issue in remove_duplicates.c (#4661)
  lib/vector/Vlib/remove_duplicates.c
Due: lib

r.grow: added test file for r.grow module (#4691)
  scripts/r.grow/testsuite/test_grow.py
Due: scripts

fixed 405
  .flake8
  gui/wxpython/iclass/digit.py
Due: gui

update
  gui/wxpython/iclass/digit.py
Due: gui

removed flake8
  .flake8
  gui/wxpython/rlisetup/sampling_frame.py
  gui/wxpython/rlisetup/wizard.py
Due: gui

remove check before G_free
  ps/ps.map/ps_vlegend.c
Due: ps

G_free()
  raster/r.watershed/ram/do_cum.c
  raster/r.watershed/seg/do_cum.c
Due: none

Update formspecific.c with LISFLOOD header
  raster/r.out.ascii/formspecific.c
Due: none

Update localproto.h with LISFLOOD header proto
  raster/r.out.ascii/localproto.h
Due: none

Update main.c with LISFLOOD option "-l" flag
  raster/r.out.ascii/main.c
Due: none

Update r.out.ascii.html with the LISFLOOD header option
  raster/r.out.ascii/r.out.ascii.html
Due: none

wxGUI: Removed star imports in digit.py (#4692)
  .flake8
  gui/wxpython/iclass/digit.py
Due: gui

ps.map: Fix Resource Leak issue in ps_vlegend.c (#4678)
  ps/ps.map/ps_vlegend.c
Due: ps

lib/vector/Vlib: Initialize variable before using it in write_sfa module
  lib/vector/Vlib/write_sfa.c
Due: lib

wxGUI: Fixed unused variable and bare 'except' in frame.py (#4655)
  .flake8
  gui/wxpython/tplot/frame.py
Due: gui

wxGUI: Removed PEP8 errors from rlisetup/ (#4693)
  .flake8
  gui/wxpython/rlisetup/sampling_frame.py
  gui/wxpython/rlisetup/wizard.py
Due: gui

fixes parson issue
  lib/external/parson/parson.c
  lib/external/parson/parson.h
  lib/raster/json_color_out.c
Due: lib

add mintimestep option
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
  raster/r.sim/simlib/simlib.h
  raster/r.sim/simlib/waterglobs.h
Due: none

fix setup
  python/grass/script/__init__.py
Due: python library

modules fixed
  gui/wxpython/iscatt/core_c.py
Due: gui

removed pep8 errors
  .flake8
  gui/wxpython/wxplot/base.py
  gui/wxpython/wxplot/histogram.py
  gui/wxpython/wxplot/profile.py
Due: gui

wxGUI: Fixed modules import to correct libraries (#4698)
  gui/wxpython/iscatt/core_c.py
Due: gui

Changed maps and tuned asserts to rectify earlier build fails
  raster/r.distance/testsuite/test_distance.py
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
