Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

fix for windows build issues and doc correction
  raster/r.distance/testsuite/test_distance.py
Due: none

r.distance: Add tests for r.distance module (#4679)
  raster/r.distance/testsuite/test_distance.py
Due: none

utils: Allow scopes for gui PR titles
  utils/release.yml
Due: utils

utils: Allow MkDocs or mkdocs in the docs category
  utils/release.yml
Due: utils

manual: db.in.ogr add column type detection for CSV
  scripts/db.in.ogr/db.in.ogr.html
Due: scripts

minor HTML fixes
  general/g.tempfile/g.tempfile.html
  imagery/i.ortho.photo/i.ortho.transform/i.ortho.transform.html
  imagery/imageryintro.html
  raster3d/r3.to.rast/r3.to.rast.html
  scripts/r.mapcalc.simple/r.mapcalc.simple.html
  vector/v.edit/v.edit.html
Due: scripts

utils: Allow scopes for gui PR titles (#4882)
  utils/release.yml
Due: utils

imageryintro.html: fix typo; add missing img alt; add missing </li>
  imagery/imageryintro.html
Due: none

"Added Test File for i.fft module"
  imagery/i.fft/testsuite/test_i_fft.py
Due: none

Update test_i_fft.py
  imagery/i.fft/testsuite/test_i_fft.py
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
