Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

rename test_suite folder to testsuite
  raster/r.stats/testsuite/profile.sh
  raster/r.stats/testsuite/test_json2.json
  raster/r.stats/testsuite/test_r_stats.py
Due: none

Remove exclamation mark docstring prefix
  raster/r.stats/testsuite/test_r_stats.py
Due: none

temporal: Fix bare except statements with specific error handling (#4805)
  .flake8
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/core.py
Due: python library

v.in.wfs: improve error message for ServiceException (#4812)
  scripts/v.in.wfs/v.in.wfs.py
Due: scripts

docs: various updates and text fixes in HTML for MD conversion
  lib/cairodriver/cairodriver.html
  lib/init/variables.html
  lib/pngdriver/pngdriver.html
  lib/vector/vectorascii.html
Due: lib

db: URL fixes
  db/drivers/postgres/grass-pg.html
Due: none

display: various updates
  display/d.extract/d.extract.html
  display/d.his/d.his.html
  display/d.legend.vect/d.legend.vect.html
  display/d.profile/d.profile.html
  display/d.rast.num/d.rast.num.html
  display/d.rgb/d.rgb.html
  display/d.title/d.title.html
Due: none

doc: URL fix
  doc/projectionintro.html
Due: none

general: various updates
  general/g.gisenv/g.gisenv.html
  general/g.mapsets/g.mapsets.html
  general/g.message/g.message.html
  general/g.mkfontcap/g.mkfontcap.html
  general/g.proj/g.proj.html
  general/g.region/g.region.html
  general/g.setproj/g.setproj.html
  general/g.tempfile/g.tempfile.html
Due: none

gui: various updates
  gui/wxpython/docs/wxGUI.components.html
  gui/wxpython/docs/wxGUI.html
  gui/wxpython/docs/wxGUI.iscatt.html
  gui/wxpython/docs/wxGUI.modules.html
  gui/wxpython/docs/wxGUI.nviz.html
  gui/wxpython/docs/wxGUI.toolboxes.html
  gui/wxpython/rlisetup/g.gui.rlisetup.html
Due: gui

imagery: various updates
  imagery/i.landsat.acca/i.landsat.acca.html
  imagery/i.ortho.photo/i.ortho.elev/i.ortho.elev.html
  imagery/i.segment/i.segment.html
  imagery/i.svm.predict/i.svm.predict.html
Due: none

imagery: various updates
  imagery/i.svm.train/i.svm.train.html
Due: none

misc: improve HTML formatting
  misc/m.transform/m.transform.html
Due: none

raster3d: various updates
  raster3d/r3.cross.rast/r3.cross.rast.html
  raster3d/r3.in.lidar/r3.in.lidar.html
  raster3d/r3.mask/r3.mask.html
  raster3d/r3.null/r3.null.html
  raster3d/raster3dintro.html
Due: none

scripts: various updates
  scripts/d.what.rast/d.what.rast.html
  scripts/d.what.vect/d.what.vect.html
  scripts/db.in.ogr/db.in.ogr.html
  scripts/db.test/db.test.html
  scripts/i.in.spotvgt/i.in.spotvgt.html
  scripts/i.pansharpen/i.pansharpen.html
  scripts/i.tasscap/i.tasscap.html
  scripts/r.import/r.import.html
  scripts/r.in.wms/r.in.wms.html
  scripts/r.mask/r.mask.html
  scripts/r.tileset/r.tileset.html
  scripts/v.import/v.import.html
  scripts/v.in.geonames/v.in.geonames.html
  scripts/v.in.mapgen/v.in.mapgen.html
  scripts/v.rast.stats/v.rast.stats.html
  scripts/v.what.vect/v.what.vect.html
Due: scripts

temporal: various updates
  temporal/t.copy/t.copy.html
  temporal/t.merge/t.merge.html
  temporal/t.rast.algebra/t.rast.algebra.html
  temporal/t.rast.out.vtk/t.rast.out.vtk.html
  temporal/t.rast.univar/t.rast.univar.html
  temporal/t.rast3d.algebra/t.rast3d.algebra.html
  temporal/t.rast3d.univar/t.rast3d.univar.html
  temporal/t.register/t.register.html
  temporal/t.remove/t.remove.html
  temporal/t.rename/t.rename.html
  temporal/t.sample/t.sample.html
  temporal/t.select/t.select.html
  temporal/t.support/t.support.html
  temporal/t.unregister/t.unregister.html
  temporal/t.upgrade/t.upgrade.html
  temporal/t.vect.algebra/t.vect.algebra.html
  temporal/t.vect.extract/t.vect.extract.html
  temporal/t.vect.list/t.vect.list.html
  temporal/t.vect.observe.strds/t.vect.observe.strds.html
Due: none

vector: various updates
  vector/v.build/v.build.html
  vector/v.cluster/v.cluster.html
  vector/v.colors/v.colors.html
  vector/v.delaunay/v.delaunay.html
  vector/v.external.out/v.external.out.html
  vector/v.external/v.external.html
  vector/v.in.ascii/v.in.ascii.html
  vector/v.in.lidar/v.in.lidar.html
  vector/v.in.ogr/v.in.ogr.html
  vector/v.in.pdal/v.in.pdal.html
  vector/v.lidar.correction/v.lidar.correction.html
  vector/v.lidar.edgedetection/v.lidar.edgedetection.html
  vector/v.lidar.growing/v.lidar.growing.html
  vector/v.lrs/lrs.html
  vector/v.lrs/v.lrs.create/v.lrs.create.html
  vector/v.lrs/v.lrs.label/v.lrs.label.html
  vector/v.lrs/v.lrs.segment/v.lrs.segment.html
  vector/v.lrs/v.lrs.where/v.lrs.where.html
  vector/v.out.lidar/v.out.lidar.html
  vector/v.out.ogr/v.out.ogr.html
  vector/v.out.postgis/v.out.postgis.html
  vector/v.proj/v.proj.html
  vector/v.support/v.support.html
  vector/v.to.rast3/v.to.rast3.html
  vector/v.voronoi/v.voronoi.html
Due: none

visualization: update HTML formatting
  visualization/ximgview/ximgview.html
Due: none

scripts: URL updates in Python scripts
  scripts/i.tasscap/i.tasscap.py
  scripts/v.in.geonames/v.in.geonames.py
Due: scripts

style: Fix if-key-in-dict-del (RUF051)
  gui/wxpython/core/utils.py
  python/grass/pydispatch/signal.py
Due: gui, python library

Apply suggestions from code review
  python/grass/temporal/__init__.py
Due: python library

Extract expected value to variable
  python/grass/script/tests/test_script_task.py
Due: python library

pytest: Allow default test file naming patterns inside tests folders (#4784)
  pyproject.toml
  python/grass/script/tests/test_script_task.py
Due: python library

style: Define `import grass.temporal as tgis` as an import convention
  pyproject.toml
  python/grass/temporal/testsuite/test_temporal_doctests.py
Due: python library

Update scripts/r.import/r.import.py
  scripts/r.import/r.import.py
Due: scripts

temporal: Adjust typing annotation for `datetime_to_grass_datetime_string()`
  python/grass/temporal/datetime_math.py
Due: python library

temporal: Use ScriptError from grass.exceptions in grass.temporal.gui_support
  python/grass/temporal/gui_support.py
Due: python library

temporal: Rename duplicate test name in unittests_temporal_raster_algebra.py
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra.py
Due: python library

replace `.` with &middot;
  misc/m.transform/m.transform.html
Due: none

temporal: Tune typing of functions list in c_libraries_interface
  python/grass/temporal/c_libraries_interface.py
Due: python library

review by @echoix
  lib/vector/rtree/docs/sources.htm
  python/grass/docs/src/gunittest_testing.rst
  scripts/i.tasscap/i.tasscap.py
Due: scripts, lib, python library

CI: Split msys2 packages on multiple lines, using pacboy for environment-specific packages
  .github/workflows/osgeo4w.yml
Due: none

utils/g.html2man/htmltags.txt: dropped outdated file (see instead utils/g.html2man/ggroff.py)
  utils/g.html2man/htmltags.txt
Due: utils

r.in.wms.html: update OSM-WMS-EUROPE -> WORLD_OSM_WMS
  scripts/r.in.wms/r.in.wms.html
Due: scripts

http://www.ssec.wisc.edu/~billh/vis5d.html -> https://vis5d.sourceforge.net/
  raster3d/r3.in.v5d/r3.in.v5d.html
  raster3d/r3.out.v5d/r3.out.v5d.html
Due: none

remove bolding around first instance “search radius” and “relief threshold”
  raster/r.geomorphon/r.geomorphon.html
Due: none
