Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

docs: Add format to example even when not required (#5845)
  lib/gis/parser_md_python.c
Due: lib

CI(pytest): Remove python 3.12
  .github/workflows/pytest.yml
Due: none

Make the special features standalone objects used by composition
  python/grass/experimental/tests/conftest.py
  python/grass/experimental/tests/grass_tools_test.py
  python/grass/experimental/tools.py
  python/grass/script/core.py
Due: python library

fix use flag bug
  imagery/i.ortho.photo/i.ortho.init/main.c
Due: none

grass.script: Add more parameters to handle_errors
  python/grass/script/core.py
  python/grass/script/tests/grass_script_core_subprocesses.py
Due: python library

enable the test after bug fix
  imagery/i.ortho.photo/i.ortho.init/testsuite/test_i_ortho_init.py
Due: none

Fix typo d->z flag in 3d vector example
  display/d.vect/d.vect.md
Due: none

Fix example in d.vect.html d -> z flag for 3d vectors
  display/d.vect/d.vect.html
Due: none

Remove NumPy and pack file code
  python/grass/experimental/tests/grass_tools_test.py
  python/grass/experimental/tools.py
Due: python library

Remove NumPy
  python/grass/experimental/tests/grass_tools_test.py
  python/grass/experimental/tools.py
Due: python library

Remove r.pack IO
  python/grass/experimental/tests/conftest.py
  python/grass/experimental/tests/grass_tools_test.py
  python/grass/experimental/tools.py
Due: python library

d.vect: Fix typo in documentation example (#5876)
  display/d.vect/d.vect.html
  display/d.vect/d.vect.md
Due: none

r.stats: add test file
  raster/r.stats/testsuite/test_r_stats.py
Due: none

docs: Add "see also" boxes with cross-refs in grass.script.core docstrings (#5873)
  python/grass/script/core.py
Due: python library

g.mapset, g.mapsets: Specify stability of the outputs (#5847)
  general/g.mapset/g.mapset.md
  general/g.mapset/main.c
  general/g.mapset/tests/g_mapset_test.py
  general/g.mapsets/g.mapsets.md
  general/g.mapsets/main.c
  general/g.mapsets/tests/g_mapsets_list_format_test.py
Due: none

Capture the name of a subcommand to fix the tests
  python/grass/app/cli.py
Due: python library

Don't worry about specific r.univar output value for mean, just test that the type is float
  python/grass/experimental/tests/grass_tools_test.py
Due: python library

fix cmake and add verbose message
  lib/gis/CMakeLists.txt
  lib/gis/omp_threads.c
Due: lib

Update main.py
  python/grass/gunittest/main.py
Due: gunittest, python library

Revert "CI: Temporarily disable jobs for optimizing CI time during sprint" (#5781)
  .github/workflows/gcc.yml
  .github/workflows/pytest.yml
  .github/workflows/ubuntu.yml
Due: none

make -h and -e flags mutually exclusive
  raster/r.info/main.c
Due: none

update python example
  general/g.version/g.version.md
Due: none

fix failing tests
  raster/r.stats/testsuite/test_r_stats.py
Due: none

remove test
  imagery/i.ortho.photo/i.ortho.init/testsuite/test_i_ortho_init.py
Due: none

docs: Format raised exceptions docstrings and cross-references (#5872)
  python/grass/app/data.py
  python/grass/experimental/create.py
  python/grass/experimental/mapset.py
  python/grass/gunittest/case.py
  python/grass/gunittest/gmodules.py
  python/grass/gunittest/main.py
  python/grass/jupyter/setup.py
  python/grass/script/core.py
  python/grass/script/task.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/temporal_algebra.py
Due: gunittest, notebooks (jupyter), python library

Translated using Weblate (Swedish)
  locale/po/grasslibs_fr.po
  locale/po/grasslibs_sv.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_sv.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_sv.po
Due: none

g.version: Add JSON support (#5863)
  general/CMakeLists.txt
  general/g.version/Makefile
  general/g.version/g.version.md
  general/g.version/local_proto.h
  general/g.version/main.c
  general/g.version/tests/g_version_test.py
Due: none

grass.script: Use text=True by default for subprocesses
  general/g.mapsets/tests/g_mapsets_list_format_test.py
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/task.py
  python/grass/script/testsuite/test_start_command_functions.py
  scripts/r.mask/r.mask.py
Due: scripts, python library

Translations update from OSGeo Weblate (#5838)
  locale/po/grasslibs_fr.po
  locale/po/grasslibs_sv.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_sv.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_sv.po
Due: none

Use low level run functions internally, align result with subprocess.run result, default to text mode
  python/grass/experimental/tests/grass_tools_test.py
  python/grass/experimental/tools.py
Due: python library

remove duplicate line and add proj to cmake
  lib/gis/CMakeLists.txt
  lib/gis/area.c
Due: lib

r.stats: Add test file (#5879)
  raster/r.stats/testsuite/test_r_stats.py
Due: none

remove flag constraints
  raster/r.info/main.c
Due: none

Use tools API also for help in the CLI, support other special flags, workaround the tool help by manually handling the argparse help, but only for the run subcommand
  python/grass/app/cli.py
  python/grass/experimental/tools.py
Due: python library

Tests: use single thread for r.univar when evaluating rasters
  python/grass/gunittest/case.py
Due: gunittest, python library

remove leftover code
  lib/gis/distance.c
Due: lib

update python example
  imagery/i.group/i.group.md
Due: none

fix code blocks
  imagery/i.group/i.group.md
Due: none

Apply suggestions from code review
  imagery/i.group/i.group.md
Due: none

Provide dir(tools) functionality
  python/grass/experimental/tests/grass_tools_test.py
  python/grass/experimental/tools.py
Due: python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
