Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

motion passed
  doc/development/rfc/README.md
  doc/development/rfc/RFC10_cpp_language_standards_support.md
Due: none

manual: fix more broken HTML tags
  db/db.execute/db.execute.html
  db/drivers/ogr/grass-ogr.html
  general/g.parser/g.parser.html
  general/g.proj/g.proj.html
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  imagery/i.evapo.pm/i.evapo.pm.html
  imagery/imageryintro.html
  mswindows/external/rbatch/README.html
  ps/ps.map/ps.map.html
  python/grass/docs/_templates/oholosidebar.html
  raster/r.fill.dir/r.fill.dir.html
  raster/r.geomorphon/r.geomorphon.html
  raster/r.gwflow/r.gwflow.html
  raster/r.in.gdal/r.in.gdal.html
  raster/r.in.lidar/r.in.lidar.html
  raster/r.in.xyz/r.in.xyz.html
  raster/r.li/r.li.edgedensity/r.li.edgedensity.html
  raster/r.li/r.li.html
  raster/r.li/r.li.patchdensity/r.li.patchdensity.html
  raster/r.profile/r.profile.html
  raster/r.solute.transport/r.solute.transport.html
  raster/r.texture/r.texture.html
  raster/r.thin/r.thin.html
  raster/r.timestamp/r.timestamp.html
  raster/r.viewshed/r.viewshed.html
  raster3d/r3.flow/r3.flow.html
  raster3d/r3.in.ascii/r3.in.ascii.html
  raster3d/r3.showdspf/r3.showdspf.html
  scripts/r.mapcalc.simple/r.mapcalc.simple.html
  temporal/t.rast.accumulate/t.rast.accumulate.html
  temporal/t.rast.algebra/t.rast.algebra.html
  temporal/t.vect.algebra/t.vect.algebra.html
  temporal/temporalintro.html
  vector/v.clean/v.clean.html
  vector/v.label/v.label.html
  vector/v.normal/v.normal.html
  vector/v.overlay/v.overlay.html
  vector/v.select/v.select.html
  vector/v.vect.stats/v.vect.stats.html
Due: gui, ps, scripts, python library

r.in.pdal: use different variable name to avoid confusion
  raster/r.in.pdal/info.cpp
Due: none

Added config file for pytest
  raster/r.coin/tests/conftest.py
  raster/r.coin/tests/test_coin.py
Due: none

docs: RFC 10 on C++17 minimum standard support (#4566)
  doc/development/rfc/README.md
  doc/development/rfc/RFC10_cpp_language_standards_support.md
Due: none

r.in.pdal: replace HAVE_PDAL_NOFILENAMEWRITER configure definition with a simple version check in the code to speed up configure process
  configure
  configure.ac
  include/grass/config.h.in
  raster/r.in.pdal/grassrasterwriter.h
Due: none

docs: v.surf.bspline.html fix typo and minor touches (#4776)
  vector/v.surf.bspline/v.surf.bspline.html
Due: none

r.in.pdal: use different variable name to avoid confusion (#4782)
  raster/r.in.pdal/info.cpp
Due: none

Apply suggestions from code review
  python/grass/docs/_templates/oholosidebar.html
  raster/r.geomorphon/r.geomorphon.html
Due: python library

pytest: Allow default test file naming patterns inside tests folders
  pyproject.toml
Due: none

manual: fix more broken HTML tags (#4781)
  db/db.execute/db.execute.html
  db/drivers/ogr/grass-ogr.html
  general/g.parser/g.parser.html
  general/g.proj/g.proj.html
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  imagery/i.evapo.pm/i.evapo.pm.html
  imagery/imageryintro.html
  mswindows/external/rbatch/README.html
  ps/ps.map/ps.map.html
  python/grass/docs/_templates/oholosidebar.html
  raster/r.fill.dir/r.fill.dir.html
  raster/r.geomorphon/r.geomorphon.html
  raster/r.gwflow/r.gwflow.html
  raster/r.in.gdal/r.in.gdal.html
  raster/r.in.lidar/r.in.lidar.html
  raster/r.in.xyz/r.in.xyz.html
  raster/r.li/r.li.edgedensity/r.li.edgedensity.html
  raster/r.li/r.li.html
  raster/r.li/r.li.patchdensity/r.li.patchdensity.html
  raster/r.profile/r.profile.html
  raster/r.solute.transport/r.solute.transport.html
  raster/r.texture/r.texture.html
  raster/r.thin/r.thin.html
  raster/r.timestamp/r.timestamp.html
  raster/r.viewshed/r.viewshed.html
  raster3d/r3.flow/r3.flow.html
  raster3d/r3.in.ascii/r3.in.ascii.html
  raster3d/r3.showdspf/r3.showdspf.html
  scripts/r.mapcalc.simple/r.mapcalc.simple.html
  temporal/t.rast.accumulate/t.rast.accumulate.html
  temporal/t.rast.algebra/t.rast.algebra.html
  temporal/t.vect.algebra/t.vect.algebra.html
  temporal/temporalintro.html
  vector/v.clean/v.clean.html
  vector/v.label/v.label.html
  vector/v.normal/v.normal.html
  vector/v.overlay/v.overlay.html
  vector/v.select/v.select.html
  vector/v.vect.stats/v.vect.stats.html
Due: gui, ps, scripts, python library

r.in.pdal: replace HAVE_PDAL_NOFILENAMEWRITER configure definition (#4783)
  configure
  configure.ac
  include/grass/config.h.in
  raster/r.in.pdal/grassrasterwriter.h
Due: none

v.build.polylines: Fix Resource Leak issue in walk.c (#4734)
  vector/v.build.polylines/walk.c
Due: none

wxGUI: Fixed PEP8 error in startup/ (#4770)
  .flake8
  gui/wxpython/startup/locdownload.py
Due: gui

v.out.dxf: Fix Resource Leak issue in main.c (#4753)
  vector/v.out.dxf/main.c
Due: none

check: Add supression file for false positives and pending fixes for cppcheck tool (#4766)
  .cppcheck-suppressions
Due: none

lib/gis: Refactor va_list usage in debug module (#4702)
  lib/gis/debug.c
Due: lib

style: Fix RUF055 [*] Plain string pattern passed to `re` function
  gui/wxpython/photo2image/ip2i_manager.py
Due: gui

docs: i.albedo and r.li manual HTML fixes (#4654)
  imagery/i.albedo/i.albedo.html
  raster/r.li/r.li.html
Due: none

docs: add Intro: Graphical User Interface
  db/databaseintro.html
  doc/projectionintro.html
  gui/Makefile
  gui/wxguiintro.html
  gui/wxpython/docs/wxGUI.html
  imagery/imageryintro.html
  man/build_html.py
  man/build_rest.py
  raster/rasterintro.html
  raster3d/raster3dintro.html
  temporal/temporalintro.html
  vector/vectorintro.html
Due: gui, man

docs: add guidelines for writing a meaningful pull request (#4197)
  doc/development/github_guide.md
Due: none

docs: add README.md to doc/development/rfc/ (#4316)
  doc/development/rfc/README.md
  doc/development/rfc/version_numbering.md
Due: none

docs: enable btree2/kdtree lib doxygen file for Programmer's manual
  lib/btree2/Makefile
  lib/btree2/btree2lib.dox
Due: lib

style: Fix or ignore os-listdir (PTH208) Use `pathlib.Path.iterdir()` instead. Ruff rule: https://docs.astral.sh/ruff/rules/os-listdir/
  man/build_manual_gallery.py
  pyproject.toml
  python/grass/grassdb/checks.py
  scripts/r.pack/r.pack.py
Due: man, scripts, python library

docs: v.to.3d.html minor edits
  vector/v.to.3d/v.to.3d.html
Due: none

docs: v.kernel.html minor edits
  vector/v.kernel/v.kernel.html
Due: none

docs: v.to.3d.html minor edits (#4787)
  vector/v.to.3d/v.to.3d.html
Due: none

docs: v.kernel.html minor edits (#4788)
  vector/v.kernel/v.kernel.html
Due: none

win: Trim trailing whitespace in R batch files
  mswindows/external/README.license
  mswindows/external/rbatch/ANNOUNCE
  mswindows/external/rbatch/NEWS
  mswindows/external/rbatch/R.bat
  mswindows/external/rbatch/README.grass
  mswindows/external/rbatch/RESOURCES
  mswindows/external/rbatch/Rpathset.bat
  mswindows/external/rbatch/batchfiles.tex
  mswindows/external/rbatch/copydir.bat
  mswindows/external/rbatch/find-miktex.hta
  mswindows/external/rbatch/make-batchfiles-pdf.bat
  mswindows/external/rbatch/movedir.bat
Due: none

Another CID added
  lib/gpde/n_arrays_io.c
Due: lib

Added new CIDs
  lib/raster3d/index.c
Due: lib

Changes Requested
  display/d.vect/lines.c
Due: none

Update display/d.vect/lines.c
  display/d.vect/lines.c
Due: none

style: override markdownlint MD041, partial backport of 22b07ac (#4207)
  .markdownlint.yml
Due: none

CI: create versioned directory name of extracted tarball (#4659)
  .github/workflows/create_release_draft.yml
Due: none

r.in.gdal/r.external: add basic support for GDALs GDT_Int8 (#4256)
  lib/raster/gdal.c
  lib/raster/get_row.c
  raster/r.external/link.c
  raster/r.in.gdal/testsuite/data/int8.tif
  raster/r.in.gdal/testsuite/data/int8.vrt
  raster/r.in.gdal/testsuite/test_r_in_gdal.py
Due: lib

docs: enable btree2/kdtree lib doxygen file for Programmer's manual (#4786)
  lib/btree2/Makefile
  lib/btree2/btree2lib.dox
Due: lib
