Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Add the zoom-in feature
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

v.to.db: add JSON support
  vector/v.to.db/Makefile
  vector/v.to.db/global.h
  vector/v.to.db/main.c
  vector/v.to.db/parse.c
  vector/v.to.db/report.c
Due: none

Add CSS for table
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

Update utils
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

Update zoom in
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

changes made according to review
  imagery/i.atcorr/main.cpp
Due: none

commit after CI runners failed
  imagery/i.atcorr/main.cpp
Due: none

Update imagery/i.atcorr/main.cpp
  imagery/i.atcorr/main.cpp
Due: none

display: Fix buffer overflow issues in do_labels.c
  display/d.labels/do_labels.c
Due: none

handled EOF case
  display/d.labels/do_labels.c
Due: none

Update display/d.labels/do_labels.c
  display/d.labels/do_labels.c
Due: none

Update main.cpp
  imagery/i.atcorr/main.cpp
Due: none

style: Fix yoda-conditions (SIM300)
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/utils.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/web_services/widgets.py
  pyproject.toml
  python/grass/temporal/spatial_extent.py
  scripts/g.extension/g.extension.py
Due: gui, scripts, python library

i.atcorr: Fix uninitialized variable (#4022)
  imagery/i.atcorr/main.cpp
Due: none

style: Fix sorted-min-max (FURB192) (#4035)
  man/build_class_graphical.py
  pyproject.toml
Due: man

style: Fix readlines-in-for (FURB129) (#4034)
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/render.py
  gui/wxpython/core/settings.py
  gui/wxpython/core/utils.py
  gui/wxpython/core/watchdog.py
  gui/wxpython/core/workspace.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gui_core/ghelp.py
  gui/wxpython/image2target/ii2t_gis_set.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/vnet/vnet_data.py
  lib/init/grass.py
  pyproject.toml
  python/grass/grassdb/history.py
  python/grass/pygrass/raster/category.py
  python/grass/script/core.py
  python/grass/script/db.py
  scripts/d.frame/d.frame.py
  scripts/g.extension/g.extension.py
  scripts/i.spectral/i.spectral.py
  scripts/r.pack/r.pack.py
Due: gui, scripts, lib, pygrass, python library

style: Fix yoda-conditions (SIM300) (#4044)
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/utils.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/web_services/widgets.py
  pyproject.toml
  python/grass/temporal/spatial_extent.py
  scripts/g.extension/g.extension.py
Due: gui, scripts, python library

Update frame.py
  gui/wxpython/tplot/frame.py
Due: gui

Update code
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

style: Fix collapsible-else-if (PLR5501)
  gui/wxpython/animation/controller.py
  scripts/v.db.reconnect.all/v.db.reconnect.all.py
  scripts/v.report/v.report.py
  utils/mkhtml.py
Due: gui, utils, scripts

style: Fix reimplemented-starmap (FURB140)
  gui/wxpython/animation/controller.py
  pyproject.toml
Due: gui

style: Fix delete-full-slice (FURB131)
  gui/wxpython/core/toolboxes.py
  pyproject.toml
Due: gui

style: Fix unnecessary-enumerate (FURB148)
  gui/wxpython/psmap/dialogs.py
  pyproject.toml
Due: gui

style: Fix for-loop-set-mutations (FURB142)
  gui/wxpython/animation/temporal_manager.py
  gui/wxpython/animation/utils.py
  pyproject.toml
Due: gui

style: Fix single-item-membership-test (FURB171)
  gui/wxpython/core/render.py
  gui/wxpython/mapwin/buffered.py
  lib/init/grass.py
  pyproject.toml
  python/grass/grassdb/history.py
  scripts/g.extension/g.extension.py
Due: gui, scripts, lib, python library

style: Fix read-whole-file (FURB101)
  display/d.text/test.py
  gui/wxpython/core/render.py
  gui/wxpython/core/toolboxes.py
  gui/wxpython/gui_core/pyedit.py
  man/build_manual_gallery.py
  pyproject.toml
  python/grass/benchmark/results.py
  python/grass/grassdb/history.py
  python/grass/gunittest/invoker.py
  python/grass/gunittest/reporters.py
  python/grass/jupyter/baseseriesmap.py
  python/grass/jupyter/interactivemap.py
  python/grass/pygrass/shell/show.py
  scripts/g.extension/g.extension.py
  scripts/g.extension/testsuite/test_addons_download.py
  scripts/v.in.wfs/v.in.wfs.py
  temporal/t.connect/testsuite/test_distr_tgis_db_raster.py
  temporal/t.connect/testsuite/test_distr_tgis_db_raster3d.py
  temporal/t.connect/testsuite/test_distr_tgis_db_vector.py
  utils/generate_release_notes.py
  utils/mkhtml.py
  utils/update_version.py
Due: gui, man, utils, scripts, pygrass, gunittest, notebooks (jupyter), python library

style: Extract repeated config_directory variable in generate_release_notes
  utils/generate_release_notes.py
Due: utils

style: Fix write-whole-file (FURB103)
  gui/wxpython/gui_core/pyedit.py
  pyproject.toml
  python/grass/benchmark/results.py
  python/grass/gunittest/invoker.py
  python/grass/gunittest/reporters.py
  python/grass/gunittest/testsuite/test_assertions.py
  python/grass/pygrass/raster/category.py
  raster/r.mfilter/benchmark/benchmark_r_mfilter_nprocs.py
  raster/r.neighbors/testsuite/test_r_neighbors.py
  scripts/g.extension/g.extension.py
  scripts/r.in.wms/wms_base.py
  scripts/r.unpack/r.unpack.py
  scripts/v.db.addcolumn/v.db.addcolumn.py
  temporal/t.register/testsuite/test_t_register_raster_file.py
  utils/g.html2man/g.html2man.py
Due: gui, utils, scripts, pygrass, gunittest, python library

style: repeated-global (FURB154)
  gui/wxpython/gcp/manager.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/photo2image/ip2i_manager.py
  pyproject.toml
  python/grass/script/vector.py
  python/grass/temporal/core.py
  scripts/d.polar/d.polar.py
Due: gui, scripts, python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
