Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

adding line format
  temporal/t.vect.list/t.vect.list.py
Due: none

added test for list
  temporal/t.vect.list/tests/t_vect_list_test.py
Due: none

used tools api
  temporal/t.vect.list/tests/t_vect_list_test.py
Due: none

tools api in conftest
  temporal/t.vect.list/tests/conftest.py
  temporal/t.vect.list/tests/t_vect_list_test.py
Due: none

method=comma similar to line format
  temporal/t.vect.list/t.vect.list.py
Due: none

nitpicks
  temporal/t.vect.list/tests/t_vect_list_test.py
Due: none

no need of comma to have 1 cols
  temporal/t.vect.list/t.vect.list.py
Due: none

g.extension: improve CMake module name regex
  scripts/g.extension/g.extension.py
Due: scripts

Added gradient color legend with feature for user specific color scheme alongside
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

grass.script.array: Auto-detect dtype from raster map type
  python/grass/script/array.py
  python/grass/script/tests/grass_script_array_test.py
Due: python library

64-bit integers are now rejected early
  python/grass/script/array.py
  python/grass/script/tests/grass_script_array_test.py
Due: python library

t.vect.list: Added support for JSON, YAML and CSV (#7051)
  temporal/t.vect.list/t.vect.list.py
  temporal/t.vect.list/tests/conftest.py
  temporal/t.vect.list/tests/t_vect_list_test.py
Due: none

skip pytest on yaml single test
  temporal/t.rast.list/tests/t_rast_list_test.py
  temporal/t.vect.list/tests/t_vect_list_test.py
Due: none

reformat to use pipe in csv
  temporal/t.rast.list/t.rast.list.py
  temporal/t.vect.list/t.vect.list.py
Due: none

test added
  temporal/t.rast.list/tests/t_rast_list_test.py
  temporal/t.vect.list/tests/t_vect_list_test.py
Due: none

test for none and pipe in line format
  temporal/t.rast.list/tests/t_rast_list_test.py
  temporal/t.vect.list/tests/t_vect_list_test.py
Due: none

separator giving errors on json and yaml
  temporal/t.rast.list/tests/t_rast_list_test.py
  temporal/t.vect.list/tests/t_vect_list_test.py
Due: none

fix missing env
  python/grass/script/array.py
Due: python library

remove error messages for 3d array, integers are cast to double, so no data loss
  python/grass/script/array.py
  python/grass/script/tests/grass_script_array_test.py
Due: python library

make error messages not translatable
  python/grass/script/array.py
Due: python library

Add copy path for databases
  gui/wxpython/datacatalog/tree.py
Due: gui

r.coin: add JSON output support
  raster/r.coin/Makefile
  raster/r.coin/coin.h
  raster/r.coin/local_proto.h
  raster/r.coin/main.c
  raster/r.coin/print_json.c
Due: none

tests: add tests for r.coin
  raster/r.coin/tests/test_json.py
Due: none

Pre-Commit Fix
  man/build_check.py
  man/build_class_graphical.py
Due: man

Add JSON Output Support to v.net
  vector/v.net/v.net.md
Due: none

Add JSON Output Support to v.net
  vector/v.net/Makefile
  vector/v.net/args.c
  vector/v.net/main.c
  vector/v.net/proto.h
  vector/v.net/report.c
  vector/v.net/testsuite/test_v_net.py
Due: none

Tools is used for test , pre-commit fix is made and v.net.md is fixed.
  vector/v.net/report.c
  vector/v.net/testsuite/test_v_net.py
  vector/v.net/v.net.md
Due: none

Removed duplicate function declaration in report.c
  vector/v.net/report.c
Due: none

v.net: fix JSON output warnings and update test suite
  vector/v.net/args.c
  vector/v.net/main.c
  vector/v.net/proto.h
  vector/v.net/report.c
  vector/v.net/testsuite/test_v_net.py
  vector/v.net/v.net.md
Due: none

Deleted Test Replaced
  vector/v.net/testsuite/test_v_net.py
Due: none

Needed fixes is done.
  vector/v.net/args.c
  vector/v.net/main.c
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
