Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

wxGUI/gui_core: fix open map display overlay settings dialog (#2065)
  gui/wxpython/gui_core/mapdisp.py
Due: gui

wxGUI/main_window: fix close map notebook page (#2072)
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
Due: gui

g.extension: fix make command on FreeBSD (#2075)
  scripts/g.extension/g.extension.py
Due: scripts

r.clump (#1792)
  raster/r.clump/main.c
Due: none

wxGUI: get rid of gradient in map display notebook tabs (#2071)
  gui/wxpython/gui_core/wrap.py
  gui/wxpython/main_window/frame.py
Due: gui

Happy New Year (#2059)
  INSTALL
  REQUIREMENTS.html
  grasslib.dox
  include/VERSION
  include/grass/gis.h
  lib/gis/gislib_cmdline_parsing.dox
  lib/init/grass.py
  lib/init/grass.sh
  man/build_graphical_index.py
  man/build_html.py
  man/build_rest.py
  man/sphinx/conf.py
  utils/mkhtml.py
Due: man, utils, lib

winGRASS: change form BU Execute to "GenericRead + GenericExecute" (#2069)
  mswindows/GRASS-Installer.nsi.tmpl
Due: none

wxGUI/gui_core: fix change opacity level dialog min/max size (#2067)
  gui/wxpython/gui_core/dialogs.py
Due: gui

wxGUI: use basic top module notebook style on all platforms as default (#2063)
  gui/wxpython/core/settings.py
Due: gui

Update g.gisenv.html (#232)
  general/g.gisenv/g.gisenv.html
Due: none

Add Zenodo DOI badge to readme (#2122)
  README.md
Due: none

g.gui.timeline: fix annotation box (#2107)
  gui/wxpython/timeline/frame.py
Due: gui

wxGUI: lazy loading of C imagery functions in SignatureSelect (#2120)
  gui/wxpython/gui_core/gselect.py
Due: gui

howto_release.md: minor tweaks (#2136)
  doc/howto_release.md
Due: none

v.distance: relax parser rules (#2127)
  vector/v.distance/main.c
Due: none

wxGUI: Projection checkbox from Map Display statusbar moved to Map Display Settings (#2087)
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/properties.py
  gui/wxpython/mapwin/base.py
Due: gui

wxGUI: Move statusbar checkboxes related to Map Display to a new Map Display Settings dialog (#2031)
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/properties.py
  gui/wxpython/mapdisp/statusbar.py
  gui/wxpython/mapdisp/toolbars.py
Due: gui

scripts/g.extension: fix link generation in multi-addon man page for addons (#2097)
  scripts/g.extension/g.extension.py
Due: scripts

libgis: Mention session in the variable not set message (#2130)
  lib/gis/env.c
Due: lib

sync tb version mismatch version with g78 (#2088)
  python/grass/temporal/core.py
Due: python library

grass.jupyter: Return session from init (#1834)
  doc/notebooks/basic_example_grass_jupyter.ipynb
  doc/notebooks/grass_jupyter.ipynb
  doc/notebooks/hydrology.ipynb
  doc/notebooks/solar_potential.ipynb
  doc/notebooks/viewshed_analysis.ipynb
  python/grass/jupyter/setup.py
Due: notebooks (jupyter), python library

utils/mkhtml.py: fix get core modules commit from local git repo and remote GitHub API server (#2113)
  utils/mkhtml.py
Due: utils

Fix typo in v.import documentation (#2142)
  scripts/v.import/v.import.html
Due: scripts

howto_release.md: better explain howto add new tag (#2099)
  doc/howto_release.md
Due: none

grass.script: Fix collision of random names in test (#2105)
  python/grass/script/testsuite/test_names.py
Due: python library

wxGUI: remove unnecessary printing of invalid map size (#2146)
  gui/wxpython/core/render.py
Due: gui

wxGUI: Thread.setDaemon deprecated in Python 3.10 (#2145)
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/gthread.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/nviz/mapwindow.py
Due: gui

wxGUI: Move SbMask widget to main window/layer manager statusbar (#2089)
  gui/wxpython/core/gconsole.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/statusbar.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/statusbar.py
Due: gui

wxGUI Single-Window: Focus the Console pane when console content has been changed (#2121)
  gui/wxpython/main_window/frame.py
Due: gui

howto_release.md: more "Create tag" tricks added (#2116)
  doc/howto_release.md
Due: none

wxGUI/xml: add Raster digitizer tool among GUI tools toolbox items (#2125)
  gui/wxpython/xml/toolboxes.xml
  gui/wxpython/xml/wxgui_items.xml
Due: gui

dbmi_client_start_driver: check if driver name is null or empty (#2131)
  lib/db/dbmi_client/start.c
Due: lib

r.mfilter: implement parallelization with OpenMP (#1708)
  raster/r.mfilter/Makefile
  raster/r.mfilter/benchmark/benchmark_r_mfilter_nprocs.py
  raster/r.mfilter/execute.c
  raster/r.mfilter/filter.h
  raster/r.mfilter/glob.h
  raster/r.mfilter/main.c
  raster/r.mfilter/perform.c
  raster/r.mfilter/r.mfilter.html
  raster/r.mfilter/r_mfilter_benchmark_1.png
  raster/r.mfilter/r_mfilter_benchmark_2.png
  raster/r.mfilter/testsuite/test_r_mfilter.py
Due: none

v.to.db: fix option=query (#2085)
  vector/v.to.db/main.c
Due: none

utils/mkhtml: fix print warning/fatal message during compilation (#2139)
  utils/mkhtml.py
Due: utils

scripts/g.extension.all: fix reinstall multi-addons (#2082)
  scripts/g.extension.all/g.extension.all.py
Due: scripts

libgis: Mention session in the missing GISRC message (#2124)
  lib/gis/env.c
Due: lib

imageryintro.html: add section about semantic labels (#2091)
  imagery/imageryintro.html
  lib/imagery/Makefile
  lib/imagery/band_references_scheme.png
Due: lib

scripts/g.extension: fix get get_addons_paths func json_file attribute (#2094)
  scripts/g.extension/g.extension.py
Due: scripts

GRASS GIS 8 dev: version bump to grass81 (#2084)
  INSTALL
  display/d.mon/main.c
  doc/howto_release.md
  docker/alpine/Dockerfile
  docker/alpine/Dockerfile_alpine_latest
  docker/debian/Dockerfile
  docker/ubuntu/Dockerfile
  general/g.findfile/g.findfile.html
  general/g.message/g.message.html
  grasslib.dox
  gui/wxpython/xml/menudata.README
  lib/gis/parser_wps.c
  lib/gpde/gpdelib.dox
  locale/README
  man/build_graphical_index.py
  man/sphinx/Makefile
  man/sphinx/conf.py
  man/sphinx/make.bat
  mswindows/Installer-Files/WinGRASS-README.url
  mswindows/crosscompile.sh
  python/grass/docs/src/pygrass_gis.rst
  python/grass/gunittest/README.md
  python/grass/pygrass/modules/shortcuts.py
  python/grass/script/core.py
  testsuite/README.md
  testsuite/examples/test_framework_GRASS_GIS_with_NC.sh
  vector/v.info/v.info.html
Due: gui, man, lib, pygrass, gunittest, python library
