Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

v.out.svg: Fix copy into fixed size buffer issues in main.c (#6312)
  vector/v.out.svg/main.c
Due: none

docs: Better use of computational region in NumPy examples
  doc/python_intro.md
  python/grass/tools/session_tools.py
Due: python library

grass.jupyter: Use grass.tools for running and attributes in Map
  python/grass/jupyter/map.py
  python/grass/jupyter/tests/conftest.py
  python/grass/jupyter/tests/grass_jupyter_map_numpy_test.py
  python/grass/jupyter/tests/grass_jupyter_map_test.py
  python/grass/jupyter/testsuite/map_test.py
  python/grass/jupyter/utils.py
  python/grass/tools/support.py
  python/grass/tools/tests/grass_tools_tool_function_wrap_test.py
Due: notebooks (jupyter), python library

v.out.ogr: fix fast method with no attributes (#6303)
  vector/v.out.ogr/export_areas_fast.c
  vector/v.out.ogr/testsuite/test_v_out_ogr.py
Due: none

lib/vector: remove writing trailing spaces in ASCII format (#6260)
  lib/vector/Vlib/ascii.c
  python/grass/gunittest/case.py
  python/grass/gunittest/testsuite/test_assertions_vect.py
Due: lib, gunittest, python library

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

Resource leak
  vector/v.external.out/list.c
Due: none

v.out.ogr: free allocated line_cats structure
  vector/v.out.ogr/export_areas_fast.c
Due: none

Fix Resource Leak Issue
  display/d.graph/do_graph.c
Due: none

Fix Copy buffer size issues
  lib/db/dbmi_client/table.c
Due: lib

v.out.ogr: free allocated line_cats structure (#6328)
  vector/v.out.ogr/export_areas_fast.c
Due: none

Fix Dereference after null check
  lib/gis/parser.c
Due: lib

Fix Dereference before Null Check
  raster/r.gwflow/main.c
Due: none

grass.jupyter: fix TimeSeriesMap layer rendering (#5632)
  python/grass/jupyter/baseseriesmap.py
  python/grass/jupyter/region.py
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  python/grass/jupyter/timeseriesmap.py
Due: notebooks (jupyter), python library

Refactor check and optional free into a function
  lib/gis/parser_json.c
Due: lib

grass.jupyter: Use grass.tools for running and attributes in Map (#6314)
  python/grass/jupyter/map.py
  python/grass/jupyter/tests/conftest.py
  python/grass/jupyter/tests/grass_jupyter_map_numpy_test.py
  python/grass/jupyter/tests/grass_jupyter_map_test.py
  python/grass/jupyter/testsuite/map_test.py
  python/grass/jupyter/utils.py
  python/grass/tools/support.py
  python/grass/tools/tests/grass_tools_tool_function_wrap_test.py
Due: notebooks (jupyter), python library

Fix grammar
  doc/python_intro.md
Due: none

Fix copy-pasted comment to match the simple expression
  doc/python_intro.md
Due: none

Remove debug comments; Remove header path conversion
  cmake/ctypesgen.cmake
  python/libgrass_interface_generator/ctypesgen/parser/datacollectingparser.py
Due: none

ctypesgen: Handle multiline pragmas and defines
  python/libgrass_interface_generator/ctypesgen/parser/preprocessor.py
Due: none

grass.tools: add __iter__ to result object to streamline reading into pandas dataframe (#6311)
  python/grass/tools/support.py
  python/grass/tools/tests/grass_tools_session_tools_test.py
Due: python library

lib/parser: Escape special characters in --json (#6310)
  lib/gis/parser_json.c
  lib/gis/tests/conftest.py
  lib/gis/tests/lib_gis_parser_json_test.py
Due: lib

lib/raster: Add bad line to reclass header error
  lib/raster/reclass.c
  lib/raster/tests/lib_raster_reclass_test.py
  lib/raster/testsuite/test_reclass.py
Due: lib

Expand the reported error message for reclass, and test the related error states. Make the existing r.random.surface with mask a separate test.
  lib/raster/reclass.c
  lib/raster/tests/conftest.py
  lib/raster/tests/lib_raster_reclass_test.py
  lib/raster/testsuite/test_reclass.py
  raster/r.random.surface/testsuite/test_r_random_surface.py
  raster/r.random.surface/testsuite/test_r_random_surface_with_mask.py
Due: lib

Fix copy-paste error in test
  lib/raster/tests/lib_raster_reclass_test.py
Due: lib

Start the import-export machinery only when there are files in the parameters
  python/grass/experimental/tools.py
  python/grass/tools/support.py
  python/grass/tools/tests/grass_tools_session_tools_test.py
Due: python library

Integrate pack code into grass.tools
  python/grass/experimental/Makefile
  python/grass/experimental/tools.py
  python/grass/tools/Makefile
  python/grass/tools/importexport.py
  python/grass/tools/session_tools.py
  python/grass/tools/support.py
  python/grass/tools/tests/conftest.py
  python/grass/tools/tests/grass_tools_session_tools_pack_test.py
  python/grass/tools/tests/grass_tools_session_tools_test.py
Due: python library

lib/raster: Add bad line to reclass header error (#6339)
  lib/raster/reclass.c
  lib/raster/tests/conftest.py
  lib/raster/tests/lib_raster_reclass_test.py
  raster/r.random.surface/testsuite/test_r_random_surface.py
  raster/r.random.surface/testsuite/test_r_random_surface_with_mask.py
Due: lib

Move code out of the Tools class, clean up code around ImporterExporter class
  python/grass/tools/importexport.py
  python/grass/tools/session_tools.py
  python/grass/tools/support.py
  python/grass/tools/tests/grass_tools_session_tools_pack_test.py
Due: python library

Doc for tests
  python/grass/tools/tests/grass_tools_session_tools_pack_test.py
Due: python library

Use tmp_path for files in tests. Test supported path representations.
  python/grass/tools/importexport.py
  python/grass/tools/tests/grass_tools_session_tools_pack_test.py
Due: python library

Remove last piece of grass.experimental.tools from CLI
  python/grass/app/cli.py
Due: python library

Update the names (but code does not run)
  python/grass/experimental/Makefile
  python/grass/tools/Makefile
  python/grass/tools/__init__.py
  python/grass/tools/standalone_tools.py
  python/grass/tools/tests/conftest.py
  python/grass/tools/tests/grass_tools_standalone_tools_test.py
Due: python library

ctypesgen: Fix ctypesgen build issues on Windows (#6307)
  cmake/ctypesgen.cmake
  python/libgrass_interface_generator/CMakeLists.txt
Due: none

python: resolve osgeo.gdal exception warnings
  gui/wxpython/core/ws.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/modules/import_export.py
  scripts/r.in.wms/wms_drv.py
  scripts/r.in.wms/wms_gdal_drv.py
  scripts/v.import/v.import.py
Due: gui, scripts

lib/raster: Add larger buffers, error messages to reclass header reader
  lib/raster/reclass.c
  lib/raster/tests/lib_raster_reclass_test.py
Due: lib

No warning when not dealing with a reclass
  lib/raster/reclass.c
Due: lib

Lower the length on Windows to avoid 'MAPSET m... not found at' error from r.mapcalc call.
  lib/raster/tests/lib_raster_reclass_test.py
Due: lib
