Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

remove extra #endif, remnant from solving conflicts with main
  lib/gis/lrand48.c
Due: lib

remove more leftovers from solving conflict with main
  lib/gis/lrand48.c
Due: lib

lib/gis: Return the child exit status from G_popen_close
  include/grass/defs/gis.h
  lib/gis/popen.c
Due: lib

grass.app.runtime: Do not add the same paths again on repeated setup
  python/grass/app/runtime.py
  python/grass/app/tests/grass_app_runtime_test.py
Due: python library

grass.app.runtime: Make the conditional grouping in set_dynamic_library_path explicit
  python/grass/app/runtime.py
Due: python library

v.random: drop the remaining redundant .json in the tests
  vector/v.random/tests/v_random_test.py
Due: none

grass.temporal: support fully qualified names on read (#7670)
  python/grass/temporal/core.py
  python/grass/temporal/open_stds.py
  python/grass/temporal/tests/grass_temporal_fully_qualified_names_test.py
Due: python library

v.random: migrate tests from gunittest to pytest (#7822)
  vector/v.random/tests/v_random_test.py
  vector/v.random/testsuite/test_v_random.py
Due: none

g.remove: migrate tests from gunittest to pytest (#7896)
  general/g.remove/tests/g_remove_test.py
  general/g.remove/testsuite/test_g_remove.py
Due: none

docker: Update to Ubuntu 26.04 and related dependencies
  Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Due: none

re-sync
  docker/ubuntu/Dockerfile
Due: none

drop docker/ubuntu_wxgui/Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Due: none

updated to WXPYTHON_VERSION=4.3.1 and ubuntu2604
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

Apply suggestion from @echoix
  Dockerfile
Due: none

Apply suggestion from @echoix
  docker/ubuntu/Dockerfile
Due: none

Fix wxpython ubuntu2604 asset. Co-authored-by: @echoix
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

contributing: Use SPDX copyright tags in more complicated file headers (#7751)
  imagery/i.albedo/main.c
  imagery/i.aster.toar/main.c
  imagery/i.evapo.time/main.c
  lib/gis/open_misc.c
  macos/build_grass_app.bash
  raster/r.geomorphon/main.c
  raster/r.stats.zonal/main.c
  raster/r.texture/main.c
  scripts/i.band.library/i.band.library.py
  scripts/r.out.xyz/r.out.xyz.py
  scripts/r.semantic.label/r.semantic.label.py
  scripts/r.tileset/r.tileset.py
  scripts/r3.in.xyz/r3.in.xyz.py
  scripts/v.in.e00/v.in.e00.py
  vector/v.delaunay/data_types.h
  vector/v.delaunay/edge.c
  vector/v.delaunay/edge.h
  vector/v.delaunay/geom_primitives.h
  vector/v.delaunay/geometry.c
  vector/v.delaunay/in_out.c
  vector/v.delaunay/main.c
  vector/v.delaunay/memory.c
  vector/v.perturb/main.c
  vector/v.vol.rst/dataoct.c
  vector/v.vol.rst/main.c
  vector/v.vol.rst/oct.c
  vector/v.vol.rst/user1.c
  vector/v.vol.rst/user2.c
  vector/v.vol.rst/user3.c
  vector/v.vol.rst/user4.c
  vector/v.vol.rst/vector.c
Due: scripts, lib

contributing: Define "Other GRASS authors" in COPYING
  COPYING
Due: none

doc: Use SPDX copyright tags in style guide header templates
  doc/development/style_guide.md
Due: none

g.parser: Add test for --script output header
  general/g.parser/tests/g_parser_script_test.py
Due: none

contributing: Leave COPYING unchanged and describe the team line as the project
  COPYING
  doc/development/style_guide.md
Due: none

contributing: Use GRASS Development Team as the collective copyright line
  COPYING
  doc/development/style_guide.md
  general/g.parser/g.parser.html
  general/g.parser/g.parser.md
  general/g.parser/tests/g_parser_script_test.py
  lib/gis/parser_script.c
Due: lib

utils: Remove unused copywrite.pl
  utils/copywrite.pl
Due: utils

g.parser: Emit SPDX copyright header from --script
  general/g.parser/g.parser.html
  general/g.parser/g.parser.md
  lib/gis/parser_script.c
Due: lib

contributing: Simplify the wording of the copyright header rules
  doc/development/style_guide.md
Due: none

lib/gis: Return the child exit status from G_popen_close (#7847)
  include/grass/defs/gis.h
  lib/gis/popen.c
Due: lib

v.what.strds: migrate tests from gunittest to pytest (#7898)
  scripts/v.what.strds/tests/v_what_strds_test.py
  scripts/v.what.strds/testsuite/test_what_strds.py
Due: scripts

contributing: Add a testing guide section for C functions
  doc/development/testing.md
Due: none

lib: add SPDX-License-Identifier tags for py files
  lib/arraystats/tests/lib_arraystats_basic_stats_ctypes_test.py
  lib/arraystats/tests/lib_arraystats_classify_ctypes_test.py
  lib/datetime/tests/lib_datetime_calendar_ctypes_test.py
  lib/datetime/tests/lib_datetime_change_from_to_ctypes_test.py
  lib/datetime/tests/lib_datetime_ctypes_test.py
  lib/datetime/tests/lib_datetime_difference_ctypes_test.py
  lib/datetime/tests/lib_datetime_error_ctypes_test.py
  lib/datetime/tests/lib_datetime_increment_ctypes_test.py
  lib/datetime/tests/lib_datetime_sign_ctypes_test.py
  lib/datetime/tests/lib_datetime_timezone_ctypes_test.py
  lib/datetime/tests/lib_datetime_type_ctypes_test.py
  lib/datetime/tests/lib_datetime_values_ctypes_test.py
  lib/external/parson/testsuite/gjson_lib_test.py
  lib/gis/tests/conftest.py
  lib/gis/tests/lib_gis_env_test.py
  lib/gis/tests/lib_gis_lrand48_test.py
  lib/gis/tests/lib_gis_parser_json_test.py
  lib/gis/testsuite/gis_lib_env_test.py
  lib/gis/testsuite/gis_lib_str_color.py
  lib/gis/testsuite/gis_lib_tokenize.py
  lib/gis/testsuite/test_gis_lib_getl.py
  lib/imagery/testsuite/test_imagery_find.py
  lib/imagery/testsuite/test_imagery_sigfile.py
  lib/imagery/testsuite/test_imagery_signature_management.py
  lib/imagery/testsuite/test_imagery_sigsetfile.py
  lib/raster/tests/conftest.py
  lib/raster/tests/lib_raster_gdal_link_window_test.py
  lib/raster/tests/lib_raster_reclass_test.py
  lib/raster/testsuite/rast_parse_color_rule.py
  lib/raster/testsuite/test_raster_metadata.py
  lib/raster3d/tests/lib_raster3d_tilewrite_test.py
  lib/raster3d/testsuite/raster3d_lib_test.py
  lib/rowio/tests/lib_rowio_ctypes_test.py
  lib/vector/rtree/tests/lib_vector_rtree_ctypes_test.py
Due: lib

lib: add SPDX-License-Identifier tags for *.sh files
  lib/init/html_browser_mac.sh
  lib/raster3d/raster3d_tile_cell_generator.sh
  lib/vector/dglib/examples/rtest01.sh
  lib/vector/dglib/examples/rtest02.sh
  lib/vector/dglib/examples/rtest03.sh
Due: lib

docker: Update to Ubuntu 26.04 and related dependencies (#7921)
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

add REUSE support, initial commit
  LICENSES/BSD-2-Clause.txt
  LICENSES/BSD-3-Clause.txt
  LICENSES/GPL-2.0-or-later.txt
  LICENSES/GPL-3.0-or-later.txt
  LICENSES/LGPL-2.0-or-later.txt
  LICENSES/LGPL-2.1-or-later.txt
  LICENSES/MIT.txt
  REUSE.toml
  lib/REUSE.toml
  python/REUSE.toml
Due: lib

lib/cluster: Add pytest ctypes test suite (#7919)
  lib/cluster/tests/conftest.py
  lib/cluster/tests/lib_cluster_algorithm_ctypes_test.py
  lib/cluster/tests/lib_cluster_exec_ctypes_test.py
  lib/cluster/tests/lib_cluster_points_ctypes_test.py
Due: lib

tests: Un-shadow duplicated test method names in r.random and t.rast.gapfill (#7911)
  raster/r.random/testsuite/test_r_random.py
  temporal/t.rast.gapfill/testsuite/test_gapfill.py
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

v.what.strds: make the test data position-dependent
  scripts/v.what.strds/tests/v_what_strds_test.py
Due: scripts

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
