Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

v.db.connect: Add JSON support (#6077)
  vector/CMakeLists.txt
  vector/v.db.connect/Makefile
  vector/v.db.connect/main.c
  vector/v.db.connect/testsuite/test_v_db_connect.py
  vector/v.db.connect/v.db.connect.md
Due: none

prevent printing spaces
  lib/vector/Vlib/ascii.c
Due: lib

v.colors: Fix colors returning to default in another mapsets (#6240)
  lib/vector/Vlib/color_read.c
Due: lib

revert changes in case.py
  python/grass/gunittest/case.py
Due: gunittest, python library

doc: Use CRS instead of SRS
  raster/r.external/proj.c
  raster/r.in.gdal/proj.c
  scripts/r.in.wms/wms_base.py
  vector/v.external/proj.c
  vector/v.in.ogr/proj.c
Due: scripts

test should run now
  python/grass/gunittest/testsuite/test_assertions_vect.py
Due: gunittest, python library

doc: Use CRS instead of SRS (#6264)
  raster/r.external/proj.c
  raster/r.in.gdal/proj.c
  scripts/r.in.wms/wms_base.py
  vector/v.external/proj.c
  vector/v.in.ogr/proj.c
Due: scripts

gui: fix editing categories in vdigit
  gui/wxpython/vdigit/dialogs.py
Due: gui

grass.gunittest: Inherit more from unittest classes (#6256)
  python/grass/gunittest/result.py
  python/grass/gunittest/runner.py
Due: gunittest, python library

changes based on reviews
  vector/v.what/testsuite/test_v_what_output.py
Due: none

code changes based on review
  vector/v.what/what.c
Due: none

gui: fix editing categories in vdigit (#6265)
  gui/wxpython/vdigit/dialogs.py
Due: gui

strip whitespace
  python/grass/gunittest/case.py
Due: gunittest, python library

add pytest for name replacement
  temporal/t.rast.extract/testsuite/test_t_rast_extract_pytest.py
Due: none

v.what: Expand doc to describe outputs, JSON
  vector/v.what/main.c
  vector/v.what/v.what.md
Due: none

include semantic labels in test
  temporal/t.rast.extract/testsuite/test_t_rast_extract_pytest.py
Due: none

handle semantic labels
  python/grass/temporal/extract.py
Due: python library

add blank line
  display/d.histogram/bar.c
Due: none

adding extra check
  vector/v.external.out/list.c
Due: none

grass.script: add Activate and Deactivate methods to RegionManager and MaskManager
  python/grass/script/raster.py
  python/grass/script/tests/grass_script_raster_mask_test.py
  python/grass/script/tests/grass_script_raster_region_test.py
Due: python library

grass.gunittest: Specify encoding to files written in reporters.py
  python/grass/gunittest/reporters.py
Due: gunittest, python library

grass.gunittest: Specify encoding to files written in multireport.py
  python/grass/gunittest/multireport.py
Due: gunittest, python library

grass.gunittest: Specify encoding to files written in invoker.py
  python/grass/gunittest/invoker.py
Due: gunittest, python library

checks: Enable checking for unspecified-encoding (PLW1514) with ruff
  pyproject.toml
Due: none

grass.script: add Activate and Deactivate methods to RegionManager and MaskManager (#6268)
  python/grass/script/raster.py
  python/grass/script/tests/grass_script_raster_mask_test.py
  python/grass/script/tests/grass_script_raster_region_test.py
Due: python library

docs: put tool description in quotes in yaml header
  lib/gis/parser_md.c
Due: lib

ensure backward compatibility in json output
  vector/v.what/main.c
  vector/v.what/testsuite/test_v_what_output.py
  vector/v.what/testsuite/test_vwhat_layers.py
  vector/v.what/testsuite/test_vwhat_ncspm.py
  vector/v.what/v.what.md
  vector/v.what/what.c
  vector/v.what/what.h
Due: none

Changes
  raster/r.kappa/stats.c
Due: none

Fix Resource Leak Issue
  vector/v.in.db/main.c
Due: none

Always return ToolResult when requested and make arrays part of it, return None if no stdout or arrays
  lib/gis/parser_md_python.c
  python/grass/tools/session_tools.py
  python/grass/tools/support.py
  python/grass/tools/tests/grass_tools_session_tools_numpy_test.py
Due: lib, python library

Always return ToolResult when requested and make arrays part of it, return None if no stdout or arrays
  python/grass/tools/support.py
Due: python library

Fix Resource Leak Issue
  lib/vector/neta/timetables.c
Due: lib

Update vector/v.in.db/main.c
  vector/v.in.db/main.c
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
