Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

i.maxlik: Add xfail_windows decorator to SuccessTest class
  imagery/i.maxlik/testsuite/test_i_maxlik.py
Due: none

lib/gis: Add xfail_windows decorator to TestNewlinesWithGetlFunctions class
  lib/gis/testsuite/test_gis_lib_getl.py
Due: lib

CI(OSGeo4W): Update min-success to 86% for gunittest on Windows (#4341)
  .github/workflows/test_thorough.bat
Due: none

Update warning stacklevel to 3
  python/grass/gunittest/utils.py
Due: gunittest, python library

v.in.dwg: Retire v.in.dwg infavor of v.in.redwg (#4329)
  configure
  configure.ac
  include/Make/Platform.make.in
  vector/Makefile
  vector/v.in.dwg/Makefile
  vector/v.in.dwg/README
  vector/v.in.dwg/WARNING
  vector/v.in.dwg/entity.c
  vector/v.in.dwg/global.h
  vector/v.in.dwg/main.c
  vector/v.in.dwg/v.in.dwg.html
Due: none

d.mon: Fix unbounded source buffer (#4260)
  display/d.mon/list.c
Due: none

lib/gmath: use C interface to BLAS and LAPACK libraries (#4247)
  .github/workflows/apt.txt
  .github/workflows/macos_dependencies.txt
  .github/workflows/macos_install.sh
  .github/workflows/osgeo4w.yml
  configure
  configure.ac
  include/grass/blas.h
  include/grass/config.h.in
  include/grass/la.h
  include/grass/lapack.h
  lib/gmath/ATLAS_wrapper_blas_level_1.c
  lib/gmath/Makefile
  lib/gmath/la.c
  mswindows/osgeo4w/build_osgeo4w.sh
Due: lib

docs: move Programmer's manual creation to INSTALL.md (#4336)
  INSTALL.md
  doc/development/README.md
  doc/development/style_guide.md
Due: none

doc: change Python API URL from grass-devel to grass-stable
  doc/development/README.md
Due: none

configure: fix default variable name for blas and lapack
  configure
  configure.ac
Due: none

configure: fix default variable name for blas and lapack (#4343)
  configure
  configure.ac
Due: none

Use year and week of year for cache key date segment
  .github/workflows/macos.yml
Due: none

lib/gis: properly guard BLAS and LAPACK dependent code
  include/grass/defs/la.h
  include/grass/la.h
  lib/gmath/la.c
Due: lib

CI(mac): test without BLAS/LAPACK
  .github/workflows/macos_install.sh
Due: none

v.cluster: Fix unused value assignment (#4094)
  vector/v.cluster/main.c
Due: none

Revert "CI(mac): test without BLAS/LAPACK"
  .github/workflows/macos_install.sh
Due: none

Update man/build_keywords.py
  man/build_keywords.py
Due: man

Update macos.yml
  .github/workflows/macos.yml
Due: none

style: Bump Black's target Python versions
  pyproject.toml
Due: none

style: Format with new Black settings
  scripts/g.extension/g.extension.py
Due: scripts

style: Call `startswith` once with a `tuple` (PIE810)
  gui/wxpython/core/toolboxes.py
  gui/wxpython/psmap/instructions.py
  lib/init/grass.py
  man/build_class_graphical.py
  pyproject.toml
  utils/generate_release_notes.py
  utils/gitlog2changelog.py
Due: gui, man, utils, lib

Requested changes
  raster3d/r3.in.v5d/v5d.c
Due: none

Update raster3d/r3.in.v5d/v5d.c
  raster3d/r3.in.v5d/v5d.c
Due: none

tests: fix tests and use layers from nc_spm_basic dataset
  scripts/v.centroids/testsuite/test_v_centroids.py
  scripts/v.to.lines/testsuite/test_v_to_lines.py
  scripts/v.what.vect/testsuite/test_v_what_vect.py
  vector/v.profile/testsuite/test_v_profile.py
  vector/v.random/testsuite/test_v_random.py
  vector/v.select/testsuite/test_v_select.py
  vector/v.surf.rst/testsuite/test_vsurfrst.py
Due: scripts

Update utils.py
  python/grass/gunittest/utils.py
Due: gunittest, python library

CI(macOS): Cache micromamba environment on same week (#4342)
  .github/workflows/macos.yml
Due: none

style: Bump Black's target Python versions for Python 3.9 minimum (#4347)
  pyproject.toml
  scripts/g.extension/g.extension.py
Due: scripts

style: Call `startswith` or `endswith` once with a `tuple` (PIE810) (#4348)
  gui/wxpython/core/toolboxes.py
  gui/wxpython/psmap/instructions.py
  lib/init/grass.py
  man/build_class_graphical.py
  pyproject.toml
  utils/generate_release_notes.py
  utils/gitlog2changelog.py
Due: gui, man, utils, lib

tests: Add expected failures to failing tests on windows
  python/grass/grassdb/testsuite/test_manage.py
  python/grass/gunittest/testsuite/test_assertions.py
  python/grass/gunittest/testsuite/test_checkers.py
  python/grass/jupyter/testsuite/map3d_test.py
  python/grass/pygrass/raster/testsuite/test_category.py
  python/grass/pygrass/raster/testsuite/test_numpy.py
  python/grass/pygrass/raster/testsuite/test_raster_img.py
  python/grass/script/testsuite/test_start_command_functions.py
  python/grass/script/testsuite/test_utils.py
  raster/r.kappa/testsuite/test_r_kappa.py
  raster/r.mfilter/testsuite/test_r_mfilter.py
  raster/r.report/testsuite/test_r_report.py
  scripts/g.extension/testsuite/test_addons_modules.py
  scripts/g.extension/testsuite/test_addons_toolboxes.py
  scripts/r.tileset/testsuite/test_r_tileset.py
  scripts/v.rast.stats/testsuite/test_v_rast_stats.py
  temporal/t.rast.gapfill/testsuite/test_gapfill.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
  temporal/t.rast.what/testsuite/test_what.py
  temporal/t.rast3d.univar/testsuite/test_t_rast3d_univar.py
Due: scripts, pygrass, gunittest, notebooks (jupyter), python library

tests: Apply xfail_windows decorator to setUpClass in lib/gis getl tests
  lib/gis/testsuite/test_gis_lib_getl.py
Due: lib

tests: Apply xfail_windows decorator to parser json tests in lib/gis
  lib/gis/testsuite/test_parser_json.py
Due: lib

tests: Apply xfail_windows decorator to failing test in lib/imagery
  lib/imagery/testsuite/test_imagery_signature_management.py
Due: lib

Remove wrong import of xfail_windows
  scripts/g.extension/testsuite/test_addons_toolboxes.py
Due: scripts

tests: Temporarily remove all gunittest exclusions
  .gunittest.cfg
Due: none

remove tests for now
  scripts/v.to.lines/testsuite/test_v_to_lines.py
  vector/v.profile/testsuite/test_v_profile.py
  vector/v.random/testsuite/test_v_random.py
  vector/v.surf.rst/testsuite/test_vsurfrst.py
Due: scripts
