Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

CQ: Normalize line endings to CRLF for .bat files
  .github/workflows/test_simple.bat
  .github/workflows/test_thorough.bat
  mswindows/external/rbatch/R.bat
  mswindows/external/rbatch/Rpathset.bat
  mswindows/external/rbatch/copydir.bat
  mswindows/external/rbatch/make-batchfiles-pdf.bat
  mswindows/external/rbatch/movedir.bat
  mswindows/osgeo4w/postinstall.bat
Due: none

v.to.db: Fix Resource Leak issue in query.c (#4802)
  vector/v.to.db/query.c
Due: none

CQ: Trim trailing whitespace (#4791)
  .cppcheck-suppressions
  .github/actions/create-upload-suggestions/action.yml
  .github/workflows/macos.yml
  lib/fonts/fonts/cyrilc.hmp
  lib/fonts/fonts/fonts.table
  mswindows/GRASS-Installer.nsi.tmpl
  mswindows/Makefile
  mswindows/generic.manifest
  mswindows/osgeo4w/gdal-config
  mswindows/osgeo4w/geos-config
  mswindows/osgeo4w/liblas-config
  mswindows/osgeo4w/mysql_config
  mswindows/osgeo4w/postinstall.bat
  vector/v.buffer/v.buffer.html
  vector/v.class/v.class.html
  vector/v.surf.bspline/v.surf.bspline.html
Due: lib

docs: v.buffer.html minor edits (#4744)
  vector/v.buffer/v.buffer.html
Due: none

docs: v.class.html fix typo, plus minor edit (#4762)
  vector/v.class/v.class.html
Due: none

docs: v.surf.bspline.html fix typo and minor touches (#4776)
  vector/v.surf.bspline/v.surf.bspline.html
Due: none

CQ: Trim trailing whitespace (#4791)
  .github/actions/create-upload-suggestions/action.yml
  .github/workflows/macos.yml
  lib/fonts/fonts/cyrilc.hmp
  lib/fonts/fonts/fonts.table
  mswindows/GRASS-Installer.nsi.tmpl
  mswindows/Makefile
  mswindows/generic.manifest
  mswindows/osgeo4w/gdal-config
  mswindows/osgeo4w/geos-config
  mswindows/osgeo4w/liblas-config
  mswindows/osgeo4w/mysql_config
  mswindows/osgeo4w/postinstall.bat
  vector/v.buffer/v.buffer.html
  vector/v.class/v.class.html
  vector/v.surf.bspline/v.surf.bspline.html
Due: lib

manual: markdown support fixes and HTML fixes
  imagery/i.smap/i.smap.html
  imagery/imageryintro.html
  raster/r.basins.fill/r.basins.fill.html
  raster/r.in.poly/r.in.poly.html
  raster/r.quantile/r.quantile.html
  raster/r.stats.quantile/r.stats.quantile.html
  raster/r.support/r.support.html
  raster/rasterintro.html
  scripts/r.semantic.label/r.semantic.label.html
  scripts/v.db.univar/v.db.univar.html
  scripts/v.dissolve/v.dissolve.html
  temporal/t.list/t.list.html
  temporal/t.rast.series/t.rast.series.html
  vector/v.cluster/v.cluster.html
  vector/v.net.allpairs/v.net.allpairs.html
  vector/v.patch/v.patch.html
  vector/vectorintro.html
Due: scripts

replace white space in keyword anchors with dash; avoid : in title (looks bad in side menu)
  lib/gis/parser_rest_md.c
  man/build_md.py
  man/build_topics.py
Due: man, lib

reorder mkdocs navigation menu and add missing entries
  man/mkdocs/mkdocs.yml
Due: man

update
  python/grass/pygrass/utils.py
Due: pygrass, python library

i.rectify.html: apply coherent <em> formatting
  imagery/i.rectify/i.rectify.html
Due: none

grass_html2md.sh: also convert relative URLs with #anchor but keep full URLs as before; fix %20 to dash for mkdocs
  utils/grass_html2md.sh
Due: utils

update
  .flake8
  gui/wxpython/mapwin/graphics.py
Due: gui

HTML: further cosmetics
  gui/wxpython/rlisetup/g.gui.rlisetup.html
  raster/r.li/r.li.cwed/r.li.cwed.html
  raster/r.li/r.li.dominance/r.li.dominance.html
  raster/r.li/r.li.edgedensity/r.li.edgedensity.html
  raster/r.li/r.li.mpa/r.li.mpa.html
  raster/r.li/r.li.mps/r.li.mps.html
  raster/r.li/r.li.padcv/r.li.padcv.html
  raster/r.li/r.li.padrange/r.li.padrange.html
  raster/r.li/r.li.padsd/r.li.padsd.html
  raster/r.li/r.li.patchdensity/r.li.patchdensity.html
  raster/r.li/r.li.patchnum/r.li.patchnum.html
  raster/r.li/r.li.pielou/r.li.pielou.html
  raster/r.li/r.li.renyi/r.li.renyi.html
  raster/r.li/r.li.richness/r.li.richness.html
  raster/r.li/r.li.shannon/r.li.shannon.html
  raster/r.li/r.li.shape/r.li.shape.html
  raster/r.li/r.li.simpson/r.li.simpson.html
  scripts/v.db.univar/v.db.univar.html
  vector/vectorintro.html
Due: gui, scripts

lib/btree2 Doxygen: fix title
  lib/btree2/btree2lib.dox
Due: lib

topics: replace white space in keyword anchors with dash
  lib/gis/parser_rest_md.c
  man/build_topics.py
Due: man, lib

manual: markdown support fixes and HTML fixes (#4807)
  gui/wxpython/rlisetup/g.gui.rlisetup.html
  imagery/i.rectify/i.rectify.html
  imagery/i.smap/i.smap.html
  imagery/imageryintro.html
  lib/btree2/btree2lib.dox
  lib/gis/parser_rest_md.c
  man/build_md.py
  man/build_topics.py
  man/mkdocs/mkdocs.yml
  raster/r.basins.fill/r.basins.fill.html
  raster/r.in.poly/r.in.poly.html
  raster/r.li/r.li.cwed/r.li.cwed.html
  raster/r.li/r.li.dominance/r.li.dominance.html
  raster/r.li/r.li.edgedensity/r.li.edgedensity.html
  raster/r.li/r.li.mpa/r.li.mpa.html
  raster/r.li/r.li.mps/r.li.mps.html
  raster/r.li/r.li.padcv/r.li.padcv.html
  raster/r.li/r.li.padrange/r.li.padrange.html
  raster/r.li/r.li.padsd/r.li.padsd.html
  raster/r.li/r.li.patchdensity/r.li.patchdensity.html
  raster/r.li/r.li.patchnum/r.li.patchnum.html
  raster/r.li/r.li.pielou/r.li.pielou.html
  raster/r.li/r.li.renyi/r.li.renyi.html
  raster/r.li/r.li.richness/r.li.richness.html
  raster/r.li/r.li.shannon/r.li.shannon.html
  raster/r.li/r.li.shape/r.li.shape.html
  raster/r.li/r.li.simpson/r.li.simpson.html
  raster/r.quantile/r.quantile.html
  raster/r.stats.quantile/r.stats.quantile.html
  raster/r.support/r.support.html
  raster/rasterintro.html
  scripts/r.semantic.label/r.semantic.label.html
  scripts/v.db.univar/v.db.univar.html
  scripts/v.dissolve/v.dissolve.html
  temporal/t.list/t.list.html
  temporal/t.rast.series/t.rast.series.html
  vector/v.cluster/v.cluster.html
  vector/v.net.allpairs/v.net.allpairs.html
  vector/v.patch/v.patch.html
  vector/vectorintro.html
Due: gui, man, scripts, lib

add gjson together with parson
  include/Make/Docs.make
  include/Make/Grass.make
  include/grass/gparson.h
  lib/Makefile
  lib/external/parson/Makefile
  lib/external/parson/gjson.c
  lib/external/parson/gjson.h
  lib/external/parson/test/Makefile
  lib/external/parson/test/test.gjson.lib.html
  lib/external/parson/test/test_gjson_lib.h
  lib/external/parson/test/test_main.c
  lib/external/parson/test/test_parson_wrapper.c
  lib/gparson/Makefile
  lib/gparson/test/Makefile
Due: lib

v.in.wfs: remove an extra print copying a debug message
  scripts/v.in.wfs/v.in.wfs.py
Due: scripts

v.in.wfs: improve error message for ServiceException
  scripts/v.in.wfs/v.in.wfs.py
Due: scripts

CQ: optimise if conditions in gmodeler.canvas
  gui/wxpython/gmodeler/canvas.py
Due: gui

CQ: replace a loop by a list comprehension in gmodeler.canvas
  gui/wxpython/gmodeler/canvas.py
Due: gui

fix toUnselect could be undefined
  gui/wxpython/gmodeler/canvas.py
Due: gui

comprehend if-else into the list comprehension - tip by GH reviewdog
  gui/wxpython/gmodeler/canvas.py
Due: gui

v.in.wfs: remove an extra print copying a debug message (#4811)
  scripts/v.in.wfs/v.in.wfs.py
Due: scripts

replace xml.etree by the safer defusedxml
  scripts/v.in.wfs/v.in.wfs.py
Due: scripts

flake8: fix two of the issues popping up after just moving files
  doc/examples/gui/wxpython/frame.py
  python/grass/jupyter/__init__.py
Due: notebooks (jupyter), python library

CQ: replace a loop by a list comprehension in gmodeler.canvas (#4814)
  gui/wxpython/gmodeler/canvas.py
Due: gui

CQ: optimise if conditions in gmodeler.canvas (#4813)
  gui/wxpython/gmodeler/canvas.py
Due: gui
