Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

v.surf.rst: Corrected defaults parameters and documentation (#5695)
  vector/v.surf.rst/main.c
  vector/v.surf.rst/v.surf.rst.html
  vector/v.surf.rst/v.surf.rst.md
Due: none

wxGUI: avoid creating nested list of errors (Graphical modeler) (#5700)
  gui/wxpython/gmodeler/model.py
  python/grass/script/task.py
Due: gui, python library

docs: grass.pygrass.vector.table: fix typo (table exist -> table exists) (#5703)
  python/grass/pygrass/vector/table.py
Due: pygrass, python library

CMake: Define custom complex types for MSVC LAPACKE
  cmake/find_scripts/FindLAPACKE.cmake
Due: none

CMake: Fix build output directories for MSVC
  cmake/modules/build_module.cmake
Due: none

Add msvc/lapacke.h
  msvc/lapacke.h
Due: none

Remove #ifdef _MSC_VER for consistency
  msvc/lapacke.h
Due: none

lib/gpde: fix typos (#5706)
  lib/gpde/gpdelib.dox
  lib/gpde/n_arrays_calc.c
  lib/gpde/n_geom.c
  lib/gpde/n_solute_transport.c
Due: lib

g.mapsets: fix typos (#5709)
  general/g.mapsets/g.mapsets.html
  general/g.mapsets/g.mapsets.md
Due: none

add python example for univariate statistics
  raster/r.univar/r.univar.md
Due: none

lib/imagery: fix typos (#5707)
  lib/imagery/README
  lib/imagery/iclass.c
  lib/imagery/iclass_perimeter.c
  lib/imagery/list_subgp.c
Due: lib

v.clip doc fix: -b flag does not exist, probably meant -r flag.
  scripts/v.clip/v.clip.html
  scripts/v.clip/v.clip.md
Due: scripts

CMake: Fix build output directories for MSVC (#5713)
  cmake/modules/build_module.cmake
Due: none

doc: remove GIS from several raster tools' documentation, pt2 (#5697)
  raster/r.geomorphon/main.c
  raster/r.in.gdal/r.in.gdal.html
  raster/r.in.gdal/r.in.gdal.md
  raster/r.in.lidar/r.in.lidar.html
  raster/r.in.lidar/r.in.lidar.md
  raster/r.info/r.info.html
  raster/r.info/r.info.md
  raster/r.resamp.interp/r.resamp.interp.html
  raster/r.resamp.interp/r.resamp.interp.md
  raster/r.rescale.eq/r.rescale.eq.html
  raster/r.rescale.eq/r.rescale.eq.md
  raster/r.rescale/r.rescale.html
  raster/r.rescale/r.rescale.md
  raster/r.slope.aspect/r.slope.aspect.html
  raster/r.slope.aspect/r.slope.aspect.md
  raster/r.solute.transport/example.py
  raster/r.solute.transport/r.solute.transport.html
  raster/r.solute.transport/r.solute.transport.md
  raster/r.stats.zonal/graphics_for_description.ipynb
Due: notebooks (jupyter)

wxGUI/gmodeler: refactor - create model_items.py (#5698)
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gmodeler/model_convert.py
  gui/wxpython/gmodeler/model_items.py
  gui/wxpython/gmodeler/panels.py
Due: gui

v.clip: use correct -r flag in doc, not -b (#5714)
  scripts/v.clip/v.clip.html
  scripts/v.clip/v.clip.md
Due: scripts

re-introduce df48ba6777dc2193979caecf71d76becd9439c57
  gui/wxpython/gmodeler/dialogs.py
Due: gui

docs: gconsole - fix wrong parameter in docstring
  gui/wxpython/core/gconsole.py
Due: gui

grass.script: Always use env for shutil.which
  python/grass/script/core.py
Due: python library

CMake: Define custom complex types for MSVC LAPACKE (#5712)
  cmake/find_scripts/FindLAPACKE.cmake
  msvc/lapacke.h
Due: none

docs: Added mono font to md-code-font-family
  man/mkdocs/grassdocs.css
Due: man

cmake: Group locale and man into folders for IDEs (#5689)
  locale/CMakeLists.txt
  man/CMakeLists.txt
Due: man

docs: Vlib/build.c - improve syntax in Vect__build_downgrade docstring
  lib/vector/Vlib/build.c
Due: lib

description: return label property value in the case that descpription property is not defined
  python/grass/pygrass/modules/interface/module.py
Due: pygrass, python library

docs: pygrass.vector.abstract: fix syntax in Info.open() docstring
  python/grass/pygrass/vector/abstract.py
Due: pygrass, python library

description: return ? if not defined at all
  python/grass/pygrass/modules/interface/module.py
Due: pygrass, python library

more fixes
  CMakeLists.txt
  cmake/modules/GRASSInstallDirs.cmake
  display/CMakeLists.txt
  general/g.mapset/main.c
  general/g.mkfontcap/Makefile
  general/g.mkfontcap/stroke_fonts.c
  gui/wxpython/core/globalvar.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/psmap/dialogs.py
  include/Make/Install.make
  include/Make/Rules.make
  include/grass/defs/gis.h
  lib/driver/parse_ftcap.c
  lib/gis/color_rules.c
  lib/gis/grass_install_dirs.c
  lib/init/Makefile
  lib/init/grass.py
  lib/manage/read_list.c
  lib/raster/color_rules.c
  locale/Makefile
  locale/grass_po_stats.py
  man/Makefile
  man/build_html.py
  man/build_md.py
  man/build_rest.py
  python/grass/app/data.py
  python/grass/script/utils.py
  python/grass/semantic_label/reader.py
  python/grass/temporal/core.py
  raster/r.colors/edit_colors.c
  scripts/d.polar/d.polar.py
  scripts/db.test/db.test.py
  scripts/g.search.modules/g.search.modules.py
  scripts/wxpyimgview/wxpyimgview.py
  utils/thumbnails.py
Due: gui, man, utils, scripts, lib, python library

docs: g.proj - update the meaning of -p
  general/g.proj/main.c
Due: none

r.smooth.edgepreserve: fix MSVC compiler compatability and implicit casts
  raster/r.smooth.edgepreserve/local_proto.h
  raster/r.smooth.edgepreserve/main.c
  raster/r.smooth.edgepreserve/pm.c
  raster/r.smooth.edgepreserve/row_cache.c
Due: none

r.smoot.edgepreserve: demote parameter header in documentation
  raster/r.smooth.edgepreserve/r.smooth.edgepreserve.html
  raster/r.smooth.edgepreserve/r.smooth.edgepreserve.md
Due: none

upgrade to format=proj4 style text output
  general/g.proj/testsuite/test_g_proj.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/mapdisp/statusbar.py
  python/grass/jupyter/utils.py
  python/grass/temporal/stds_export.py
  python/grass/temporal/stds_import.py
  scripts/m.proj/m.proj.py
  scripts/r.buffer.lowmem/r.buffer.lowmem.py
  scripts/r.in.aster/r.in.aster.py
  scripts/r.in.srtm/r.in.srtm.py
  scripts/r.in.wms/wms_base.py
  scripts/r.tileset/r.tileset.py
  scripts/v.in.geonames/v.in.geonames.py
Due: gui, scripts, notebooks (jupyter), python library

gproj-deprecated-w-flag
  general/g.proj/testsuite/test_g_proj.py
  gui/wxpython/core/ws.py
  scripts/r.in.wms/wms_drv.py
Due: gui, scripts

Fix check for presence of env in kwargs
  python/grass/script/core.py
Due: python library

gproj-deprecated-g-flag
  general/g.proj/testsuite/test_g_proj.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/timeline/frame.py
  python/grass/script/tests/grass_script_core_location_test.py
  scripts/r.import/r.import.py
  scripts/r.in.wms/wms_base.py
  scripts/r.reclass.area/r.reclass.area.py
  scripts/v.import/v.import.py
Due: gui, scripts, python library

CQ: pygrass.vector.VectrTopo.open() - do not call is_3D() if not necessary
  python/grass/pygrass/vector/__init__.py
Due: pygrass, python library

r.smooth.edgepreserve: add missing limits.h
  raster/r.smooth.edgepreserve/main.c
Due: none

r.smooth.edgepreserve: use NPROCS parameter to set maximum thread count
  raster/r.smooth.edgepreserve/main.c
Due: none

reimplemented the his to rgb conversion
  imagery/i.his.rgb/his2rgb.c
Due: none

Actually use the executable for the subprocess command
  python/grass/script/core.py
Due: python library

fix malloc errors related threading
  raster/r.mapcalc/benchmark/benchmark_rmapcalc.py
  raster/r.mapcalc/evaluate.c
  raster/r.mapcalc/main.c
  raster/r.mapcalc/map.c
  raster/r.mapcalc/testsuite/test_r_mapcalc_parallel.py
Due: none
