Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

v.net: Fix Resource Leak issue in arcs.c (#4735)
  vector/v.net/arcs.c
Due: none

docs: v.buffer.html minor edits
  vector/v.buffer/v.buffer.html
Due: none

style: PT004 has been removed in ruff 0.8.0, ignoring had no effect
  pyproject.toml
Due: none

style: Fix unraw-re-pattern (RUF039)
  display/d.text/test.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/photo2image/ip2i_manager.py
  lib/init/grass.py
  python/grass/gunittest/case.py
  python/grass/script/utils.py
  raster/r.topidx/arc_to_gridatb.py
  raster/r.topidx/gridatb_to_arc.py
  utils/g.html2man/g.html2man.py
  utils/g.html2man/ggroff.py
  utils/gitlog2changelog.py
  utils/mkhtml.py
  utils/mkrest.py
Due: gui, utils, lib, gunittest, python library

mswindows: Convert indentation to spaces in DLL list
  mswindows/osgeo4w/package.sh
Due: none

mswindows: Sort DLL list
  mswindows/osgeo4w/package.sh
Due: none

mswindows: Revert some quoting of DLL list
  mswindows/osgeo4w/build_osgeo4w.sh
  mswindows/osgeo4w/package.sh
Due: none

packaging: Removed changes from patch that was removed upstream
  include/Make/Grass.make
  include/Make/Platform.make.in
Due: none

lib/gis: markdown parser lowercase and extension fixes (#4740)
  lib/gis/parser_rest_md.c
Due: lib

disable markdown rule
  include/Make/DB.make
Due: none

packaging: Apply upstream patch update
  .github/workflows/osgeo4w.yml
  mswindows/osgeo4w/build_osgeo4w.sh
  mswindows/osgeo4w/package.sh
Due: none

packaging: Keep --with-libpng with libpng-config from repo
  mswindows/osgeo4w/build_osgeo4w.sh
  mswindows/osgeo4w/package.sh
Due: none

CI(OSGeo4W): Split msys2 package list to separate sorted lines
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Use pacboy to write shorter package names
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Remove pacboy suffixes
  .github/workflows/osgeo4w.yml
Due: none

docs: add Intro: Graphical User Interface
  db/databaseintro.html
  doc/projectionintro.html
  gui/Makefile
  gui/wxguiintro.html
  gui/wxpython/docs/wxGUI.html
  imagery/imageryintro.html
  man/build_html.py
  man/build_md.py
  man/build_rest.py
  man/mkdocs/mkdocs.yml
  raster/rasterintro.html
  raster3d/raster3dintro.html
  temporal/temporalintro.html
  vector/vectorintro.html
Due: gui, man

make: Update DB.make for markdown support (#4742)
  include/Make/DB.make
Due: none

add new fast method directly to v.out.ogr
  vector/v.out.ogr/args.c
  vector/v.out.ogr/attrb_fast.c
  vector/v.out.ogr/export_areas_fast.c
  vector/v.out.ogr/export_lines_fast.c
  vector/v.out.ogr/local_proto.h
  vector/v.out.ogr/main.c
Due: none

man: Use a context manager for opening files (#4291)
  man/build_class.py
  man/build_class_graphical.py
  man/build_class_rest.py
  man/build_full_index.py
  man/build_full_index_rest.py
  man/build_html.py
  man/build_index_rest.py
  man/build_keywords.py
  man/build_rest.py
  man/build_topics.py
  pyproject.toml
Due: man

remove v.out.ograttr, replace flag with option
  vector/v.out.ogr/args.c
  vector/v.out.ogr/local_proto.h
  vector/v.out.ogr/main.c
  vector/v.out.ograttr/Makefile
  vector/v.out.ograttr/args.c
  vector/v.out.ograttr/attrb.c
  vector/v.out.ograttr/create.c
  vector/v.out.ograttr/dsn.c
  vector/v.out.ograttr/export_areas.c
  vector/v.out.ograttr/export_lines.c
  vector/v.out.ograttr/list.c
  vector/v.out.ograttr/local_proto.h
  vector/v.out.ograttr/main.c
  vector/v.out.ograttr/testsuite/test_v_out_ogr.py
  vector/v.out.ograttr/v.out.ograttr.html
Due: none

docs: add Intro: Graphical User Interface (#4746)
  db/databaseintro.html
  doc/projectionintro.html
  gui/Makefile
  gui/wxguiintro.html
  gui/wxpython/docs/wxGUI.html
  imagery/imageryintro.html
  man/build_html.py
  man/build_md.py
  man/build_rest.py
  man/mkdocs/mkdocs.yml
  raster/rasterintro.html
  raster3d/raster3dintro.html
  temporal/temporalintro.html
  vector/vectorintro.html
Due: gui, man

comment out unused function
  vector/v.out.ogr/export_areas.c
  vector/v.out.ogr/export_areas_fast.c
Due: none

r.in.pdal: update copyright notice
  raster/r.in.pdal/info.cpp
  raster/r.in.pdal/main.cpp
Due: none

added signal handler to cleanup at user break
  utils/grass_html2md.sh
Due: utils

manual: HTML updates in lib/db and db manual pages and README files
  db/db.connect/db.connect.html
  db/drivers/README
  db/drivers/README.md
  db/drivers/mysql/grass-mesql.html
  db/drivers/mysql/grass-mysql.html
  lib/db/README
  lib/db/README.md
  lib/db/sqlp/README
  lib/db/sqlp/README.md
  lib/db/sqlp/sql.html
  lib/db/sqlp/test/README
  lib/db/sqlp/test/README.md
Due: lib

typo: statemets -> statements
  db/drivers/postgres/execute.c
  doc/vector/TODO
  lib/db/dbmi_client/c_update.c
  lib/db/dbmi_driver/d_update.c
  lib/db/sqlp/test/README.md
Due: lib

switch to bash
  utils/grass_html2md.sh
Due: utils

un-escape in text (e.g. in grass.html#examples)
  utils/grass_html2md.sh
Due: utils

Fix Copy into buffer size issue
  raster/r.water.outlet/main.c
Due: none

Fix Resource Leak
  vector/v.out.dxf/main.c
Due: none

Fix Resource Leak issue
  lib/raster3d/index.c
Due: lib

Added tests for r.coin module
  raster/r.coin/tests/test_coin.py
Due: none

manual: fix broken HTML tags
  raster/r.texture/r.texture.html
  scripts/v.clip/v.clip.html
  temporal/t.rast.extract/t.rast.extract.html
  vector/v.surf.rst/v.surf.rst.html
Due: scripts

grass-sqlite.html: avoid <br> tags within <em> as not converted properly to Markdown
  db/drivers/sqlite/grass-sqlite.html
Due: none

avoid <br> tags within <em> as not converted properly to Markdown
  lib/htmldriver/htmldriver.html
  lib/pngdriver/pngdriver.html
  lib/psdriver/psdriver.html
  raster/r.basins.fill/r.basins.fill.html
Due: lib

docs: v.buffer.html minor edits (#4744)
  vector/v.buffer/v.buffer.html
Due: none

update
  gui/wxpython/vdigit/mapwindow.py
Due: gui

update
  gui/wxpython/vdigit/wxdisplay.py
Due: gui

update
  python/grass/pygrass/vector/__init__.py
Due: pygrass, python library
