Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

grass.script: Add separate function to sort through run_command style parameters (#5582)
  python/grass/script/__init__.py
  python/grass/script/core.py
Due: python library

Set admonition, warning, and shadow colors
  man/mkdocs/grassdocs.css
Due: man

Updated code block colors
  man/mkdocs/grassdocs.css
Due: man

Fixed footer colors
  man/mkdocs/grassdocs.css
Due: man

r.sim: fix division by zero (#5583)
  raster/r.sim/simlib/hydro.c
Due: none

i.landsat.toar: Add test file (#5477)
  imagery/i.landsat.toar/testsuite/test_i_landsat_toar.py
Due: none

r.sim: more accurate estimation of iterations with null cells in region
  raster/r.sim/simlib/input.c
Due: none

r.sim: remove nulls from the tests
  raster/r.sim/r.sim.sediment/testsuite/data/depth_default.pack
  raster/r.sim/r.sim.sediment/testsuite/data/reference_erdep.pack
  raster/r.sim/r.sim.sediment/testsuite/data/reference_sedflux.pack
  raster/r.sim/r.sim.sediment/testsuite/test_r_sim_sediment.py
  raster/r.sim/r.sim.water/testsuite/data/depth_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/depth_default.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_default.pack
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
Due: none

Allow for testing by having a list of arguments as a parameter. Also make a copy of it before modification.
  python/grass/app/cli.py
Due: python library

add test file
  imagery/i.eb.evapfr/testsuite/test_i_eb_evapfr.py
Due: none

Access JSON as dict directly without an attribute using getitem. Suggest a tool when there is a close match for the name.
  python/grass/experimental/tests/grass_tools_test.py
  python/grass/experimental/tools.py
Due: python library

grass.app: Add internal CLI with agrparse subcommands
  python/grass/app/Makefile
  python/grass/app/__main__.py
  python/grass/app/cli.py
  python/grass/app/tests/grass_app_cli_test.py
Due: python library

Use more active and posive tone and also more precise statement anyways to express the experimental nature.
  python/grass/app/__main__.py
  python/grass/app/cli.py
Due: python library

r.sim: remove nulls from the tests (#5589)
  raster/r.sim/r.sim.sediment/testsuite/data/depth_default.pack
  raster/r.sim/r.sim.sediment/testsuite/data/reference_erdep.pack
  raster/r.sim/r.sim.sediment/testsuite/data/reference_sedflux.pack
  raster/r.sim/r.sim.sediment/testsuite/test_r_sim_sediment.py
  raster/r.sim/r.sim.water/testsuite/data/depth_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/depth_default.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_default.pack
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
Due: none

r.sim: more accurate estimation of iterations with null cells in region (#5588)
  raster/r.sim/simlib/input.c
Due: none

grass.script: Add locking to init
  python/grass/app/data.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

Skip man test on Windows
  python/grass/app/tests/grass_app_cli_test.py
Due: python library

Fix whitespace and regexp
  python/grass/experimental/tests/grass_tools_test.py
Due: python library

Represent not captured stdout as None, not empty string.
  python/grass/experimental/tests/grass_tools_test.py
  python/grass/experimental/tools.py
Due: python library

grass.script: Add locking to init (#5591)
  python/grass/app/data.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

correct radiation conversion factor in Hargreaves methods
  imagery/i.evapo.mh/mh_eto.c
  imagery/i.evapo.mh/mh_original.c
  imagery/i.evapo.mh/mh_samani.c
Due: none

r.plane: remove misused gisprompt option
  scripts/r.plane/r.plane.py
Due: scripts

r.li: fix resource leak issues
  raster/r.li/r.li.cwed/cwed.c
  raster/r.li/r.li.daemon/avl.c
  raster/r.li/r.li.daemon/avlID.c
  raster/r.li/r.li.daemon/daemon.c
  raster/r.li/r.li.daemon/worker.c
  raster/r.li/r.li.dominance/dominance.c
  raster/r.li/r.li.edgedensity/edgedensity.c
  raster/r.li/r.li.mpa/mpa.c
  raster/r.li/r.li.mps/mps.c
  raster/r.li/r.li.padcv/padcv.c
  raster/r.li/r.li.padrange/padrange.c
  raster/r.li/r.li.padsd/padsd.c
  raster/r.li/r.li.patchdensity/main.c
  raster/r.li/r.li.patchnum/main.c
  raster/r.li/r.li.pielou/pielou.c
  raster/r.li/r.li.renyi/renyi.c
  raster/r.li/r.li.richness/richness.c
  raster/r.li/r.li.shannon/shannon.c
  raster/r.li/r.li.shape/main.c
  raster/r.li/r.li.simpson/simpson.c
Due: none

wxGUI/gconsole: avoid infinite GUI-in-GUI loops when running python scripts with no required params
  gui/wxpython/core/gconsole.py
Due: gui

use "options"
  scripts/r.plane/r.plane.py
Due: scripts

wxGUI/gconsole: avoid infinite GUI-in-GUI loops for python scripts with no required params (#5603)
  gui/wxpython/core/gconsole.py
Due: gui

normalized header colors and darkend base text
  man/mkdocs/grassdocs.css
  man/mkdocs/mkdocs.yml
Due: man

Added magin to support grass button
  man/mkdocs/grassdocs.css
Due: man

r.plane: replace misused gisprompt to options (#5601)
  scripts/r.plane/r.plane.py
Due: scripts

r.li: fix resource leak issues (#5602)
  raster/r.li/r.li.cwed/cwed.c
  raster/r.li/r.li.daemon/avl.c
  raster/r.li/r.li.daemon/avlID.c
  raster/r.li/r.li.daemon/daemon.c
  raster/r.li/r.li.daemon/worker.c
  raster/r.li/r.li.dominance/dominance.c
  raster/r.li/r.li.edgedensity/edgedensity.c
  raster/r.li/r.li.mpa/mpa.c
  raster/r.li/r.li.mps/mps.c
  raster/r.li/r.li.padcv/padcv.c
  raster/r.li/r.li.padrange/padrange.c
  raster/r.li/r.li.padsd/padsd.c
  raster/r.li/r.li.patchdensity/main.c
  raster/r.li/r.li.patchnum/main.c
  raster/r.li/r.li.pielou/pielou.c
  raster/r.li/r.li.renyi/renyi.c
  raster/r.li/r.li.richness/richness.c
  raster/r.li/r.li.shannon/shannon.c
  raster/r.li/r.li.shape/main.c
  raster/r.li/r.li.simpson/simpson.c
Due: none
