Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

r.stats.quantile: add test file
  raster/r.stats.quantile/testsuite/test_r_stats_quantile.py
Due: none

docs: Ignore auto-generated .rst files for python lib docs (#5860)
  .gitignore
  python/grass/docs/_templates/layout.html
Due: python library

Fix uninitialized scalar variable
  db/drivers/dbf/dbfexe.c
  db/drivers/dbf/table.c
Due: none

Remove r.pack-IO-related fixtures
  python/grass/experimental/tests/conftest.py
Due: python library

Use possibly more common order for region and mask managers (both are possible based on the mask extent)
  python/grass/experimental/tools/tests/grass_tools_session_tools_test.py
Due: python library

docs: Fix typo in r.water.outlet docs
  raster/r.water.outlet/r.water.outlet.html
  raster/r.water.outlet/r.water.outlet.md
Due: none

g.findfile: use element aliases
  general/g.findfile/main.c
  general/g.findfile/tests/test_g_findfile.py
  python/grass/script/core.py
Due: python library

Document tests
  python/grass/experimental/tools/tests/grass_tools_session_tools_test.py
Due: python library

Fix Resource Leak Issue
  lib/vector/Vlib/simple_features.c
Due: lib

docs: Use SPDX license ID for new files
  doc/development/style_guide.md
Due: none

fix floating point edge case in json format
  raster/r.regression.line/main.c
  raster/r.univar/stats.c
Due: none

fix tests and add -t flag
  general/g.findfile/main.c
  general/g.findfile/tests/test_g_findfile.py
Due: none

docs: Fix typo in r.water.outlet docs (#5997)
  raster/r.water.outlet/r.water.outlet.html
  raster/r.water.outlet/r.water.outlet.md
Due: none

r.regression.line: Add JSON support (#5993)
  raster/CMakeLists.txt
  raster/r.regression.line/Makefile
  raster/r.regression.line/main.c
  raster/r.regression.line/r.regression.line.md
  raster/r.regression.line/testsuite/test_rregression_line.py
  raster/r.univar/stats.c
Due: none

r.stats.quantile: Add test file (#6002)
  raster/r.stats.quantile/testsuite/test_r_stats_quantile.py
Due: none

Sort tool suggestions, document tests
  python/grass/experimental/tools/support.py
  python/grass/experimental/tools/tests/grass_tools_session_tools_test.py
Due: python library

r.stats.quantile: add json support
  raster/CMakeLists.txt
  raster/r.stats.quantile/Makefile
  raster/r.stats.quantile/main.c
  raster/r.stats.quantile/r.stats.quantile.md
  raster/r.stats.quantile/testsuite/test_r_stats_quantile.py
Due: none

Fix unchecked return value from library
  raster/r.kappa/stats.c
Due: none

Document run and call functions
  python/grass/experimental/tools/session_tools.py
Due: python library

Add examples in doc which pass doctest and create repr for that
  python/grass/experimental/tools/session_tools.py
  python/grass/experimental/tools/support.py
Due: python library

Fix unchecked return value
  lib/pngdriver/read_ppm.c
Due: lib

include glocale
  lib/pngdriver/read_ppm.c
Due: lib

build: refactor grass.py in preparation for FHS
  CMakeLists.txt
  cmake/modules/GRASSInstallDirs.cmake
  cmake/modules/copy_python_files_in_subdir.cmake
  include/Make/Install.make
  lib/init/CMakeLists.txt
  lib/init/Makefile
  lib/init/grass.py
  python/grass/CMakeLists.txt
  python/grass/app/Makefile
  python/grass/app/resource_paths.py
  python/grass/app/runtime.py
Due: lib, python library

docs: Use SPDX license ID for new files (#6001)
  doc/development/style_guide.md
Due: none

fix initialization for only manual mode
  imagery/i.eb.hsebal01/main.c
Due: none

improve initialization
  imagery/i.eb.hsebal01/main.c
Due: none

fix manual pixel handling
  imagery/i.eb.hsebal01/main.c
Due: none

test
  python/grass/script/setup.py
Due: python library

v.lrs.segment: Fix Resource Leak Issue in main.c (#5964)
  vector/v.lrs/v.lrs.segment/main.c
Due: none

lib/vector/Vlib: Fix Resource Leak Issue in simple_features.c (#5999)
  lib/vector/Vlib/simple_features.c
Due: lib

i.eb.hsebal01: fix manual pixel handling (#6004)
  imagery/i.eb.hsebal01/main.c
Due: none

v.in.dxf: Fix Resource Leak issue in write_vect.c (#5961)
  vector/v.in.dxf/write_vect.c
Due: none

r.out.ppm: Fix buffer issues in main.c (#5904)
  raster/r.out.ppm/main.c
Due: none

r.stats.quantile: Add JSON support (#6007)
  raster/CMakeLists.txt
  raster/r.stats.quantile/Makefile
  raster/r.stats.quantile/main.c
  raster/r.stats.quantile/r.stats.quantile.md
  raster/r.stats.quantile/testsuite/test_r_stats_quantile.py
Due: none

More robust version of getting the parsed CLI from --json
  python/grass/experimental/tools.py
Due: python library

Move tools from grass.experimental to grass.tools, but document them as experimental.
  python/grass/Makefile
  python/grass/experimental/Makefile
  python/grass/tools/Makefile
  python/grass/tools/__init__.py
  python/grass/tools/session_tools.py
  python/grass/tools/support.py
  python/grass/tools/tests/conftest.py
  python/grass/tools/tests/grass_tools_session_tools_test.py
Due: python library
