Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

parser: flag's description may be optional
  lib/gis/parser_rest_md.c
Due: lib

style: Fix unnecessary-dunder-call (PLC2801) (#4170)
  gui/wxpython/gcp/manager.py
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/tplot/frame.py
  pyproject.toml
  python/grass/gunittest/utils.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/modules/interface/typedict.py
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/table.py
  python/grass/pygrass/vector/testsuite/test_geometry_attrs.py
Due: gui, pygrass, gunittest, python library

r.object.geometry: add json support (#4105)
  raster/r.object.geometry/Makefile
  raster/r.object.geometry/main.c
  raster/r.object.geometry/r.object.geometry.html
  raster/r.object.geometry/testsuite/test_r_object_geometry.py
Due: none

db.describe: add JSON support (#4021)
  db/db.describe/Makefile
  db/db.describe/db.describe.html
  db/db.describe/local_proto.h
  db/db.describe/main.c
  db/db.describe/printtab.c
  db/db.describe/testsuite/test_dbdescribe.py
Due: none

g.download.location: Print target path in error message (#4155)
  scripts/g.download.location/g.download.location.html
  scripts/g.download.location/g.download.location.py
Due: scripts

point logo to index.html
  man/mkdocs/mkdocs.yml
Due: man

mkdocs: customize site_name
  man/Makefile
  man/mkdocs/mkdocs.yml
Due: man

shorten intro text; add link to release.yml
  doc/development/github_guide.md
Due: none

fix module indices
  man/Makefile
  man/build_class.py
  man/build_md.py
Due: man

fix keywords
  man/build_keywords.py
Due: man

fix guiscript
  include/Make/GuiScript.make
Due: none

implement manual_gallery
  man/Makefile
  man/build_manual_gallery.py
Due: man

implement parser_standard_options
  man/Makefile
  man/parser_standard_options.py
Due: man

Update man/build_keywords.py
  man/build_keywords.py
Due: man

Update man/parser_standard_options.py
  man/parser_standard_options.py
Due: man

fix commit ref
  utils/mkmarkdown.py
Due: utils

gui: replace python imp library with importlib for python 3.12
  gui/wxpython/core/gconsole.py
Due: gui

replace html meta comments with yaml metadata block
  lib/gis/parser_rest_md.c
  man/build_keywords.py
Due: man, lib

add measurement units and more tests
  vector/v.to.db/global.h
  vector/v.to.db/report.c
  vector/v.to.db/testsuite/test_v_to_db.py
  vector/v.to.db/units.c
Due: none

v.to.db: add JSON support
  vector/v.to.db/Makefile
  vector/v.to.db/global.h
  vector/v.to.db/main.c
  vector/v.to.db/parse.c
  vector/v.to.db/report.c
Due: none

Add tests and documentation
  vector/v.to.db/parse.c
  vector/v.to.db/testsuite/test_v_to_db.py
  vector/v.to.db/v.to.db.html
Due: none

fix test
  vector/v.to.db/testsuite/test_v_to_db.py
Due: none

Update vector/v.to.db/report.c
  vector/v.to.db/report.c
Due: none

db.describe: fix illegal memory access report
  db/db.describe/main.c
Due: none

introduce build.py
  man/Makefile
  man/build.py
  man/build_check.py
  man/build_class.py
  man/build_class_graphical.py
  man/build_full_index.py
  man/build_graphical_index.py
  man/build_html.py
  man/build_index.py
  man/build_keywords.py
  man/build_manual_gallery.py
  man/build_md.py
  man/build_topics.py
  man/parser_standard_options.py
Due: man

gui: replace python imp library with importlib for python 3.12 (#4201)
  gui/wxpython/core/gconsole.py
Due: gui

g.download.project: rename g.download.location
  .github/workflows/macos.yml
  .github/workflows/test_thorough.bat
  .github/workflows/test_thorough.sh
  scripts/Makefile
  scripts/g.download.location/g.download.location.html
  scripts/g.download.location/g.download.location.py
  scripts/g.download.project/Makefile
  scripts/g.download.project/g.download.project.html
  scripts/g.download.project/g.download.project.py
Due: scripts

fix building indices
  man/build.py
  man/build_full_index.py
  man/build_graphical_index.py
  man/build_keywords.py
  man/build_md.py
  man/build_topics.py
Due: man

full index: avoid HTML tag in MD
  man/build_full_index.py
Due: man

simplify title
  man/build_md.py
Due: man

Update man/build_topics.py
  man/build_topics.py
Due: man

Update man/build_md.py
  man/build_md.py
Due: man

Update man/build_full_index.py
  man/build_full_index.py
Due: man

Update man/build_manual_gallery.py
  man/build_manual_gallery.py
Due: man

Update man/build_class.py
  man/build_class.py
Due: man

Update man/build.py
  man/build.py
Due: man

Update lib/gis/parser_rest_md.c
  lib/gis/parser_rest_md.c
Due: lib

extend footer
  man/Makefile
  man/build_md.py
  man/mkdocs/mkdocs.yml
Due: man

startup: Change Location to Project in first-time user messages (#4193)
  gui/wxpython/datacatalog/infomanager.py
Due: gui

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
