Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

parser: set OpenMP default thread count to 0 to use all cores by default
  lib/gis/parser_standard_options.c
Due: lib

v.clean: simplify partial build logic
  vector/v.clean/main.c
Due: none

checks: Use new ruff-check pre-commit alias
  .pre-commit-config.yaml
Due: none

python editor dockable
  gui/wxpython/gui_core/pyedit.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/main_window/page.py
Due: gui

checks: Move raster and vector title prefixes to tools category
  utils/release.yml
Due: utils

checks: Remove TGIS title prefixes
  utils/release.yml
Due: utils

r.smooth.edgepreserve: fix MD documentation according to style guidelines
  raster/r.smooth.edgepreserve/r.smooth.edgepreserve.html
  raster/r.smooth.edgepreserve/r.smooth.edgepreserve.md
  raster/r.smooth.edgepreserve/r_smooth_edgepreserve.jpg
Due: none

fix multiple window layout
  gui/wxpython/gui_core/pyedit.py
Due: gui

add pylint comments
  gui/wxpython/gui_core/pyedit.py
Due: gui

remove unused code
  gui/wxpython/gui_core/pyedit.py
Due: gui

parallel: use OpenMP default thread count by default
  lib/gis/omp_threads.c
  lib/gis/parser_standard_options.c
Due: lib

cmake: fix typos (#5705)
  cmake/modules/DevelUtils.cmake
  cmake/modules/build_module.cmake
  cmake/modules/get_host_arch.cmake
Due: none

parallel: do not warn if user selects only 1 thread with OpenMP disabled
  lib/gis/omp_threads.c
Due: lib

fix when closing editor by a cross button
  gui/wxpython/gui_core/pyedit.py
  gui/wxpython/xml/menudata_pyedit.xml
Due: gui

Revert "cmake: fix typos (#5705)"
  cmake/modules/DevelUtils.cmake
  cmake/modules/build_module.cmake
  cmake/modules/get_host_arch.cmake
Due: none

docs: Added GRASS mono font to md-code-font-family (#5720)
  man/mkdocs/grassdocs.css
Due: man

wxGUI/gmodeler: refactor - move ModelParamDialog to dialogs.py (#5715)
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/model.py
Due: gui

lib/gmath: Fix typos (#5704)
  lib/gmath/gmathlib.dox
  lib/gmath/la.c
  lib/gmath/solvers_direct_cholesky_band.c
  lib/gmath/solvers_krylov.c
Due: lib

g.proj: upgrade to format=proj4 style text output (#5722)
  general/g.proj/testsuite/test_g_proj.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/mapdisp/statusbar.py
  python/grass/jupyter/utils.py
  python/grass/temporal/stds_export.py
  python/grass/temporal/stds_import.py
  scripts/m.proj/m.proj.py
  scripts/r.buffer.lowmem/r.buffer.lowmem.py
  scripts/r.in.aster/r.in.aster.py
  scripts/r.in.srtm/r.in.srtm.py
  scripts/r.in.wms/wms_base.py
  scripts/r.tileset/r.tileset.py
  scripts/v.in.geonames/v.in.geonames.py
Due: gui, scripts, notebooks (jupyter), python library

CQ: Fix line endings for msvc/lapacke.h
  msvc/lapacke.h
Due: none

g.proj: upgrade to format=shell style text output (#5728)
  general/g.proj/testsuite/test_g_proj.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/timeline/frame.py
  python/grass/script/tests/grass_script_core_location_test.py
  scripts/r.import/r.import.py
  scripts/r.in.wms/wms_base.py
  scripts/r.reclass.area/r.reclass.area.py
  scripts/v.import/v.import.py
Due: gui, scripts, python library

docs: g.proj - update the meaning of -p (#5726)
  general/g.proj/main.c
Due: none

g.proj: upgrade to format=wkt style text output (#5727)
  general/g.proj/testsuite/test_g_proj.py
  gui/wxpython/core/ws.py
  scripts/r.in.wms/wms_drv.py
Due: gui, scripts

CQ: Fix line endings for msvc/lapacke.h (#5736)
  msvc/lapacke.h
Due: none

Windows: Update NSIS standalone installer: Unicode, High-DPI, GRASS GIS to GRASS, typo (#5685)
  mswindows/GRASS-Installer.nsi.tmpl
Due: none

docs: gconsole - fix wrong parameter in docstring (#5716)
  gui/wxpython/core/gconsole.py
Due: gui

checks: Add display and other modules root folder as accepted title prefixes (#5341)
  utils/release.yml
Due: utils

add follow-up typo
  python/grass/pygrass/modules/interface/flag.py
Due: pygrass, python library

parallel: remove GIS from GRASS
  lib/gis/omp_threads.c
Due: lib

wxGUI/gmodeler: change syntax of variables (%variable -> %{variable})
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  gui/wxpython/gmodeler/g_gui_gmodeler_zipcodes_avg_elevation.gxm
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gmodeler/model_convert.py
Due: gui

reflect the documentation changes also in the .md documentation
  gui/wxpython/gmodeler/g.gui.gmodeler.md
Due: gui

use multiple file descriptors instead of locks
  raster/r.mapcalc/benchmark/benchmark_rmapcalc.py
  raster/r.mapcalc/evaluate.c
  raster/r.mapcalc/expression.h
  raster/r.mapcalc/main.c
  raster/r.mapcalc/map.c
Due: none

checks: Use new ruff-check pre-commit alias (#5734)
  .pre-commit-config.yaml
Due: none

MainPageBase.OnCloseWindow() defined
  gui/wxpython/main_window/page.py
Due: gui

toolbar: add dock/undock button
  gui/wxpython/gui_core/pyedit.py
Due: gui

fix PyEditFrame
  gui/wxpython/gui_core/pyedit.py
Due: gui

tab renamed to 'Code editor'
  gui/wxpython/main_window/frame.py
Due: gui

CI: clang-format-check - run only if changes in c/cpp/header files
  .github/workflows/clang-format-check.yml
Due: none

CMake: Fix the parameter is incorrect: . error
  python/libgrass_interface_generator/ctypesgen/libraryloader.py
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
