Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Update gui/wxpython/jupyter_notebook/template_notebooks/welcome.ipynb
  gui/wxpython/jupyter_notebook/template_notebooks/welcome.ipynb
Due: gui, notebooks (jupyter)

fixed . directory, unified panel and frame naming + refactoring
  gui/wxpython/jupyter_notebook/dialogs.py
  gui/wxpython/jupyter_notebook/frame.py
  gui/wxpython/jupyter_notebook/panel.py
  gui/wxpython/main_window/frame.py
Due: gui

Error is empty - delete it
  gui/wxpython/jupyter_notebook/frame.py
  gui/wxpython/main_window/frame.py
Due: gui

JupyterBrowserPanel - open directly welcome notebook (welcome.ipynb) if it exists
  gui/wxpython/jupyter_notebook/environment.py
  gui/wxpython/jupyter_notebook/panel.py
Due: gui

making templates more user friendly + adding Tools API examples
  gui/wxpython/jupyter_notebook/template_notebooks/new.ipynb
  gui/wxpython/jupyter_notebook/template_notebooks/welcome.ipynb
Due: gui, notebooks (jupyter)

add minimal toolbar to JupyterBrowserPanel
  gui/wxpython/jupyter_notebook/panel.py
  gui/wxpython/jupyter_notebook/toolbars.py
Due: gui

Update doc/jupyter_intro.md
  doc/jupyter_intro.md
Due: none

Fix hyperlinks not working in integrated Jupyter WebView + always open a new window
  gui/wxpython/jupyter_notebook/notebook.py
Due: gui

fix panel tooltip to persist after undock/dock
  gui/wxpython/main_window/frame.py
  gui/wxpython/main_window/notebook.py
Due: gui

small refinements in welcome.ipynb based on reviews
  gui/wxpython/jupyter_notebook/template_notebooks/welcome.ipynb
Due: gui, notebooks (jupyter)

documentation for Using Jupyter Notebooks from GRASS GUI
  doc/jupyter_browser_mode.png
  doc/jupyter_integrated_mode.png
  doc/jupyter_intro.md
  doc/jupyter_startup_dialog.png
Due: none

jupyter GUI docs moved to the GUI section + new Ways to Use Jupyter with GRASS section in jupyter_intro.md
  doc/jupyter_intro.md
  gui/wxpython/docs/jupyter_browser_mode.png
  gui/wxpython/docs/jupyter_integrated_mode.png
  gui/wxpython/docs/jupyter_startup_dialog.png
  gui/wxpython/docs/wxGUI.jupyter.md
Due: gui

add test for utils.py file
  python/grass/jupyter/tests/grass_jupyter_utils_test.py
Due: notebooks (jupyter), python library

fix environment problem
  python/grass/jupyter/tests/grass_jupyter_utils_test.py
Due: notebooks (jupyter), python library

improve code quality
  python/grass/jupyter/tests/grass_jupyter_utils_test.py
Due: notebooks (jupyter), python library

improve format
  python/grass/jupyter/tests/grass_jupyter_utils_test.py
Due: notebooks (jupyter), python library

update code
  python/grass/jupyter/tests/grass_jupyter_utils_test.py
Due: notebooks (jupyter), python library

r.proj: use memory option to limit RAM buffer per community feedback
  raster/r.proj/main.c
Due: none

better jupyter_intro docs
  doc/jupyter_intro.md
Due: none

vector and raster out implemented
  python/grass/app/cli.py
Due: python library

restructure json format
  raster/r.coin/print_json.c
  raster/r.coin/tests/test_json.py
Due: none

contributing: Add more human responsibility in AI use (#7120)
  AGENTS.md
  CONTRIBUTING.md
Due: none

t.vect.list, t.rast.list: Add CSV support with pipe + skip pytest (#7106)
  temporal/t.rast.list/t.rast.list.py
  temporal/t.rast.list/tests/t_rast_list_test.py
  temporal/t.vect.list/t.vect.list.py
  temporal/t.vect.list/tests/t_vect_list_test.py
Due: none

tests: add CSV format test for v.db.select (#7032)
  vector/v.db.select/testsuite/test_v_db_select.py
Due: none

Add copy project path
  gui/wxpython/datacatalog/tree.py
Due: gui

test: Update pygrass doctests for NumPy 2 compatibility (#4100)
  .github/workflows/python_requirements.txt
  .gunittest.cfg
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/utils.py
Due: pygrass, python library

tests: Add +ELLIPSIS to doctests for seamless NumPy 1.x and 2.x compatibility
  .github/workflows/python_requirements.txt
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/utils.py
Due: pygrass, python library

temporal:t.register: changed logic when timestamps are written
  python/grass/temporal/abstract_map_dataset.py
Due: python library

test: Fix doctest +ELLIPSIS directive placement in raster/__init__.py
  python/grass/pygrass/raster/__init__.py
Due: pygrass, python library

contributing: Point AI agents to --md-description for Python type info
  AGENTS.md
Due: none

wxGUI/datacatalog: Add copy path option for databases and projects in datacatalog (#7107)
  gui/wxpython/datacatalog/tree.py
Due: gui

changed the JSON output to use parson lib
  raster/r.geomorphon/Makefile
  raster/r.geomorphon/profile.c
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
