Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

docs: address review feedback on translation docs
  CONTRIBUTING.md
  locale/README.md
Due: none

Update actionlint version to v1.7.10
  .pre-commit-config.yaml
Due: none

code completely moved from python/grass/workflows to wxpython/jupyter_notebook
  gui/wxpython/Makefile
  gui/wxpython/jupyter_notebook/dialogs.py
  gui/wxpython/jupyter_notebook/directory.py
  gui/wxpython/jupyter_notebook/environment.py
  gui/wxpython/jupyter_notebook/frame.py
  gui/wxpython/jupyter_notebook/notebook.py
  gui/wxpython/jupyter_notebook/panel.py
  gui/wxpython/jupyter_notebook/server.py
  gui/wxpython/jupyter_notebook/template_notebooks/new.ipynb
  gui/wxpython/jupyter_notebook/template_notebooks/welcome.ipynb
  gui/wxpython/jupyter_notebook/utils.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  python/grass/CMakeLists.txt
  python/grass/Makefile
  python/grass/workflows/Makefile
  python/grass/workflows/__init__.py
Due: gui, notebooks (jupyter), python library

cmake: Added LIBM target for addon builds
  cmake/modules/build_addon.cmake
Due: none

grass.jupyter: Add legend support to InteractiveMap
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

tests: temporarily disable test of g.extension for Win
  scripts/g.extension/tests/g_extension_test.py
Due: scripts

Comment out unused code
  .github/workflows/python-code-quality.yml
Due: none

CI(macOS): Change removed macos-13 runner with macos-15-intel (#7059)
  .github/workflows/macos_distribute_app.yml
Due: none

CI: Update actionlint version to v1.7.10 (#7073)
  .github/workflows/python-code-quality.yml
  .pre-commit-config.yaml
Due: none

update code
  python/grass/jupyter/tests/grass_jupyter_utils_test.py
Due: notebooks (jupyter), python library

tests: temporarily disable test of g.extension for Windows (#7075)
  scripts/g.extension/tests/g_extension_test.py
Due: scripts

put all _F together
  general/g.parser/standard_option.c
  include/grass/gis.h
  lib/gis/parser_standard_options.c
Due: lib

comma removed :(
  include/grass/gis.h
Due: none

add parson support
  vector/CMakeLists.txt
  vector/v.db.select/Makefile
  vector/v.db.select/main.c
  vector/v.db.select/testsuite/test_v_db_select.py
Due: none

Update cmake/modules/build_addon.cmake
  cmake/modules/build_addon.cmake
Due: none

Removed unnecesary call to find_M so that LIBM isn't linked to all addons by default.
  cmake/modules/build_addon.cmake
Due: none

t.info: move encoder to grass.script.utils, add STVDS/STR3DS tests
  python/grass/script/utils.py
  python/grass/temporal/__init__.py
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/utils.py
  temporal/t.info/testsuite/test_t_info_json.py
Due: python library

Created attracting and elegant legend feature for rasters
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

grass.app: add vector import/link and map export options
  python/grass/app/cli.py
  python/grass/app/tests/grass_app_cli_test.py
Due: python library

grass.app: add --region, --import-raster, and --link-raster options
  python/grass/app/cli.py
  python/grass/app/tests/grass_app_cli_test.py
Due: python library

r.resamp.stats: OpenMP parallelization with memory chunking
  raster/r.resamp.stats/Makefile
  raster/r.resamp.stats/benchmark/benchmark_r_resamp_stats_nprocs.py
  raster/r.resamp.stats/main.c
Due: none

cmake: Added LIBM target for addon builds (#7074)
  cmake/modules/build_addon.cmake
Due: none

cmake: fix FOLDER structure for IDE's that support it (#7069)
  CMakeLists.txt
  cmake/modules/build_gui_in_subdir.cmake
  cmake/modules/build_module.cmake
  cmake/modules/build_script_in_subdir.cmake
  cmake/modules/copy_python_files_in_subdir.cmake
  db/CMakeLists.txt
  display/CMakeLists.txt
  doc/CMakeLists.txt
  gui/CMakeLists.txt
  gui/icons/CMakeLists.txt
  gui/images/CMakeLists.txt
  gui/wxpython/CMakeLists.txt
  gui/wxpython/docs/CMakeLists.txt
  imagery/CMakeLists.txt
  include/CMakeLists.txt
  lib/fonts/CMakeLists.txt
  lib/init/CMakeLists.txt
  locale/CMakeLists.txt
  man/CMakeLists.txt
  python/grass/CMakeLists.txt
  python/libgrass_interface_generator/CMakeLists.txt
  raster/CMakeLists.txt
  raster3d/CMakeLists.txt
  scripts/CMakeLists.txt
  temporal/CMakeLists.txt
  utils/CMakeLists.txt
  vector/CMakeLists.txt
Due: gui, man, utils, scripts, lib, python library

used G_OPT_F_FORMAT
  scripts/db.univar/db.univar.py
  scripts/v.db.univar/v.db.univar.py
  temporal/t.rast.list/t.rast.list.py
Due: scripts

grass.spec: sync to upstream
  rpm/grass.spec
Due: none

pkg: Update to latest grass.spec from Fedora (#6880)
  rpm/grass.spec
Due: none

Translated using Weblate (French)
  locale/po/grasslibs_ar.po
  locale/po/grasslibs_bn.po
  locale/po/grasslibs_cs.po
  locale/po/grasslibs_de.po
  locale/po/grasslibs_el.po
  locale/po/grasslibs_es.po
  locale/po/grasslibs_fi.po
  locale/po/grasslibs_fr.po
  locale/po/grasslibs_hi.po
  locale/po/grasslibs_hu.po
  locale/po/grasslibs_id_ID.po
  locale/po/grasslibs_it.po
  locale/po/grasslibs_ja.po
  locale/po/grasslibs_ko.po
  locale/po/grasslibs_lv.po
  locale/po/grasslibs_ml.po
  locale/po/grasslibs_pl.po
  locale/po/grasslibs_pt.po
  locale/po/grasslibs_pt_BR.po
  locale/po/grasslibs_ro.po
  locale/po/grasslibs_ru.po
  locale/po/grasslibs_si.po
  locale/po/grasslibs_sl.po
  locale/po/grasslibs_sv.po
  locale/po/grasslibs_ta.po
  locale/po/grasslibs_th.po
  locale/po/grasslibs_tr.po
  locale/po/grasslibs_uk.po
  locale/po/grasslibs_vi.po
  locale/po/grasslibs_zh.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_hi.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_hi.po
  locale/po/grasswxpy_it.po
Due: none

utils: expand EXCLUDED_FILES for cmake, .cls, and .svg
  utils/fix_typos.sh
Due: utils

utils: expand utils/fix_typos.sh EXCLUDED_FILES for cmake, .cls, and .svg (#7081)
  utils/fix_typos.sh
Due: utils

fix formatting and add jupyter_notebook also to CMakeLists
  gui/wxpython/CMakeLists.txt
  gui/wxpython/Makefile
Due: gui

let the order as it was
  gui/wxpython/xml/wxgui_items.xml
Due: gui

line desciption
  temporal/t.rast.list/t.rast.list.py
Due: none

line description
  temporal/t.rast.list/t.rast.list.py
Due: none

Add legend module to Makefile for proper installation
  python/grass/jupyter/Makefile
Due: notebooks (jupyter), python library
