Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

updated citation with double quotes
  CITATION.cff
Due: none

updated citation with double quotes throughout
  CITATION.cff
Due: none

build: refactor grass.py in preparation for FHS (#5933)
  CMakeLists.txt
  cmake/modules/GRASSInstallDirs.cmake
  cmake/modules/copy_python_files_in_subdir.cmake
  include/Make/Install.make
  lib/init/CMakeLists.txt
  lib/init/Makefile
  lib/init/grass.py
  python/grass/CMakeLists.txt
  python/grass/app/Makefile
  python/grass/app/resource_paths.py
  python/grass/app/runtime.py
Due: lib, python library

Fix Resource Leak Issue
  lib/cairodriver/graph.c
Due: lib

address review comments
  raster/r.volume/r.volume.md
Due: none

db.columns: add JSON support
  db/CMakeLists.txt
  db/db.columns/Makefile
  db/db.columns/db.columns.md
  db/db.columns/main.c
  db/db.columns/testsuite/test_dbcolumns.py
Due: none

Fix Resource Leak Issue
  lib/vector/Vlib/read.c
Due: lib

update documentation
  raster/r.volume/r.volume.md
Due: none

add test file
  scripts/i.colors.enhance/testsuite/test_i_colors_enhance.py
Due: scripts

improve test robustness
  scripts/i.colors.enhance/testsuite/test_i_colors_enhance.py
Due: scripts

Fix Resource Leak Issue
  lib/vector/Vlib/header.c
Due: lib

Formatting
  lib/vector/Vlib/header.c
Due: lib

Fix unchecked return value
  general/g.ppmtopng/main.c
Due: none

fix typo
  raster/r.volume/main.c
Due: none

v.label.sa: Fix Resource Leak issue (#5967)
  vector/v.label.sa/font.c
  vector/v.label.sa/labels.c
Due: none

lib/cairodriver: Fix Resource Leak Issue in graph.c (#6041)
  lib/cairodriver/graph.c
Due: lib

lib/vector/Vlib: Fix Resource Leak Issue in read.c (#6043)
  lib/vector/Vlib/read.c
Due: lib

lib/vector/Vlib: Fix Resource Leak Issue in header.c (#6044)
  lib/vector/Vlib/header.c
Due: lib

Fix Buffer Overflow issues
  general/g.parser/revoke.c
Due: none

Added v.build.polylines tests
  vector/v.build.polylines/tests/test_v_build_polylines.py
Due: none

r.volume: Add JSON support (#6036)
  raster/CMakeLists.txt
  raster/r.volume/Makefile
  raster/r.volume/local_proto.h
  raster/r.volume/main.c
  raster/r.volume/r.volume.md
  raster/r.volume/testsuite/test_r_volume.py
Due: none

m.measure: add test file
  misc/m.measure/testsuite/test_m_measure.py
Due: none

db.connect: add test file
  db/db.connect/testsuite/test_db_connect.py
Due: none

i.eb.hsebal01: add test file (#6038)
  imagery/i.eb.hsebal01/testsuite/test_i_eb_hsebal01.py
Due: none

i.colors.enhance: add test file (#6046)
  scripts/i.colors.enhance/testsuite/test_i_colors_enhance.py
Due: scripts

update tests
  misc/m.measure/testsuite/test_m_measure.py
Due: none

m.measure: Add test file (#6051)
  misc/m.measure/testsuite/test_m_measure.py
Due: none

m.measure: add JSON support
  lib/external/parson/gjson.c
  lib/external/parson/gjson.h
  lib/external/parson/test/test_gjson_lib.h
  lib/external/parson/test/test_parson_wrapper.c
  misc/CMakeLists.txt
  misc/m.measure/Makefile
  misc/m.measure/m.measure.md
  misc/m.measure/main.c
  misc/m.measure/testsuite/test_m_measure.py
Due: lib

g.ppmtopng: Fix unchecked return value in main.c (#6045)
  general/g.ppmtopng/main.c
Due: none

g.parser: Fix Copy into fixed Buffer size issue in revoke.c (#6048)
  general/g.parser/revoke.c
Due: none

add test file
  scripts/i.image.mosaic/testsuite/test_i_image_mosaic.py
Due: scripts

i.image.mosaic: add test file (#6055)
  scripts/i.image.mosaic/testsuite/test_i_image_mosaic.py
Due: scripts

db.connect: Add test file (#6052)
  db/db.connect/testsuite/test_db_connect.py
Due: none

v.build.polylines: Added test for merging and category handling (#6050)
  vector/v.build.polylines/tests/test_v_build_polylines.py
Due: none

config.guess + config.sub: updated from http://git.savannah.gnu.org/cgit/config.git/plain/
  config.guess
  config.sub
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

db.connect: add JSON support
  db/CMakeLists.txt
  db/db.connect/Makefile
  db/db.connect/db.connect.md
  db/db.connect/main.c
  db/db.connect/testsuite/test_db_connect.py
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
