Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

updated test
  vector/v.info/testsuite/test_vinfo.py
Due: none

Fixes UTM hemisphere selection bug in location wizard
  gui/wxpython/location_wizard/wizard.py
Due: gui

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

wxGUI: Fixes UTM hemisphere selection in location wizard (#6824)
  gui/wxpython/location_wizard/wizard.py
Due: gui

Fix #6827: Make 'Define new GRASS project' wizard resizable
  gui/wxpython/location_wizard/wizard.py
Due: gui

wxGUI: Make Define new GRASS project wizard resizable
  gui/wxpython/location_wizard/wizard.py
Due: gui

lib/gis: Fixes Parameters docs tabs issue Fixes: #6305
  lib/gis/parser_md_common.c
Due: lib

Update lib/gis/parser_md_common.c
  lib/gis/parser_md_common.c
Due: lib

Apply suggestions from code review
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverity.yml
  .github/workflows/gcc.yml
Due: none

CQ: Apply clang-format 20 formatting
  imagery/i.atcorr/geomcond.cpp
  imagery/i.fft/main.c
  imagery/i.ifft/main.c
  imagery/i.segment/pavl.c
  lib/vector/dglib/avl.c
  lib/vector/dglib/tavl.c
  raster/r.path/pavlrc.c
  raster3d/r3.in.v5d/v5d.c
  raster3d/r3.out.v5d/main.c
  raster3d/r3.out.v5d/v5d.c
  vector/v.in.ogr/pavl.c
Due: lib

CI: Update DoozyX/clang-format-lint-action to use clang-format 20
  .github/workflows/clang-format-check.yml
Due: none

CQ: Change .clang-format config to define C language options (now different from Cpp)
  .clang-format
  imagery/i.gensig/lookup_class.c
  imagery/i.gensigset/lookup_class.c
  imagery/i.maxlik/classify.c
  imagery/i.ortho.photo/lib/georef.c
  imagery/i.zc/main.c
  lib/btree2/kdtree.c
  lib/cluster/c_means.c
  lib/cluster/c_sum2.c
  lib/gis/adj_cellhd.c
  lib/vector/Vlib/overlay.c
  raster/r.cost/main.c
  raster/r.mfilter/execute.c
  raster/r.ros/main.c
  raster/r.slope.aspect/main.c
  raster/r.walk/main.c
  vector/v.overlay/area_area.c
  vector/v.overlay/line_area.c
  vector/v.overlay/main.c
  vector/v.select/args.c
  vector/v.select/geos.c
  vector/v.select/main.c
  vector/v.select/select.c
Due: lib

CQ: Upgrade .clang-format config for renamed/deprecated option AlwaysBreakTemplateDeclarations
  .clang-format
Due: none

doc: fix links in python intro
  doc/interfaces_overview.md
  doc/jupyter_intro.md
  doc/python_intro.md
Due: none

CI: Apply zizmor safe fixes in pre-commit (#6808)
  .pre-commit-config.yaml
Due: none

CQ: Remove Cpp-specific formatting options from C options
  .clang-format
  include/grass/iostream/imbuffer.h
Due: none

wxGUI: ellipsize GIS database path label in location wizard
  gui/wxpython/location_wizard/wizard.py
Due: gui

CQ: Downgrade clang-format to 20.1.0 to match existing clang-format action
  .pre-commit-config.yaml
  imagery/i.gensig/lookup_class.c
  imagery/i.gensigset/lookup_class.c
  imagery/i.maxlik/classify.c
  imagery/i.ortho.photo/lib/georef.c
  lib/cluster/c_means.c
  lib/cluster/c_sum2.c
  lib/gis/adj_cellhd.c
  lib/vector/Vlib/overlay.c
  raster/r.cost/main.c
  raster/r.mfilter/execute.c
  raster/r.ros/main.c
  raster/r.slope.aspect/main.c
  raster/r.walk/main.c
  vector/v.overlay/area_area.c
  vector/v.overlay/line_area.c
  vector/v.overlay/main.c
  vector/v.select/args.c
  vector/v.select/geos.c
  vector/v.select/main.c
  vector/v.select/select.c
Due: lib

v.info: Sync -c flag with format=JSON output with v.db.connect (#6823)
  vector/v.info/print.c
  vector/v.info/testsuite/test_vinfo.py
Due: none

grass.tools: Migration guide from run_command
  doc/migration_to_grass_tools_python_api.md
  doc/python_intro.md
Due: none

Apply suggestions from code review
  docker/debian/Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Due: none

wxGUI: Make Define new GRASS project wizard resizable (#6846)
  gui/wxpython/location_wizard/wizard.py
Due: gui

Separate function for newline escape with Markdown line break
  lib/gis/parser_md_common.c
Due: lib

lib/gis: Fixes Parameters docs tabs issue
  lib/gis/parser_md_common.c
Due: lib

docker: Apply backports to ubuntu_wxgui dockerfile
  docker/ubuntu_wxgui/Dockerfile
Due: none

docker: Revert PDAL 2.9.2 to 2.9.3 update for ubuntu_wxgui dockerfile
  docker/ubuntu_wxgui/Dockerfile
Due: none

doc: fix links in python intro (#6861)
  doc/interfaces_overview.md
  doc/jupyter_intro.md
  doc/python_intro.md
Due: none

Apply suggestions from code review
  doc/migration_to_grass_tools_python_api.md
Due: none

added format=csv
  vector/v.info/local_proto.h
  vector/v.info/parse.c
  vector/v.info/print.c
Due: none

backward compatibility
  vector/v.info/local_proto.h
  vector/v.info/parse.c
  vector/v.info/print.c
Due: none

nitpicks
  vector/v.info/parse.c
  vector/v.info/print.c
Due: none

Refactor mapcalc rand tests: parametrize edge seed tests for better efficiency
  python/grass/script/tests/grass_script_raster_mapcalc_test.py
Due: python library

Quote cmake paths
  lib/init/CMakeLists.txt
Due: lib
