Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

test nmedian with nprocs=1
  raster/r.mapcalc/main.c
  raster/r.mapcalc/testsuite/test_nmedian_bug_3296.py
Due: none

remove heading
  raster/r.describe/r.describe.md
Due: none

grass.script: deprecate vector_what encoding parameter (#5913)
  gui/wxpython/mapdisp/frame.py
  python/grass/script/vector.py
Due: gui, python library

r.report: fix some JSON keys and improve doc (#5960)
  raster/r.report/prt_json.c
  raster/r.report/r.report.md
  raster/r.report/testsuite/test_r_report.py
Due: none

i.rectify: add test file (#5919)
  imagery/i.rectify/testsuite/test_i_rectify.py
Due: none

Fix Resource Leak Issue
  vector/v.lrs/v.lrs.segment/main.c
Due: none

fix
  vector/v.lrs/v.lrs.segment/main.c
Due: none

r.profile: Update JSON format (#5962)
  raster/r.profile/local_proto.h
  raster/r.profile/main.c
  raster/r.profile/r.profile.md
  raster/r.profile/read_rast.c
  raster/r.profile/rprofile_plot.png
  raster/r.profile/testsuite/test_profile_ncspm.py
Due: none

i.eb.soilheatflux: add test file (#5886)
  imagery/i.eb.soilheatflux/testsuite/test_i_eb_soilheatflux.py
Due: none

r.univar: add shell and csv format
  raster/r.univar/globals.h
  raster/r.univar/r.univar.md
  raster/r.univar/r.univar_main.c
  raster/r.univar/r3.univar_main.c
  raster/r.univar/stats.c
  raster/r.univar/testsuite/test_r_univar.py
Due: none

fix failing tests
  imagery/i.eb.eta/testsuite/test_i_eb_eta.py
  imagery/i.eb.netrad/testsuite/test_i_eb_netrad.py
  imagery/i.evapo.mh/testsuite/test_i_evapo_mh.py
  imagery/i.evapo.pm/testsuite/test_i_evapo_pm.py
  imagery/i.evapo.pt/testsuite/test_i_evapo_pt.py
  imagery/i.evapo.time/testsuite/test_i_evapo_time.py
Due: none

remove flag g when json format is used
  imagery/i.eb.netrad/testsuite/test_i_eb_netrad.py
Due: none

Add doc for the main run function
  python/grass/experimental/tools/session_tools.py
Due: python library

Use bytes also in the Windows branch in task
  python/grass/script/task.py
Due: python library

Use higher level code to avoid platfrom-specific line sep which does not apply anyway with text=True (and breaks the test on Windows)
  scripts/i.band.library/testsuite/test_i_band_library.py
Due: scripts

doc: json examples for r.describe and r/r3/v.colors.out (#5963)
  raster/r.colors.out/r.colors.out.md
  raster/r.colors.out/r3.colors.out.md
  raster/r.describe/r.describe.md
  vector/v.colors.out/v.colors.out.md
Due: none

Modify the fallback UTF-8 encoding procedure to account for bytes (which don't have encode), and try harder to decode the recieved bytes.
  python/grass/script/task.py
Due: python library

Use input for stdin aligning with subprocess.run and Popen.communicate, because stdin is already used for pipe flag
  python/grass/experimental/tools/session_tools.py
Due: python library

Use also command in result if kwargs are not available. Do not use set env when not needed (not needed because we have only one run)
  python/grass/experimental/tools/session_tools.py
  python/grass/experimental/tools/support.py
Due: python library

g.list: Add JSON output format (#5921)
  general/CMakeLists.txt
  general/g.list/Makefile
  general/g.list/g.list.md
  general/g.list/global.h
  general/g.list/list.c
  general/g.list/main.c
  general/g.list/tests/g_list_test.py
  general/g.list/testsuite/test_g_list.py
Due: none

More migration examples. More examples with context managers.
  python/grass/experimental/tools/support.py
  python/grass/experimental/tools/tests/grass_tools_session_tools_test.py
Due: python library

Add g.list examples
  python/grass/experimental/tools/tests/grass_tools_session_tools_test.py
Due: python library

Fix Resource Leak issue
  vector/v.label.sa/labels.c
Due: none

Fix typo in text comment
  python/grass/experimental/tools/tests/grass_tools_session_tools_test.py
Due: python library

Fix Resource Leak Issue
  lib/imagery/manage_signatures.c
Due: lib

Use print and f-strings instead of sys.stdout.write to handle different cases
  python/grass/semantic_label/reader.py
Due: python library

formatting
  lib/imagery/manage_signatures.c
Due: lib

grass.app: Use env in the lock program call
  python/grass/app/data.py
Due: python library

tests: Use more env for session isolation
  general/g.mapset/tests/conftest.py
  general/g.mapset/tests/g_mapset_test.py
  general/g.mapsets/tests/conftest.py
  general/g.mapsets/tests/g_mapsets_list_format_test.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_core_get_commands.py
Due: python library

grass.script: Remove PATH modification, fix GUI scripts in get_commands
  python/grass/script/core.py
  python/grass/script/tests/grass_script_core_get_commands.py
Due: python library

One more env to be passed in the g.mapset test
  general/g.mapset/tests/conftest.py
Due: none

Remove the exeception from description, assume system exception
  python/grass/app/data.py
Due: python library

Rename to xxx_test to enable automatic testing
  python/grass/script/tests/grass_script_core_get_commands_test.py
Due: python library

lib/imagery: Fix Resource Leak Issue in manage_signatures.c (#5968)
  lib/imagery/manage_signatures.c
Due: lib

Initialize int col only once
  raster/r.smooth.edgepreserve/pm.c
Due: none

Update pm.c
  raster/r.smooth.edgepreserve/pm.c
Due: none

grass.app: Use env in the lock program call (#5970)
  python/grass/app/data.py
Due: python library

tests: Use more env for session isolation (#5969)
  general/g.mapset/tests/conftest.py
  general/g.mapset/tests/g_mapset_test.py
  general/g.mapsets/tests/conftest.py
  general/g.mapsets/tests/g_mapsets_list_format_test.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_core_get_commands.py
Due: python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
