Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

g.download.project: rename g.download.location (#4187)
  .github/workflows/macos.yml
  .github/workflows/test_thorough.bat
  .github/workflows/test_thorough.sh
  scripts/Makefile
  scripts/g.download.location/g.download.location.html
  scripts/g.download.location/g.download.location.py
  scripts/g.download.project/Makefile
  scripts/g.download.project/g.download.project.html
  scripts/g.download.project/g.download.project.py
Due: scripts

grass.jupyter: Use InteractiveMap with custom projections
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/reprojection_renderer.py
Due: notebooks (jupyter), python library

g.download.location: Fix typo in g.download.project call
  scripts/g.download.location/g.download.location.py
Due: scripts

g.download.location: Fix typo in g.download.project call (#4205)
  scripts/g.download.location/g.download.location.py
Due: scripts

REQUIREMENTS.md: add pip install mkdocs mkdocs-material
  REQUIREMENTS.md
Due: none

Update python/grass/temporal/datetime_math.py
  python/grass/temporal/datetime_math.py
Due: python library

Delete variable assignments and a variable
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/open_stds.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
Due: python library

Delete variable Declarations with Definitions
  python/grass/temporal/temporal_algebra.py
Due: python library

Add `column` variable to `r.to.vect`
  temporal/t.rast.to.vect/t.rast.to.vect.py
Due: none

Change `column=values` to `column=value`
  temporal/t.rast.to.vect/testsuite/test_to_vect.py
Due: none

contributing: add PR template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

beautify footer
  man/Makefile
  man/mkdocs/grassdocs.css
  man/mkdocs/mkdocs.yml
Due: man

rename target dir to mkdocs
  include/Make/Grass.make
  man/Makefile
  man/build_md.py
Due: man

fix build_class
  man/build_class.py
Due: man

Apply suggested changes
  temporal/t.rast.to.vect/t.rast.to.vect.py
  temporal/t.rast.to.vect/testsuite/test_to_vect.py
Due: none

CI(python): Enable printing of all Python warnings with PYTHONWARNINGS
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/ubuntu.yml
Due: none

CI(python): Enable printing of all Python warnings with PYTHONWARNINGS (#4210)
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/ubuntu.yml
Due: none

address review and add exclude MD041
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .markdownlint.yml
Due: none

CI(pytest): Run pytest tests with Python 3.13 (#4209)
  .github/workflows/pytest.yml
Due: none

add missing footer
  man/mkdocs/overrides/partials/footer.html
Due: man

apply black
  man/build.py
  man/build_class.py
  man/build_full_index.py
  man/build_html.py
  man/build_index.py
  man/build_keywords.py
  man/build_manual_gallery.py
  man/parser_standard_options.py
Due: man

apply ruff suggestions
  man/build.py
  man/build_keywords.py
  utils/mkmarkdown.py
Due: man, utils

fix pathlib import
  utils/mkmarkdown.py
Due: utils

Update utils/mkmarkdown.py
  utils/mkmarkdown.py
Due: utils

apply ruff
  man/build_keywords.py
Due: man

configure: update to latest config.guess and config.sub (#4161)
  config.guess
  config.sub
Due: none

db.describe: fix illegal memory access report (#4202)
  db/db.describe/main.c
Due: none

g.download.location: Print target path in error message (#4155)
  scripts/g.download.location/g.download.location.html
  scripts/g.download.location/g.download.location.py
Due: scripts

add numpy into deps in order to fix some tests
  .github/workflows/osgeo4w.yml
Due: none

refactor the calculate_point_mode function
  raster/r.horizon/main.c
Due: none

Remove F841 from .flake8 file
  .flake8
Due: none

parallelize and add benchmark for point mode
  raster/r.horizon/benchmark/benchmark_rhorizon_point.py
  raster/r.horizon/main.c
Due: none

include twopi and rad2deg to omp parallel clause
  raster/r.horizon/main.c
Due: none

r.out.png: fix consecutive fclose calls on same pointer
  raster/r.out.png/main.c
Due: none

include deg2rad to omp parallel clause
  raster/r.horizon/main.c
Due: none

Checks: Fix flake8 F841 (local variable assigned to but never used) in /temporal/t.rast.to.vect (#4206)
  .flake8
  temporal/t.rast.to.vect/t.rast.to.vect.py
  temporal/t.rast.to.vect/testsuite/test_to_vect.py
Due: none

i.atcorr: fix plot_filter function in create_iwave (#3911)
  imagery/i.atcorr/create_iwave.py
Due: none
