Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

checks: Add more pre-commit-hooks like in grass-addons repo (#7090)
  .pre-commit-config.yaml
  doc/howto_release.md
Due: none

add returns_nonnull attribute to G_malloc, G_calloc, G_realloc
  include/grass/defs/gis.h
Due: none

CI(docker): Add docker labels from metadata (#6667)
  .github/workflows/docker.yml
Due: none

r.sim: rename niterations to duration to better reflect what the parameter is for
  doc/jupyter_intro.md
  doc/jupyter_intro_images.ipynb
  lib/gis/renamed_options
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
  raster/r.sim/test/test.sh
Due: lib, notebooks (jupyter)

r.sim: rename niterations to duration to better reflect what the parameter is for (#7175)
  doc/jupyter_intro.md
  doc/jupyter_intro_images.ipynb
  lib/gis/renamed_options
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
  raster/r.sim/test/test.sh
Due: lib, notebooks (jupyter)

Replace "justify" by "evaluate" to battle AI inventing justifications for bad lines.
  AGENTS.md
Due: none

lib/gis: improve diagnostic capabilities for compilers and/or static analyzers (#7172)
  include/grass/defs/gis.h
Due: none

locale: update Bengali translations for various messages in grasslibs_bn.po
  locale/po/grasslibs_bn.po
Due: none

fix: restore missing translations
  locale/po/grasslibs_bn.po
Due: none

Fix continuous legend rendering and add pytest suite
  python/grass/jupyter/legend.py
  python/grass/jupyter/tests/legend_test.py
Due: notebooks (jupyter), python library

temporal: replace deprecated g.mapset option gisdbase with dbase
  python/grass/temporal/stds_import.py
Due: python library

test: add pytest for get_region in grass.jupyter
  python/grass/jupyter/test_region.py
Due: notebooks (jupyter), python library

temporal: replace deprecated g.mapset option gisdbase with dbase in stds_import.py (#7178)
  python/grass/temporal/stds_import.py
Due: python library

Translated using Weblate (Bengali)
  locale/po/grasslibs_bn.po
  locale/po/grasslibs_fr.po
  locale/po/grassmods_bn.po
  locale/po/grassmods_fr.po
  locale/po/grasswxpy_fr.po
Due: none

contributing: Add StringIO stdin pattern and comment banner exception
  AGENTS.md
Due: none

add subcommand for --link-raster
  python/grass/app/cli.py
Due: python library

add --link-raster
  python/grass/app/cli.py
Due: python library

add subcommand for link raster
  python/grass/app/cli.py
Due: python library

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

contributing: Add StringIO pattern and comment banner to AI agent instructions (#7179)
  AGENTS.md
Due: none

fix formatting and linter errors
  python/grass/jupyter/test_region.py
Due: notebooks (jupyter), python library

Update python/grass/jupyter/test_region.py
  python/grass/jupyter/test_region.py
Due: notebooks (jupyter), python library

Update test_r_watershed_reuse.py
  raster/r.watershed/testsuite/test_r_watershed_reuse.py
Due: none

Translations update from OSGeo Weblate (#7183)
  locale/po/grasslibs_bn.po
  locale/po/grasslibs_fr.po
  locale/po/grassmods_bn.po
  locale/po/grassmods_fr.po
  locale/po/grasswxpy_fr.po
Due: none

POC: parallelize r.proj via RAM-resident buffer, 2.5x speedup on 8-core Apple M-series
  raster/r.proj/main.c
Due: none

basic functionality
  gui/wxpython/Makefile
  gui/wxpython/jupyter_notebook/panel.py
  gui/wxpython/lmgr/toolbars.py
  gui/wxpython/main_window/frame.py
Due: gui

fixes from Tomas Z.
  python/grass/workflows/server.py
Due: python library

Update python/grass/workflows/template_notebooks/welcome.ipynb
  python/grass/workflows/template_notebooks/welcome.ipynb
Due: notebooks (jupyter), python library

changes in icons order in toolbar, button for Jupyter start always active, deletation of availability check - will be done after clicking on new buttons in Start dialog
  gui/icons/grass/jupyter-inactive.png
  gui/icons/grass/jupyter-inactive.svg
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/toolbars.py
  gui/wxpython/main_window/frame.py
Due: gui

incorporating notes from Tomas in stop_server method
  python/grass/workflows/server.py
Due: python library

Update python/grass/workflows/template_notebooks/new.ipynb
  python/grass/workflows/template_notebooks/new.ipynb
Due: notebooks (jupyter), python library

new start dialog for working dir and template settings
  gui/wxpython/jupyter_notebook/dialogs.py
  gui/wxpython/jupyter_notebook/panel.py
  gui/wxpython/main_window/frame.py
  python/grass/workflows/directory.py
Due: gui, python library

Fix making template_notebooks/ sub diretory
  python/grass/workflows/Makefile
Due: python library

applying relevant github-advanced-security suggestions
  gui/wxpython/jupyter_notebook/panel.py
  python/grass/workflows/server.py
Due: gui, python library

refactoring and other refinement edits
  gui/wxpython/jupyter_notebook/dialogs.py
  gui/wxpython/jupyter_notebook/panel.py
  gui/wxpython/main_window/frame.py
  python/grass/workflows/Makefile
  python/grass/workflows/__init__.py
  python/grass/workflows/directory.py
  python/grass/workflows/environment.py
  python/grass/workflows/server.py
  python/grass/workflows/template_notebooks/welcome.ipynb
Due: gui, notebooks (jupyter), python library

fully working version after refactoring
  gui/icons/grass/jupyter.png
  gui/icons/grass/jupyter.svg
  gui/wxpython/jupyter_notebook/notebook.py
  gui/wxpython/jupyter_notebook/panel.py
  gui/wxpython/jupyter_notebook/toolbars.py
  gui/wxpython/lmgr/toolbars.py
  gui/wxpython/main_window/frame.py
  python/grass/CMakeLists.txt
  python/grass/Makefile
  python/grass/notebooks/Makefile
  python/grass/notebooks/directory.py
  python/grass/notebooks/launcher.py
  python/grass/notebooks/template_notebooks/template.ipynb
  python/grass/workflows/Makefile
  python/grass/workflows/__init__.py
  python/grass/workflows/directory.py
  python/grass/workflows/server.py
  python/grass/workflows/template_notebooks/new.ipynb
  python/grass/workflows/template_notebooks/welcome.ipynb
Due: gui, notebooks (jupyter), python library

Update python/grass/workflows/__init__.py
  python/grass/workflows/__init__.py
Due: python library
