Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

r.viewshed: Add missing <algorithm> include for std::max
  raster/r.viewshed/statusstructure.cpp
Due: none

Apply suggestions from code review
  utils/build_ubuntu_dependencies.sh
Due: utils

Specify source and build directories passed to cmake
  utils/build_ubuntu_dependencies.sh
Due: utils

Fix Copy into fixed size buffer issues
  imagery/i.target/main.c
Due: none

Sort GDAL CMake USE options
  utils/build_ubuntu_dependencies.sh
Due: utils

Sort PDAL CMake command line
  utils/build_ubuntu_dependencies.sh
Due: utils

Sort GDAL CMake command line
  utils/build_ubuntu_dependencies.sh
Due: utils

docker: Separate building libraries and grass into different stages, in order to be able to ask buildkit to only build up to a certain stage and export it as an image
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

Fix Resource Leak issue
  raster/r.topmodel/topmodel.c
Due: none

Apply suggestions from code review
  temporal/t.rast.extract/testsuite/test_t_rast_extract_pytest.py
Due: none

CI(Docker): Do not tag mark images as current or latest if fetching info fails
  .github/workflows/docker.yml
Due: none

CI(Docker): Move echo of latest tag right when value is known, to help debugging failing step in forks
  .github/workflows/docker.yml
Due: none

Disable building tests for GEOS library
  utils/build_ubuntu_dependencies.sh
Due: utils

Update docker/ubuntu/Dockerfile
  docker/ubuntu/Dockerfile
Due: none

Update Dockerfile
  Dockerfile
Due: none

r.viewshed: Add missing <algorithm> include for std::max (#6502)
  raster/r.viewshed/statusstructure.cpp
Due: none

CI(Docker): Fix failures in forks when fetching latest tag or current branch fails (#6506)
  .github/workflows/docker.yml
Due: none

Fix argument cannot be negative
  raster/r.thin/io.c
Due: none

Fix Dereference before Null Check issue
  general/g.filename/main.c
Due: none

Update raster/r.thin/io.c
  raster/r.thin/io.c
Due: none

remove digest label
  docker/ubuntu/Dockerfile
Due: none

sync with ubuntu
  Dockerfile
Due: none

fix
  temporal/t.rast.extract/testsuite/test_t_rast_extract_pytest.py
Due: none

Fixed ruff format suggestions in forms.py
  gui/wxpython/gui_core/forms.py
Due: gui

Different approach by creating MapNameValidator class to widgets.py and adding validator member to g.select.Select in forms.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/widgets.py
Due: gui

Build: move config.h.in customizations to configure.ac to make config.h.in purely reconfigurable
  configure
  configure.ac
  include/grass/config.h.in
Due: none

build: put back #ifndef guard for config.h.in
  configure
  configure.ac
  include/grass/config.h.in
Due: none

build: add back missing LFS_CFLAGS
  configure
  configure.ac
Due: none

ps.map: Fix Resource Leak Issue in ps_raster.c (#6467)
  ps/ps.map/ps_raster.c
Due: ps

r.buffer: Fix Resource Leak Issue in read_map.c (#6470)
  raster/r.buffer/read_map.c
Due: none

r.topmodel: Fix Resource Leak issue in topmodel.c (#6505)
  raster/r.topmodel/topmodel.c
Due: none

i.target: Fix Copy into fixed size buffer issues in main.c (#6504)
  imagery/i.target/main.c
Due: none

CI: Fix r.texture test on macOS for v8.4 (#6478)
  raster/r.texture/testsuite/test_texture.py
Due: none

docker: compile core Ubuntu 24.04 dependencies from source (#6481)
  Dockerfile
  docker/ubuntu/Dockerfile
  utils/build_ubuntu_dependencies.sh
Due: utils

tests: Use copy of env for init
  python/grass/tools/tests/grass_tools_session_tools_pack_test.py
  raster/r.out.gdal/tests/test_r_out_gdal.py
  vector/v.colors/tests/test_v_colors.py
  vector/v.decimate/tests/test_v_decimate.py
Due: python library

tests: Use string and subprocess for isolation
  lib/gis/tests/lib_gis_env_test.py
  python/grass/script/tests/grass_script_core_location_test.py
  python/grass/script/tests/grass_script_setup_test.py
Due: lib, python library

tests: Use copy of env for init (#6513)
  python/grass/tools/tests/grass_tools_session_tools_pack_test.py
  raster/r.out.gdal/tests/test_r_out_gdal.py
  vector/v.colors/tests/test_v_colors.py
  vector/v.decimate/tests/test_v_decimate.py
Due: python library

The constructed script needs to use raw strings for the path to accomodate backslashes (as a way of dealing with Windows paths).
  lib/gis/tests/lib_gis_env_test.py
  python/grass/script/tests/grass_script_setup_test.py
Due: lib, python library

Use exception to report stderr to ensure it is reported instead of relying on stderr being printed through pytest (does not show up on Windows in CI)
  lib/gis/tests/lib_gis_env_test.py
Due: lib

Document tests with their new/current scope. Add more capture_stderr smoke testing. Be more consitent in mocking no global session.
  python/grass/script/tests/conftest.py
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
