Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

CI(Docker): Place annotations, provenance and sbom close together
  .github/workflows/docker.yml
Due: none

CI(Docker): Add permissions to create attestations
  .github/workflows/docker.yml
Due: none

CI(Docker): Skip adding attestations if there is no digest, like if an image isn't pushed to a registry
  .github/workflows/docker.yml
Due: none

Remove trailing whitespace
  .github/workflows/docker.yml
Due: none

CI(Docker): Remove commented-out job-level `if` condition
  .github/workflows/docker.yml
Due: none

CI(Docker): Fix typo
  .github/workflows/docker.yml
Due: none

addresses review comments
  .github/workflows/ubuntu.yml
Due: none

Fix Resource Leak Issue
  vector/v.extract/extract.c
Due: none

Fix Resource Leak Issue
  raster/r.watershed/seg/do_cum.c
Due: none

docker: gdal-grass autoconf workaround (G84) (#5123)
  Dockerfile
  docker/alpine/Dockerfile
  docker/ubuntu/Dockerfile
Due: none

Fix Resource Leak Issue
  lib/manage/do_copy.c
Due: lib

formatting
  lib/manage/do_copy.c
Due: lib

FIx Resource Leak Issue
  lib/vector/Vlib/cindex.c
Due: lib

change
  lib/vector/Vlib/cindex.c
Due: lib

lib/vector/Vlib: free alloc'd field_info and dbColumn objects (net_build.c) (#5112)
  lib/vector/Vlib/net_build.c
Due: lib

revert C related INFINITY/NAN changes (this is taken care of in #2681)
  general/g.region/printwindow.c
  lib/btree2/kdtree.c
  lib/raster3d/mask.c
  lib/vector/Vlib/box.c
  raster/r.in.bin/main.c
  raster/r.in.lidar/info.c
  raster/r.in.lidar/point_binning.c
  raster/r.li/r.li.padrange/padrange.c
  raster/r.out.gdal/main.c
  raster/r.series.accumulate/main.c
  raster/r.univar/r.univar_main.c
  raster/r.univar/r3.univar_main.c
  raster/r.univar/stats.c
  raster3d/r3.in.lidar/info.c
  vector/v.cluster/main.c
  vector/v.distance/distance.c
  vector/v.voronoi/skeleton.c
Due: lib

Sync to PR Cmake build2 #348 (replaces #348)
  cmake/ctypesgen.cmake
  cmake/modules/build_library_in_subdir.cmake
  cmake/modules/build_program.cmake
  cmake/modules/get_versions.cmake
  cmake/modules/repo_status.cmake
  cmake/modules/set_compiler_flags.cmake
  gui/icons/CMakeLists.txt
  gui/images/CMakeLists.txt
  lib/CMakeLists.txt
  lib/init/license.txt.in
  python/libgrass_interface_generator/CMakeLists.txt
  vector/CMakeLists.txt
Due: gui, lib

remove files deleted in PR #1400
  gui/wxpython/CMakeLists.txt
Due: gui

fix syntax
  .github/workflows/cmake.yml
Due: none

Remove debugging leftover.
  .github/workflows/cmake.yml
Due: none

update to CMake 3.11.4
  .github/workflows/cmake.yml
Due: none

cmake_minimum_required version 3.11
  CMakeLists.txt
Due: none

Build step debugging
  .github/workflows/cmake.yml
Due: none

apply clang-format
  cmake/tests/have_pbuffer.c
  cmake/tests/have_pixmaps.c
  cmake/tests/have_pqcmdtuples.c
  lib/db/dbmi_base/login.c
  lib/db/dbmi_base/msvc/dirent.c
  lib/db/dbmi_base/msvc/dirent.h
  lib/gis/gisinit.c
  lib/gis/ls_filter.c
  lib/gis/parser_interface.c
  lib/raster3d/test/test_tools.c
  msvc/unistd.h
  raster/r.terraflow/common.cpp
  raster/r.terraflow/filldepr.cpp
Due: lib

python_bandref -> python_semantic_label
  python/grass/CMakeLists.txt
Due: python library

Fix missing EOL
  raster/r.watershed/CMakeLists.txt
  raster3d/CMakeLists.txt
  scripts/CMakeLists.txt
Due: scripts

add VERBATIM
  python/grass/CMakeLists.txt
Due: python library

fix path to grass/script/setup.py
  python/CMakeLists.txt
Due: none

just peek in the folder (by @echoix)
  python/CMakeLists.txt
Due: none

make -> cmake
  .github/workflows/cmake.yml
Due: none

remove outdated bandref
  python/grass/CMakeLists.txt
Due: python library

bandref -> semantic_label
  python/grass/CMakeLists.txt
Due: python library

cmake/find_scripts/FindPROJ.cmake: update to PROJ > 4
  cmake/find_scripts/FindPROJ.cmake
Due: none

update year
  cmake/modules/build_program_in_subdir.cmake
Due: none

grass7 -> grass8; msg cosmetics
  CMakeLists.txt
  lib/init/CMakeLists.txt
Due: lib

sync clang-format changes from main
  include/grass/iostream/mm.h
  lib/db/dbmi_base/dbmscap.c
  lib/external/ccmath/ccmath.h
  lib/gis/spawn.c
  lib/gis/user_config.c
  lib/iostream/rtimer.cpp
  lib/pngdriver/graph_set.c
  lib/rst/interp_float/point2d.c
  raster/r.viewshed/statusstructure.cpp
Due: lib

various path updates (sync to main)
  CMakeLists.txt
  include/CMakeLists.txt
  lib/CMakeLists.txt
  lib/gis/CMakeLists.txt
Due: lib

fix Build step
  .github/workflows/cmake.yml
Due: none

add_subdirectory(python)
  CMakeLists.txt
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
