Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Fix hyperlinks not working in integrated Jupyter WebView + always open a new window
  gui/wxpython/jupyter_notebook/notebook.py
Due: gui

making templates more user friendly + adding Tools API examples
  gui/wxpython/jupyter_notebook/template_notebooks/new.ipynb
  gui/wxpython/jupyter_notebook/template_notebooks/welcome.ipynb
Due: gui, notebooks (jupyter)

Update gui/wxpython/jupyter_notebook/template_notebooks/welcome.ipynb
  gui/wxpython/jupyter_notebook/template_notebooks/welcome.ipynb
Due: gui, notebooks (jupyter)

Error is empty - delete it
  gui/wxpython/jupyter_notebook/frame.py
  gui/wxpython/main_window/frame.py
Due: gui

jupyter GUI docs moved to the GUI section + new Ways to Use Jupyter with GRASS section in jupyter_intro.md
  doc/jupyter_intro.md
  gui/wxpython/docs/jupyter_browser_mode.png
  gui/wxpython/docs/jupyter_integrated_mode.png
  gui/wxpython/docs/jupyter_startup_dialog.png
  gui/wxpython/docs/wxGUI.jupyter.md
Due: gui

fixed . directory, unified panel and frame naming + refactoring
  gui/wxpython/jupyter_notebook/dialogs.py
  gui/wxpython/jupyter_notebook/frame.py
  gui/wxpython/jupyter_notebook/panel.py
  gui/wxpython/main_window/frame.py
Due: gui

Update doc/jupyter_intro.md
  doc/jupyter_intro.md
Due: none

JupyterBrowserPanel - open directly welcome notebook (welcome.ipynb) if it exists
  gui/wxpython/jupyter_notebook/environment.py
  gui/wxpython/jupyter_notebook/panel.py
Due: gui

better jupyter_intro docs
  doc/jupyter_intro.md
Due: none

documentation for Using Jupyter Notebooks from GRASS GUI
  doc/jupyter_browser_mode.png
  doc/jupyter_integrated_mode.png
  doc/jupyter_intro.md
  doc/jupyter_startup_dialog.png
Due: none

fix panel tooltip to persist after undock/dock
  gui/wxpython/main_window/frame.py
  gui/wxpython/main_window/notebook.py
Due: gui

get rid of rsplit in toolbars.py
  gui/wxpython/jupyter_notebook/toolbars.py
Due: gui

better wording in welcome.ipynb
  gui/wxpython/jupyter_notebook/template_notebooks/welcome.ipynb
Due: gui, notebooks (jupyter)

Anna's suggestion - bullets with links to tutorials
  doc/jupyter_intro.md
Due: none

add minimal toolbar to JupyterBrowserPanel
  gui/wxpython/jupyter_notebook/panel.py
  gui/wxpython/jupyter_notebook/toolbars.py
Due: gui

small refinements in welcome.ipynb based on reviews
  gui/wxpython/jupyter_notebook/template_notebooks/welcome.ipynb
Due: gui, notebooks (jupyter)

Vasheks doc rewrite - better way of communicating what the Jupyter NB integration to GUI means
  doc/jupyter_intro.md
Due: none

extending GUI docs - adding Windows Setup section and Command Used to Start Jupyter section
  gui/wxpython/docs/wxGUI.jupyter.md
Due: gui

small edit in start_server command + desc extension
  gui/wxpython/jupyter_notebook/server.py
Due: gui

support for integration to GUI starts by 8.6 version
  doc/jupyter_intro.md
Due: none

return always the notebook running under GRASS environment - GRASS_PYTHON variable together with sys.executable used for all platforms
  gui/wxpython/jupyter_notebook/server.py
  gui/wxpython/jupyter_notebook/utils.py
Due: gui

keep only sys.executable as executable, get rid of os import in server.py (replaced by Path writability check)
  gui/wxpython/jupyter_notebook/server.py
  gui/wxpython/jupyter_notebook/utils.py
Due: gui

small refinement in get_wxpython_version method
  gui/wxpython/jupyter_notebook/utils.py
Due: gui

clarifying notebook installation for externally managed Python env, clarifying Microsoft Edge WebView2 runtime support in docs + small refinements in docs
  gui/wxpython/docs/wxGUI.jupyter.md
  gui/wxpython/jupyter_notebook/utils.py
Due: gui

small refactoring and extending WebView2 catch to multi-window GUI
  gui/wxpython/jupyter_notebook/utils.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Due: gui

check for MS Edge WebView2 runtime on Windows
  gui/wxpython/jupyter_notebook/server.py
  gui/wxpython/jupyter_notebook/utils.py
  gui/wxpython/main_window/frame.py
Due: gui

make hiding an interface switcher more general
  gui/wxpython/jupyter_notebook/notebook.py
Due: gui

clarify troubleshooting for wx.html2 and Windows WebView2 support
  gui/wxpython/docs/wxGUI.jupyter.md
Due: gui

dialog for easy notebook installation, dialog for easy wxpython reinstall from pip (to make integrated mode available)
  gui/wxpython/jupyter_notebook/server.py
  gui/wxpython/jupyter_notebook/utils.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Due: gui

fix in welcome.ipynb from testing
  gui/wxpython/jupyter_notebook/template_notebooks/welcome.ipynb
Due: gui, notebooks (jupyter)

link to docs
  man/mkdocs/mkdocs.yml
Due: man

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
