Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

Add multiple types input option
  python/grass/temporal/list_stds.py
  temporal/t.list/t.list.md
  temporal/t.list/t.list.py
  temporal/t.list/tests/conftest.py
  temporal/t.list/tests/test_t_list.py
Due: python library

replace sheel script tests
  temporal/t.rast.import/test.t.rast.import.relative.sh
  temporal/t.rast.import/test.t.rast.import.relative.with.semantic.label.sh
  temporal/t.rast.import/test.t.rast.import.sh
  temporal/t.rast.import/test.t.rast.import_locations.sh
Due: none

grass.temporal: Use an explicit env in the gui_support test session
  AGENTS.md
  python/grass/temporal/tests/grass_temporal_gui_support_test.py
Due: python library

replace sheel script tests
  temporal/t.rast.import/tests/conftest.py
  temporal/t.rast.import/tests/t_rast_import_test.py
Due: none

moved to tests
  temporal/t.rast.import/testsuite/data/precip_2000.tar.bzip2
Due: none

moved to tests
  temporal/t.rast.import/tests/data/precip_2000.tar.bzip2
Due: none

use gs.tempdir() as default unpack dir and modernize code style
  python/grass/temporal/stds_import.py
Due: python library

inform about new default tempdir
  temporal/t.rast.import/t.rast.import.py
Due: none

move test data to tests
  temporal/t.rast.import/tests/t_rast_import_test.py
Due: none

Remove mention of past issues
  AGENTS.md
Due: none

grass.script: Load C libraries into the process in init to make grass.lib work
  python/grass/app/runtime.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

port shell tests to pytest
  temporal/t.vect.import/tests/conftest.py
  temporal/t.vect.import/tests/t_vect_import_test.py
Due: none

fix forgotten rename
  python/grass/temporal/stds_import.py
Due: python library

port shell tests to pytest
  temporal/t.vect.import/testsuite/test.t.vect.import.sh
Due: none

update docstring
  temporal/t.vect.import/tests/conftest.py
  temporal/t.vect.import/tests/t_vect_import_test.py
Due: none

grass.temporal: Use an explicit env in the gui_support test session (#7732)
  AGENTS.md
  python/grass/temporal/tests/grass_temporal_gui_support_test.py
Due: python library

tests: Add pytest coverage for the temporal framework and R-tree bindings (#7728)
  .github/workflows/pytest_args_gunittest.txt
  lib/vector/rtree/tests/lib_vector_rtree_ctypes_test.py
  python/grass/temporal/Makefile
  python/grass/temporal/tests/grass_temporal_datetime_math_test.py
  python/grass/temporal/tests/grass_temporal_granularity_test.py
  python/grass/temporal/tests/grass_temporal_spatial_extent_test.py
  python/grass/temporal/tests/grass_temporal_topology_test.py
  python/grass/temporal/unit_tests.py
Due: lib, python library

CMake: Build the MkDocs documentation site (#7719)
  .github/workflows/cmake.yml
  CMakeLists.txt
  cmake/modules/generate_docs.cmake
  display/CMakeLists.txt
  doc/CMakeLists.txt
  doc/development/CMakeLists.txt
  gui/icons/CMakeLists.txt
  man/CMakeLists.txt
  man/build_manpages.py
Due: gui, man

MSVC: Improve MSVC support (part 3) (#5514)
  lib/db/dbmi_base/dirent.c
Due: lib

add get_readonly and code style
  python/grass/temporal/abstract_map_dataset.py
Due: python library

add get_readonly and code style
  python/grass/temporal/space_time_datasets.py
Due: python library

add get_readonly and code style
  python/grass/temporal/base.py
Due: python library

CI: Change codecov test result upload action on macOS & Windows (#7683)
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
Due: none

add tests for readonly datasets
  python/grass/temporal/tests/grass_temporal_readonly_mapset_test.py
Due: python library

r.param.scale: parallelize with OpenMP (#7440)
  lib/gmath/lu.c
  raster/CMakeLists.txt
  raster/r.param.scale/Makefile
  raster/r.param.scale/benchmark/benchmark_r_param_scale_nprocs.py
  raster/r.param.scale/close_down.c
  raster/r.param.scale/find_normal.c
  raster/r.param.scale/interface.c
  raster/r.param.scale/main.c
  raster/r.param.scale/open_files.c
  raster/r.param.scale/param.h
  raster/r.param.scale/process.c
  raster/r.param.scale/r.param.scale.md
  raster/r.param.scale/tests/r_param_scale_test.py
Due: lib

CMake: Remove file python/grass/pygrass/CMakeLists.txt as unused per issue https://github.com/OSGeo/grass/issues/7686
  python/grass/pygrass/CMakeLists.txt
Due: pygrass, python library

Define indentation for cmake files in .editorconfig to match gersemi's defaults
  .editorconfig
Due: none

cmake: Add more gersemi hints to indicate how to treat specific multi-value arguments
  cmake/modules/build_addon.cmake
  cmake/modules/generate_docs.cmake
Due: none

Checks: Add Gersemi to format cmake files in pre-commit
  .pre-commit-config.yaml
Due: none

checks: Create cmake stubs containing definitions for gersemi-unrecognized functions or macros
  .pre-commit-config.yaml
  cmake/modules/build_library_in_subdir.cmake
  cmake/modules/build_module.cmake
  cmake/modules/build_program.cmake
  cmake/modules/build_program_in_subdir.cmake
  cmake/stubs/build_library_in_subdir_stub.cmake
  cmake/stubs/build_program_in_subdir_stub.cmake
  cmake/stubs/build_program_stub.cmake
Due: none

cmake: Ignore one duplicated `_test_package` definition in FindLAPACKE.cmake/FindCBLAS.cmake
  cmake/find_scripts/FindLAPACKE.cmake
Due: none

warn about ignoring projection information for vector import
  python/grass/temporal/stds_import.py
Due: python library

add a note about ignoring projection information for vector import
  temporal/t.vect.import/tests/t_vect_import_test.py
Due: none

style: Format cmake files
  lib/init/CMakeLists.txt
Due: lib

moved to pytest
  temporal/t.rast.import/testsuite/test_temporal_rast_import.py
Due: none

style: Format cmake files with Gersemi
  vector/CMakeLists.txt
Due: none

v.proj: Seed region from default window to ignore region override (#7578)
  vector/v.proj/main.c
  vector/v.proj/tests/v_proj_wind_override_test.py
Due: none

style: Format cmake files with Gersemi
  lib/CMakeLists.txt
Due: lib
