Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

apply changes also to pull requests
  .github/workflows/clang-format-check.yml
Due: none

query current mapset name explicitly
  python/grass/temporal/core.py
Due: python library

call g.mapsets instead of direct calls to C funcs
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/testsuite/test_mapset_change.py
Due: python library

fix - the last change was not propagated due to a poltergeist
  gui/wxpython/gmodeler/model_items.py
Due: gui

r.relief: module label changed to description
  raster/r.relief/main.c
Due: none

disable parallelization for not implemented functions
  raster/r.mapcalc/benchmark/benchmark_rmapcalc.py
  raster/r.mapcalc/evaluate.c
  raster/r.mapcalc/main.c
  raster/r.mapcalc/map.c
Due: none

Update benchmark_rmapcalc.py
  raster/r.mapcalc/benchmark/benchmark_rmapcalc.py
Due: none

t.rast.mapcalc: Improved formatting in documentation
  temporal/t.rast.mapcalc/t.rast.mapcalc.md
Due: none

CI: parallelize Ubuntu builds
  .github/workflows/build_ubuntu-22.04.sh
  .github/workflows/build_ubuntu-22.04_without_x.sh
Due: none

Updated headers to sentence case
  temporal/t.rast.mapcalc/t.rast.mapcalc.md
Due: none

parallel: fix OpenMP nprocs usage in modules
  include/grass/defs/raster.h
  lib/gis/omp_threads.c
  lib/gis/testsuite/test_parser_json.py
  lib/raster/Makefile
  lib/raster/mask_info.c
  python/grass/pygrass/modules/interface/module.py
  raster/r.horizon/main.c
  raster/r.mfilter/main.c
  raster/r.neighbors/main.c
  raster/r.patch/main.c
  raster/r.resamp.filter/main.c
  raster/r.resamp.interp/main.c
  raster/r.series/main.c
  raster/r.slope.aspect/main.c
  raster/r.texture/main.c
  raster/r.univar/r.univar_main.c
Due: lib, pygrass, python library

update a screenshot containing a variable
  gui/wxpython/gmodeler/g_gui_gmodeler_variables_raster.png
Due: gui

sql_query: set param value if defined
  gui/wxpython/gui_core/forms.py
Due: gui

Python: pygrass.vector.table.DBlinks - improve error messages
  python/grass/pygrass/vector/table.py
Due: pygrass, python library

compress modified PNG image
  gui/wxpython/gmodeler/g_gui_gmodeler_variables_raster.png
Due: gui

CQ: pygrass.vector - avoid running the same condition twice in write()
  python/grass/pygrass/vector/__init__.py
Due: pygrass, python library

docs: pygrass.vector.abstract: fix syntax in Info.open() docstring (#5724)
  python/grass/pygrass/vector/abstract.py
Due: pygrass, python library

r.relief: module label changed to description (#5741)
  raster/r.relief/main.c
Due: none

Configure without OpenGL, FFTW, cairo and freetype
  .github/workflows/periodic_update.yml
Due: none

remove unused variables
  raster/r.mapcalc/map.c
Due: none

CI(i18n): Fetch a ref for creating the pull request
  .github/workflows/ubuntu.yml
Due: none

CI(i18n): Add variant to PR
  .github/workflows/ubuntu.yml
Due: none

add missing _getValue()
  gui/wxpython/gui_core/forms.py
Due: gui

Apply suggestions from code review
  include/grass/defs/glocale.h
  include/grass/gis.h
  lib/gis/parser_interface.c
  lib/rst/interp_float/point2d.c
Due: lib

CI(i18n): Add commit to branch
  .github/workflows/ubuntu.yml
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
