Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

r.describe: Add JSON support (#4918)
  raster/r.describe/Makefile
  raster/r.describe/describe.c
  raster/r.describe/dumplist.c
  raster/r.describe/local_proto.h
  raster/r.describe/main.c
  raster/r.describe/testsuite/test_r_describe.py
Due: none

update
  gui/wxpython/vdigit/wxdigit.py
Due: gui

update
  .DS_Store
  gui/wxpython/vdigit/main.py
  gui/wxpython/vdigit/wxdigit.py
  raster/.DS_Store
Due: gui

update
  gui/wxpython/vdigit/wxdisplay.py
Due: gui

put global raster geometry variables in a structure
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/simlib/erod.c
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
  raster/r.sim/simlib/output.c
  raster/r.sim/simlib/simlib.h
  raster/r.sim/simlib/waterglobs.h
Due: none

v.info: Add JSON output for history
  vector/v.info/local_proto.h
  vector/v.info/main.c
  vector/v.info/print.c
  vector/v.info/testsuite/test_vinfo.py
Due: none

remove debug statements
  vector/v.info/testsuite/test_vinfo.py
Due: none

style: fix RUF058 [*] `itertools.starmap` called on `zip` iterable
  gui/wxpython/animation/controller.py
Due: gui

style: fix RUF047 [*] Empty `else` clause
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/wxplot/dialogs.py
  python/grass/jupyter/timeseriesmap.py
Due: gui, notebooks (jupyter), python library

style: Fix for-loop-writes (FURB122): Use of `f.write` in a for loop
  gui/wxpython/core/utils.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/lmgr/workspace.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/wxplot/profile.py
  lib/init/grass.py
  python/grass/gunittest/multireport.py
  python/grass/gunittest/reporters.py
  raster/r.topidx/gridatb_to_arc.py
  scripts/d.polar/d.polar.py
  scripts/db.univar/db.univar.py
  scripts/g.extension/g.extension.py
  scripts/i.oif/i.oif.py
  scripts/i.spectral/i.spectral.py
  scripts/v.in.mapgen/v.in.mapgen.py
  utils/create_python_init_file.py
Due: gui, utils, scripts, lib, gunittest, python library

style: Manual fixes for for-loop-writes (FURB122): Use of `f.write` in a for loop
  lib/gis/testsuite/test_gis_lib_getl.py
  python/grass/gunittest/testsuite/test_checkers.py
Due: lib, gunittest, python library

Use subprocess.DEVNULL to let Popen handle os.devnull
  gui/wxpython/tools/update_menudata.py
Due: gui

Variable Overwritten
  vector/v.net/arcs.c
Due: none

Fix Resource Leak issue
  lib/gmath/solvers_classic_iter.c
Due: lib

Fix Resource Leak issue
  raster/r.water.outlet/over_cells.c
Due: none

Parse history into a separate function
  vector/v.info/local_proto.h
  vector/v.info/main.c
  vector/v.info/parse.c
  vector/v.info/print.c
Due: none

fixes length in snprintf call
  vector/v.info/local_proto.h
  vector/v.info/parse.c
  vector/v.info/print.c
Due: none

rst/interpfl lib: change devi arg to bool (#1271)
  lib/rst/interp_float/init2d.c
  lib/rst/interp_float/interpf.h
  lib/rst/interp_float/point2d.c
  raster/r.resamp.rst/main.c
  vector/v.surf.rst/main.c
Due: lib

fixes variable declarations
  vector/v.info/parse.c
Due: none

wxGUI: Fixed star imports in wxdigit.py (#4973)
  .DS_Store
  .flake8
  gui/wxpython/vdigit/main.py
  gui/wxpython/vdigit/wxdigit.py
  raster/.DS_Store
Due: gui

wxGUI: Use r.mask.status to get info about mask
  gui/wxpython/core/gconsole.py
  gui/wxpython/lmgr/statusbar.py
  python/grass/grassdb/history.py
Due: gui, python library

Use the new interface
  gui/wxpython/core/gconsole.py
  gui/wxpython/lmgr/statusbar.py
Due: gui

gitignore: add more ignores and remove accidently added DS_Store
  .DS_Store
  .gitignore
  raster/.DS_Store
Due: none

Save also mask name in history
  gui/wxpython/lmgr/statusbar.py
  python/grass/grassdb/history.py
Due: gui, python library

Fix status bar update
  gui/wxpython/core/gconsole.py
  gui/wxpython/lmgr/statusbar.py
Due: gui

Windows: Apply OSGeo4W patches for Postgres
  mswindows/osgeo4w/package.sh
Due: none

Prefering standard API over RunCmd for API-like calls. giface is for running tools based on direct user input.
  gui/wxpython/core/gconsole.py
Due: gui

Update postgres-libs path according to patch
  mswindows/osgeo4w/package.sh
Due: none

i.smap: Add detail to NULL handling
  imagery/i.smap/i.smap.html
Due: none

Update build_osgeo4w.sh
  mswindows/osgeo4w/build_osgeo4w.sh
Due: none

r.watershed: Use raster mask, not MASK, simplify doc
  raster/r.watershed/front/r.watershed.html
Due: none

r.mapcalc: Use mask and not MASK in the doc
  raster/r.mapcalc/r.mapcalc.html
  raster/r.mapcalc/r3.mapcalc.html
Due: none

doc: Use lowercase for 2D raster mask
  doc/examples/notebooks/parallelization_tutorial.ipynb
  imagery/i.pca/main.c
  raster/r.out.gdal/r.out.gdal.html
  raster/r.resamp.bspline/r.resamp.bspline.html
  vector/vectorintro.html
Due: notebooks (jupyter)

Use raster mask, not MASK in r.mask documentation in code
  raster/r.mapcalc/testsuite/const_map_test.sh
  scripts/r.mask/r.mask.py
Due: scripts

d.rast.edit: Use raster mask, not uppercase MASK
  scripts/d.rast.edit/d.rast.edit.html
Due: scripts

v.rast.stats: Mask is simply used, not touched
  scripts/v.rast.stats/v.rast.stats.html
Due: scripts

v.rast.stats: Mask is simply used, not touched
  scripts/v.rast.stats/v.rast.stats.html
  scripts/v.rast.stats/v.rast.stats.py
Due: scripts

init: Use mask, not MASK in shell prompt
  lib/init/grass.py
Due: lib

Add MaskManager to init
  python/grass/script/__init__.py
Due: python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
