Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

checks: Replace bare except (Flake8 E722) in po stats script (#4354)
  .flake8
  locale/grass_po_stats.py
Due: none

g.version: Add tests covering different outputs (#4219)
  general/g.version/tests/conftest.py
  general/g.version/tests/g_version_test.py
Due: none

update flake8
  .flake8
Due: none

fixed e722
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/render.py
  gui/wxpython/core/settings.py
  gui/wxpython/core/toolboxes.py
  gui/wxpython/core/utils.py
  gui/wxpython/core/workspace.py
Due: gui

grass.jupyter: Fix session tests on Windows
  python/grass/jupyter/tests/grass_jupyter_session_test.py
Due: notebooks (jupyter), python library

Requested G_warning changes
  raster3d/r3.in.v5d/v5d.c
Due: none

Fix Resource leak
  ps/ps.map/ps_vpoints.c
Due: ps

Update gui/wxpython/core/utils.py
  gui/wxpython/core/utils.py
Due: gui

ps.map: Fix memory leak issue (#4369)
  ps/ps.map/ps_vpoints.c
Due: ps

docker: Add liblapacke-dev package to ubuntu builds
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

CI(Ubuntu): Install latest version of Python for full config
  .github/workflows/ubuntu.yml
Due: none

docker: Add liblapacke-dev package to Ubuntu builds (#4371)
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

CI(Ubuntu): Install packages from pip
  .github/workflows/ubuntu.yml
Due: none

grass.jupyter: Fix session tests on Windows (#4368)
  python/grass/jupyter/tests/grass_jupyter_session_test.py
Due: notebooks (jupyter), python library

docker: Sort packages and configure options in Ubuntu Dockerfiles
  Dockerfile
  docker/ubuntu/Dockerfile
Due: none

docker: Sort packages and configure options in debian Dockerfile
  docker/debian/Dockerfile
Due: none

docker: Sort packages and configure options in Alpine Dockerfile
  docker/alpine/Dockerfile
Due: none

docker: Sort packages and configure options in Ubuntu wxgui Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Due: none

checks: Replace bare except (Flake8 E722) in wxGUI/core (#4367)
  .flake8
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/render.py
  gui/wxpython/core/settings.py
  gui/wxpython/core/toolboxes.py
  gui/wxpython/core/utils.py
  gui/wxpython/core/workspace.py
Due: gui

pytest: Collect code coverage in multiple workers too
  .github/workflows/pytest.yml
Due: none

grass.temporal: fix regression in printing metadata (#4328)
  python/grass/temporal/metadata.py
Due: python library

updates
  gui/wxpython/datacatalog/tree.py
Due: gui

flake8
  .flake8
Due: none

Update gui/wxpython/datacatalog/tree.py
  gui/wxpython/datacatalog/tree.py
Due: gui

grass.jupyter: move save() to BaseSeriesMap class to reduce redundancy
  python/grass/jupyter/baseseriesmap.py
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/timeseriesmap.py
Due: notebooks (jupyter), python library

grass.jupyter: fix interactivemap tests
  python/grass/jupyter/testsuite/interactivemap_test.py
Due: notebooks (jupyter), python library

Add more details to lock not accessible message
  python/grass/app/data.py
Due: python library

Use parson for the JSON output
  raster/r.mask.status/Makefile
  raster/r.mask.status/main.c
Due: none

docker: Sort package lists and configure options in Dockerfiles (#4373)
  Dockerfile
  docker/alpine/Dockerfile
  docker/debian/Dockerfile
  docker/ubuntu/Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Due: none

grass.jupyter: fix interactivemap tests (#4379)
  python/grass/jupyter/testsuite/interactivemap_test.py
Due: notebooks (jupyter), python library

remove xfail
  python/grass/jupyter/tests/timeseriesmap_test.py
Due: notebooks (jupyter), python library

grass.app: Move mapset locking to the library (#4158)
  lib/init/grass.py
  python/grass/app/data.py
Due: lib, python library

updated dbmgr errors
  gui/wxpython/dbmgr/base.py
  gui/wxpython/dbmgr/manager.py
  gui/wxpython/dbmgr/sqlbuilder.py
Due: gui

Use lib function to get full name
  raster/r.mask.status/main.c
Due: none

Make all three formats work in a similar way
  raster/r.mask.status/main.c
Due: none

grass.jupyter: move save() to BaseSeriesMap class to reduce redundancy (#4378)
  python/grass/jupyter/baseseriesmap.py
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  python/grass/jupyter/timeseriesmap.py
Due: notebooks (jupyter), python library

Update base.py
  gui/wxpython/dbmgr/base.py
Due: gui
