Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

CI: fix OSGeo4W download URL (#2384)
  .github/workflows/osgeo4w.yml
Due: none

Vlib: Return all intersection points from Vect_line_get_intersections (#2358)
  lib/vector/Vlib/intersect.c
  lib/vector/Vlib/intersect2.c
  lib/vector/Vlib/testsuite/test_vlib_intersect.py
  vector/v.profile/testsuite/test_v_profile.py
Due: lib

CI: Add test run for release workflow (#2398)
  .github/workflows/additional_checks.yml
  .github/workflows/create_release_draft.yml
Due: none

wxGUI/rlisetup: allow EVT_KILL_FOCUS event handler event processing to continue (#2385)
  gui/wxpython/rlisetup/wizard.py
Due: gui

wxGUI/psmap: remove loading EPS file via using Ghostscript image rendering on OS MS Windows platform (#2419)
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/utils.py
Due: gui

CI: Unique artifact name for Ubuntu tests (#2409)
  .github/workflows/ubuntu.yml
Due: none

wxGUI/psmap: remove unnecessary HyperlinkDialog widget (#2421)
  gui/wxpython/psmap/frame.py
Due: gui

r.patch: fix race condition for CELL rasters (#2410)
  raster/r.patch/do_patch.c
  raster/r.patch/local_proto.h
  raster/r.patch/main.c
Due: none

contributing: Generate release notes from git log output or GitHub API (#2328)
  .github/workflows/additional_checks.yml
  doc/howto_release.md
  utils/generate_release_notes.py
  utils/git_author_github_name.csv
  utils/release.yml
  utils/svn_name_git_author.csv
  utils/svn_name_github_name.csv
Due: utils

make: remove __pycache__ dirs with distclean (#2354)
  man/Makefile
  python/libgrass_interface_generator/Makefile
Due: man

CI: Add missing step id to release draft, pre-release, artifacts (#2347)
  .github/workflows/create_release_draft.yml
Due: none

grass.jupyter: Add save PNG method to Map (#2371)
  python/grass/jupyter/map.py
  python/grass/jupyter/testsuite/map_test.py
Due: notebooks (jupyter), python library

doc/notebooks: add overview README.md (#2416)
  doc/notebooks/README.md
Due: none

wxGUI: Do not show empty raster label/color fields in query dialog (#2387)
  gui/wxpython/gui_core/query.py
Due: gui

g.region: fix setting from default region (#2397)
  general/g.region/main.c
  general/g.region/testsuite/test_g_region.py
Due: none

contributing: Generate ChangeLog in release workflow (#2402)
  .github/workflows/create_release_draft.yml
  doc/howto_release.md
Due: none

Translations update from OSGeo Weblate (#2393)
  locale/po/grasslibs_de.po
  locale/po/grasslibs_ko.po
  locale/po/grassmods_de.po
  locale/po/grasswxpy_es.po
  locale/po/grasswxpy_it.po
Due: none

doc: Illustration images for r.series, r.neighbors, r.mfilter (#2370)
  raster/r.mfilter/graphics_for_description.ipynb
  raster/r.mfilter/r.mfilter.html
  raster/r.mfilter/r_mfilter.png
  raster/r.neighbors/graphics_for_description.ipynb
  raster/r.neighbors/r.neighbors.html
  raster/r.neighbors/r_neighbors.png
  raster/r.series/graphics_for_description.ipynb
  raster/r.series/r.series.html
  raster/r.series/r_series.png
Due: notebooks (jupyter)

v.surf.idw: fix applying mask (#2383)
  vector/v.surf.idw/main.c
Due: none

contributing: Ignore Jupyter Notebook checkpoint directory in Git (#2435)
  .gitignore
Due: none

t.unregister: add support to unregister maps from other mapsets (#2447)
  temporal/t.unregister/t.unregister.py
Due: none

wxGUI/vdigit: fix keyboard shortcut for activating point/line tool (#2522)
  gui/wxpython/vdigit/g.gui.vdigit.html
  gui/wxpython/vdigit/mapwindow.py
Due: gui

lib/parser: Apply standards to generated scripts (#2506)
  lib/gis/parser_script.c
Due: lib

wxGUI: Report non-zero return code from modules (#2379)
  gui/wxpython/core/gconsole.py
Due: gui

wxGUI/gui_core: fix imagery create/edit group dialog deselect all maps (#2465)
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/wrap.py
Due: gui

tests: Add gunittest helper file to .gitignore (#2445)
  .gitignore
Due: none

grass.script: Make setup available without another import (#2451)
  doc/notebooks/scripting_example.ipynb
  lib/gis/tests/lib_gis_env_test.py
  lib/init/grass.html
  python/grass/gunittest/invoker.py
  python/grass/gunittest/multirunner.py
  python/grass/jupyter/setup.py
  python/grass/jupyter/tests/conftest.py
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
  python/grass/script/__init__.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_setup_test.py
  scripts/v.db.univar/tests/conftest.py
  temporal/t.rast.list/tests/conftest.py
Due: scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Beautify link according to GH docs (#2536)
  .github/FUNDING.yml
Due: none

init: Add mapset, CRS to no CRS needed error (#2446)
  lib/init/grass.py
Due: lib

docker: update outdated release branch names (#2431)
  docker/alpine/README.md
  docker/debian/README.md
  docker/ubuntu/README.md
  singularity/debian/README_debian.md
Due: none

CI: introduce setup-msys2@v2 setup action (#2508)
  .github/workflows/osgeo4w.yml
  mswindows/osgeo4w/build_osgeo4w.sh
Due: none

wxGUI: fix manual page "GUI index" link html file name (#2461)
  gui/wxpython/animation/g.gui.animation.html
  gui/wxpython/datacatalog/g.gui.datacatalog.html
  gui/wxpython/dbmgr/g.gui.dbmgr.html
  gui/wxpython/gcp/g.gui.gcp.html
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  gui/wxpython/iclass/g.gui.iclass.html
  gui/wxpython/image2target/g.gui.image2target.html
  gui/wxpython/mapswipe/g.gui.mapswipe.html
  gui/wxpython/photo2image/g.gui.photo2image.html
  gui/wxpython/psmap/g.gui.psmap.html
  gui/wxpython/rdigit/g.gui.rdigit.html
  gui/wxpython/rlisetup/g.gui.rlisetup.html
  gui/wxpython/timeline/g.gui.timeline.html
  gui/wxpython/tplot/g.gui.tplot.html
  gui/wxpython/vdigit/g.gui.vdigit.html
Due: gui

Imagery: add support of original class value in sig file (#2425)
  imagery/i.gensig/get_train.c
  imagery/i.gensig/testsuite/data/b1.ascii
  imagery/i.gensig/testsuite/data/b2.ascii
  imagery/i.gensig/testsuite/data/train.ascii
  imagery/i.gensig/testsuite/test_i_gensig.py
  imagery/i.maxlik/main.c
  imagery/i.maxlik/testsuite/test_i_maxlik.py
  include/grass/imagery.h
  lib/imagery/sig.c
  lib/imagery/testsuite/test_imagery_sigfile.py
Due: lib

wxGUI/settings: fix hiding 'Tools' tab for single-window mode (#2460)
  gui/wxpython/main_window/frame.py
Due: gui

init: Use VACUUM for large, modified SQLite files only (#2377)
  lib/init/grass.py
  python/grass/script/setup.py
Due: lib, python library

lib: Increase max size of SQL statements (#1124)
  include/grass/dbmi.h
Due: none

v.to.rast: Use verbose for no area message, not warning (#2459)
  vector/v.to.rast/vect2rast.c
Due: none

v.db.addcolumn: Add error message for layer without a table (#2423)
  scripts/v.db.addcolumn/v.db.addcolumn.py
Due: scripts

wxGUI/psmap: fix rendered preview page zoom (#2444)
  gui/wxpython/psmap/frame.py
Due: gui

wxGUI: implement workspace recent files submenu for single/multiple window mode (#2469)
  gui/wxpython/gui_core/menu.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/workspace.py
  gui/wxpython/main_window/frame.py
Due: gui
