Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Copy into fix size buffer issue
  imagery/i.rectify/main.c
Due: none

v.out.ogr: Check for valid array before passing to qsort (#4278)
  vector/v.out.ogr/list.c
Due: none

Apply suggestions from code review
  lib/raster/mask_info.c
  raster/r.mask.status/main.c
Due: lib

Apply suggestions from code review
  lib/init/grass.py
  raster/r.mask.status/main.c
Due: lib

error message_string
  raster/r.clump/clump.c
Due: none

r.proj: Create unit tests (#4225)
  raster/r.proj/testsuite/test_rproj.py
Due: none

Use correct literal for double type
  vector/v.generalize/smoothing.c
Due: none

Use correct literal for double type
  vector/v.vol.rst/user2.c
Due: none

v.vol.rst: Initialize structure contents before passing it around (#4282)
  vector/v.vol.rst/user2.c
Due: none

v.generalize: Initialize all of structure contents before using it (#4281)
  vector/v.generalize/smoothing.c
Due: none

t.rast.accumulate: remove printing
  temporal/t.rast.accumulate/t.rast.accumulate.py
Due: none

t.rast.accumulate: remove printing (#4301)
  temporal/t.rast.accumulate/t.rast.accumulate.py
Due: none

Update panels.py for Python script type string
  gui/wxpython/gmodeler/panels.py
Due: gui

Apply suggestions from code review
  gui/wxpython/gmodeler/model.py
Due: gui

Update pyedit.py to keep path keyword in changed string
  gui/wxpython/gui_core/pyedit.py
Due: gui

Update univar_statistics.py to make already translated strings match again
  python/grass/temporal/univar_statistics.py
Due: python library

Update pyedit.py
  gui/wxpython/gui_core/pyedit.py
Due: gui

removed utils updates
  utils/gitlog2changelog.py
Due: utils

fixed all man flake8 errors except buildhtml
  man/build_check.py
  man/build_class_rest.py
  man/build_full_index.py
  man/build_index.py
  man/build_index_rest.py
  man/build_keywords.py
  man/build_topics.py
Due: man

updated .flake8
  .flake8
Due: none

resolved flake8 in utils
  utils/gitlog2changelog.py
Due: utils

lib/gis: Add portable G_strlcat function
  configure
  configure.ac
  include/grass/config.h.in
  include/grass/defs/gis.h
  lib/gis/strlcat.c
Due: lib

CI: Resolve flake8 issues in utils directory (#4303)
  .flake8
  utils/gitlog2changelog.py
Due: utils

removed variable Len
  imagery/i.rectify/main.c
Due: none

Update man/build_class.py
  man/build_class.py
Due: man

Update man/build_full_index.py
  man/build_full_index.py
Due: man

Update man/build_class_rest.py
  man/build_class_rest.py
Due: man

Update man/build_full_index_rest.py
  man/build_full_index_rest.py
Due: man

Update man/build_keywords.py
  man/build_keywords.py
Due: man

Update man/build_topics.py
  man/build_topics.py
Due: man

Update man/build_index_rest.py
  man/build_index_rest.py
Due: man

Update man/build_index.py
  man/build_index.py
Due: man

Use Db statements
  db/drivers/sqlite/db.c
Due: none

fix buffer size issue
  ps/ps.map/do_scalebar.c
Due: ps

Fix buffer issue
  ps/ps.map/do_scalebar.c
Due: ps

Update ps/ps.map/do_scalebar.c
  ps/ps.map/do_scalebar.c
Due: ps

CI: Update .flake8 configuration and fix flake8 errors in lib/init/grass.py (#4289)
  .flake8
  lib/init/grass.py
Due: lib

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
