Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

docker: CI update and simplification (#3075)
  .github/workflows/docker.yml
Due: none

contributing: Add empty line after heading in release notes (#3048)
  utils/generate_release_notes.py
Due: utils

binder: update dependencies, disable PDAL (#3063)
  binder/apt.txt
  binder/postBuild
Due: none

g.extention: if copied files exists do not print warning message (#3053)
  scripts/g.extension/g.extension.py
Due: scripts

wxGUI: fix wx.ListItemAttr deprecated warning (#3054)
  gui/wxpython/iclass/dialogs.py
  gui/wxpython/iscatt/frame.py
Due: gui

wxGUI/iclass: fix showing scatter plots (#3169)
  gui/wxpython/iscatt/plots.py
Due: gui

Translated using Weblate (Korean) (#3181)
  locale/po/grasslibs_ko.po
Due: none

g.extension: fix registration addon with module name start with 2 chars (#3168)
  scripts/g.extension/g.extension.py
Due: scripts

wxGUI/dbmgr: fix sorting newly added column values (#2436)
  gui/wxpython/dbmgr/base.py
Due: gui

wxGUI/preferences: fix setting command output font (#3187)
  gui/wxpython/gui_core/preferences.py
Due: gui

Translations update from OSGeo Weblate (#3065)
  locale/po/grasslibs_de.po
  locale/po/grasslibs_ru.po
  locale/po/grassmods_de.po
  locale/po/grassmods_ru.po
  locale/po/grasswxpy_de.po
  locale/po/grasswxpy_ru.po
Due: none

wxGUI/psmap: fix close vector map properties dialog after hit OK button (#3085)
  gui/wxpython/psmap/dialogs.py
Due: gui

wxGUI/image2target: fix showing Ground Control Points settings dialog (#3189)
  gui/wxpython/image2target/ii2t_manager.py
Due: gui

wxGUI/main_window: add and use custom SingleWindowAuiManager class (#3177)
  gui/wxpython/main_window/frame.py
Due: gui

wxGUI/animation: fix exporting an animation overlaid with custom image (#3137)
  gui/wxpython/animation/controller.py
Due: gui

wxGUI/gmodeler: fix storing current model settings to model file (#3188)
  gui/wxpython/gmodeler/frame.py
Due: gui

wxGUI/psmap: fix vector map properties dialog correct typing the name of the vector map (#3087)
  gui/wxpython/psmap/dialogs.py
Due: gui

wxGUI/vdidit: fix opening Vector Digitizer settings dialog while editing vector map (#3142)
  gui/wxpython/gui_core/gselect.py
Due: gui

r.watershed: fix streams and basins (#3140)
  raster/r.watershed/ram/do_cum.c
  raster/r.watershed/seg/do_cum.c
  raster/r.watershed/testsuite/r_watershed_test.py
Due: none

CI: drop outdated CentOS 7 compilation (#3141)
  .github/workflows/build_centos.sh
  .github/workflows/centos.yml
  .github/workflows/yum.txt
  README.md
Due: none

wxGUI/iclass: fix zoom to scatter plot extend (#3184)
  gui/wxpython/iscatt/plots.py
Due: gui

wxGUI/dbmgr: don't add new duplicated table col into table desc TableListCtrl widget (#2437)
  gui/wxpython/dbmgr/base.py
Due: gui

m.nviz.image: fix checking if color raster map exists if color_map param arg was used (#3139)
  misc/m.nviz.image/surface.c
Due: none

wxGUI/psmap: fix simple point graphic recalculate position (#3164)
  gui/wxpython/psmap/frame.py
Due: gui

parallelized raster modules: fix buffer sizes (#3070)
  raster/r.neighbors/main.c
  raster/r.patch/main.c
  raster/r.resamp.filter/main.c
  raster/r.series/main.c
Due: none

wxGUI/psmap: fix vector line map props dialog PenStyleComboBox widget drawing items (#3162)
  gui/wxpython/psmap/dialogs.py
Due: gui

d.vect: label vertical alignment workaround (#2857)
  display/d.vect/label.c
Due: none

utils: fix clang-format version check (#3186)
  utils/grass_clang_format.sh
Due: utils

wxGUI/dbmgr: fix removing map table layer and layer related Browse data and Manage tables page (tab) (#2422)
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gui_core/widgets.py
Due: gui

g.gui.gmodeler: fix script export not working if model contains ModelData-type item (#3209)
  gui/wxpython/gmodeler/model.py
Due: gui

wxGUI/dbmgr: update Browse data page Simple SQL Query WHERE ComboBox widget column names choices (#2438)
  gui/wxpython/dbmgr/base.py
Due: gui

wxGUI/psmap: fix show correct error message if Ghostscript isn't installed (#2420)
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/g.gui.psmap.html
Due: gui

i.signatures: Add imagery classifier signature management module (#3008)
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/xml/toolboxes.xml
  imagery/Makefile
  imagery/i.gensig/i.gensig.html
  imagery/i.gensigset/i.gensigset.html
  imagery/i.signatures/Makefile
  imagery/i.signatures/i.signatures.html
  imagery/i.signatures/main.c
  imagery/i.signatures/testsuite/test_i_signatures.py
  lib/imagery/manage_signatures.c
Due: gui, lib

wxGUI: rewrite and document core.utils.ListOfMapsets to not cause GUI crash in certain circumstances (#3226)
  gui/wxpython/core/utils.py
Due: gui

manual: i.ortho.* update broken module references (#3175)
  imagery/i.ortho.photo/i.ortho.camera/i.ortho.camera.html
  imagery/i.ortho.photo/i.ortho.elev/i.ortho.elev.html
  imagery/i.ortho.photo/i.ortho.init/i.ortho.init.html
  imagery/i.ortho.photo/i.ortho.rectify/i.ortho.rectify.html
  imagery/i.ortho.photo/i.ortho.target/i.ortho.target.html
  imagery/i.ortho.photo/lib/conz_points.c
Due: none
