Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

Iterator should be declared outside pragma block
  raster/r.horizon/main.c
  raster/r.univar/r.univar_main.c
Due: none

Added grep alternative findstr to windows and replaced /dev/null with windows null device
  cmake/modules/build_module.cmake
Due: none

Optimized NULL device Path, SEARCH command, HTML search string in Cmake commands
  CMakeLists.txt
  cmake/modules/build_gui_in_subdir.cmake
  cmake/modules/build_module.cmake
  cmake/modules/build_script_in_subdir.cmake
Due: none

Added parson to r.univar, r3.univar, v.univar
  raster/r.univar/CMakeLists.txt
  vector/CMakeLists.txt
Due: none

get rid of D9025 warning: overriding /openmp with /openmp:llvm on Windows
  cmake/modules/CheckDependentLibraries.cmake
Due: none

Add missing HAVE_PCRE_H to config.h
  include/config.h.cmake.in
  include/grass/config.h.in
Due: none

Remove unnecessary SOURCES cmake arguments; Add wrapper functions for MSVC _open() and _creat() to convert UN*X permission mode
  general/g.remove/main.c
  include/config.h.cmake.in
  lib/CMakeLists.txt
  lib/gis/CMakeLists.txt
  msvc/creat.c
  msvc/io.h
  msvc/open.c
Due: lib

Prepended "g.gui." to all gui output bat files
  cmake/modules/build_gui_in_subdir.cmake
Due: none

FIXED GRASS_PYTHON env value empty issue in bat files. FIXED TARGET NAME conflict. FIXED OUTPUT redirect to file issue
  CMakeLists.txt
  cmake/modules/build_gui_in_subdir.cmake
  gui/wxpython/CMakeLists.txt
Due: gui

Do not double free ls filter regex
  lib/gis/ls_filter.c
Due: lib

Binary mode for file I/O on Windows
  lib/gis/CMakeLists.txt
  lib/gis/gisinit.c
Due: lib

Remove duplicate PCRE code
  lib/gis/ls_filter.c
Due: lib

Workaround (to be removed later once the MSVC NAN bugfix is released) for a constant NAN
  vector/CMakeLists.txt
Due: none

Add grass_parson dependency to r.colors.out
  raster/r.colors.out/CMakeLists.txt
Due: none

Fixed r3.mapcalc unresolved external symbol columns
  raster/r.mapcalc/map3.c
Due: none

Support for conda install openblas on Windows
  cmake/modules/CheckDependentLibraries.cmake
  lib/gmath/la.c
Due: lib

Fix off_t error
  include/config.h.cmake.in
Due: none

Fix unistd indentifiers by including unistd header
  vector/v.in.pdal/main.cpp
Due: none

Fixed BuildPSO parameters parsing in windows
  man/CMakeLists.txt
Due: man

Add find scripts for BLAS and LAPACK to support pkg-config openblas on Windows
  cmake/find_scripts/FindBLAS.cmake
  cmake/find_scripts/FindLAPACK.cmake
Due: none

Fix large file support option; Support LFS for MSVC
  CMakeLists.txt
  include/config.h.cmake.in
Due: none

Generate htmls after Python lib
  doc/CMakeLists.txt
Due: none

Remove unnecessary SOURCES cmake arguments; Add wrapper functions for MSVC _open() and _creat() to convert UN*X permission mode
  general/g.remove/main.c
Due: none

Fixed V.Profile issue of unresolved external symbol for db methods
  vector/CMakeLists.txt
Due: none

Add grass_raster dependency for Rast_mask_is_present
  raster/r.sim/CMakeLists.txt
  vector/CMakeLists.txt
Due: none

Fixed Target Level Dependency for build modules items xml
  gui/wxpython/CMakeLists.txt
Due: gui

ruff auto fix
  temporal/t.rast.colors/t.rast.colors.py
Due: none

wrapped item.name in str
  gui/wxpython/gcp/manager.py
Due: gui

added context manager for panels.py
  gui/wxpython/gmodeler/panels.py
  pyproject.toml
Due: gui

Remove non-existing files from r.colors.out
  raster/r.colors.out/CMakeLists.txt
Due: none

Add gjson.h
  lib/CMakeLists.txt
Due: lib

Move grass_parson above grass_raster (dependency)
  lib/CMakeLists.txt
Due: lib

Add grass_parson to r.describe
  raster/CMakeLists.txt
Due: none

Add LIBM to r.path
  raster/CMakeLists.txt
Due: none

if WITH_DOCS for r.li html
  raster/r.li/CMakeLists.txt
Due: none

Add grass_parson to v.distance
  vector/CMakeLists.txt
Due: none

Add output directory to thumbnails.py
  CMakeLists.txt
Due: none

revert unrelated htmldriver example
  lib/htmldriver/htmldriver.md
Due: lib
