Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

Move line out of context manager
  temporal/t.remove/t.remove.py
  temporal/t.unregister/t.unregister.py
Due: none

Format black
  gui/wxpython/datacatalog/tree.py
Due: gui

Use gs instead of gscript for grass.script
  gui/wxpython/datacatalog/tree.py
Due: gui

style: Fix SIM201 - Use `sampling != "related"` instead of `not sampling == "related"`
  temporal/t.rast.aggregate/t.rast.aggregate.py
Due: none

style: Fix for-loop-set-mutations (FURB142)
  python/grass/temporal/aggregation.py
Due: python library

style: Fix PIE808 - Unnecessary `start` argument in `range`
  gui/wxpython/gui_core/menu.py
Due: gui

style: Fix C417 - Unnecessary `map` usage (rewrite using a `list` comprehension)
  gui/wxpython/wxgui.py
Due: gui

Format with black
  lib/init/grass.py
Due: lib

Update imagery/i.atcorr/computations.cpp
  imagery/i.atcorr/computations.cpp
Due: none

fixed f841
  gui/wxpython/nviz/mapwindow.py
Due: gui

style: Fix UP024 - Replace aliased errors with `OSError`
  lib/init/grass.py
Due: lib

tools
  gui/wxpython/nviz/tools.py
Due: gui

tools
  .flake8
Due: none

Update imagery/imageryintro.html
  imagery/imageryintro.html
Due: none

nix: fix locales in development environment
  flake.nix
Due: none

fix flake8 errors
  .flake8
  man/build_class.py
  man/build_full_index.py
  man/build_graphical_index.py
  man/build_html.py
  man/build_index.py
  man/build_keywords.py
  man/build_manual_gallery.py
  man/build_md.py
  man/build_topics.py
  man/parser_standard_options.py
Due: man

add term 'remote sensing'
  imagery/imageryintro.html
Due: none

comment wording
  gui/wxpython/location_wizard/wizard.py
Due: gui

fix URL construction
  gui/wxpython/location_wizard/wizard.py
Due: gui

grass.jupyter: Add _repr_pretty_ for better Jupyter/Quarto integration
  python/grass/jupyter/map.py
  python/grass/jupyter/map3d.py
Due: notebooks (jupyter), python library

See also: added URLs to CRS Explorer and EPSG Geodetic Parameter Dataset
  gui/wxpython/location_wizard/wizard.py
  lib/init/helptext.html
Due: gui, lib

grass.jupyter:Add _repr_pretty_ for better Jupyter/Quarto integration
  python/grass/jupyter/map.py
  python/grass/jupyter/map3d.py
Due: notebooks (jupyter), python library

grass.jupyter:update show() to return Image object instead of calling display()
  python/grass/jupyter/map.py
  python/grass/jupyter/map3d.py
Due: notebooks (jupyter), python library

updated f405
  .flake8
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/instructions.py
Due: gui

update flake8
  .flake8
Due: none

fixed 841
  .flake8
  gui/wxpython/wxgui.py
Due: gui

wxGUI: Fixed F841 in mapwindow.py (#4538)
  gui/wxpython/nviz/mapwindow.py
Due: gui

wxGUI: Added TypeError to lmgr/ (#4537)
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
Due: gui

wxGUI: Fixed F841 in modules/ (#4528)
  .flake8
  gui/wxpython/modules/histogram.py
  gui/wxpython/modules/import_export.py
  gui/wxpython/modules/mapsets_picker.py
Due: gui

GUI: fix crashing due to File menu translation issues (#4513)
  gui/wxpython/lmgr/workspace.py
Due: gui

fixed cmp
  gui/wxpython/psmap/dialogs.py
Due: gui

removed e
  gui/wxpython/nviz/tools.py
Due: gui

update
  .flake8
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/toolbars.py
  gui/wxpython/vnet/vnet_core.py
  gui/wxpython/vnet/vnet_data.py
  gui/wxpython/vnet/vnet_utils.py
  gui/wxpython/vnet/widgets.py
Due: gui

wxGUI: Fixed F841 in tools.py (#4539)
  .flake8
  gui/wxpython/nviz/tools.py
Due: gui

wxGUI: Fixed F405 in psmap/ (#4541)
  .flake8
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/instructions.py
Due: gui

wxGUI: Fixed unused variable F841 (#4542)
  .flake8
  gui/wxpython/wxgui.py
Due: gui

nix: Fix locales in development environment (#4540)
  flake.nix
Due: none
