Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

lib/vector: Reject out of range categories when reading ASCII (#7844)
  lib/vector/Vlib/ascii.c
  vector/v.in.ascii/tests/conftest.py
  vector/v.in.ascii/tests/v_in_ascii_categories_test.py
Due: lib

r.clump: Fail with the clump limit instead of overflowing the index (#7853)
  raster/r.clump/clump.c
Due: none

d.frame: Format fatal error messages with str.format (#7939)
  scripts/d.frame/d.frame.py
Due: scripts

wxGUI/psmap: Remove dangling del busy in Preview()
  gui/wxpython/psmap/frame.py
Due: gui

lib/gis: Fix "Implicit conversion loses precision" warnings
  lib/gis/aprintf.c
  lib/gis/cmprzlib.c
  lib/gis/cmprzstd.c
  lib/gis/color_rules.c
  lib/gis/compress.c
  lib/gis/error.c
  lib/gis/file_name.c
  lib/gis/getl.c
  lib/gis/ls.c
  lib/gis/make_loc.c
  lib/gis/parser.c
  lib/gis/parser_dependencies.c
  lib/gis/parser_help.c
  lib/gis/progrm_nme.c
  lib/gis/strings.c
Due: lib

grass.pygrass: Pin fork start method for RPC servers on Python 3.14 (#7724)
  python/grass/pygrass/messages/__init__.py
  python/grass/pygrass/rpc/__init__.py
  python/grass/pygrass/rpc/base.py
  python/grass/script/tests/utils_test.py
  python/grass/script/utils.py
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/extract.py
  python/grass/temporal/mapcalc.py
  python/grass/temporal/tests/grass_temporal_c_libraries_interface_start_method_test.py
Due: pygrass, python library

wxGUI/psmap: Remove dangling del busy in Preview() (#7946)
  gui/wxpython/psmap/frame.py
Due: gui

fix new -Wsign-compare warnings too
  lib/gis/make_loc.c
Due: lib

r.in.gdal: Compare only the horizontal CRS with the project (#7936)
  raster/r.external/proj.c
  raster/r.in.gdal/proj.c
  raster/r.in.gdal/tests/r_in_gdal_crs_check_test.py
  vector/v.external/proj.c
  vector/v.in.ogr/proj.c
  vector/v.in.ogr/tests/v_in_ogr_crs_check_test.py
Due: none

r.import: Remove manual hemisphere handling in float_or_dms calls
  scripts/r.import/r.import.py
Due: scripts

grass.temporal: Raise ValueError on invalid spatial relation
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

G_write_projwkt: return early with empty wktstring
  lib/gis/make_loc.c
Due: lib

lib/raster: Fix "Implicit conversion loses precision" warnings
  lib/raster/cats.c
  lib/raster/get_row.c
  lib/raster/get_row_colr.c
  lib/raster/history.c
  lib/raster/null_val.c
  lib/raster/open.c
  lib/raster/put_row.c
  lib/raster/reclass.c
Due: lib

Bound the buffers G_format_northing/easting/resolution write into
  display/d.where/where.c
  lib/gis/wind_format.c
  ps/ps.map/map_info.c
  raster/r.coin/print_hdr.c
  raster/r.report/header.c
Due: ps, lib

Use INT_MAX instead of SSIZE_MAX check for read() portability
  lib/raster/get_row.c
Due: lib

G_write_projsrid: return early with empty sridstring
  lib/gis/make_loc.c
Due: lib

lib/raster3d: allocate no-cache block tile in the map's internal type
  lib/raster3d/getblock.c
  lib/raster3d/test/test_put_get_value.c
Due: lib

cmake: set BUILD_ARCH to resemble Autotool’s equivalent (#7369)
  CMakeLists.txt
  cmake/modules/get_host_arch.cmake
Due: none

grass.temporal: Fix error messages when removing map timestamps
  python/grass/temporal/space_time_datasets.py
Due: python library

t.rast.neighbors: Fix duplicate history, migrate shell test
  temporal/t.rast.neighbors/t.rast.neighbors.py
  temporal/t.rast.neighbors/test.t.rast.neighbors.sh
  temporal/t.rast.neighbors/tests/conftest.py
  temporal/t.rast.neighbors/tests/t_rast_neighbors_test.py
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

CI: Use OSGeo4W OpenSSL DLLs in OSGeo4W Python
  .github/workflows/osgeo4w.yml
Due: none

CI: Workaround OSGeo4W OpenSSL DLL conflict by forcing one (#7959)
  .github/workflows/osgeo4w.yml
Due: none

Revert "CI: Workaround OSGeo4W OpenSSL DLL conflict by forcing one (#7959)"
  .github/workflows/osgeo4w.yml
Due: none

Revert "CI: Workaround OSGeo4W OpenSSL DLL conflict by forcing one" (#7960)
  .github/workflows/osgeo4w.yml
Due: none

contributing: Add a testing guide section on databases
  doc/development/testing.md
Due: none

Update testing documentation for vector attributes
  doc/development/testing.md
Due: none

lib/vector/dgl: use fixed width integer types for dglInt[32|64]_t
  lib/vector/dglib/type.h
Due: lib

r.sim: Simulate all walkers when running in parallel
  raster/r.sim/simlib/hydro.c
Due: none

doc: fix references to retired server
  raster/r.carve/README
  raster/r.fill.stats/r.fill.stats.html
  raster/r.flow/r.flow.html
  raster/r.flow/r.flow.md
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.sim/r.sim.water/r.sim.water.html
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.sun/r.sun.html
  raster/r.sun/r.sun.md
  raster/r.terraflow/r.terraflow.html
  raster/r.terraflow/r.terraflow.md
  raster/r.watershed/front/r.watershed.html
  raster/r.watershed/front/r.watershed.md
  scripts/r.fillnulls/r.fillnulls.html
  scripts/r.fillnulls/r.fillnulls.md
  vector/v.surf.rst/v.surf.rst.html
  vector/v.surf.rst/v.surf.rst.md
  vector/v.vol.rst/v.vol.rst.html
  vector/v.vol.rst/v.vol.rst.md
Due: scripts

r.sim: Keep the diffusion coefficient in a walker-local variable
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
  raster/r.sim/simlib/simlib.h
Due: none

address warnings
  lib/vector/Vlib/graph.c
  lib/vector/Vlib/net_analyze.c
Due: lib

r.sim.water: Run the hollow and spur at 1000 walkers
  raster/r.sim/r.sim.water/tests/r_sim_water_landforms_test.py
Due: none

r.sim.water: Assert depth increases cell by cell downstream
  raster/r.sim/r.sim.water/tests/r_sim_water_test.py
Due: none

v.in.pdal: deprecate -w flag (#7855)
  vector/v.in.pdal/main.cpp
  vector/v.in.pdal/v.in.pdal.html
  vector/v.in.pdal/v.in.pdal.md
Due: none

grass.script: Fix sign and hemisphere handling in float_or_dms (#7932)
  python/grass/script/tests/utils_test.py
  python/grass/script/utils.py
  scripts/r.import/r.import.py
Due: scripts, python library
