Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

grass.jupyter: Test init and session (#2247)
  python/grass/jupyter/tests/grass_jupyter_session_test.py
Due: notebooks (jupyter), python library

docker: GRASS GIS docker matrix update (#2263)
  docker/README.md
Due: none

t.rast.list: Add CSV, JSON, YAML outputs (#2258)
  python/grass/temporal/list_stds.py
  temporal/t.rast.list/t.rast.list.html
  temporal/t.rast.list/t.rast.list.py
  temporal/t.rast.list/tests/conftest.py
  temporal/t.rast.list/tests/t_rast_list_test.py
  temporal/t.rast.list/testsuite/test_t_rast_list.sh
Due: python library

v.in.ogr: testsuite added (#2292)
  vector/v.in.ogr/testsuite/data/firestations.gpkg
  vector/v.in.ogr/testsuite/data/generate_data.sh
  vector/v.in.ogr/testsuite/data/precip_30ynormals_3d.dbf
  vector/v.in.ogr/testsuite/data/precip_30ynormals_3d.prj
  vector/v.in.ogr/testsuite/data/precip_30ynormals_3d.shp
  vector/v.in.ogr/testsuite/data/precip_30ynormals_3d.shx
  vector/v.in.ogr/testsuite/test_v_in_ogr.py
Due: none

wxGUI: new context menu for statusbar settings (#2251)
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/properties.py
  gui/wxpython/mapdisp/statusbar.py
  gui/wxpython/mapwin/base.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
Due: gui

alpine/Dockerfile: openMP enabled, PDAL support fixed (#2287)
  docker/alpine/Dockerfile
  docker/testdata/test_grass_session.py
Due: none

grass.jupyter: Add direct integration with folium (#2208)
  doc/notebooks/grass_jupyter.ipynb
  python/.pylintrc
  python/grass/jupyter/Makefile
  python/grass/jupyter/__init__.py
  python/grass/jupyter/interact_display.py
  python/grass/jupyter/reprojection_renderer.py
  python/grass/jupyter/tests/conftest.py
  python/grass/jupyter/tests/reprojection_renderer_test.py
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

lib/imagery: fix SONAME missing (#2269)
  lib/imagery/Makefile
Due: lib

GridModule: use parallel r.patch as alternative backend when overlap=0 to potentially speed up patching tiles (#2249)
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/grid/patch.py
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

r.terraflow: Fix -Wunused-private-field compiler warning (#2161)
  raster/r.terraflow/fill.cpp
  raster/r.terraflow/plateau.cpp
  raster/r.terraflow/plateau.h
Due: none

grass.jupyter: Automatically determine image size based on region (#2285)
  python/grass/jupyter/display.py
  python/grass/jupyter/region.py
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

TGIS: new module t.copy (#1930)
  temporal/Makefile
  temporal/t.copy/Makefile
  temporal/t.copy/t.copy.html
  temporal/t.copy/t.copy.py
  temporal/t.copy/testsuite/test_t_copy.py
Due: none

DB driver PG: convert character varying without length to text (#2248)
  db/drivers/postgres/create_table.c
  db/drivers/postgres/describe.c
Due: none

wxGUI/toolbars: fix toolbar tools labels when toolbar width is shrinked and toolbar menu is created (#1147)
  doc/gui/wxpython/example/toolbars.py
  gui/wxpython/animation/toolbars.py
  gui/wxpython/datacatalog/toolbars.py
  gui/wxpython/gcp/toolbars.py
  gui/wxpython/gmodeler/toolbars.py
  gui/wxpython/gui_core/pyedit.py
  gui/wxpython/gui_core/simplelmgr.py
  gui/wxpython/gui_core/toolbars.py
  gui/wxpython/iclass/toolbars.py
  gui/wxpython/image2target/ii2t_toolbars.py
  gui/wxpython/iscatt/toolbars.py
  gui/wxpython/lmgr/toolbars.py
  gui/wxpython/mapdisp/toolbars.py
  gui/wxpython/mapswipe/toolbars.py
  gui/wxpython/modules/histogram.py
  gui/wxpython/photo2image/ip2i_toolbars.py
  gui/wxpython/psmap/toolbars.py
  gui/wxpython/rdigit/toolbars.py
  gui/wxpython/rlisetup/sampling_frame.py
  gui/wxpython/vdigit/toolbars.py
  gui/wxpython/vnet/toolbars.py
  gui/wxpython/wxplot/base.py
  gui/wxpython/wxplot/histogram.py
  gui/wxpython/wxplot/profile.py
  gui/wxpython/wxplot/scatter.py
Due: gui

ci/centos: use C++11 standard compile mode (#2274)
  .github/workflows/build_centos.sh
Due: none

grass.jupyter: Rename render classes to Map, Map3D, TimeSeriesMap (#2305)
  doc/notebooks/basic_example_grass_jupyter.ipynb
  doc/notebooks/grass_jupyter.ipynb
  doc/notebooks/hydrology.ipynb
  doc/notebooks/solar_potential.ipynb
  doc/notebooks/temporal.ipynb
  python/grass/jupyter/Makefile
  python/grass/jupyter/__init__.py
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/map.py
  python/grass/jupyter/map3d.py
  python/grass/jupyter/reprojection_renderer.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  python/grass/jupyter/testsuite/map3d_test.py
  python/grass/jupyter/testsuite/map_test.py
  python/grass/jupyter/timeseriesmap.py
Due: notebooks (jupyter), python library

grass.jupyter: Generate API doc for Jupyter package (#2284)
  .github/workflows/pylint.yml
  python/grass/docs/Makefile
  python/grass/docs/conf.py
  python/grass/docs/src/index.rst
  python/grass/jupyter/__init__.py
Due: notebooks (jupyter), python library

wxGUI: fix 'SpinCtrl' widget size (#1339)
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/wrap.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/vdigit/dialogs.py
  gui/wxpython/vdigit/preferences.py
  gui/wxpython/vnet/dialogs.py
Due: gui

r.external: testsuite added (#2291)
  raster/r.external/testsuite/data/elevation.asc
  raster/r.external/testsuite/data/elevation.nc
  raster/r.external/testsuite/data/elevation.prj
  raster/r.external/testsuite/data/elevation.tif
  raster/r.external/testsuite/data/elevation.tiff
  raster/r.external/testsuite/data/elevation3d.nc
  raster/r.external/testsuite/data/generate_data.sh
  raster/r.external/testsuite/test_r_external.py
Due: none

r.in.pdal: pass LasHeader::header by const ref (#2277)
  raster/r.in.pdal/info.cpp
Due: none

Make: add -rpath to LD_SEARCH_FLAGS (#2280)
  aclocal.m4
  configure
Due: none

.github/workflows: automatically create new GitHub release draft (#2224)
  .github/workflows/create_new_release_draft.yml
Due: none

utils/mkhtml.py: generate local JSON file with core modules and their last commit (#2140)
  .github/workflows/additional_checks.yml
  utils/Makefile
  utils/__init__.py
  utils/generate_last_commit_file.py
  utils/mkhtml.py
  utils/test_generate_last_commit_file.py
Due: utils

r3.showdspf: Fix resource leak (#2295)
  raster3d/r3.showdspf/new_init_graphics.c
Due: none

d.graph: Remove an always true condition (#2296)
  display/d.graph/do_graph.c
Due: none

wxGUI: Fix Location Wizard titles being cut off. (#1774)
  gui/wxpython/location_wizard/wizard.py
Due: gui

Update alpine version in Dockerfile (#2073)
  docker/alpine/Dockerfile
Due: none

grass.jupyter: Fix InteractiveMap bounding box for saved_region, use_region (#2301)
  python/grass/jupyter/region.py
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

grass.jupyter: Add timeseries visualization (#2010)
  doc/notebooks/temporal.ipynb
  python/grass/jupyter/Makefile
  python/grass/jupyter/__init__.py
  python/grass/jupyter/display.py
  python/grass/jupyter/region.py
  python/grass/jupyter/tests/conftest.py
  python/grass/jupyter/tests/timeseries_test.py
  python/grass/jupyter/timeseries.py
Due: notebooks (jupyter), python library

sqlite driver: support no locking for sqlite over nfs (#1667)
  db/drivers/sqlite/db.c
Due: none

libgis: close files if G_copy_file fails (#2266)
  lib/gis/copy_file.c
Due: lib

TGIS: add semantic label to STRDS export (#2262)
  python/grass/temporal/stds_export.py
Due: python library

CI: Update to Black 22.3 with fixed Click (#2286)
  .github/workflows/black.yml
Due: none

pygrass.GridModule: make tile size optional (#2294)
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

grass.benchmark: compute parallel efficiency (#2319)
  python/grass/benchmark/runners.py
Due: python library

r.series: implement parallelization with OpenMP (#1776)
  raster/r.series/Makefile
  raster/r.series/benchmark/benchmark_r_series.py
  raster/r.series/benchmark/benchmark_r_series_memory.py
  raster/r.series/main.c
  raster/r.series/r.series.html
  raster/r.series/r_series_benchmark_memory.png
  raster/r.series/r_series_benchmark_size.png
  raster/r.series/test_suite/test.r.series.sh
  raster/r.series/testsuite/test_r_series.py
Due: none

manual: add entries about Jupyter notebook support (#2314)
  man/build_html.py
  python/grass/docs/src/index.rst
Due: man, python library

wxGUI: fix saving and setting display position in workspace for multiple window layout (#2321)
  gui/wxpython/gui_core/mapdisp.py
Due: gui
