Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

build: Allow separate build of Markdown and HTML keywords
  man/build_keywords.py
Due: man

docs: fix missing image in imageryintro.md (#5176)
  lib/imagery/Makefile
Due: lib

docs: mkdocs index.md redesign
  man/mkdocs/mkdocs.yml
  man/mkdocs/overrides/index.md
Due: man

lib/gis: add support for PCRE (#5159)
  configure
  configure.ac
  include/grass/config.h.in
  lib/gis/ls_filter.c
Due: lib

add g.download.project module
  scripts/CMakeLists.txt
Due: scripts

Revert "CI: install cmake with pip"
  .github/workflows/cmake.yml
Due: none

use ubuntu python, add testreport
  .github/workflows/cmake.yml
Due: none

add GDAL inc workaround
  .github/workflows/cmake.yml
Due: none

chmod
  lib/init/grass.sh.in
Due: lib

CI: Run verify-success jobs on macOS
  .github/workflows/verify-success.yml
Due: none

CI: use SQLite <3.49.0 on macOS
  .github/workflows/macos_dependencies.txt
Due: none

CI: Run verify-success jobs on macOS (#5185)
  .github/workflows/verify-success.yml
Due: none

wxGUI: Fix PGH004: Add specific rule code F401 to noqa comment (#5167)
  gui/wxpython/psmap/utils.py
  pyproject.toml
Due: gui

temporal: SIM115: Use context manager for file I/O in t.rast (#5105)
  pyproject.toml
  temporal/t.rast.colors/t.rast.colors.py
  temporal/t.rast.series/t.rast.series.py
Due: none

style: Fixed ruff formatting errors in wxGUI/gcp (#5082)
  gui/wxpython/gcp/manager.py
  pyproject.toml
Due: gui

CI: use SQLite <3.49.0 on macOS (#5186)
  .github/workflows/macos_dependencies.txt
Due: none

CI(CMake): Do not cancel in progress jobs when not in PRs
  .github/workflows/cmake.yml
Due: none

config: Adjust gitignore for CMake
  .gitignore
Due: none

Update .gitignore
  .gitignore
Due: none

CI(CMake): Do not cancel in progress jobs when not in PRs (#5190)
  .github/workflows/cmake.yml
Due: none

config: Adjust gitignore for CMake (#5191)
  .gitignore
Due: none

quicksort.h: Use rand() on Windows
  include/grass/iostream/quicksort.h
Due: none

Use if-no-files-found, renovate, fix mv typo
  .github/workflows/documentation.yml
Due: none

Correct place for if-no-files-found: warn
  .github/workflows/documentation.yml
Due: none

Add macOS title section
  utils/release.yml
Due: utils

Allow CMake and conda title prefixes
  utils/release.yml
Due: utils

Add a chore prefix
  utils/release.yml
Due: utils

Windows: Define ssize_t for MSVC
  raster/r.coin/format.c
Due: none

Allow titles from GitHub's revert PR functionality
  utils/release.yml
Due: utils

Remove copy-pased trailing whitespace
  .github/workflows/documentation.yml
Due: none

Add workflow trigger, get the logs before the docs, fails if no docs
  .github/workflows/documentation.yml
Due: none

use path
  temporal/t.rast.colors/t.rast.colors.py
Due: none

CI: use SQLite <3.49.0 on macOS
  macos/files/conda-requirements-dev-arm64.txt
Due: none

updated t.rast.series
  temporal/t.rast.series/t.rast.series.py
Due: none

removed duplicates
  temporal/t.rast.colors/t.rast.colors.py
Due: none

CI: use SQLite <3.49.0 on macOS (#5196)
  macos/files/conda-requirements-dev-arm64.txt
Due: none

Allow msvc/MSVC titles for windows
  utils/release.yml
Due: utils

labeler: Add markdown label
  .github/labeler.yml
Due: none

Add msvc folder to Windows label
  .github/labeler.yml
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
