Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

lib/db: Tighten dblogin permissions with fchmod, not chmod
  lib/db/dbmi_base/login.c
Due: lib

CI: Fix inverted condition disabling ccache and mold in doc builds
  .github/workflows/documentation.yml
Due: none

t.rast.import: use platform-indendent tempdir default (#7742)
  python/grass/temporal/stds_import.py
  temporal/t.rast.import/t.rast.import.py
  temporal/t.rast.import/test.t.rast.import.relative.sh
  temporal/t.rast.import/test.t.rast.import.relative.with.semantic.label.sh
  temporal/t.rast.import/test.t.rast.import.sh
  temporal/t.rast.import/test.t.rast.import_locations.sh
  temporal/t.rast.import/tests/conftest.py
  temporal/t.rast.import/tests/data/precip_2000.tar.bzip2
  temporal/t.rast.import/tests/t_rast_import_test.py
  temporal/t.rast.import/testsuite/test_temporal_rast_import.py
  temporal/t.vect.import/tests/conftest.py
  temporal/t.vect.import/tests/t_vect_import_test.py
  temporal/t.vect.import/testsuite/test.t.vect.import.sh
Due: python library

r.geomorphon: Use a small subregion to speed up tests
  raster/r.geomorphon/testsuite/test_r_geom.py
Due: none

Apply suggestion from @petrasovaa
  gui/wxpython/core/gconsole.py
Due: gui

address more code review
  python/grass/temporal/open_stds.py
Due: python library

ruff
  python/grass/temporal/open_stds.py
Due: python library

update docstring
  python/grass/temporal/open_stds.py
Due: python library

address test comments with support of AI
  python/grass/temporal/tests/grass_temporal_fully_qualified_names_test.py
Due: python library

grass.script: RegionManager/RegionManagerEnv: Add support for storing current region under a persistent name (#7599)
  python/grass/script/raster.py
  python/grass/script/tests/grass_script_raster_region_test.py
Due: python library

initialize tgis_dbmi_paramstyle
  python/grass/temporal/core.py
Due: python library

wxGUI: Share watchdog Observer to fix FSEvents RuntimeError (#7677)
  gui/wxpython/core/watchdog.py
Due: gui

gui: Remove shadowing of `type()` and typo in class attribute (#7753)
  gui/wxpython/lmgr/layertree.py
Due: gui

i.spectral: fix text output to write band values (#7488)
  scripts/i.spectral/i.spectral.py
  scripts/i.spectral/tests/i_spectral_test.py
Due: scripts

CI: Fix inverted condition disabling ccache and mold in doc builds (#7755)
  .github/workflows/documentation.yml
Due: none

gui: fix exception in gconsole.py (#6903)
  gui/wxpython/core/gconsole.py
Due: gui

Translated using Weblate (French)
  locale/po/grasslibs_fr.po
  locale/po/grassmods_fr.po
  locale/po/grasswxpy_fr.po
Due: none

Translations update from OSGeo Weblate (#7758)
  locale/po/grasslibs_fr.po
  locale/po/grassmods_fr.po
  locale/po/grasswxpy_fr.po
Due: none

grass.gunittest: Fix html reporter output (#7754)
  python/grass/gunittest/reporters.py
Due: gunittest, python library

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

grass.script: Validate URL schemes before opening remote URLs
  python/grass/script/utils.py
  scripts/g.extension.all/g.extension.all.py
  scripts/g.extension/g.extension.py
  scripts/g.manual/g.manual.py
  scripts/r.in.wms/wms_base.py
  scripts/v.in.wfs/v.in.wfs.py
Due: scripts, python library

docs: Fix libpython canonical and sitemap URLs (#5935)
  .github/workflows/documentation.yml
  python/grass/docs/conf.py
  utils/merge_sitemaps.py
  utils/test_merge_sitemaps.py
Due: utils, python library

address review
  doc/development/building_with_cmake.md
Due: none

contributing: Use SPDX copyright tags in the most complicated file headers
  lib/rst/interp_float/distance.c
  lib/rst/interp_float/minmax.c
  lib/rst/interp_float/resout2d.c
  lib/rst/interp_float/ressegm2d.c
  raster/r.resamp.rst/main.c
  raster/r.sun/main.c
  raster/r.sun/rsunglobals.h
  raster/r.sun/rsunlib.c
  raster/r.sun/sunradstruct.h
  raster/r.surf.area/main.c
  vector/v.lrs/v.lrs.segment/main.c
  vector/v.normal/scancats.c
  vector/v.perturb/fische.c
  vector/v.perturb/myrng.c
  vector/v.perturb/normal00.c
  vector/v.perturb/normalen.c
  vector/v.perturb/normalrs.c
  vector/v.perturb/normalsv.c
  vector/v.perturb/zufall.h
  vector/v.qcount/count.c
  vector/v.qcount/findquads.c
  vector/v.qcount/indices.c
  vector/v.qcount/quaddefs.h
Due: lib

r.proj: experimental per-thread-fd parallel strip reads
  raster/r.proj/main.c
Due: none

r.proj: address review comments (remove stray PACKAGE define, clarify comments)
  raster/r.proj/main.c
Due: none

r.proj: link libproj for direct proj_* calls
  raster/r.proj/Makefile
Due: none

r.proj: replace full-map RAM buffer with memory-bounded banding
  raster/r.proj/main.c
Due: none

r.proj: guard OpenMP timer calls for non-OpenMP builds
  raster/r.proj/main.c
Due: none

lib/proj: add per-thread transform clone helpers
  include/grass/defs/gprojects.h
  include/grass/gprojects.h
  lib/proj/do_proj.c
  raster/r.proj/main.c
Due: lib

r.proj: use memory option to limit RAM buffer per community feedback
  raster/r.proj/main.c
Due: none

POC: parallelize r.proj via RAM-resident buffer, 2.5x speedup on 8-core Apple M-series
  raster/r.proj/main.c
Due: none

r.proj: add adaptive column tiling for oblique reprojections
  raster/r.proj/main.c
Due: none

r.proj: fix output row northing mismatch with serial
  raster/r.proj/main.c
Due: none

r.proj: size the input strip for tiles containing a pole
  raster/r.proj/main.c
Due: none
