Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

grass.app: Add internal CLI with argparse subcommands (#5590)
  python/grass/app/Makefile
  python/grass/app/__main__.py
  python/grass/app/cli.py
  python/grass/app/tests/grass_app_cli_test.py
Due: python library

Use tools not modules in the new example
  python/grass/script/setup.py
Due: python library

Fix uninitialized variable issue
  display/d.labels/do_labels.c
Due: none

i.evapo.mh: fix radiation conversion factor (#5600)
  imagery/i.evapo.mh/mh_eto.c
  imagery/i.evapo.mh/mh_original.c
  imagery/i.evapo.mh/mh_samani.c
Due: none

r.li: only close files that are opened
  raster/r.li/r.li.daemon/worker.c
  raster/r.li/r.li.edgedensity/edgedensity.c
Due: none

Added test for EPSG 3358 and patched other minor fixes
  raster/r.latlong/tests/test_r_latlong.py
Due: none

Fix Resource Leak Issue
  lib/vector/Vlib/ascii.c
Due: lib

r.li: only close files that are opened (#5605)
  raster/r.li/r.li.daemon/worker.c
  raster/r.li/r.li.edgedensity/edgedensity.c
Due: none

Fix Resource Leak Issue
  lib/vector/Vlib/snap.c
Due: lib

Fix Uninitialized Variable
  vector/v.vol.rst/user1.c
Due: none

Updated code colors
  man/mkdocs/grassdocs.css
Due: man

Set h2 to capitalize
  man/mkdocs/grassdocs.css
Due: man

Updated base color variable names to match convention
  man/mkdocs/grassdocs.css
Due: man

Renamed primary-color-dark to primary-dark-color
  man/mkdocs/grassdocs.css
Due: man

Update function name
  python/grass/experimental/tools.py
Due: python library

Removed unneed comments
  man/mkdocs/grassdocs.css
Due: man

Fix Resource Leak Issue
  vector/v.select/select.c
Due: none

init: Add retries and timeout to mapset locking (#5443)
  lib/init/grass.md
  lib/init/grass.py
  python/grass/app/cli.py
  python/grass/app/data.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_setup_test.py
Due: lib, python library

docs: Synchronize MkDocs styles with brand (#5586)
  man/mkdocs/grassdocs.css
  man/mkdocs/mkdocs.yml
Due: man

docs: Updating icons and logos, updated favicon
  man/favicon.ico
Due: man

Updated logo
  man/grass_logo.png
  man/grass_logo.svg
Due: man

upated GRASS icon
  man/grass_icon.png
Due: man

Deselect test_raster_metadata test in osgeo4w.yml
  .github/workflows/osgeo4w.yml
Due: none

Updated ps vector file formats eps and pdf
  man/grasslogo_vector.eps
  man/grasslogo_vector.pdf
  ps/ps.map/decorations/grasslogo.eps
Due: man, ps

Added assets
  python/grass/docs/_static/favicon.ico
  python/grass/docs/_static/grass_logo.png
  python/grass/docs/_static/grass_logo.svg
Due: python library

Formatting clean up
  python/grass/docs/_static/pygrass.css
  python/grass/docs/_templates/header.html
  python/grass/docs/_templates/layout.html
  python/grass/docs/_templates/layout.html.template
  python/grass/docs/conf.py
  python/grass/docs/src/gunittest_running_tests.rst
  python/grass/docs/src/gunittest_testing.rst
  python/grass/docs/src/index.rst
  python/grass/docs/src/pygrass_gis.rst
  python/grass/docs/src/pygrass_index.rst
  python/grass/docs/src/pygrass_modules.rst
  python/grass/docs/src/script_intro.rst
  python/grass/docs/src/temporal_framework.rst
Due: python library

Added sphinx-material to workflow
  .github/workflows/documentation.yml
Due: none

Updated footer style
  python/grass/docs/_static/pygrass.css
  python/grass/docs/_templates/layout.html
  python/grass/docs/conf.py
Due: python library

docs: adding new logo to docs (#5612)
  man/favicon.ico
  man/grass_icon.png
  man/grass_logo.png
  man/grass_logo.svg
  man/grasslogo_vector.eps
  man/grasslogo_vector.pdf
  ps/ps.map/decorations/grasslogo.eps
Due: man, ps

Updated code font
  python/grass/docs/_static/pygrass.css
Due: python library

Set navbar link title
  python/grass/docs/conf.py
Due: python library

r.sim: fix infiltration computation
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
Due: none

updated sphinx-material
  .github/workflows/documentation.yml
Due: none

CQ: always include stdbool.h in C code
  general/g.region/main.c
  include/grass/defs/raster.h
  include/grass/defs/vector.h
  include/grass/gis.h
  lib/gis/mapset_msc.c
  lib/gis/parser_md_python.c
  lib/raster/mask_info.c
  lib/raster/raster_metadata.c
  lib/rst/interp_float/init2d.c
  raster/r.horizon/main.c
  raster/r.kappa/print_json.c
  raster/r.mask.status/main.c
  raster/r.out.gdal/attr.c
  raster/r.series/main.c
  raster/r.slope.aspect/main.c
  raster/r.sun/main.c
  raster/r.sun/sunradstruct.h
  raster/r.thin/thin_lines.c
  raster/r.volume/main.c
  vector/v.db.select/main.c
  vector/v.fill.holes/main.c
  vector/v.hull/chull.c
  vector/v.surf.rst/main.c
Due: lib

Change sphinx-apidoc package styling template to improve styling between modules and submodules
  python/grass/docs/Makefile
  python/grass/docs/_static/pygrass.css
  python/grass/docs/_templates/sphinx/apidoc/package.rst.jinja
  python/grass/docs/src/index.rst
Due: python library

chore: Format yaml and workflow files (#5543)
  .github/codeql/codeql-config.yml
  .github/labeler.yml
  .github/workflows/additional_checks.yml
  .github/workflows/cmake.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gcc.yml
  .github/workflows/macos_distribute_app.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/test-nix.yml
  .github/workflows/ubuntu.yml
  .markdownlint.yml
  .yamllint
  man/mkdocs/mkdocs.yml
  utils/release.yml
Due: man, utils

CQ: always include stdbool.h if bool is used in C code (#5618)
  general/g.region/main.c
  include/grass/defs/raster.h
  include/grass/defs/vector.h
  include/grass/gis.h
  lib/gis/mapset_msc.c
  lib/gis/parser_md_python.c
  lib/raster/mask_info.c
  lib/raster/raster_metadata.c
  lib/rst/interp_float/init2d.c
  raster/r.horizon/main.c
  raster/r.kappa/print_json.c
  raster/r.mask.status/main.c
  raster/r.out.gdal/attr.c
  raster/r.series/main.c
  raster/r.slope.aspect/main.c
  raster/r.sun/main.c
  raster/r.sun/sunradstruct.h
  raster/r.thin/thin_lines.c
  raster/r.volume/main.c
  vector/v.db.select/main.c
  vector/v.fill.holes/main.c
  vector/v.hull/chull.c
  vector/v.surf.rst/main.c
Due: lib

Update osgeo4w.yml
  .github/workflows/osgeo4w.yml
Due: none

docs: Fixed mkdocs fg-footer color
  man/mkdocs/grassdocs.css
Due: man

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
