Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

Use correct absolute value function
  lib/gmath/blas_level_1.c
  lib/imagery/iscatt_core.c
  lib/raster3d/test/test_put_get_value_large_file.c
  lib/vector/neta/bridge.c
  lib/vector/neta/flow.c
  lib/vector/neta/path.c
  raster/r.grow.distance/main.c
  raster/r.latlong/main.c
  vector/v.generalize/network.c
  vector/v.label.sa/labels.c
  vector/v.patch/main.c
Due: lib

r.terraflow: remove print "Free Memory" to stats file (#1306)
  raster/r.terraflow/stats.cpp
  raster/r.terraflow/stats.h
Due: none

Make cast of qualifier explicit (#1276)
  general/g.parser/translate.c
  lib/imagery/list_subgp.c
  lib/raster/put_row.c
  vector/v.lrs/v.lrs.create/main.c
  vector/v.lrs/v.lrs.label/main.c
  vector/v.lrs/v.lrs.segment/main.c
  vector/v.lrs/v.lrs.where/main.c
Due: lib

r.stream.extract: remove unneeded condition
  raster/r.stream.extract/streams.c
Due: none

wxGUI: Ask user about shell only when present (#1219)
  gui/wxpython/core/utils.py
  gui/wxpython/docs/wxGUI.html
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/lmgr/frame.py
Due: gui

Fix comparing a pointer to a null character constant (#1265)
  lib/db/dbmi_client/c_list_drivers.c
  lib/db/dbmi_client/start.c
  lib/gis/parser.c
Due: lib

Avoid redefinition of macros (#1263)
  lib/db/dbmi_base/dirent.c
Due: lib

r.viewshed: Avoid integer overflow (#1275)
  raster/r.viewshed/viewshed.cpp
Due: none

i.evapo.pm: Fix missing output description (#1275)
  imagery/i.evapo.pm/main.c
Due: none

Cleanup of howto_release - where to send announcements
  doc/howto_release.md
Due: none

i.vi: fix check input 'red' param arg (#1353)
  imagery/i.vi/main.c
Due: none

v.to.rast: Print the correct option name (#1351)
  vector/v.to.rast/vect2rast.c
Due: none

Fix setting PRI_OFF_T for 64bit Mac (#1256)
  include/gis.h
Due: none

wxGUI/dbmgr: fix clik on the 'Modify layer' button if vector map doesn't have any layers (#1334)
  gui/wxpython/dbmgr/base.py
Due: gui

wxGUI/locwizard: fix more flags for wxPython 4.1 (#1343)
  gui/wxpython/location_wizard/wizard.py
Due: gui

datum: add support for D_Rauenberg_1983 (#1331)
  lib/gis/datumtransform.table
  lib/proj/convert.c
Due: lib

testsuite: fix g.bands and i.band test (#1345)
  scripts/g.bands/testsuite/test_g_bands.py
  scripts/i.band/testsuite/test_i_band.py
Due: scripts

m.proj: fix PROJ URL in error message
  scripts/m.proj/m.proj.py
Due: scripts

wxGUI: address flake8 undefined variable (#1325)
  gui/wxpython/.flake8
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/render.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gui_core/ghelp.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/image2target/ii2t_menustrings.py
  gui/wxpython/iscatt/controllers.py
  gui/wxpython/iscatt/frame.py
  gui/wxpython/iscatt/plots.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/psmap/utils.py
  gui/wxpython/rlisetup/sampling_frame.py
  gui/wxpython/vdigit/mapwindow.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/vnet_core.py
  gui/wxpython/vnet/vnet_data.py
  gui/wxpython/vnet/widgets.py
  gui/wxpython/wxplot/base.py
Due: gui

wxGUI/psmap: fix retrieval of projection information (#1310)
  gui/wxpython/psmap/utils.py
Due: gui

Use platform independent int64 format specifier (#1316)
  lib/vector/Vlib/build_nat.c
  raster/r.info/main.c
Due: lib

make: Add support for Makefile variable DESTDIR (#1234)
  include/Make/Install.make
Due: none

Match format specifier with argument type (#1256)
  db/drivers/ogr/execute.c
  lib/vector/Vlib/open_nat.c
  lib/vector/Vlib/write.c
  lib/vector/Vlib/write_nat.c
  lib/vector/Vlib/write_ogr.c
  lib/vector/Vlib/write_pg.c
  raster/r.compress/main.c
  raster/r.terraflow/main.cpp
  raster/r.terraflow/stats.cpp
  raster/r.terraflow/sweep.cpp
  raster/r.viewshed/main.cpp
  raster3d/r3.stats/support.c
  tools/timer/main.c
  vector/v.in.ascii/points.c
  vector/v.lrs/v.lrs.create/main.c
Due: lib

wxGUI/locwizard: fix flags for wxPython 4.1 (#1330)
  gui/wxpython/location_wizard/dialogs.py
Due: gui

i18n: sync from Transifex (#1326)
  locale/po/grasslibs_pt_BR.po
  locale/po/grassmods_pt_BR.po
  locale/po/grasswxpy_el.po
  locale/po/grasswxpy_es.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_hu.po
  locale/po/grasswxpy_it.po
  locale/po/grasswxpy_ko.po
  locale/po/grasswxpy_pt_BR.po
  locale/po/grasswxpy_tr.po
Due: none

v.surf.idw: less confusing error message (#1332)
  vector/v.surf.idw/main.c
Due: none

init: Create demolocation in grass.py, not wxGUI gis_set.py (#1208)
  gui/wxpython/gis_set.py
  lib/init/grass.py
  lib/python/Makefile
  lib/python/app/Makefile
  lib/python/app/__init__.py
  lib/python/app/data.py
Due: gui, lib

wxGUI: fix search field in location wizard (#1322)
  gui/wxpython/location_wizard/wizard.py
Due: gui

wxGUI: Add missing import from grass.app (#1358)
  gui/wxpython/gis_set.py
Due: gui

GitHub Action: Completion of security analysis with CodeQL (#1300)
  .github/workflows/codeql-analysis.yml
Due: none

wxGUI/mapwin: add map overlays 'at' parameter arg validation (#1069)
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/widgets.py
Due: gui

r.topidx: Rewrite Perl scripts in Python 3 (#766)
  raster/r.topidx/arc.to.gridatb.pl
  raster/r.topidx/arc_to_gridatb.py
  raster/r.topidx/gridatb.to.arc.pl
  raster/r.topidx/gridatb_to_arc.py
Due: none

init: Apply Black to the init script (#1359)
  .github/workflows/black.yml
  lib/init/grass.py
Due: lib

wxGUI: fix 'wxPyDeprecationWarning: Call to deprecated item. Use FindItem instead.' (#1344)
  gui/wxpython/gcp/manager.py
  gui/wxpython/gcp/statusbar.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/image2target/ii2t_statusbar.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/photo2image/ip2i_statusbar.py
  gui/wxpython/vnet/widgets.py
Due: gui
