Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

tests: Fix xfail_windows decorator not executing tests when not on Windows
  python/grass/gunittest/utils.py
Due: gunittest, python library

g.download.project: Fix string formatting error when download already exists
  scripts/g.download.project/g.download.project.py
Due: scripts

Added tests for v.build module
  vector/v.build/testsuite/v.build_test.py
Due: none

checks: Add display and other modules root folder as accepted title prefixes
  utils/release.yml
Due: utils

display: fix typos (#5328)
  display/d.histogram/bar.c
  display/d.histogram/get_stats.c
  display/d.histogram/pie.c
  display/d.labels/d.labels.html
  display/d.labels/d.labels.md
  display/d.legend/get_stats.c
  display/d.vect/d.vect.html
  display/d.vect/d.vect.md
  display/displaydrivers.html
  display/displaydrivers.md
Due: none

v.what: Add expectedFailure and enable tests
  .github/workflows/macos_gunittest.cfg
  .github/workflows/osgeo4w_gunittest.cfg
  .gunittest.cfg
  vector/v.what/testsuite/test_vwhat_layers.py
  vector/v.what/testsuite/test_vwhat_ncspm.py
Due: none

v.what: Remove trailing whitespace after map name
  vector/v.what/what.c
Due: none

v.what: Remove expectedFailure decorators from fixed tests
  vector/v.what/testsuite/test_vwhat_layers.py
  vector/v.what/testsuite/test_vwhat_ncspm.py
Due: none

Remove unused import from test_vwhat_ncspm.py
  vector/v.what/testsuite/test_vwhat_ncspm.py
Due: none

Add back empty line to reduce diff
  vector/v.what/testsuite/test_vwhat_ncspm.py
Due: none

imagery: fix typos Found via codespell
  imagery/i.atcorr/6s.cpp
  imagery/i.atcorr/aerosolmodel.cpp
  imagery/i.atcorr/interp.h
  imagery/i.gensig/i.gensig.html
  imagery/i.gensig/i.gensig.md
  imagery/i.gensigset/i.gensigset.html
  imagery/i.gensigset/i.gensigset.md
  imagery/i.group/main.c
  imagery/i.landsat.toar/landsat_met.c
  imagery/i.landsat.toar/landsat_set.c
  imagery/i.modis.qc/mod09A1a.c
  imagery/i.modis.qc/mod09GAa.c
  imagery/i.modis.qc/mod09Q1a.c
  imagery/i.ortho.photo/i.ortho.photo/i.ortho.photo.html
  imagery/i.ortho.photo/i.ortho.photo/i.ortho.photo.md
  imagery/i.ortho.photo/i.ortho.transform/main.c
  imagery/i.ortho.photo/lib/orthoref.c
  imagery/i.segment/i.segment.html
  imagery/i.segment/i.segment.md
  imagery/i.segment/main.c
  imagery/i.segment/outline
  imagery/i.segment/region_growing.c
  imagery/i.smap/interp.c
  imagery/i.svm.train/testsuite/test_i_svm_train.py
Due: none

docs: fix typos Found via codespell
  doc/development/github_guide.md
  doc/examples/notebooks/hydrology.ipynb
  doc/examples/python/m.distance.py
  doc/examples/vector/TODO
  doc/howto_release.md
  doc/vector/TODO
Due: notebooks (jupyter)

initialize to NULL
  display/d.vect/shape.c
Due: none

NULL
  display/d.vect/shape.c
Due: none

fix
  display/d.vect/shape.c
Due: none

cmake: use of imported PROJ target
  CMakeLists.txt
  cmake/find_scripts/FindPROJ.cmake
  cmake/modules/CheckDependentLibraries.cmake
  general/CMakeLists.txt
  lib/CMakeLists.txt
  lib/init/CMakeLists.txt
  lib/proj/CMakeLists.txt
  raster/CMakeLists.txt
  vector/CMakeLists.txt
Due: lib

failed mac
  display/d.vect/shape.c
Due: none

changes
  display/d.vect.thematic/plot1.c
Due: none

add r.flip to validate symmetry
  imagery/i.ifft/testsuite/test_i_ifft.py
Due: none

changes
  display/d.vect/shape.c
Due: none

add the test file
  imagery/i.cluster/testsuite/test_i_cluter.py
Due: none

add test file
  imagery/i.cluster/testsuite/test_i_cluter.py
Due: none

d.vect: Fix resource Leak Issue in shape.c (#5276)
  display/d.vect/shape.c
Due: none

cmake: use of imported PROJ target (#5348)
  CMakeLists.txt
  cmake/find_scripts/FindPROJ.cmake
  cmake/modules/CheckDependentLibraries.cmake
  general/CMakeLists.txt
  lib/CMakeLists.txt
  lib/init/CMakeLists.txt
  lib/proj/CMakeLists.txt
  raster/CMakeLists.txt
  vector/CMakeLists.txt
Due: lib

doc: add missing newline between generated synopsis and description heading (#5330)
  utils/mkmarkdown.py
Due: utils

add test file
  imagery/i.zc/testsuite/test_i_zc.py
Due: none

db.univar: Use python sort fallback on Windows (#5349)
  scripts/conftest.py
  scripts/db.univar/db.univar.py
  scripts/v.db.univar/tests/conftest.py
Due: scripts

v.what: Fix test failures from trailing space after map name (#5343)
  .github/workflows/macos_gunittest.cfg
  .github/workflows/osgeo4w_gunittest.cfg
  .gunittest.cfg
  vector/v.what/testsuite/test_vwhat_layers.py
  vector/v.what/what.c
Due: none

g.download.project: Fix string formatting error when download already exists (#5339)
  scripts/g.download.project/g.download.project.py
Due: scripts

cmake: increase required version to 3.22 (#5269)
  .github/workflows/cmake.yml
  CMakeLists.txt
Due: none

cmake: fix Native Language Support (NLS) support
  cmake/modules/CheckDependentLibraries.cmake
  lib/gis/CMakeLists.txt
  locale/CMakeLists.txt
Due: lib

CI: run with WITH_NLS=ON
  .github/workflows/cmake.yml
Due: none

remove custom creation of target Intl::Intl for CMake <3.20
  cmake/modules/CheckDependentLibraries.cmake
Due: none

cmake: remove custom FindPostgreSQL with CMake 3.22+
  cmake/find_scripts/FindPostgreSQL.cmake
Due: none

cmake: fix Native Language Support (NLS) support (#5297)
  .github/workflows/cmake.yml
  cmake/modules/CheckDependentLibraries.cmake
  lib/gis/CMakeLists.txt
  locale/CMakeLists.txt
Due: lib

cmake: remove custom FindPostgreSQL with CMake 3.22+ (#5353)
  cmake/find_scripts/FindPostgreSQL.cmake
Due: none

cmake: use of Threads target
  cmake/modules/CheckDependentLibraries.cmake
  lib/gis/CMakeLists.txt
  raster/r.mapcalc/CMakeLists.txt
Due: lib

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
