Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

updated flake8
  .flake8
Due: none

fixed f841
  gui/wxpython/modules/colorrules.py
Due: gui

Update gui/wxpython/modules/colorrules.py
  gui/wxpython/modules/colorrules.py
Due: gui

Fix grammar
  raster/r.external/r.external.html
  raster/r.null/r.null.html
Due: none

doc: Use lowercase for 2D raster mask (#4401)
  display/d.histogram/d.histogram.html
  raster/r.circle/main.c
  raster/r.external/r.external.html
  raster/r.null/r.null.html
  raster/r.stream.extract/r.stream.extract.html
  raster3d/raster3dintro.html
  scripts/r.out.xyz/r.out.xyz.html
Due: scripts

Add doc, optimize name reporting
  lib/raster/mask_info.c
Due: lib

tools: FIxed unused variable in imagery/ (#4487)
  .flake8
  imagery/i.atcorr/create_iwave.py
Due: none

doc: Ignore F401 in dialogs.py (#4488)
  .flake8
  doc/gui/wxpython/example/dialogs.py
Due: none

checks: update .flake8 to reflect correct status in image2target (#4489)
  .flake8
Due: none

wxGUI: FIxed F841 in colorrules.py (#4490)
  gui/wxpython/modules/colorrules.py
Due: gui

Add more doc
  raster/r.mask.status/main.c
  raster/r.mask.status/r.mask.status.html
Due: none

For now, use shell, not bash for format
  raster/r.mask.status/main.c
Due: none

For now, use shell, not bash for format
  raster/r.mask.status/main.c
  raster/r.mask.status/tests/r_mask_status_test.py
Due: none

Comment clean up
  raster/r.mask.status/main.c
Due: none

Fix typo
  lib/raster/mask_info.c
Due: lib

Remove parentheses for fixture without parameters
  raster/r.mask.status/tests/conftest.py
Due: none

Use separate function for name of the mask
  lib/raster/auto_mask.c
Due: lib

checks: Remove extra semicolons in r.terraflow
  raster/r.terraflow/fill.cpp
Due: none

More semicolons
  raster/r.terraflow/genericWindow.cpp
  raster/r.terraflow/sweep.cpp
  raster/r.terraflow/weightWindow.cpp
Due: none

requested changes
  lib/vector/Vlib/color_read.c
Due: lib

r.mask.status: Check mask status through a tool and function (#2390)
  include/grass/defs/raster.h
  lib/init/grass.py
  lib/raster/mask_info.c
  raster/Makefile
  raster/r.mask.status/Makefile
  raster/r.mask.status/main.c
  raster/r.mask.status/r.mask.status.html
  raster/r.mask.status/tests/conftest.py
  raster/r.mask.status/tests/r_mask_status_test.py
Due: lib

requested changes
  imagery/i.ortho.photo/lib/find_init.c
Due: none

Improve doc
  lib/raster/auto_mask.c
  lib/raster/maskfd.c
Due: lib

doc: Use lowercase for 2D raster mask
  display/d.histogram/d.histogram.html
  imagery/i.fft/main.c
  imagery/i.pca/i.pca.html
  lib/ogsf/gk.c
  lib/ogsf/gvd.c
  raster/r.fill.dir/r.fill.dir.html
  raster/r.li/TODO
  raster/r.univar/r.univar.html
  scripts/r.out.xyz/r.out.xyz.html
Due: scripts, lib

fix Resource Leak issue
  display/d.vect/attr.c
Due: none

Fix Resource Leak issue
  vector/v.colors/read_rgb.c
Due: none

Update display/d.vect/attr.c
  display/d.vect/attr.c
Due: none

Fix Resource Leak issue
  vector/v.to.db/areas.c
Due: none

message
  imagery/i.ortho.photo/lib/find_init.c
Due: none

i.gensigset: fix possible pole and divide by zero errors in regroup
  imagery/i.gensigset/subcluster.c
Due: none

ps.map: initialize variable contents before using them in get_ll_bounds
  ps/ps.map/do_geogrid.c
Due: ps

i.ortho.photo: Fix Resource Leak in find_init.c (#4388)
  imagery/i.ortho.photo/lib/find_init.c
Due: none

lib/vector/Vlib: Fix copy into buffer size issue in color_read.c (#4462)
  lib/vector/Vlib/color_read.c
Due: lib

checks: Remove extra semicolons in r.terraflow (#4494)
  raster/r.terraflow/fill.cpp
  raster/r.terraflow/genericWindow.cpp
  raster/r.terraflow/sweep.cpp
  raster/r.terraflow/weightWindow.cpp
Due: none

v.colors: Fix Resource Leak issue in read_rgb.c (#4497)
  vector/v.colors/read_rgb.c
Due: none

v.to.db: Fix Resource Leak issue in areas.c (#4498)
  vector/v.to.db/areas.c
Due: none

d.vect: Fix Resource Leak issue in attr.c (#4496)
  display/d.vect/attr.c
Due: none

Add fix for #648 with error message during import
  gui/wxpython/modules/import_export.py
Due: gui

Resource Leak
  raster/r.carve/enforce_ds.c
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
