Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

wxGUI/lmgr: hide map layer menu item 'Change opacity level' if 3d view is activated. (#2697)
  gui/wxpython/lmgr/layertree.py
Due: gui

fix '-Wformat-overflow=' compiler warnings (#2700)
  db/drivers/dbf/table.c
  display/d.legend.vect/main.c
  display/d.legend/draw.c
  raster/r.out.pov/main.c
  raster/r.sim/simlib/input.c
Due: none

CI: add ClangFormat check (#2716)
  .github/workflows/clang-format-check.yml
Due: none

Happy New Year 2023 (#2723)
  Makefile
  REQUIREMENTS.html
  configure.ac
  grasslib.dox
  include/VERSION
  include/grass/gis.h
  lib/gis/env.c
  lib/gis/gislib_cmdline_parsing.dox
  lib/gis/parser_html.c
  lib/init/grass.py
  lib/init/grass.sh
  man/build_graphical_index.py
  man/build_html.py
  man/build_rest.py
  man/sphinx/conf.py
  python/grass/docs/conf.py
  python/grass/script/core.py
  python/grass/script/setup.py
  utils/mkhtml.py
Due: man, utils, lib, python library

apply .clang-format (#2715)
  doc/raster/r.example/main.c
  doc/vector/v.example/main.c
Due: none

add commits for 'git blame' to ignore (#2719)
  .git-blame-ignore-revs
Due: none

manual: fix firedemo.sh URL (#2566)
  raster/r.ros/r.ros.html
  raster/r.spread/r.spread.html
  raster/r.spreadpath/r.spreadpath.html
Due: none

wxpyimgview: explicit conversion to int (#2704)
  scripts/wxpyimgview/wxpyimgview_gui.py
Due: scripts

Fix -Wstringop-overflow= and -Warray-parameter= compiler warnings (#2733)
  imagery/i.ortho.photo/lib/orthophoto.h
  imagery/i.segment/iseg.h
  include/grass/defs/ogsf.h
  lib/ogsf/gpd.c
  lib/ogsf/gs2.c
  raster/r.circle/main.c
  raster/r.surf.area/local_proto.h
  vector/v.to.rast/do_lines.c
Due: lib

fix -Wunused-but-set-variable warnings (#2752)
  display/d.grid/plot.c
  include/grass/iostream/ami_sort_impl.h
  lib/gis/parser_wps.c
  lib/gis/spawn.c
  lib/gmath/blas_level_1.c
  lib/lidar/zones.c
  lib/ogsf/gsd_fringe.c
  lib/ogsf/gsd_surf.c
  lib/proj/datum.c
  lib/proj/ellipse.c
  lib/vector/Vlib/break_polygons.c
  lib/vector/Vlib/build.c
  lib/vector/Vlib/snap.c
  lib/vector/vedit/vertex.c
  ps/ps.map/do_geogrid.c
  ps/ps.map/do_grid.c
  raster/r.clump/minsize.c
  raster/r.li/r.li.padrange/padrange.c
  raster/r.li/r.li.patchnum/main.c
  raster/r.mapcalc/map.c
  raster/r.quant/read_rules.c
  raster/r.recode/read_rules.c
  raster/r.resamp.bspline/resamp.c
  raster/r.sim/simlib/hydro.c
  raster/r.topidx/topidx.c
  vector/v.generalize/displacement.c
  vector/v.label.sa/annealing.c
  vector/v.lidar.growing/growing.c
  vector/v.lidar.growing/main.c
  vector/v.net.steiner/main.c
  vector/v.out.vtk/writeVTK.c
  vector/v.overlay/line_area.c
  vector/v.surf.bspline/resamp.c
  vector/v.voronoi/sw_main.c
Due: ps, lib

configure: remove pdal cppflags (#2749)
  configure
  configure.ac
  include/Make/Platform.make.in
  raster/r.in.pdal/Makefile
  vector/v.in.pdal/Makefile
Due: none

Replace sprintf() with snprintf() in C++ code (#2767)
  include/grass/iostream/ami_stream.h
  include/grass/iostream/embuffer.h
  include/grass/iostream/empq_impl.h
  include/grass/iostream/imbuffer.h
  include/grass/iostream/mem_stream.h
  include/grass/iostream/minmaxheap.h
  lib/iostream/ami_stream.cpp
  lib/iostream/rtimer.cpp
  raster/r.in.pdal/main.cpp
  raster/r.terraflow/common.cpp
  raster/r.terraflow/fill.cpp
  raster/r.terraflow/main.cpp
  raster/r.terraflow/nodata.h
  raster/r.terraflow/plateau.h
  raster/r.terraflow/stats.cpp
  raster/r.terraflow/sweep.cpp
  raster/r.terraflow/sweep.h
  raster/r.terraflow/water.cpp
  raster/r.viewshed/main.cpp
  raster/r.watershed/front/main.c
  raster/r.watershed/shed/com_line.c
  raster/r.watershed/shed/print.c
Due: lib

r.mfilter: check return value of write() (#2737)
  raster/r.mfilter/execute.c
Due: none

r.terrafow: explicit use of default constructors (#2660)
  raster/r.terraflow/ccforest.h
  raster/r.terraflow/genericWindow.h
  raster/r.terraflow/sweep.h
Due: none

wxGUI: Console: Export history of executed commands (#2682)
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Due: gui

configure: Improve OpenMP detection (#2692)
  aclocal.m4
  configure
  configure.ac
  include/Make/Grass.make
  include/Make/Platform.make.in
  lib/gmath/Makefile
  lib/gmath/test/Makefile
  lib/gpde/Makefile
  lib/gpde/test/Makefile
  lib/rst/interp_float/Makefile
  lib/temporal/lib/Makefile
  raster/r.mfilter/Makefile
  raster/r.neighbors/Makefile
  raster/r.patch/Makefile
  raster/r.proj/Makefile
  raster/r.resamp.filter/Makefile
  raster/r.resamp.interp/Makefile
  raster/r.series.accumulate/Makefile
  raster/r.series/Makefile
  raster/r.sim/r.sim.sediment/Makefile
  raster/r.sim/r.sim.water/Makefile
  raster/r.sim/simlib/Makefile
  raster/r.slope.aspect/Makefile
  raster/r.sun/Makefile
  raster/r.univar/Makefile
  vector/v.surf.rst/Makefile
Due: lib

Add a Dockerfile that allows building a GRASS GIS Docker image with wxGUI (#2689)
  README.md
  docker/ubuntu/wxgui/Dockerfile
Due: none

r3.in.v5d: Fix -Wliteral-range warning (#2748)
  raster3d/r3.in.v5d/main.c
Due: none

r.proj: Fix a typo (lanzcos => lanczos) (#2722)
  raster/r.proj/r.proj.html
Due: none

r.resamp.filter: implement parallelization with OpenMP (#1759)
  raster/r.resamp.filter/Makefile
  raster/r.resamp.filter/benchmark/benchmark_r_resamp_filter.py
  raster/r.resamp.filter/main.c
  raster/r.resamp.filter/r.resamp.filter.html
  raster/r.resamp.filter/r_resamp_filter_benchmark_size.png
  raster/r.resamp.filter/testsuite/test_r_resamp_filter.py
Due: none

lib/shapelib: upgrade from upstream (#2694)
  lib/external/shapelib/README
  lib/external/shapelib/README.md
  lib/external/shapelib/dbfopen.c
  lib/external/shapelib/safileio.c
  lib/external/shapelib/shapefil.h
  lib/external/shapelib/shpopen.c
Due: lib

docs: Linting markdown files (#2762)
  INSTALL.md
  README.md
  doc/development/rfc/PSC_guidelines.md
  doc/development/rfc/PSC_voting_procedures.md
  doc/development/rfc/language_standards_support.md
  doc/development/rfc/legal_aspects_of_code_contributions.md
  doc/development/rfc/migration_github.md
  doc/howto_release.md
  doc/infrastructure.md
  doc/notebooks/README.md
  docker/README.md
  lib/external/shapelib/README.md
  macosx/ReadMe.md
  python/libgrass_interface_generator/README.md
  testsuite/README.md
Due: lib

Add r.in.pdal test for alpine image (#2758)
  docker/alpine/Dockerfile
  docker/debian/Dockerfile
  docker/ubuntu/Dockerfile
  docker/ubuntu/wxgui/Dockerfile
Due: none

diglib: fix integer overflow (#2735)
  lib/vector/diglib/spindex_rw.c
Due: lib

CI/gcc: remove compiler warning exceptions (#2734)
  .github/workflows/gcc.yml
Due: none

docker: reorganize ubuntu_wxgui for docker image creation (#2764)
  .github/workflows/docker.yml
  README.md
  docker/ubuntu_wxgui/Dockerfile
  docker/ubuntu_wxgui/README.md
Due: none

libproj: Use PJ_TYPE_BOUND_CRS only if Proj version >= 6 (#2744)
  lib/proj/get_proj.c
Due: lib

CI: set -Werror on Ubuntu test builds (#2743)
  .github/workflows/gcc.yml
  .github/workflows/ubuntu.yml
Due: none

r.geomorphon: fix -Wextra compiler warning (#2754)
  raster/r.geomorphon/geom.c
  raster/r.geomorphon/local_proto.h
Due: none

v.in.ogr: Get layer name without definition initialization (#2740)
  vector/v.in.ogr/main.c
Due: none

wxGUI: fix map display combobox option after switching between toolbars (#2625)
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/toolbars.py
Due: gui

i.maxlik: fix crash when classification result is NULL (#2724)
  imagery/i.maxlik/main.c
  imagery/i.maxlik/testsuite/test_i_maxlik.py
Due: none

fix -Wmissing-field-initializers warnings (#2753)
  lib/gis/parser_dependencies.c
  raster/r.in.png/main.c
  raster/r.terraflow/types.h
  raster/r.uslek/prct2tex.c
Due: lib

ximgview: Fix -Wsometimes-uninitialized warning (#2751)
  visualization/ximgview/main.c
Due: none

wxGUI/console: Adding hint to command prompt (#2728)
  gui/wxpython/gui_core/prompt.py
Due: gui

r.viewshed: fix comparison of narrow with wide type in loop (#2649)
  raster/r.viewshed/grass.cpp
Due: none

Fix -Wtype-limits warnings (#2756)
  lib/gis/copy_dir.c
  vector/v.vol.rst/user1.c
Due: lib
