Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Update raster/r.in.lidar/main.c
  raster/r.in.lidar/main.c
Due: none

Update raster/r.in.pdal/string_list.c
  raster/r.in.pdal/string_list.c
Due: none

Update raster/r.in.pdal/string_list.h
  raster/r.in.pdal/string_list.h
Due: none

Update raster3d/r3.in.lidar/main.c
  raster3d/r3.in.lidar/main.c
Due: none

Update scripts/v.in.lines/v.in.lines.py
  scripts/v.in.lines/v.in.lines.py
Due: scripts

Update utils/module_synopsis.sh
  utils/module_synopsis.sh
Due: utils

docs: Add mkdocs site_author, social card bgcolor, and improve nav controls (#5230)
  man/mkdocs/mkdocs.yml
Due: man

Updated grass jupyterintro
  man/Makefile
  man/mkdocs/docs/images/jupyterintro_3D_map.png
  man/mkdocs/docs/images/jupyterintro_hist_plot.png
  man/mkdocs/docs/images/jupyterintro_interactive.png
  man/mkdocs/docs/images/jupyterintro_polar_plot.png
  man/mkdocs/docs/images/jupyterintro_relief_map.png
  man/mkdocs/docs/images/jupyterintro_series_map.gif
  man/mkdocs/docs/images/jupyterintro_static_map.png
  man/mkdocs/docs/jupyterintro.md
Due: man

Updated nav names for jupyter and python interfaces
  man/mkdocs/mkdocs.yml
Due: man

cmake: rewrite of FindReadline and use of imported Readline target
  cmake/find_scripts/FindReadline.cmake
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/Configure.cmake
  raster/r.mapcalc/CMakeLists.txt
Due: none

CI(cmake): run with WITH_READLINE=ON
  .github/workflows/cmake.yml
Due: none

Updated jupyterintro with time series and pandas examples
  man/Makefile
  man/mkdocs/docs/images/jupyterintro_profile_plot.png
  man/mkdocs/docs/images/jupyterintro_time_series_map.png
  man/mkdocs/docs/jupyterintro.md
  man/mkdocs/mkdocs.yml
Due: man

Apply suggestions from code review
  man/mkdocs/index.md
Due: man

addressed review comments
  imagery/i.ifft/testsuite/test_i_ifft.py
Due: none

Added suggested fixes
  raster/r.null/testsuite/test_r_null.py
Due: none

update core modules tests
  python/grass/script/core.py
Due: python library

cmake: use imported Iconv target with CMake's FindIconv (#5305)
  cmake/find_scripts/FindIconv.cmake
  cmake/modules/CheckDependentLibraries.cmake
  lib/CMakeLists.txt
  lib/gis/CMakeLists.txt
Due: lib

r.colors: Fix Resource Leak Issue in stats.c (#5261)
  raster/r.colors/stats.c
Due: none

updated pythonintro
  man/mkdocs/docs/pythonintro.md
Due: man

docs: Build Markdown addon index using core index tooling
  .github/workflows/documentation.yml
  man/Makefile
  man/build_full_index.py
Due: man

Add missing explicit parameter
  man/build_full_index.py
Due: man

Added addition python docs
  man/mkdocs/docs/pythonintro.md
  man/mkdocs/grassdocs.css
Due: man

Update pygrass.raster
  man/mkdocs/docs/pythonintro.md
Due: man

Create page intro section based on core vs addons switch, text based on grass-addons-index.sh from grass-addons
  .github/workflows/documentation.yml
  man/build_full_index.py
  man/build_md.py
Due: man

Fix script path
  .github/workflows/documentation.yml
Due: none

Update grass.pygrass.vector
  man/mkdocs/docs/pythonintro.md
Due: man

v.net: Fix Resource Leak Issue in report.c (#5275)
  vector/v.net/report.c
Due: none

cmake: use of imported SQLite target, drop custom FindSQLite
  cmake/find_scripts/FindSQLite.cmake
  cmake/modules/CheckDependentLibraries.cmake
  db/drivers/CMakeLists.txt
  general/CMakeLists.txt
  include/config.h.cmake.in
Due: none

cmake: rewrite of FindReadline and use of imported Readline target (#5309)
  .github/workflows/cmake.yml
  cmake/find_scripts/FindReadline.cmake
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/Configure.cmake
  raster/r.mapcalc/CMakeLists.txt
Due: none

cmake: use of imported ODBC target
  CMakeLists.txt
  cmake/modules/CheckDependentLibraries.cmake
  db/drivers/CMakeLists.txt
  include/config.h.cmake.in
Due: none

CI(cmake): run with ODBC
  .github/workflows/cmake.yml
Due: none

libgis: Add new standard parser option `G_OPT_M_SEED` (#5281)
  general/g.parser/standard_option.c
  include/grass/gis.h
  lib/gis/parser_standard_options.c
  raster/r.mapcalc/main.c
  raster/r.random.cells/main.c
  raster/r.random.surface/main.c
  raster/r.random/main.c
  raster/r.surf.fractal/main.c
  raster/r.surf.gauss/main.c
  raster/r.surf.random/main.c
  vector/v.perturb/main.c
  vector/v.random/main.c
Due: lib

cmake: use of imported Freetype target
  cmake/modules/CheckDependentLibraries.cmake
  general/CMakeLists.txt
  lib/CMakeLists.txt
  vector/CMakeLists.txt
Due: lib

docs: Add canonical URL to Python API doc (#5308)
  python/grass/docs/conf.py
Due: python library

cmake: use of imported SQLite target, drop custom FindSQLite (#5311)
  cmake/find_scripts/FindSQLite.cmake
  cmake/modules/CheckDependentLibraries.cmake
  db/drivers/CMakeLists.txt
  general/CMakeLists.txt
  include/config.h.cmake.in
Due: none

cmake: use of imported ODBC target (#5312)
  .github/workflows/cmake.yml
  CMakeLists.txt
  cmake/modules/CheckDependentLibraries.cmake
  db/drivers/CMakeLists.txt
  include/config.h.cmake.in
Due: none

docs: Fix r.mask Markdown links
  raster/rasterintro.md
Due: none

build: Add colortables and other files to addon doc
  .github/workflows/documentation.yml
Due: none

tests: Ignore gunittest.main.test() when collection with pytest
  python/grass/gunittest/main.py
Due: gunittest, python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
