Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

docs: Updated nav order and organized file
  man/mkdocs/mkdocs.yml
Due: man

docs: fix markdown image syntax in raster tools
  raster/r.carve/r.carve.md
  raster/r.clump/r.clump.md
  raster/r.contour/r.contour.md
  raster/r.drain/r.drain.md
  raster/r.fill.stats/r.fill.stats.md
  raster/r.geomorphon/r.geomorphon.md
  raster/r.horizon/r.horizon.md
  raster/r.mfilter/r.mfilter.md
  raster/r.neighbors/r.neighbors.md
  raster/r.param.scale/r.param.scale.md
  raster/r.patch/r.patch.md
  raster/r.path/r.path.md
  raster/r.random.surface/r.random.surface.md
  raster/r.relief/r.relief.md
  raster/r.resamp.filter/r.resamp.filter.md
  raster/r.resamp.interp/r.resamp.interp.md
  raster/r.resamp.stats/r.resamp.stats.md
  raster/r.series/r.series.md
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.slope.aspect/r.slope.aspect.md
  raster/r.stats.zonal/r.stats.zonal.md
  raster/r.surf.gauss/r.surf.gauss.md
  raster/r.surf.random/r.surf.random.md
  raster/r.terraflow/r.terraflow.md
  raster/r.texture/r.texture.md
  raster/r.topidx/r.topidx.md
  raster/r.univar/r.univar.md
  raster/r.viewshed/r.viewshed.md
  raster/r.volume/r.volume.md
  raster/r.walk/r.walk.md
  raster/r.watershed/front/r.watershed.md
Due: none

more fixes
  raster/r.clump/r.clump.md
  raster/r.contour/r.contour.md
  raster/r.fill.stats/r.fill.stats.md
  raster/r.param.scale/r.param.scale.md
  raster/r.patch/r.patch.md
  raster/r.univar/r.univar.md
Due: none

docs: fix markdown image syntax in vector tools
  vector/v.buffer/v.buffer.md
  vector/v.fill.holes/v.fill.holes.md
  vector/v.generalize/v.generalize.md
  vector/v.kernel/v.kernel.md
  vector/v.net.alloc/v.net.alloc.md
  vector/v.net.distance/v.net.distance.md
  vector/v.net.iso/v.net.iso.md
  vector/v.net.path/v.net.path.md
  vector/v.net.salesman/v.net.salesman.md
  vector/v.net.steiner/v.net.steiner.md
  vector/v.overlay/v.overlay.md
  vector/v.perturb/v.perturb.md
  vector/v.random/v.random.md
  vector/v.surf.rst/v.surf.rst.md
  vector/v.to.rast/v.to.rast.md
Due: none

fix linting
  raster/r.terraflow/r.terraflow.md
Due: none

docs: fix markdown image syntax in imagery, display, misc, ps tools and scripts
  display/d.geodesic/d.geodesic.md
  display/d.grid/d.grid.md
  display/d.histogram/d.histogram.md
  display/d.legend/d.legend.md
  display/d.mon/d.mon.md
  display/d.rast.num/d.rast.num.md
  display/d.rast/d.rast.md
  display/d.rgb/d.rgb.md
  display/d.vect.thematic/d.vect.thematic.md
  imagery/i.atcorr/i.atcorr.md
  imagery/i.ortho.photo/i.ortho.photo/i.ortho.photo.md
  imagery/imageryintro.md
  misc/m.measure/m.measure.md
  ps/ps.map/ps.map.md
  scripts/d.correlate/d.correlate.md
  scripts/d.rast.edit/d.rast.edit.md
  scripts/i.pansharpen/i.pansharpen.md
  scripts/i.tasscap/i.tasscap.md
  scripts/r.blend/r.blend.md
  scripts/r.colors.stddev/r.colors.stddev.md
  scripts/r.drain/r.drain.md
  scripts/r.plane/r.plane.md
  scripts/v.centroids/v.centroids.md
  scripts/v.clip/v.clip.md
Due: ps, scripts

docs: fix code snippet languages
  display/displaydrivers.md
  general/g.findfile/g.findfile.md
  general/g.parser/g.parser.md
  general/g.version/g.version.md
  lib/init/grass.md
  raster/r.category/r.category.md
  raster/r.horizon/r.horizon.md
  raster/r.in.lidar/r.in.lidar.md
  raster/r.info/r.info.md
  raster/r.mask.status/r.mask.status.md
  raster/r.object.geometry/r.object.geometry.md
  raster/r.profile/r.profile.md
  raster/r.report/r.report.md
  raster/r.solute.transport/r.solute.transport.md
  raster/r.sun/r.sun.md
  raster/r.univar/r.univar.md
  scripts/i.band.library/i.band.library.md
  temporal/t.rast.list/t.rast.list.md
  vector/v.db.select/v.db.select.md
  vector/v.distance/v.distance.md
  vector/v.info/v.info.md
  vector/v.univar/v.univar.md
Due: scripts, lib

docs: Moved all conf sections about nav section
  man/mkdocs/mkdocs.yml
Due: man

docs: fix code snippet languages (#5095)
  display/displaydrivers.md
  general/g.findfile/g.findfile.md
  general/g.parser/g.parser.md
  general/g.version/g.version.md
  lib/init/grass.md
  raster/r.category/r.category.md
  raster/r.horizon/r.horizon.md
  raster/r.in.lidar/r.in.lidar.md
  raster/r.info/r.info.md
  raster/r.mask.status/r.mask.status.md
  raster/r.object.geometry/r.object.geometry.md
  raster/r.profile/r.profile.md
  raster/r.report/r.report.md
  raster/r.solute.transport/r.solute.transport.md
  raster/r.sun/r.sun.md
  raster/r.univar/r.univar.md
  scripts/i.band.library/i.band.library.md
  temporal/t.rast.list/t.rast.list.md
  vector/v.db.select/v.db.select.md
  vector/v.distance/v.distance.md
  vector/v.info/v.info.md
  vector/v.univar/v.univar.md
Due: scripts, lib

simwe: fix newly reported coverity scan issues
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/simlib/input.c
Due: none

doc: Redefine r.mapcalc dependencies for color table thumbnails
  raster/Makefile
  raster/r.colors/Makefile
Due: none

restructure observations
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
  raster/r.sim/simlib/observation_points.c
  raster/r.sim/simlib/simlib.h
  raster/r.sim/simlib/waterglobs.h
Due: none

ci: Remove Travis-CI
  .dockerignore
  .github/labeler.yml
  .travis.yml
  .travis/linux.before_install.sh
  .travis/linux.install.sh
  .travis/linux.script.sh
  README.md
  doc/infrastructure.md
  python/grass/docs/src/gunittest_testing.rst
Due: python library

docs: fix building markdown documentation
  general/g.region/g.region.md
  gui/wxpython/docs/wxGUI.iscatt.md
  imagery/i.gensigset/i.gensigset.md
  raster/r.resamp.filter/r.resamp.filter.md
  raster/r.surf.idw/r.surf.idw.md
  utils/mkdocs.py
  vector/v.label.sa/v.label.sa.md
  vector/v.random/v.random.md
Due: gui, utils

build: Remove BLAS and LAPACK from config
  .github/workflows/build_ubuntu-22.04_without_x.sh
Due: none

address review
  raster/r.terraflow/r.terraflow.md
Due: none

move change to another PR
  utils/mkdocs.py
Due: utils

build: fix g.extension test
  utils/mkdocs.py
Due: utils

ci: Remove Travis-CI (#5099)
  .dockerignore
  .github/labeler.yml
  .travis.yml
  .travis/linux.before_install.sh
  .travis/linux.install.sh
  .travis/linux.script.sh
  README.md
  doc/infrastructure.md
  python/grass/docs/src/gunittest_testing.rst
Due: python library

docs: Edit and view on GitHub features
  man/Makefile
  man/mkdocs/mkdocs.yml
  man/mkdocs/overrides/partials/actions.html
  man/mkdocs/scripts/hook_list_scripts.py
Due: man

docs: fix building markdown documentation (#5100)
  general/g.region/g.region.md
  gui/wxpython/docs/wxGUI.iscatt.md
  imagery/i.gensigset/i.gensigset.md
  raster/r.resamp.filter/r.resamp.filter.md
  raster/r.surf.idw/r.surf.idw.md
  vector/v.label.sa/v.label.sa.md
  vector/v.random/v.random.md
Due: gui

build: Fix g.extension test (#5102)
  utils/mkdocs.py
Due: utils

docs: fix markdown image syntax in imagery, display, misc, ps tools and scripts (#5094)
  display/d.geodesic/d.geodesic.md
  display/d.grid/d.grid.md
  display/d.histogram/d.histogram.md
  display/d.legend/d.legend.md
  display/d.mon/d.mon.md
  display/d.rast.num/d.rast.num.md
  display/d.rast/d.rast.md
  display/d.rgb/d.rgb.md
  display/d.vect.thematic/d.vect.thematic.md
  imagery/i.atcorr/i.atcorr.md
  imagery/i.ortho.photo/i.ortho.photo/i.ortho.photo.md
  imagery/imageryintro.md
  misc/m.measure/m.measure.md
  ps/ps.map/ps.map.md
  scripts/d.correlate/d.correlate.md
  scripts/d.rast.edit/d.rast.edit.md
  scripts/i.pansharpen/i.pansharpen.md
  scripts/i.tasscap/i.tasscap.md
  scripts/r.blend/r.blend.md
  scripts/r.colors.stddev/r.colors.stddev.md
  scripts/r.drain/r.drain.md
  scripts/r.plane/r.plane.md
  scripts/v.centroids/v.centroids.md
  scripts/v.clip/v.clip.md
Due: ps, scripts

Standardize mapset string comparisons
  temporal/t.register/testsuite/test_t_register_raster_file.py
Due: none

added context managers
  temporal/t.rast.colors/t.rast.colors.py
  temporal/t.rast.series/t.rast.series.py
Due: none

update pyproject.toml
  pyproject.toml
Due: none

doc: Redefine r.mapcalc build dependencies for color table thumbnails (#5098)
  raster/Makefile
  raster/r.colors/Makefile
Due: none

Delete .github/workflows/python-app.yml
  .github/workflows/python-app.yml
Due: none

Update test_vgeneralize.py
  vector/v.generalize/test_suites/test.py
  vector/v.generalize/test_suites/test_vgeneralize.py
Due: none

Create test_coordinates.txt and update test_vgeneralize.py
  vector/v.generalize/test_suites/test_coordinates.txt
Due: none

ci: Remove Travis-CI (backport)
  .dockerignore
  .github/labeler.yml
  .travis.yml
  .travis/linux.before_install.sh
  .travis/linux.install.sh
  .travis/linux.script.sh
  README.md
  doc/infrastructure.md
  python/grass/docs/src/gunittest_testing.rst
Due: python library

docker: build gdal-grass with CMake
  Dockerfile
  docker/alpine/Dockerfile
  docker/ubuntu/Dockerfile
Due: none

docker: build gdal-grass with CMake (#5106)
  Dockerfile
  docker/alpine/Dockerfile
  docker/ubuntu/Dockerfile
Due: none

docker: pin gdal-grass version to 1.0.3; add cmake dep
  Dockerfile
  docker/alpine/Dockerfile
  docker/ubuntu/Dockerfile
Due: none

use GDAL_GRASS_VERSION
  Dockerfile
  docker/alpine/Dockerfile
  docker/ubuntu/Dockerfile
Due: none

add renovate
  Dockerfile
  docker/alpine/Dockerfile
  docker/ubuntu/Dockerfile
Due: none

use '--depth 1'
  Dockerfile
  docker/alpine/Dockerfile
  docker/ubuntu/Dockerfile
Due: none

docker: pin gdal-grass version to 1.0.3; add cmake dep (#5108)
  Dockerfile
  docker/alpine/Dockerfile
  docker/ubuntu/Dockerfile
Due: none

lib/vector/Vlib: fix segfault introduced with #5038
  lib/vector/Vlib/net_build.c
Due: lib

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
