Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Fix Ruff RET505 [*] Unnecessary after statement error
  gui/wxpython/startup/locdownload.py
Due: gui

Revert "Fix tests"
  gui/wxpython/startup/locdownload.py
Due: gui

Fix showing info bar message Abort button widget
  gui/wxpython/datacatalog/infomanager.py
  gui/wxpython/gui_core/infobar.py
  gui/wxpython/startup/locdownload.py
Due: gui

Incorporate suggestion
  gui/wxpython/startup/locdownload.py
Due: gui

Refactor tests
  gui/wxpython/startup/locdownload.py
Due: gui

Fix handling of multiline #define directives in ctypesgen parser
  python/libgrass_interface_generator/ctypesgen/parser/pplexer.py
  python/libgrass_interface_generator/ctypesgen/parser/preprocessor.py
Due: none

Argument cannot be negative
  raster/r.terraflow/stats.cpp
Due: none

GUI/datacatalog: add functions for disabling processing events about mapset content changes
  gui/wxpython/datacatalog/tree.py
Due: gui

Fix Copy into fixed buffer size issues
  vector/v.in.dxf/write_vect.c
Due: none

Shorten example output
  vector/v.vect.stats/v.vect.stats.md
Due: none

Add /Zc:preprocessor flag for MSVC compiler in ctypesgen preprocessor
  python/libgrass_interface_generator/ctypesgen/parser/preprocessor.py
Due: none

Add Windows guard to unistd.h include
  include/grass/segment.h
Due: none

v.vect.stats: Add JSON and CSV support (#6345)
  vector/CMakeLists.txt
  vector/v.vect.stats/Makefile
  vector/v.vect.stats/main.c
  vector/v.vect.stats/testsuite/test_vect_stats.py
  vector/v.vect.stats/v.vect.stats.md
Due: none

docker: Change Debian base image to 12.5-slim
  docker/debian/Dockerfile
Due: none

Use a dash (documented for MSVC) to be consistent
  python/libgrass_interface_generator/ctypesgen/parser/preprocessor.py
Due: none

Add a comment
  python/libgrass_interface_generator/ctypesgen/parser/preprocessor.py
Due: none

CMake: Add -Imsvc for ctypesgen
  python/libgrass_interface_generator/CMakeLists.txt
Due: none

ctypesgen: Add /Zc:preprocessor flag for MSVC compiler in ctypesgen preprocessor (#6371)
  python/libgrass_interface_generator/ctypesgen/parser/preprocessor.py
Due: none

Windows: Add Jupyter dependencies to GRASS daily builds (#6289)
  mswindows/osgeo4w/setup.hint.tmpl
Due: none

python: resolve osgeo.gdal exception warnings (#6340)
  gui/wxpython/core/ws.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/modules/import_export.py
  scripts/r.in.wms/wms_drv.py
  scripts/r.in.wms/wms_gdal_drv.py
  scripts/v.import/v.import.py
Due: gui, scripts

CMake: Add -Imsvc for ctypesgen (#6374)
  python/libgrass_interface_generator/CMakeLists.txt
Due: none

docker: Change Debian base image to 12.5-slim (#6373)
  docker/debian/Dockerfile
Due: none

Translated using Weblate (French)
  locale/po/grassmods_fr.po
  locale/po/grasswxpy_fr.po
Due: none

Translations update from OSGeo Weblate (#6380)
  locale/po/grassmods_fr.po
  locale/po/grasswxpy_fr.po
Due: none

software-properties-common is removed from Debian Trixie
  docker/debian/Dockerfile
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

Fix Resource Leak Issue
  lib/db/dbmi_client/select.c
Due: lib

Revert PDAL to 2.7.1 in docker/ubuntu_wxgui/Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Due: none

CMake: Create grass.bat and add scripts to PATH
  lib/init/CMakeLists.txt
  python/grass/app/runtime.py
Due: lib, python library

Fix Resource Leak Issue
  raster/r.distance/report.c
Due: none

wxGUI/main_window: fix displaying save workspace dialog before close workspace action
  gui/wxpython/main_window/frame.py
Due: gui

wxGUI/main_window: fix displaying save workspace dialog before close workspace action (#6387)
  gui/wxpython/main_window/frame.py
Due: gui

add check for collapsed lines
  vector/v.overlay/area_area.c
Due: none

Fix Resource Leak Issue
  lib/raster/reclass.c
Due: lib

modify
  lib/raster/reclass.c
Due: lib

Formatting
  lib/raster/reclass.c
Due: lib

v.overlay: fix collapsed lines after snapping (#6388)
  vector/v.overlay/area_area.c
Due: none

r.terraflow: Fixing Argument cannot be negative issue in stats.cpp (#6368)
  raster/r.terraflow/stats.cpp
Due: none

lib: Fix Resource Leak Issue in select.c (#6382)
  lib/db/dbmi_client/select.c
Due: lib

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
