Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

Apply ruff suggestions
  gui/wxpython/main_window/frame.py
Due: gui

Save work in progress
  raster/r.out.vtk/r.out.vtk.html
Due: none

update gjson unit test
  lib/Makefile
  lib/external/parson/gjson.c
  lib/external/parson/test/test_gjson_lib.h
  lib/external/parson/test/test_main.c
  lib/external/parson/test/test_parson_wrapper.c
  lib/external/parson/testsuite/gjson_lib_test.py
Due: lib

fixes function prototype
  lib/external/parson/test/test_parson_wrapper.c
Due: lib

Fix Resource Leak issue
  raster3d/r3.out.v5d/main.c
Due: none

Formatting
  raster3d/r3.out.v5d/main.c
Due: none

Fix Resource Leak issue
  imagery/i.group/main.c
Due: none

Update README.md
  doc/raster/r.example.segmulti/README.md
Due: none

Apply suggestions from code review
  python/grass/jupyter/map.py
  python/grass/jupyter/map3d.py
Due: notebooks (jupyter), python library

Fix Resource Leak
  ps/ps.map/ps_vpoints.c
Due: ps

change markdown fenced code blocks from bash to shell
  utils/pandoc_codeblock.lua
Due: utils

style: Fix pointless-string-statement / W0105
  gui/wxpython/core/globalvar.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/gui_core/vselect.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/iscatt/iscatt_core.py
  gui/wxpython/iscatt/plots.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/rlisetup/sampling_frame.py
  python/grass/pygrass/gis/__init__.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/raster/testsuite/test_category.py
  python/grass/pygrass/raster/testsuite/test_history.py
  python/grass/pygrass/raster/testsuite/test_numpy.py
  python/grass/pygrass/raster/testsuite/test_pygrass_raster.py
  python/grass/pygrass/raster/testsuite/test_raster_img.py
  python/grass/pygrass/raster/testsuite/test_raster_region.py
  python/grass/pygrass/utils.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/table.py
  python/grass/pygrass/vector/testsuite/test_geometry.py
  python/grass/pygrass/vector/testsuite/test_geometry_attrs.py
  python/grass/pygrass/vector/testsuite/test_table.py
  python/grass/pygrass/vector/testsuite/test_vector.py
  python/grass/pygrass/vector/testsuite/test_vector3d.py
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra_grs.py
  scripts/g.extension/g.extension.py
  temporal/t.rast.import/testsuite/test_temporal_rast_import.py
Due: gui, scripts, pygrass, python library

Fix colors with default
  display/d.vect/lines.c
Due: none

Formatting
  display/d.vect/lines.c
Due: none

Update plots.py
  gui/wxpython/iscatt/plots.py
Due: gui

style: Fix pointless-string-statement / W0105 (#4872)
  gui/wxpython/core/globalvar.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/gui_core/vselect.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/iscatt/iscatt_core.py
  gui/wxpython/iscatt/plots.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/rlisetup/sampling_frame.py
  python/grass/pygrass/gis/__init__.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/raster/testsuite/test_category.py
  python/grass/pygrass/raster/testsuite/test_history.py
  python/grass/pygrass/raster/testsuite/test_numpy.py
  python/grass/pygrass/raster/testsuite/test_pygrass_raster.py
  python/grass/pygrass/raster/testsuite/test_raster_img.py
  python/grass/pygrass/raster/testsuite/test_raster_region.py
  python/grass/pygrass/utils.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/table.py
  python/grass/pygrass/vector/testsuite/test_geometry.py
  python/grass/pygrass/vector/testsuite/test_geometry_attrs.py
  python/grass/pygrass/vector/testsuite/test_table.py
  python/grass/pygrass/vector/testsuite/test_vector.py
  python/grass/pygrass/vector/testsuite/test_vector3d.py
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra_grs.py
  scripts/g.extension/g.extension.py
  temporal/t.rast.import/testsuite/test_temporal_rast_import.py
Due: gui, scripts, pygrass, python library

gui: Fix possibly unbound variables in psmap.utils.BBoxAfterRotation
  gui/wxpython/psmap/utils.py
Due: gui

gui: Fix using formatting for a string that does not have any interpolated variables in core.menutree
  gui/wxpython/core/menutree.py
Due: gui

gui: Fix possibly unbound variables in psmap.utils.BBoxAfterRotation (#4873)
  gui/wxpython/psmap/utils.py
Due: gui

gui: Fix using formatting for a string that does not have any interpolated variables in core.menutree (#4874)
  gui/wxpython/core/menutree.py
Due: gui

gui: Fix possibly indexing None in psmap.utils.convertRGB
  gui/wxpython/psmap/utils.py
  python/grass/script/core.py
Due: gui, python library

gui: Fix possibly indexing None in psmap.utils.convertRGB (#4875)
  gui/wxpython/psmap/utils.py
  python/grass/script/core.py
Due: gui, python library
