Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

r.clump manual: screenshots added (#902)
  raster/r.clump/r.clump.html
  raster/r.clump/r_clump_lakes.png
  raster/r.clump/r_clump_lsat.png
Due: none

libproj (#939)
  display/d.grid/plot.c
  display/d.where/main.c
  general/g.region/printwindow.c
  lib/proj/do_proj.c
Due: lib

init: Change the history file according to the current mapset for Bash and GUI (#930)
  general/g.mapset/main.c
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/vnet/dialogs.py
  lib/init/grass.py
Due: gui, lib

imagery lib
  lib/imagery/group.c
Due: lib

r.out.gdal: fix building overviews
  raster/r.out.gdal/main.c
Due: none

wxGUI/forms: Add giface to standalone forms and fix history in giface (#971)
  gui/wxpython/core/giface.py
  gui/wxpython/gui_core/forms.py
Due: gui

r.geomorphon: Spell "flatness" correctly (#982)
  locale/po/grassmods_ar.po
  locale/po/grassmods_bn.po
  locale/po/grassmods_cs.po
  locale/po/grassmods_de.po
  locale/po/grassmods_el.po
  locale/po/grassmods_es.po
  locale/po/grassmods_fi.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_hu.po
  locale/po/grassmods_id_ID.po
  locale/po/grassmods_it.po
  locale/po/grassmods_ja.po
  locale/po/grassmods_ko.po
  locale/po/grassmods_lv.po
  locale/po/grassmods_ml.po
  locale/po/grassmods_pl.po
  locale/po/grassmods_pt.po
  locale/po/grassmods_pt_BR.po
  locale/po/grassmods_ro.po
  locale/po/grassmods_ru.po
  locale/po/grassmods_si.po
  locale/po/grassmods_sl.po
  locale/po/grassmods_ta.po
  locale/po/grassmods_th.po
  locale/po/grassmods_tr.po
  locale/po/grassmods_uk.po
  locale/po/grassmods_vi.po
  locale/po/grassmods_zh.po
  locale/po/grassmods_zh_CN.po
  raster/r.geomorphon/main.c
Due: none

r.geomorphon: Translate a C comment into English (#972)
  raster/r.geomorphon/pattern.c
Due: none

g.extension: fix module launch with compile '-i' or download '-d' flag (#938)
  scripts/g.extension/g.extension.py
Due: scripts

docker version matrix: update Alpine version
  docker/README.md
Due: none

r.grow.distance: update module description with value raster (#983)
  raster/r.grow.distance/main.c
Due: none

init: Change the history file according to mapset for zsh (#975)
  general/g.mapset/main.c
  lib/init/grass.py
Due: lib

libgis parser: an empty string is not an answer (#958)
  lib/gis/parser.c
Due: lib

r.carve manual: fix example for stream vector (#968)
  raster/r.carve/r.carve.html
Due: none

i18N: fixed missing Last-Translator field
  locale/po/grasslibs_bn.po
  locale/po/grasslibs_zh_CN.po
  locale/po/grassmods_bn.po
  locale/po/grassmods_id_ID.po
  locale/po/grassmods_ml.po
  locale/po/grassmods_si.po
  locale/po/grassmods_uk.po
  locale/po/grassmods_zh_CN.po
  locale/po/grasswxpy_bn.po
  locale/po/grasswxpy_id_ID.po
  locale/po/grasswxpy_si.po
  locale/po/grasswxpy_uk.po
  locale/po/grasswxpy_zh_CN.po
Due: none

doc: Use gs as alias for grass.script in doc (#282)
  display/displaydrivers.html
  doc/python/README
  doc/python/m.distance.py
  doc/python/script/r.example.py
  docker/testdata/test_grass_session.py
  general/g.parser/g.parser.html
  general/g.parser/test.py
  gui/wxpython/gui_core/pyedit.py
  gui/wxpython/lmgr/pyshell.py
  lib/gis/parser_script.c
  lib/init/grass7.html
  lib/python/docs/src/index.rst
  lib/python/docs/src/script_intro.rst
  lib/python/docs/src/temporal_framework.rst
  lib/python/script/array.py
  lib/python/script/core.py
  lib/python/script/setup.py
  lib/python/script/testsuite/test_script_raster.py
  lib/python/temporal/space_time_datasets.py
  raster/r.in.lidar/r.in.lidar.html
  raster/r.solute.transport/example.py
  raster/r.solute.transport/r.solute.transport.html
  scripts/g.extension/testsuite/data/sample_modules/r.plus.example/r.plus.example.py
Due: gui, scripts, lib

macOS: modernize app bundle info (#941)
  macosx/Makefile
  macosx/app/AppIcon.icns
  macosx/app/GRASSDocument_gxw.icns
  macosx/app/GRASSDocument_gxw.svg
  macosx/app/Info.plist.in
  macosx/app/Makefile
Due: none

build: Case-insensitive check for GRASS in prefix (#949)
  include/Make/Install.make
Due: none

docker: fix README.md names (#984)
  docker/alpine/README.md
  docker/debian/README.md
  docker/ubuntu/README.md
Due: none

howto_release.md: new trick for extracting Wiki changes
  doc/howto_release.md
Due: none

grass.spec: sync to Fedora master
  rpm/grass.spec
Due: none

libpython: explain verbosity levels (#998)
  lib/python/script/core.py
Due: lib

more proofreading for r.geomorphon (#991)
  locale/po/grassmods_ar.po
  locale/po/grassmods_bn.po
  locale/po/grassmods_cs.po
  locale/po/grassmods_de.po
  locale/po/grassmods_el.po
  locale/po/grassmods_es.po
  locale/po/grassmods_fi.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_hu.po
  locale/po/grassmods_id_ID.po
  locale/po/grassmods_it.po
  locale/po/grassmods_ja.po
  locale/po/grassmods_ko.po
  locale/po/grassmods_lv.po
  locale/po/grassmods_ml.po
  locale/po/grassmods_pl.po
  locale/po/grassmods_pt.po
  locale/po/grassmods_pt_BR.po
  locale/po/grassmods_ro.po
  locale/po/grassmods_ru.po
  locale/po/grassmods_si.po
  locale/po/grassmods_sl.po
  locale/po/grassmods_ta.po
  locale/po/grassmods_th.po
  locale/po/grassmods_tr.po
  locale/po/grassmods_uk.po
  locale/po/grassmods_vi.po
  locale/po/grassmods_zh.po
  locale/po/grassmods_zh_CN.po
  raster/r.geomorphon/main.c
  raster/r.geomorphon/r.geomorphon.html
Due: none

v.info/v.proj: fix printing UTM zone (#892) (#977)
  lib/vector/Vlib/header.c
  vector/v.info/print.c
  vector/v.proj/main.c
Due: lib

Duplicate entry of "output" keyword (#1001)
  vector/v.out.ogr/main.c
Due: none

howto_release.md: update after grass.osgeo.org migration
  doc/howto_release.md
Due: none

r.geomorphon: Fix an out-of-bounds read w/multires (#995)
  raster/r.geomorphon/main.c
Due: none

python verbosity docs: minor layout fixes (#1004)
  lib/python/script/core.py
Due: lib

g.search.modules: without keywords, list all modules (#989)
  scripts/g.search.modules/g.search.modules.py
  scripts/g.search.modules/testsuite/test_g_search_modules.py
Due: scripts

Dockerfiles: install git before build (#990)
  docker/alpine/Dockerfile_alpine
  docker/alpine/Dockerfile_alpine_latest
  docker/alpine/Dockerfile_alpine_wxgui
Due: none

g.version manual: more on "revision=exported"
  general/g.version/g.version.html
Due: none

libgis: add read/write functions for WKT and srid (#976)
  general/g.proj/create.c
  general/g.proj/input.c
  general/g.proj/local_proto.h
  general/g.proj/main.c
  general/g.proj/output.c
  include/defs/gis.h
  include/gis.h
  include/gprojects.h
  lib/gis/get_projinfo.c
  lib/gis/make_loc.c
  lib/gis/proj3.c
Due: lib

Alpine docker: gdal-tools added
  docker/alpine/Dockerfile_alpine
Due: none

howto_release.md: do not ship leftover parser/lextab.py
  doc/howto_release.md
Due: none

g.version manual: explain "revision=exported"
  general/g.version/g.version.html
Due: none

Fix spelling errors. (#992)
  raster/rasterintro.html
Due: none

catalog: use natural sort (#1012)
  gui/wxpython/core/treemodel.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/gselect.py
  lib/python/script/utils.py
Due: gui, lib

minor docstring fix
  lib/python/script/core.py
Due: lib

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
