Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

refactor: add resolve_tool_name helper for CLI alias mapping
  python/grass/app/cli.py
Due: python library

tests: add coverage for CLI alias resolution
  python/grass/app/tests/grass_app_cli_test.py
Due: python library

tests: add focused coverage for CLI alias resolution
  python/grass/app/tests/grass_app_cli_alias_test.py
Due: python library

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

Translations update from OSGeo Weblate (#7302)
  locale/po/grassmods_fr.po
  locale/po/grasswxpy_fr.po
Due: none

macOS: update libLAS to latest for GDAL 3.12 support (#7303)
  macos/files/liblas-install.sh
Due: none

small refactoring and extending WebView2 catch to multi-window GUI
  gui/wxpython/jupyter_notebook/utils.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Due: gui

Vasheks doc rewrite - better way of communicating what the Jupyter NB integration to GUI means
  doc/jupyter_intro.md
Due: none

macOS: use default config dir consistently
  include/grass/gis.h
  lib/gis/home.c
  lib/init/grass.py
  macos/files/grass.sh.in
  python/grass/app/runtime.py
Due: lib, python library

prefix FALLTHROUGH
  display/d.labels/do_labels.c
  imagery/i.atcorr/geomcond.cpp
  include/grass/gis.h
  lib/nviz/map_obj.c
  ps/ps.map/scan_ref.c
  vector/v.in.dxf/dxf_to_vect.c
Due: ps, lib

Update temporal/t.rast.aggregate/testsuite/test_aggregation_absolute.py
  temporal/t.rast.aggregate/testsuite/test_aggregation_absolute.py
Due: none

macOS: use default config dir consistently (#7307)
  include/grass/gis.h
  lib/gis/home.c
  lib/init/grass.py
  macos/files/grass.sh.in
  python/grass/app/runtime.py
Due: lib, python library

Address review: fix NPROCS logic, session projections, and consolidate tests
  python/grass/jupyter/tests/grass_jupyter_utils_test.py
Due: notebooks (jupyter), python library

lib/shapelib: sync upstream with shapelib 1.6.2 and GDAL 3.12.3 (#7279)
  lib/external/shapelib/README.md
  lib/external/shapelib/dbfopen.c
  lib/external/shapelib/safileio.c
  lib/external/shapelib/shapefil.h
  lib/external/shapelib/shpopen.c
Due: lib

build: Avoid network access during doc generation for local builds
  utils/mkdocs.py
Due: utils

Optimize test fixtures to fix CI timeouts
  python/grass/jupyter/tests/grass_jupyter_utils_test.py
Due: notebooks (jupyter), python library

Fix file path collision during parallel test setups
  python/grass/jupyter/tests/grass_jupyter_utils_test.py
Due: notebooks (jupyter), python library

fix: final formatting
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

Update python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

pygrass: fix Python 3.14 pickling error in grid tests
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

final fix: formatting applied
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

fix: use set for exitcode check
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

fix: convert line endings to LF
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

fix: correct indentation and cleanup in test_cleans
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

final fix: correct subprocess handling
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

fix: propagate GridModule errors via sys.exit in subprocess
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

fix: remove xfail_mp_spawn decorators as pickling is now fixed
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

Update python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/grid/grid.py
Due: pygrass, python library

fix: correct line endings
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library
