Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

lib: fix missing prototypes (#4191)
  .github/workflows/macos_install.sh
  include/grass/la.h
  lib/db/sqlp/sqlp.l
  raster/r.report/global.h
  raster/r.report/prt_json.c
Due: lib

configure: update to latest config.guess and config.sub (#4161)
  config.guess
  config.sub
Due: none

Checks: Fix flake8 F841 (local variable assigned to but never used) in /temporal/t.rast.to.vect (#4206)
  .flake8
  temporal/t.rast.to.vect/t.rast.to.vect.py
  temporal/t.rast.to.vect/testsuite/test_to_vect.py
Due: none

grass.jupyter: Ensure width and height in InteractiveMap are integers (#4221)
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

init: Use pathlib Path.write_text for writefile in the main executable (#4235)
  lib/init/grass.py
Due: lib

r3.showdspf: fix null pointer dereference when opening database file (#4245)
  raster3d/r3.showdspf/main_ogl.c
Due: none

startup: Change Location to Project in first-time user messages (#4193)
  gui/wxpython/datacatalog/infomanager.py
Due: gui

init: Use pathlib Path.read_text for readfile in main executable (#4234)
  lib/init/grass.py
Due: lib

gui: replace python imp library with importlib for python 3.12 (#4201)
  gui/wxpython/core/gconsole.py
Due: gui

CI(python): Enable printing of all Python warnings with PYTHONWARNINGS (#4210)
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/ubuntu.yml
Due: none

g.download.project: rename g.download.location (#4187)
  .github/workflows/macos.yml
  .github/workflows/test_thorough.bat
  .github/workflows/test_thorough.sh
  scripts/Makefile
  scripts/g.download.location/g.download.location.html
  scripts/g.download.location/g.download.location.py
  scripts/g.download.project/Makefile
  scripts/g.download.project/g.download.project.html
  scripts/g.download.project/g.download.project.py
Due: scripts

r3.showdspf: fix accessing uninitialized pointer (#4246)
  raster3d/r3.showdspf/get_color_ogl.c
Due: none

grass.temporal.core: Replace open file + read with pathlib.Path's read_text() (#4233)
  python/grass/temporal/core.py
Due: python library

docs: add guidelines for writing a meaningful pull request (#4197)
  doc/development/github_guide.md
Due: none

CI(pytest): Run pytest tests with Python 3.13 (#4209)
  .github/workflows/pytest.yml
Due: none

wxGUI: fix adding and removing from history for new mapset (#4228)
  gui/wxpython/history/tree.py
Due: gui

db.describe: fix illegal memory access report (#4202)
  db/db.describe/main.c
Due: none

r.out.png: fix consecutive fclose calls on same pointer (#4214)
  raster/r.out.png/main.c
Due: none

wxGUI: Update link to the Natural Earth sample dataset (#4223)
  gui/wxpython/startup/locdownload.py
Due: gui

Fix Unbounded Source Buffer
  display/d.mon/main.c
Due: none

Delete unused variables and lines to fix F841
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/gui_core/pystc.py
  gui/wxpython/gui_core/widgets.py
Due: gui

Update `.flake8` according to F841 fixes
  .flake8
Due: none

GUI: fix verbose checkbox behavior in tool dialogs (#4257)
  gui/wxpython/gui_core/forms.py
Due: gui

display lib D_show_conversions(): %.1f to %g where values likely to be smaller than 0.0; whitespace tweaks
  lib/display/cnversions.c
Due: lib

add int8 test data
  raster/r.in.gdal/testsuite/data/int8.tif
  raster/r.in.gdal/testsuite/data/int8.vrt
Due: none

add int8 test
  raster/r.in.gdal/testsuite/test_r_in_gdal.py
Due: none

import stdint.h
  lib/raster/get_row.c
Due: lib

Update get_row.c
  lib/raster/get_row.c
Due: lib

v.in.dwg: Avoid using same variable as parameter and dest in sprintf
  vector/v.in.dwg/main.c
Due: none

make clang-format happy; fix missing digit
  lib/display/cnversions.c
Due: lib

CI: allow core library functions through in PR titles
  utils/release.yml
Due: utils

contributing: modernize 'git remote -v' output
  doc/development/github_guide.md
Due: none

skip test for GDAL < 3.7
  raster/r.in.gdal/testsuite/test_r_in_gdal.py
Due: none

Added checks in file
  display/d.mon/list.c
  display/d.mon/main.c
  display/d.mon/stop.c
Due: none

added checks
  display/d.mon/list.c
Due: none

skip Int8 test for GDAL < 3.7
  raster/r.in.gdal/testsuite/test_r_in_gdal.py
Due: none

lib/display: D_show_conversions() %.1f to %g where values likely to be smaller than 0.0 (#4263)
  lib/display/cnversions.c
Due: lib

docker: fix missing library in ubuntu wxgui Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Due: none

also install 'python3-wxgtk4.0'
  docker/ubuntu_wxgui/Dockerfile
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
