Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

pylint: add per-file ignore for unused imports in vdigit and nviz and keep original code
  gui/wxpython/nviz/main.py
  gui/wxpython/vdigit/main.py
Due: gui

python: enable B006 (mutable default argument) for non-GUI code
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

r.grow: avoid r.mapcalc parse error for small radius by fixing string formatting (#6737)
  scripts/r.grow/r.grow.py
  scripts/r.grow/testsuite/test_r_grow.py
Due: scripts

Apply suggestions from code review
  pyproject.toml
Due: none

address review
  raster/r.mapcalc/main.c
Due: none

docs: update figure description for r.neighbors
  raster/r.neighbors/r.neighbors.html
  raster/r.neighbors/r.neighbors.md
Due: none

docs: update figure description for r.neighbors (#6744)
  raster/r.neighbors/r.neighbors.html
  raster/r.neighbors/r.neighbors.md
Due: none

[deprecated] placements
  db/db.select/main.c
Due: none

nitpicks
  db/db.select/main.c
Due: none

Remove flags parameter from mapcalc and mapcalc_start function
  python/grass/script/raster.py
Due: python library

Fixes #5839 view url creation
  man/mkdocs/overrides/partials/actions.html
Due: man

Update renovate.json5
  renovate.json5
Due: none

Add backwards compatibility for seed='auto' in mapcalc functions
  python/grass/script/raster.py
  python/grass/script/tests/grass_script_raster_mapcalc_test.py
Due: python library

line adjust
  python/grass/script/tests/grass_script_raster_mapcalc_test.py
Due: python library

CI: Enable renovate updates on releasebranch_8_4 (#6746)
  renovate.json5
Due: none

doc: Updated citation file CITATION.cff (#6039)
  CITATION.cff
Due: none

CI(docker): Fix releasebranch detection pattern
  .github/workflows/docker.yml
Due: none

lower case bool, use only G_set_verbose
  lib/gis/parser.c
Due: lib

CI(docker): Fix releasebranch detection pattern (#6751)
  .github/workflows/docker.yml
Due: none

mkdocs: Fixed incorrect URL replacement in view source button (#6745)
  man/mkdocs/overrides/partials/actions.html
Due: man

json excludes -c flag
  db/db.select/main.c
Due: none

contributing: Update release howto after the 8.4.2 release
  doc/howto_release.md
Due: none

json will be array, and can be read for multiple sql
  db/db.select/main.c
Due: none

refactored code so that on -d empty records array are not displayed
  db/db.select/main.c
Due: none

refactored code + error handling
  db/db.select/main.c
Due: none

added test for multiple queries
  db/db.select/testsuite/test_db_select_json_csv.py
Due: none

test in separate class
  db/db.select/testsuite/test_db_select_json_csv.py
Due: none

comprehensive seed handling tests
  python/grass/script/tests/grass_script_raster_mapcalc_test.py
Due: python library

v.extract: fix double comparison
  vector/v.extract/extract.c
Due: none

v.extract: fix double comparison (#6782)
  vector/v.extract/extract.c
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

store verbosity in shell env
  lib/gis/parser.c
Due: lib

array returned only in case of input, where possibly many sql statement can be present
  db/db.select/main.c
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
