Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

v.build.html - fix manual typo
  vector/v.build/v.build.html
Due: none

Fix Resource Leak
  raster/r.in.poly/poly2rast.c
Due: none

fix resource leak
  lib/gis/copy_dir.c
Due: lib

Fix Resource Leak issue
  raster/r.watershed/seg/close_maps.c
Due: none

fix resource leak for cbuf
  raster/r.watershed/seg/close_maps.c
Due: none

v.build manual typo fix
  vector/v.build/v.build.html
Due: none

Fix typo in python/grass/pygrass/messages/testsuite/test_pygrass_messages_doctests.py
  python/grass/pygrass/messages/testsuite/test_pygrass_messages_doctests.py
Due: pygrass, python library

grass.pygrass.messages: Fix typo in message_server
  python/grass/pygrass/messages/__init__.py
Due: pygrass, python library

grass.pygrass.messages: Missing "IMPORTANT" message type in message_server
  python/grass/pygrass/messages/__init__.py
Due: pygrass, python library

grass.pygrass.messages: Add return type to get_msgr
  python/grass/pygrass/messages/__init__.py
Due: pygrass, python library

grass.pygrass.messages: Add types to signatures in Messenger class and rest of file
  python/grass/pygrass/messages/__init__.py
Due: pygrass, python library

r.in.poly: Fix Resource Leak issue in poly2rast.c (#4605)
  raster/r.in.poly/poly2rast.c
Due: none

lib/gis: Fix resource leak issue in copy_dir.c (#4606)
  lib/gis/copy_dir.c
Due: lib

r.watershed: Fix Resource Leak issues in close_maps.c (#4607)
  raster/r.watershed/seg/close_maps.c
Due: none

r.viewshed: address -Wunused-value warnings
  raster/r.viewshed/grass.cpp
Due: none

docs: v.build manual typo fix (#4604)
  vector/v.build/v.build.html
Due: none

docs: v.outlier.html fix typos
  vector/v.outlier/v.outlier.html
Due: none

Update vector/v.outlier/v.outlier.html
  vector/v.outlier/v.outlier.html
Due: none

fixed exception
  scripts/i.pansharpen/i.pansharpen.py
Due: scripts

docs: v.outlier.html fix typos (#4610)
  vector/v.outlier/v.outlier.html
Due: none

i.pansharpen: Fixed bare except clause (#4596)
  .flake8
  scripts/i.pansharpen/i.pansharpen.py
Due: scripts

additional changes based on review
  vector/v.info/main.c
Due: none

update gitignore
  .gitignore
Due: none

wxGUI/nviz: fix missing imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

Update srtm_pct
  lib/gis/colors/srtm_pct
Due: lib

fix Resource Leak issue
  lib/vector/Vlib/break_polygons.c
Due: lib

updated 722
  .flake8
  gui/wxpython/nviz/mapwindow.py
  gui/wxpython/nviz/tools.py
Due: gui

fixed 722
  .flake8
  scripts/v.import/v.import.py
Due: scripts

docs: v.to.db.html fix manual typo
  vector/v.to.db/v.to.db.html
Due: none

docs: v.to.db.html fix manual typo (#4615)
  vector/v.to.db/v.to.db.html
Due: none

wxGUI/nviz: fix missing imports (#4611)
  gui/wxpython/nviz/wxnviz.py
Due: gui

d.frame: Fix bare except clause (#4597)
  .flake8
  scripts/d.frame/d.frame.py
Due: scripts

v.import: Fixed E722 bare except (#4614)
  .flake8
  scripts/v.import/v.import.py
Due: scripts

update colors.desc for srtm_pct color table
  lib/gis/colors.desc
Due: lib

updates
  gui/wxpython/nviz/mapwindow.py
  gui/wxpython/nviz/tools.py
Due: gui

updates
  gui/wxpython/nviz/tools.py
Due: gui

updated 722
  .flake8
  scripts/v.unpack/v.unpack.py
Due: scripts

updated .flake8
  .flake8
Due: none

updates
  .flake8
  scripts/db.out.ogr/db.out.ogr.py
Due: scripts

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
