Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

superquiet is -1
  lib/gis/parser_json.c
Due: lib

superquiet is -1
  lib/gis/parser.c
Due: lib

configure: remove HAVE_PROJ_H macro
  cmake/modules/CheckDependentLibraries.cmake
  configure
  configure.ac
  include/config.h.cmake.in
  include/grass/config.h.in
  include/grass/gprojects.h
  mswindows/osgeo4w/config.h.vc
Due: none

configure: remove HAVE_PROJ_H macro (#6714)
  cmake/modules/CheckDependentLibraries.cmake
  configure
  configure.ac
  include/config.h.cmake.in
  include/grass/config.h.in
  include/grass/gprojects.h
  mswindows/osgeo4w/config.h.vc
Due: none

d.shade: Added flag to respect null values
  scripts/d.shade/d.shade.py
Due: scripts

doc: Enable MathJax rendering for equations in MkDocs documentation (#6703)
  man/mkdocs/mkdocs.yml
Due: man

Fix race condition in raster slot allocation and release (#6616)
  lib/raster/close.c
  lib/raster/open.c
Due: lib

Add flags parameter to mapcalc and mapcalc_start
  python/grass/script/raster.py
Due: python library

tests for mapcalc() with seed and flags parameter
  python/grass/script/tests/grass_script_raster_mapcalc_test.py
Due: python library

Fix broken tutorials link in README
  README.md
Due: none

Update lib/raster/close.c
  lib/raster/close.c
Due: lib

Update lib/raster/open.c
  lib/raster/open.c
Due: lib

add superquiet variable
  lib/gis/parser_local_proto.h
Due: lib

use superquiet variable
  lib/gis/parser.c
  lib/gis/parser_json.c
Due: lib

added json support
  db/db.select/main.c
Due: none

Auto-seed by default and remove deprecated seed='auto' parameter
  python/grass/script/raster.py
  python/grass/script/tests/grass_script_raster_mapcalc_test.py
Due: python library

changes similar to v.db.select
  db/db.select/main.c
Due: none

added support for csv + nitpicks
  db/db.select/main.c
Due: none

solving build error
  db/db.select/main.c
Due: none

comma separated as default
  db/db.select/main.c
Due: none

docs: Fixed broken tutorials link in README (#6719)
  README.md
Due: none

Add baseBranchPatterns to renovate configuration
  renovate.json5
Due: none

docs: convert headings to title case in r.example.md (#6690)
  doc/examples/python/script/r.example.md
Due: none

flags parameter support and handle deprecated seed=auto
  python/grass/script/raster.py
  python/grass/script/tests/grass_script_raster_mapcalc_test.py
Due: python library

WIP added json+plain
  db/CMakeLists.txt
  db/db.select/Makefile
  db/db.select/main.c
Due: none

added plain + json format as of now
  db/db.select/main.c
Due: none

added error handling
  db/db.select/main.c
Due: none

doc: use the correct release tarball, which includes generated content (#6665)
  doc/howto_release.md
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

Fix r.grow parse error with small radius by fixing string formatting for r.mapcalc
  scripts/r.grow/r.grow.py
Due: scripts
