Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

rename
  db/db.columns/testsuite/test_db_columns.py
Due: none

reworded docs into separate heading
  db/db.columns/db.columns.md
Due: none

removed csv with custom sep
  db/db.columns/db.columns.md
Due: none

insert maps to TGIS DB if not present yet
  python/grass/temporal/extract.py
Due: python library

add warning if nothing is extracted
  python/grass/temporal/extract.py
Due: python library

Fix test collection errors for grass.tools imports
  python/grass/script/tests/grass_script_core_location_test.py
  python/grass/script/tests/grass_script_create_project_pack_test.py
Due: python library

reorganize examples in doc
  db/db.columns/db.columns.md
Due: none

reduce decision tree depth
  python/grass/temporal/extract.py
Due: python library

ruff
  python/grass/temporal/extract.py
Due: python library

fix all() syntax
  python/grass/temporal/extract.py
Due: python library

fix empty check
  python/grass/temporal/extract.py
Due: python library

db.columns: added format=list and format=csv (#6971)
  db/db.columns/db.columns.md
  db/db.columns/main.c
  db/db.columns/testsuite/test_db_columns.py
Due: none

fix removal of empty maps
  python/grass/temporal/extract.py
Due: python library

tests(t.rast.mapcalc): remove create_project and use standard pytest session init
  temporal/t.rast.mapcalc/tests/conftest.py
Due: none

tests(t.rast.mapcalc): create GRASS project before gs.setup.init
  temporal/t.rast.mapcalc/tests/conftest.py
Due: none

tests(t.rast.mapcalc): use Tools API in pytest fixtures
  temporal/t.rast.mapcalc/tests/conftest.py
Due: none

r.geomorphon: updated Makefile, local_proto.h and profile.c
  raster/r.geomorphon/Makefile
  raster/r.geomorphon/local_proto.h
  raster/r.geomorphon/profile.c
Due: none

replave flag g and remove strip
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

r.surf.fractal: Optimize data_reset using memset
  raster/r.surf.fractal/process.c
Due: none

use json newer format + replace 'None' with None
  python/grass/jupyter/tests/timeseriesmap_test.py
  python/grass/jupyter/timeseriesmap.py
Due: notebooks (jupyter), python library

removed comments
  python/grass/jupyter/timeseriesmap.py
Due: notebooks (jupyter), python library

tests(t.rast.mapcalc): use Tools API consistently in tests
  temporal/t.rast.mapcalc/tests/test_t_rast_mapcalc_basic.py
  temporal/t.rast.mapcalc/tests/test_t_rast_mapcalc_operators.py
Due: none

tests: fix precision handling in r.fillnulls no-NULL test
  scripts/r.fillnulls/testsuite/test_r_fillnulls.py
Due: scripts

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

CMake: Avoid relative paths
  lib/gis/CMakeLists.txt
Due: lib

Fix include path: use grass/gjson.h instead of grass/parson/gjson.h
  raster/r.geomorphon/local_proto.h
Due: none

r.in.gdal, r.external: store GDAL band metadata as GRASS semantic labels (#6227)
  raster/r.external/main.c
  raster/r.external/testsuite/test_r_external.py
  raster/r.in.gdal/main.c
  raster/r.in.gdal/testsuite/test_r_in_gdal.py
Due: none

wxGUI/3D: prevent NumPy singular matrix crash when moving 3D view
  gui/wxpython/nviz/wxnviz.py
Due: gui

CMake: grass_env_command requires double escaping on Windows
  CMakeLists.txt
Due: none

CMake: Avoid relative paths (#7008)
  lib/gis/CMakeLists.txt
Due: lib

ci: fix Bandit security warning
  gui/wxpython/nviz/wxnviz.py
Due: gui

ci: fix Bandit security warning
  raster/r.in.gdal/testsuite/test_r_in_gdal.py
Due: none

ci: address remaining Bandit findings
  raster/r.in.gdal/testsuite/test_r_in_gdal.py
Due: none

v.to.rast: write category metadata for use=cat
  vector/v.to.rast/support.c
  vector/v.to.rast/testsuite/test_v_to_rast.py
Due: none

improve format
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

Add new format
  gui/wxpython/datacatalog/g.gui.datacatalog.md
  gui/wxpython/datacatalog/tree.py
Due: gui

tests: fix v.to.rast categories test stdout capture
  vector/v.to.rast/testsuite/test_v_to_rast.py
Due: none

grass.jupyter: Add tests for InteractiveMap class
  python/grass/jupyter/tests/grass_jupyter_interactivemap_test.py
Due: notebooks (jupyter), python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
