Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

---
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

# Disable PR comments initially, until it is possible to have the information as a job summary
comment: false

github_checks:
  # Until more tests are added, disable GitHub checks annotation when added lines aren't covered by tests
  annotations: false

component_management:
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

Apply suggestions from code review by @nilason
  raster3d/r3.out.ascii/main.c
  raster3d/r3.out.v5d/main.c
Due: none

Fix clang
  raster3d/r3.out.ascii/main.c
Due: none

Fix clang
  raster3d/r3.out.v5d/main.c
Due: none

applying relevant github-advanced-security suggestions
  gui/wxpython/jupyter_notebook/panel.py
  python/grass/workflows/server.py
Due: gui, python library

not working version - but already refactored hugely
  gui/wxpython/jupyter_notebook/panel.py
  python/grass/Makefile
  python/grass/notebooks/Makefile
  python/grass/notebooks/__init__.py
  python/grass/notebooks/directory.py
  python/grass/notebooks/launcher.py
  python/grass/notebooks/template_notebooks/template.ipynb
Due: gui, notebooks (jupyter), python library

basic functionality
  gui/wxpython/Makefile
  gui/wxpython/jupyter_notebook/panel.py
  gui/wxpython/lmgr/toolbars.py
  gui/wxpython/main_window/frame.py
Due: gui

fully working version after refactoring
  gui/icons/grass/jupyter.png
  gui/icons/grass/jupyter.svg
  gui/wxpython/jupyter_notebook/notebook.py
  gui/wxpython/jupyter_notebook/panel.py
  gui/wxpython/jupyter_notebook/toolbars.py
  gui/wxpython/lmgr/toolbars.py
  gui/wxpython/main_window/frame.py
  python/grass/CMakeLists.txt
  python/grass/Makefile
  python/grass/notebooks/Makefile
  python/grass/notebooks/directory.py
  python/grass/notebooks/launcher.py
  python/grass/notebooks/template_notebooks/template.ipynb
  python/grass/workflows/Makefile
  python/grass/workflows/__init__.py
  python/grass/workflows/directory.py
  python/grass/workflows/server.py
  python/grass/workflows/template_notebooks/new.ipynb
  python/grass/workflows/template_notebooks/welcome.ipynb
Due: gui, notebooks (jupyter), python library

Add back COG and GPKG tests
  raster/r.out.gdal/tests/test_r_out_gdal.py
Due: none

v.what: Fix Copy into fixed size buffer issue in what.c (#6425)
  vector/v.what/what.c
Due: none

lib/gis: Fix Dereference after NULL check issue in parser_wps.c (#6426)
  lib/gis/parser_wps.c
Due: lib

r.li.daemon: Fix Dereference after NULL Check issue in daemon.c (#6427)
  raster/r.li/r.li.daemon/daemon.c
Due: none

lib/raster: always pass stack-based buffers (#6428)
  include/grass/defs/raster.h
  lib/raster/mask_info.c
  lib/raster/reclass.c
Due: lib

Unique names
  raster/r.out.gdal/tests/test_r_out_gdal.py
Due: none

handling better when jupyter is not installed or is launched on Windows where jupyter is not part of the build process yet
  gui/icons/grass/jupyter-inactive.png
  gui/icons/grass/jupyter-inactive.svg
  gui/wxpython/lmgr/toolbars.py
  gui/wxpython/main_window/frame.py
  python/grass/workflows/server.py
Due: gui, python library

r3.out.ascii/r3.out.v5d: avoid infinite recursion of fatalError() (#6435)
  raster3d/r3.out.ascii/main.c
  raster3d/r3.out.v5d/main.c
Due: none

grass.script: Add pack to create_project (#6415)
  lib/init/grass.py
  python/grass/app/cli.py
  python/grass/app/tests/conftest.py
  python/grass/app/tests/grass_app_cli_test.py
  python/grass/grassdb/create.py
  python/grass/grassdb/tests/conftest.py
  python/grass/grassdb/tests/grass_grassdb_create_from_pack_test.py
  python/grass/grassdb/tests/grass_grassdb_create_xy.py
  python/grass/script/core.py
  python/grass/script/tests/conftest.py
  python/grass/script/tests/grass_script_core_location_test.py
  python/grass/script/tests/grass_script_create_project_pack_test.py
Due: lib, python library

apply code review
  raster/r.out.gdal/tests/test_r_out_gdal.py
Due: none

apply code review
  raster/r.out.gdal/r.out.gdal.html
Due: none

apply code review / sync html changes
  raster/r.out.gdal/r.out.gdal.md
Due: none

grass.app: Enable lock subcommands, add project create
  lib/init/grass.py
  python/grass/app/cli.py
  python/grass/app/tests/grass_app_cli_test.py
  python/grass/grassdb/create.py
  python/grass/script/core.py
Due: lib, python library

Create description for empty text, but not for None. Use description not desc in tests.
  python/grass/script/core.py
  python/grass/script/tests/grass_script_core_location_test.py
Due: python library

wxGUI/locdownload: show progress of downloading new location as Data Catalog info bar message
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/infomanager.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/startup/guiutils.py
  gui/wxpython/startup/locdownload.py
Due: gui

Fix showing info bar message Abort button widget
  gui/wxpython/datacatalog/infomanager.py
  gui/wxpython/gui_core/infobar.py
  gui/wxpython/startup/locdownload.py
Due: gui

Fix tests
  gui/wxpython/startup/locdownload.py
Due: gui

Incorporate suggestion
  gui/wxpython/startup/locdownload.py
Due: gui

Refactor tests
  gui/wxpython/startup/locdownload.py
Due: gui

Revert "Fix tests"
  gui/wxpython/startup/locdownload.py
Due: gui

Fix Ruff RET505 [*] Unnecessary after statement error
  gui/wxpython/startup/locdownload.py
Due: gui

lib/ogsf: Fix Resource Leak Issue in gvl_calc.c (#6169)
  lib/ogsf/gvl_calc.c
Due: lib

d.labels: Fix uninitialized variable issue in do_labels.c (#5604)
  display/d.labels/do_labels.c
Due: none

r.kappa: address resource leaks
  raster/r.kappa/mask.c
Due: none

r.reclass: address resource leaks
  raster/r.reclass/reclass.c
Due: none

r.report: address resource leaks
  raster/r.report/header.c
  raster/r.report/maskinfo.c
  raster/r.report/prt_json.c
Due: none

v.overlay: preserve SQL type text (#6406)
  vector/v.overlay/main.c
Due: none

Fix Dereference before Null check
  vector/v.net/main.c
Due: none

r.kappa,r.reclass,r.report: address resource leaks (#6438)
  raster/r.kappa/mask.c
  raster/r.reclass/reclass.c
  raster/r.report/header.c
  raster/r.report/maskinfo.c
  raster/r.report/prt_json.c
Due: none

change message
  vector/v.net/main.c
Due: none
