Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

macOS: build with POSIX Threads
  .github/workflows/macos_install.sh
  macos/files/configure-grass.sh
Due: none

macOS: build with POSIX Threads support (#7365)
  .github/workflows/macos_install.sh
  macos/files/configure-grass.sh
Due: none

GUI: Add "Copy in Python" button to module dialogs (#7237)
  gui/wxpython/gui_core/forms.py
  python/grass/script/task.py
Due: gui, python library

robust signed polygon size
  lib/gis/area_poly2.c
  lib/vector/diglib/poly.c
Due: lib

build: Add gui scripts to ALL_MODULES (#7347)
  CMakeLists.txt
Due: none

grass.tools: Migration guide from run_command (#6862)
  doc/Makefile
  doc/migration_to_grass_tools_python_api.md
  doc/python_intro.md
Due: none

macOS: update to latest libLAS, solving build failure
  macos/files/liblas-install.sh
Due: none

add test
  vector/v.build/testsuite/data/tiny_polygons.pack
  vector/v.build/testsuite/test_v_build.py
Due: none

improve code comment
  lib/gis/area_poly2.c
  lib/vector/diglib/poly.c
Due: lib

no extrapolation for final output
  raster/r.sim/simlib/hydro.c
Due: none

example to correctly compare fp numbers
  vector/v.to.db/testsuite/test_v_to_db.py
Due: none

doc: Move grass.tools to second tab for tools (#7352)
  lib/gis/parser_md.c
Due: lib

utils: Don't set executable bit on mkdocs.py. (#7325)
  utils/Makefile
Due: utils

Set, but don't always read computational region, update intros
  doc/examples/notebooks/hydrology.ipynb
  doc/examples/notebooks/scripting_example.ipynb
  doc/examples/notebooks/solar_potential.ipynb
  doc/examples/notebooks/viewshed_analysis.ipynb
Due: notebooks (jupyter)

Use JSON to get zones (much simpler)
  doc/examples/notebooks/hydrology.ipynb
Due: notebooks (jupyter)

Remove old code
  doc/examples/notebooks/hydrology.ipynb
Due: notebooks (jupyter)

Indent and unicode by reviewdog
  doc/examples/notebooks/hydrology.ipynb
Due: notebooks (jupyter)

Removed unnecessary imports
  doc/examples/notebooks/hydrology.ipynb
Due: notebooks (jupyter)

Fix wrong project name
  doc/examples/notebooks/parallelization_tutorial.ipynb
Due: notebooks (jupyter)

macOS: update to latest libLAS, solving build failure (#7367)
  macos/files/liblas-install.sh
Due: none

cmake: set BUILD_ARCH with CMAKE_HOST_SYSTEM_PROCESSOR
  CMakeLists.txt
  cmake/modules/get_host_arch.cmake
Due: none

adjust code comments
  lib/gis/area_poly2.c
  lib/vector/diglib/poly.c
  vector/v.to.db/testsuite/test_v_to_db.py
Due: lib

Update lib/vector/Vlib/poly.c
  lib/vector/Vlib/poly.c
Due: lib

fix area returned is signed
  lib/gis/area_poly1.c
Due: lib

update geographiclib usage
  lib/gis/area.c
  lib/gis/area_poly1.c
  lib/gis/distance.c
  lib/gis/geodist.c
  raster/r.grow.distance/main.c
Due: lib

clang-format
  lib/gis/area.c
  lib/gis/distance.c
Due: lib

libgis: use GeographicLib from PROJ
  include/Make/Grass.make
  lib/gis/area.c
  lib/gis/distance.c
Due: lib

revert changes to d.geodesic
  display/d.geodesic/plot.c
Due: none

add proj dependency to cmake
  lib/gis/CMakeLists.txt
Due: lib

fix struct state in area.c
  lib/gis/area.c
Due: lib

add PROJINC to libgis Makefile
  lib/gis/Makefile
Due: lib

* do not use G_geodesic_distance() directly
  display/d.geodesic/plot.c
  raster/r.grow.distance/main.c
Due: none

justify xshift
  lib/gis/area_poly2.c
  lib/vector/diglib/poly.c
Due: lib

sync area and distance initializations
  lib/gis/area.c
  lib/gis/distance.c
Due: lib

sync area and distance initialization
  lib/gis/area.c
Due: lib

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
