Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

man/build_full_index: Use a context manager for opening files
  man/build_full_index.py
Due: man

man/build_rest: Replace read_file and write_file with Path.read_text and Path.write_text
  man/build_rest.py
Due: man

man/build_class_rest: Use a context manager for opening files
  man/build_class_rest.py
Due: man

man/build_full_index_rest: Use a context manager for opening files
  man/build_full_index_rest.py
Due: man

man/build_rest: Use context manager for get_desc
  man/build_rest.py
Due: man

man/build_topics: Use context managers for opening keyfile
  man/build_topics.py
Due: man

man/build_html: Add missing Path import
  man/build_html.py
Due: man

man/build_class_graphical: Use a context manager for opening files
  man/build_class_graphical.py
Due: man

man/build_class: Use a context manager for opening files
  man/build_class.py
Due: man

style: Remove unneeded SIM115 exclusions in man/
  pyproject.toml
Due: none

man/build_keywords: Ignore line too long (E501)
  man/build_keywords.py
Due: man

man/build_topics: Use context managers for opening files
  man/build_topics.py
Due: man

man/build_keywords: Use a context manager for opening files
  man/build_keywords.py
Due: man

Sort imports in build_rest
  man/build_rest.py
Due: man

Convert mixed tab/spaces indentation to spaces only
  utils/dep_tree2sql.sh
Due: utils

utils(dep_tree2sql): Remove temporary directory at end of script
  utils/dep_tree2sql.sh
Due: utils

Sort configure flags
  .github/workflows/build_ubuntu-22.04.sh
  .github/workflows/build_ubuntu-22.04_without_x.sh
  .github/workflows/macos_install.sh
  binder/postBuild
Due: none

travis: Format shell scripts with `shfmt -w -s -i 4 -ci -bn -sr`
  .travis/linux.install.sh
  .travis/linux.script.sh
Due: none

g.parser: Format shell script with `shfmt -w -s -i 4 -ci -bn -sr`
  general/g.parser/test.sh
Due: none

g.parser: Add double quote to prevent globbing and word splitting (SC2086)
  general/g.parser/test.sh
Due: none

utils(module_synopsis): Revert SC2016 exclusions
  utils/module_synopsis.sh
Due: utils

i.topo.corr: Address shellcheck warnings and format with shfmt
  imagery/i.topo.corr/test_i.topo.corr_synthetic_DEM_NC.sh
Due: none

locale(transifex): Address shellcheck warnings and format with shfmt
  locale/transifex/transifex_merge_2.sh
Due: none

mswindows(mklibs): Address shellcheck warnings
  mswindows/osgeo4w/mklibs.sh
Due: none

mswindows(mklibs): Format with shfmt
  mswindows/osgeo4w/mklibs.sh
Due: none

vector: Address shellcheck warnings and format with shfmt
  vector/v.edit/testsuite/select_all_flag.sh
  vector/v.surf.rst/test_suite/profile.sh
  vector/v.what.rast3/testsuite/test.v.what.rast3.sh
Due: none

utils(vagrant): Address shellcheck warnings and format with shfmt
  utils/vagrant/clean.sh
  utils/vagrant/compile.sh
Due: utils

utils(fix_typos): Address shellcheck warnings and format with shfmt
  utils/fix_typos.sh
Due: utils

utils: Address shellcheck warnings and format with shfmt
  utils/generate_version_git_file.sh
  utils/grass_clang_format.sh
  utils/symbol_to_img.sh
Due: utils

install-sh: Address shellcheck warnings
  install-sh
Due: none

install-sh: Format with shfmt
  install-sh
Due: none

install-sh: Address more shellcheck warnings
  install-sh
Due: none

testsuite: Format with shfmt
  testsuite/raster_md5test.sh
Due: none

r.colors: Address shellcheck warnings and format with shfmt
  raster/r.colors/tests/test.r.colors.multiple.sh
  raster/r.colors/tests/test.r.colors.sh
Due: none

r.sim.water: Address shellcheck warnings and format with shfmt
  raster/r.sim/r.sim.water/spearfish.sh
Due: none

raster: Address shellcheck warnings and format with shfmt
  raster/r.in.lidar/test/sample_test.sh
  raster/r.li/r.li.testing_sp_mov.sh
  raster/r.mapcalc/testsuite/const_map_test.sh
  raster/r.param.scale/cols.sh
  raster/r.series.accumulate/test_suite/test.r.series.accumulate.sh
  raster/r.series/test_suite/test.r.series.sh
  raster/r.to.rast3/test_suite/test.r.to.rast3.sh
  raster/r.to.rast3elev/test.r.to.rast3elev.sh
Due: none

fixed import issue
  gui/wxpython/web_services/widgets.py
Due: gui

raster3d: Address shellcheck warnings and format with shfmt
  raster3d/r3.cross.rast/test.r3.cross.rast.sh
  raster3d/r3.in.bin/test_suite/test.r3.in.bin.sh
  raster3d/r3.neighbors/test_suite/test.r3.neighbors.sh
  raster3d/r3.null/testsuite/test_r3_null_ticket_2992_more_nulls.sh
  raster3d/r3.null/testsuite/test_r3_null_ticket_2992_null_by_value.sh
  raster3d/r3.out.ascii/test.r3.out.ascii.sh
  raster3d/r3.out.vtk/testsuite/test_r3_out_vtk.sh
  raster3d/r3.retile/test.r3.retile.sh
  raster3d/r3.stats/test.r3.stats.sh
  raster3d/r3.to.rast/test.r3.to.rast.sh
Due: none

scripts: Address shellcheck warnings and format with shfmt
  scripts/r.import/testsuite/test_parallel.sh
  scripts/r.unpack/testsuite/test.r.unpack.sh
  scripts/v.import/testsuite/test_parallel.sh
Due: scripts

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
