Repository OSGeo/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

style: Unignore unconventional-import-alias (ICN001) ruff rule
  pyproject.toml
Due: none

style: Use convention `import matplotlib as mpl`
  gui/wxpython/iscatt/plots.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  python/grass/benchmark/plots.py
  python/grass/gunittest/multireport.py
Due: gui, gunittest, python library

style: Alias `import grass.script as gs` when already imported at file-level
  gui/wxpython/gui_core/ghelp.py
  gui/wxpython/mapdisp/test_mapdisp.py
Due: gui

style: Add missing alias to `import grass.script as gs`
  python/grass/temporal/testsuite/unittests_temporal_raster3d_algebra.py
  temporal/t.rast.algebra/t.rast.algebra.py
  temporal/t.rast3d.algebra/t.rast3d.algebra.py
  temporal/t.rast3d.algebra/testsuite/test_raster3d_algebra.py
  temporal/t.vect.algebra/t.vect.algebra.py
Due: python library

test: Remove unused grass.script in test file
  python/grass/temporal/testsuite/unittests_temporal_algebra_grs.py
  python/grass/temporal/testsuite/unittests_temporal_algebra_mixed_stds.py
  python/grass/temporal/testsuite/unittests_temporal_conditionals.py
Due: python library

Modify popup appearance
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

Add Changes
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

d.legend.vect: Reduce scope of 'bg_w' variable in draw.c (#3980)
  display/d.legend.vect/draw.c
Due: none

lib: Fix uninitialized variable 'encoding' in parser_interface.c (#3975)
  lib/gis/parser_interface.c
Due: lib

CI(ruff): Fine tune posting Ruff suggestions (#3978)
  .github/workflows/post-pr-reviews.yml
  .github/workflows/python-code-quality.yml
Due: none

Remove duplicated grass.script lazy import in wxpython/gui_core/ghelp.py
  gui/wxpython/gui_core/ghelp.py
Due: gui

libvector/vedit: fix memory leaks (#3619)
  lib/vector/vedit/break.c
  lib/vector/vedit/delete.c
  lib/vector/vedit/merge.c
  lib/vector/vedit/render.c
  lib/vector/vedit/snap.c
  lib/vector/vedit/vertex.c
  lib/vector/vedit/zbulk.c
Due: lib

imagery: Reduce the scope of the variable 'len' in list_subgp.c
  lib/imagery/list_subgp.c
Due: lib

Reduce scope of 'len' variable in list_gp.c
  lib/imagery/list_gp.c
Due: lib

i.segment: Fix uninitialized struct member 'ngbr_rc.next' in mean_shift.c (#3973)
  imagery/i.segment/mean_shift.c
Due: none

Modify the appearance of popup
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

Change solid-square button
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

Initialized Rk and Rk_bestn for consistency
  imagery/i.segment/region_growing.c
Due: none

Update imagery/i.segment/region_growing.c
  imagery/i.segment/region_growing.c
Due: none

lib: Fix uninitialized variable issue in shapiroe.c
  lib/cdhc/shapiroe.c
Due: lib

Fixed uninitialized variable warning in dmax.c by initializing dp, dp_max, dm, and dm_max to 0.0.
  lib/cdhc/dmax.c
Due: lib

temporal: Actually call dbif.close() to fix pylint pointless-statement (W0104)
  python/grass/temporal/abstract_map_dataset.py
Due: python library

g.extension: Fix pylint pointless-statement (W0104)
  scripts/g.extension/g.extension.py
Due: scripts

temporal: Fix pointless-statement (W0104) in temporal_granularity
  python/grass/temporal/temporal_granularity.py
Due: python library

temporal: Fix pointless-statement (W0104) in c_libraries_interface.py, _read_vector_history() function
  python/grass/temporal/c_libraries_interface.py
Due: python library

i.atcorr: Remove useless and non-working print statements in create_iwave.py
  imagery/i.atcorr/create_iwave.py
Due: none

python(grass.imaging): Use PIL.__version__ call to fix pylint pointless-statement
  python/grass/imaging/images2gif.py
Due: python library

style: Ignore ruff useless-expression (B018) for a gunittest data file. Equivalent to pylint pointless-statement / W010
  pyproject.toml
Due: none

style: Enable ruff useless-expression (B018) (equivalent to pylint pointless-statement / W010)
  pyproject.toml
Due: none

python(grass.temporal): Fix pylint try-except-raise (W0706)
  python/grass/temporal/c_libraries_interface.py
Due: python library

gui/wxpython/core/utils: Fix pylint try-except-raise (W0706)
  gui/wxpython/core/utils.py
Due: gui

python: Fix pylint try-except-raise (W0706)
  python/grass/imaging/images2swf.py
  python/grass/temporal/datetime_math.py
Due: python library

style: Enable ruff useless-try-except (TRY302) as fixed
  pyproject.toml
Due: none

style: Fix replace-stdout-stderr (UP022)
  pyproject.toml
  python/grass/gunittest/invoker.py
  utils/generate_last_commit_file.py
  utils/mkhtml.py
  utils/test_generate_last_commit_file.py
Due: utils, gunittest, python library

Update r.li.html reference to fragstat paper
  raster/r.li/r.li.html
Due: none

lib: Fix uninitialized variable issue in shapiroe.c (#3994)
  lib/cdhc/shapiroe.c
Due: lib

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
